<ng-container *ngIf="form">
  <fieldset class="d-flex justify-content-between col-12">
    <mat-form-field appearance="outline" class="form-field-left">
      <mat-label>{{ 'camfil.account.useredit.personal.form.firstname.label.text' | translate }}</mat-label>
      <input matInput placeholder="First name" [formControl]="form.controls['firstName']" maxlength="60" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'camfil.account.useredit.personal.form.lastname.label.text' | translate }}</mat-label>
      <input matInput placeholder="Lastname" [formControl]="form.controls['lastName']" maxlength="60" />
    </mat-form-field>
  </fieldset>
  <fieldset class="d-flex justify-content-between col-12">
    <mat-form-field appearance="outline" class="form-field-left">
      <mat-label>{{ 'camfil.account.useredit.personal.form.phone.label.text' | translate }}</mat-label>
      <input matInput placeholder="Phone number" [formControl]="form.controls['phone']" maxlength="30" />
      <mat-error *ngIf="form.get('phone').hasError('pattern')">
        {{ 'camfil.account.useredit.personal.form.phone.error.text' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'camfil.account.useredit.personal.form.email.label.text' | translate }}</mat-label>
      <input matInput placeholder="E-mail" [formControl]="form.controls['email']" />
    </mat-form-field>
  </fieldset>
</ng-container>
