@import '~src/styles/themes/camfil/mixins';
@import '~src/styles/themes/camfil/variables';

:host {
  .change-password {
    &__new-password {
      display: flex;
      margin-top: 15px;
      @media (min-width: $screen-xs) {
        flex-direction: column;
      }
    }

    &__field-wrapper {
      display: block;
    }

    &__field {
      width: $input-width;
    }

    &__button {
      min-width: 140px;
      height: 49px;
    }

    &::ng-deep .mat-form-field-wrapper {
      margin: 0;
    }

    .error-field {
      @include error;
    }
  }
}
