<div class="change-password">
  <form (ngSubmit)="submit()" [formGroup]="form" class="form-horizontal" novalidate="novalidate">
    <div id="current-password-section">
      <mat-form-field appearance="outline" class="item--left change-password__field">
        <mat-label>{{ 'camfil.account.password.label' | translate }}</mat-label>
        <input [formControl]="currPassFormControl" matInput name="currPassFormControl" type="password" />
      </mat-form-field>
      <camfil-error
        [errorValidators]="currPasswordValidator"
        [errors]="currPassFormControl.errors"
        [touched]="currPassFormControl.touched || currPassFormControl.dirty"
      >
      </camfil-error>
    </div>

    <div class="change-password__new-password" id="new-password-section">
      <div>
        <mat-form-field appearance="outline" class="item--left change-password__field">
          <mat-label>{{ 'camfil.account.update_profile.change_password.label' | translate }}</mat-label>
          <input [formControl]="passwordFormControl" matInput type="password" />
        </mat-form-field>
        <div class="change-password__field">
          <camfil-error
            [errorValidators]="passwordValidator"
            [errors]="passwordFormControl.errors"
            [touched]="passwordFormControl.touched || passwordFormControl.dirty"
          >
          </camfil-error>
        </div>
      </div>

      <div class="change-password__field-wrapper">
        <mat-form-field appearance="outline" class="item--left change-password__field">
          <mat-label>{{ 'camfil.account.update_profile.verify_password.label' | translate }}</mat-label>
          <input [formControl]="passConfFormControl" matInput type="password" />
        </mat-form-field>
        <camfil-error
          [errorValidators]="passwordConfirmationValidator"
          [errors]="passConfFormControl.errors"
          [touched]="passConfFormControl.touched || passConfFormControl.dirty"
        >
        </camfil-error>
      </div>

      <button
        [disabled]="buttonDisabled"
        attr.aria-label="{{ 'camfil.account.profile.change_password.button.aria' | translate }}"
        class="change-password__button"
        color="primary"
        mat-raised-button
        type="submit"
      >
        {{ 'camfil.account.update_profile.change_password.button' | translate }}
      </button>
    </div>
  </form>
</div>
