<div class="col-md-4 request-accounts">
  <h1 class="heading">{{ 'camfil.account.forgotdata.username_retrieval.heading' | translate }}</h1>

  <ng-container *ngIf="success$ | async; else forgotUsernameForm">
    <p class="subtitle">{{ 'camfil.account.send_username.message' | translate }}</p>
  </ng-container>

  <ng-template #forgotUsernameForm>
    <p class="subtitle">{{ 'camfil.account.forgotdata.username_retrieval_info.text' | translate }}</p>

    <camfil-error-message [error]="error$ | async"></camfil-error-message>

    <div class="request-accounts__form-wrapper">
      <camfil-request-user-accounts-form
        [error]="error$ | async"
        (forgotUsername)="requestApplicantReminder($event)"
      ></camfil-request-user-accounts-form>
    </div>
  </ng-template>

  <camfil-loading *ngIf="loading$ | async"></camfil-loading>
</div>
