@import '~src/styles/themes/camfil/colors';
@import '~src/styles/themes/camfil/variables';

.breadcrumbs {
  padding: $space-default;
  overflow: hidden;
  background-color: $breadcrumbs-bg;

  &-list {
    color: $text-color-quarternary;
    text-transform: none;

    &-link {
      font-weight: 600;
      color: $text-color-primary;
    }
    &-separator {
      margin: 0 10px;
      color: $text-color-primary;
    }
  }
}
