@import '~src/styles/themes/camfil/colors';
@import '~src/styles/themes/camfil/variables';

.breadcrumbs {
  padding: $space-sm $space-default;
  overflow: hidden;
  background-color: $breadcrumbs-bg;

  &-list {
    color: $text-color-quarternary;
    text-transform: none;

    &-link {
      font-weight: 600;
      color: $text-color-primary;
    }
    &-separator {
      width: 14px;
      height: 15px;
      margin: 0 5px;
      font-size: 14px;
      color: $text-color-quarternary;
      vertical-align: middle;
    }
  }
}
