<div class="breadcrumbs">
  <ol class="breadcrumbs-list">
    <li *ngIf="showHome" class="breadcrumbs-list breadcrumbs-list-home">
      <a class="breadcrumbs-list-link breadcrumbs-list-link-home" rel="home" routerLink="/home">{{
        'camfil.common.home.link' | translate
      }}</a>
      <mat-icon class="breadcrumbs-list-separator" aria-hidden="false">navigate_next</mat-icon>
      <!-- {{ separator }} -->
    </li>

    <li *ngIf="account" class="breadcrumbs-list">
      <ng-container *ngIf="(trail$ | async)?.length; else AccountOverview">
        <a class="breadcrumbs-list-link" routerLink="/account">{{ 'account.my_account.link' | translate }}</a
        ><span class="breadcrumbs-list-separator">
          <mat-icon aria-hidden="false">navigate_next</mat-icon>
          <!-- {{ separator }} -->
        </span>
      </ng-container>
      <ng-template #AccountOverview>
        {{ 'account.my_account.link' | translate }}
      </ng-template>
    </li>

    <li
      *ngFor="let item of trail$ | async; index as index; let last = last"
      class="breadcrumbs-list"
      [ngClass]="{ 'breadcrumbs-list-active': last }"
    >
      <a *ngIf="item.link; else noLink" [routerLink]="item.link" class="breadcrumbs-list-link">{{
        item.text || (item.key | translate)
      }}</a>
      <ng-template #noLink>{{ item.text || (item.key | translate) }}</ng-template>
      <mat-icon *ngIf="!last" class="breadcrumbs-list-separator" aria-hidden="false">navigate_next</mat-icon>
      <!-- {{ separator }} -->
    </li>
  </ol>
</div>
