<div class="col-md-6 forgot-password">
  <h1 class="heading">{{ 'camfil.account.forgotdata.password_retrieval.heading' | translate }}</h1>

  <ng-container *ngIf="success$ | async; else forgotPasswordForm">
    <p class="subtitle">{{ 'camfil.account.send_password.message' | translate }}</p>
  </ng-container>

  <ng-template #forgotPasswordForm>
    <p [ishServerHtml]="'camfil.account.forgotdata.password_retrieval_info.text' | translate" class="subtitle"></p>

    <ish-error-message [error]="error$ | async"></ish-error-message>

    <div class="forgot-password__form-wrapper">
      <ish-request-reminder-form (submitPasswordReminder)="requestPasswordReminder($event)"></ish-request-reminder-form>
    </div>
  </ng-template>

  <ish-loading *ngIf="loading$ | async"></ish-loading>
</div>
