<camfil-breadcrumb [account]="true"></camfil-breadcrumb>
<br />
<div class="cam-card">
  <!-- Error message -->
  <ish-error-message [error]="camCardError$ | async"></ish-error-message>

  <!---Create Camcard-->
  <ng-container *ngIf="router.isActive('/account/cam-cards/create', true)">
    <div class="d-flex flex-column flex-sm-row pb-2">
      <a class="py-3 pr-4 pl-2" routerLink="/account/cam-cards"
        ><mat-icon class="align-bottom pr-2">arrow_left</mat-icon
        >{{ 'camfil.account.cam_card.edit.button.back.label' | translate }}</a
      >
      <h1 class="d-flex align-items-center mb-0">
        <mat-icon svgIcon="camcard" class="camcard-icon size-37 border-left pl-4"></mat-icon> &nbsp;
        {{ 'camfil.account.cam_card.edit.header' | translate }}
      </h1>
    </div>
    <div class="section">
      <camfil-cam-card-preferences (submit)="addCamCard($event)"></camfil-cam-card-preferences>
    </div>
    <div class="section"></div>
  </ng-container>

  <!---Edit Camcard-->
  <ng-container *ngIf="camCard$ | async as camCard">
    <ng-container *ngIf="maintenance(camCard, ['MAINTENANCE', 'ACTIVE']); else nonActiveStatus">
      <div class="d-flex flex-column flex-sm-row pb-2">
        <a class="py-3 pr-4 pl-2" routerLink="/account/cam-cards" [fragment]="camCard.id">
          <mat-icon class="align-bottom pr-2">arrow_left</mat-icon
          >{{ 'camfil.account.cam_card.edit.button.back.label' | translate }}</a
        >
        <h1 class="d-flex align-items-center mb-0">
          <mat-icon svgIcon="camcard" class="camcard-icon size-37 border-left pl-4"></mat-icon> &nbsp;
          {{ camCard?.name }}
        </h1>
      </div>

      <div class="section">
        <camfil-cam-card-preferences (submit)="updateCamCard($event)" [camCard]="camCard"></camfil-cam-card-preferences>

        <camfil-account-cam-card-detail-list
          [selectedItemsForm]="selectedItemsForm"
          [camCard]="camCard"
        ></camfil-account-cam-card-detail-list>
      </div>

      <ng-template #noItems>
        <p>{{ 'camfil.account.cam_card.no_entries' | translate }}</p>
      </ng-template>

      <camfil-cam-card-preferences-dialog
        #editCamCardDialog
        [camCard]="camCard"
        (submit)="editPreferences($event, camCard.id)"
      ></camfil-cam-card-preferences-dialog>
    </ng-container>

    <ng-template #nonActiveStatus>
      <br />
      <h1>{{ camCard?.name }}</h1>
      <h2 class="p-3 bg-warning">{{ 'camfil.account.cam_card.maintenance.not_edit.text' | translate: { '0': camCard.maintenanceStatus } }}</h2>
    </ng-template>
  </ng-container>

  <ish-loading *ngIf="camCardLoading$ | async"></ish-loading>
</div>
