<div class="login-form">
  <camfil-error-message [error]="loginError$ | async" [toast]="false"></camfil-error-message>

  <camfil-header-box
    [header]="'camfil.account.login.button.label' | translate"
    [description]="'camfil.account.login.subtitle' | translate"
  >
  </camfil-header-box>

  <form [formGroup]="form" (ngSubmit)="submitForm()" class="form-horizontal" novalidate="novalidate">
    <mat-form-field appearance="fill" class="form-field form-field__login">
      <mat-label>{{ 'camfil.account.login.form.username' | translate }}</mat-label>
      <input formControlName="login" matInput required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'camfil.account.login.form.password' | translate }}</mat-label>
      <input formControlName="password" type="password" matInput required />
    </mat-form-field>

    <button mat-raised-button type="submit" aria-label="Send application" color="primary" class="button__login">
      {{ 'camfil.account.login.button.label' | translate }}
    </button>

    <a mat-button class="link link__password" routerLink="/forgotPassword">
      {{ 'camfil.account.login.forgotPassword' | translate }}
    </a>
    <a mat-button class="link" routerLink="/forgotUsername">{{ 'camfil.account.login.forgotUsername' | translate }}</a>
  </form>
</div>
