@import '~src/styles/themes/camfil/colors.scss';
@import '~src/styles/themes/camfil/variables.scss';

:host {
  .round-cart-btn {
    display: flex;
    width: $common-height;
    height: $common-height;
    padding: 7px;
    background-color: $button-primary-bg;
    border-radius: 50%;
    box-shadow: $dark-box-shadow;
  }
  .cart-big-round-btn {
    width: 100%;
    color: $camfil-color-light;
    background-color: $camfil-color-primary;
  }
}
