<ng-container *ishFeature="'camCards'; else standardAddProduct">
  <camfil-product-add-to-basket-modal
    [product]="product"
    [displayType]="displayType"
    [hasIcon]="hasIcon"
    [quantity]="quantity"
    [translationKey]="buttonTranslationKey"
    (resetQuantityValue)="resetFormValues()"
  ></camfil-product-add-to-basket-modal>
</ng-container>

<ng-template #standardAddProduct>
  <ish-product-add-to-basket
    [product]="product"
    [class]="'btn-lg btn-block'"
    [disabled]="disabled || (displaySpinner$ | async)"
    [attr.title]="translationKey | translate"
    (productToBasket)="addToBasket()"
  ></ish-product-add-to-basket>
</ng-template>
