<ng-container *ngIf="basket; else noBasketSummary">
  <ng-container *ngTemplateOutlet="checkoutSummary"></ng-container>
</ng-container>

<ng-template #checkoutSummary>
  <mat-card class="mat-elevation-4 summary-container sticky-container">
    <p class="summary-title">{{ 'camfil.checkout.total_order_summary' | translate }}</p>
    <br />
    <mat-card-content>
      <mat-divider></mat-divider>
      <br />
      <div *ngIf="bucketsVolumeDiscounts$ | async" class="summary-line">
        <p>{{ 'camfil.checkout.volume_discount' | translate }}</p>
        <p>{{ getVolumeDiscountPrice(bucketsVolumeDiscounts$ | async, basket.purchaseCurrency) }}</p>
      </div>
      <div class="summary-line">
        <p>
          <b>{{ 'camfil.checkout.total_price_after' | translate }}</b> ({{ 'camfil.checkout.excl_vat' | translate }})
        </p>
        <p>{{ basket.totals?.total | ishPrice }}</p>
      </div>
      <div class="summary-line">
        <p>{{ 'camfil.checkout.tax_amount' | translate }}</p>
        <p>{{ basket.totals?.taxTotal | ishPrice }}</p>
      </div>
      <div class="summary-line">
        <p>{{ 'camfil.checkout.your_total_price' | translate }}</p>
        <p>{{ basket.totals?.total | ishPrice: 'gross' }}</p>
      </div>
      <br />
      <mat-divider></mat-divider>
      <br />
      <ng-template #noConfirmed>
        <button
          (click)="submitOrder()"
          [disabled]="!(productsReadyToPlaceOrder$ | async)"
          color="primary"
          mat-flat-button
        >
          <ng-container *ngIf="productsReadyToPlaceOrder$ | async as readyToOrder">
            <ng-template #notReadyToOrder>
              {{ 'camfil.checkout.wait_till_validation.button.text' | translate }}
            </ng-template>
            <ng-container *ngIf="readyToOrder; else notReadyToOrder">
              {{ 'camfil.checkout.place_your_orders' | translate }}
            </ng-container>
          </ng-container>
        </button>
      </ng-template>
      <ng-container *ngIf="isConfirmed; else noConfirmed">
        <button (click)="continueShopping()" color="primary" mat-flat-button>
          {{ 'camfil.checkout.confirmation.continue_shopping' | translate }}
        </button>
      </ng-container>
      <br />
      <br />
      <mat-divider></mat-divider>
      <br />
      <div class="filter-info">
        <ish-content-include includeId="camfil.include.checkout.content.pagelet2-Include"></ish-content-include>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #noBasketSummary>
  <ng-container *camfilChannelToggle="'guestCheckout'">
    <mat-card class="mat-elevation-4 summary-container sticky-container">
      <p class="summary-title">{{ 'camfil.checkout.total_order_summary' | translate }}</p>
      <br />
      <mat-card-content>
        <mat-divider></mat-divider>
        <br />
        <div *ngIf="bucketsVolumeDiscounts$ | async" class="summary-line">
          <p>{{ 'camfil.checkout.volume_discount' | translate }}</p>
          <p>{{ getVolumeDiscountPrice(bucketsVolumeDiscounts$ | async, basket.purchaseCurrency) }}</p>
        </div>
        <div class="summary-line">
          <p>
            <b>{{ 'camfil.checkout.total_price_after' | translate }}</b> ({{ 'camfil.checkout.excl_vat' | translate }})
          </p>
          <p>{{ { type: 'Money', value: 0, currency: 'EUR' } | ishPrice }}</p>
        </div>
        <div class="summary-line">
          <p>{{ 'camfil.checkout.tax_amount' | translate }}</p>
          <p>{{ { type: 'Money', value: 0, currency: 'EUR' } | ishPrice }}</p>
        </div>
        <div class="summary-line">
          <p>{{ 'camfil.checkout.your_total_price' | translate }}</p>
          <p>{{ { type: 'Money', value: 0, currency: 'EUR' } | ishPrice: 'gross' }}</p>
        </div>
        <br />
        <mat-divider></mat-divider>
        <br />
        <ng-template #noConfirmed>
          <button
            (click)="submitOrder()"
            [disabled]="!(productsReadyToPlaceOrder$ | async)"
            color="primary"
            mat-flat-button
          >
            <ng-container *ngIf="productsReadyToPlaceOrder$ | async as readyToOrder">
              <ng-template #notReadyToOrder>
                {{ 'camfil.checkout.wait_till_validation.button.text' | translate }}
              </ng-template>
              <ng-container *ngIf="readyToOrder; else notReadyToOrder">
                {{ 'camfil.checkout.place_your_orders' | translate }}
              </ng-container>
            </ng-container>
          </button>
        </ng-template>
        <ng-container *ngIf="isConfirmed; else noConfirmed">
          <button (click)="continueShopping()" color="primary" mat-flat-button>
            {{ 'camfil.checkout.confirmation.continue_shopping' | translate }}
          </button>
        </ng-container>
        <br />
        <br />
        <mat-divider></mat-divider>
        <br />
        <div class="filter-info">
          <ish-content-include includeId="camfil.include.checkout.content.pagelet2-Include"></ish-content-include>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
</ng-template>
