<mat-card class="mat-elevation-4 summary-container">
  <p class="summary-title">{{ 'camfil.checkout.total_order_summary' | translate }}</p>
  <br />
  <mat-card-content>
    <mat-divider></mat-divider>
    <br />
    <div class="summary-line">
      <p>{{ 'camfil.checkout.your_total_price' | translate }}</p>
      <p>{{ basket.totals?.total | ishPrice }}</p>
    </div>
    <div class="summary-line">
      <p>{{ 'camfil.checkout.volume_discount' | translate }}</p>
      <p>0</p>
    </div>
    <div class="summary-line">
      <p>
        <b>{{ 'camfil.checkout.total_price_after' | translate }}</b> ({{ 'camfil.checkout.excl_vat' | translate }})
      </p>
      <p>{{ basket.totals?.total | ishPrice }}</p>
    </div>
    <div class="summary-line">
      <p>{{ 'camfil.checkout.tax_amount' | translate }}</p>
      <p>{{ basket.totals?.taxTotal | ishPrice }}</p>
    </div>
    <br />
    <mat-divider></mat-divider>
    <br />
    <button mat-flat-button color="primary" (click)="submitOrder()" *ngIf="!isConfirmed">
      {{ 'camfil.checkout.place_your_orders' | translate }}
    </button>
    <button mat-flat-button color="primary" (click)="submitOrder()" *ngIf="isConfirmed">
      {{ 'camfil.checkout.confirmation.continue_shopping' | translate }}
    </button>
    <br />
    <br />
    <mat-divider></mat-divider>
    <br />
    <div class="filter-info">
      <ish-content-include includeId="camfil.include.checkout.content.pagelet2-Include"></ish-content-include>
    </div>
  </mat-card-content>
</mat-card>
