:host {
  box-sizing: border-box;
  display: flex;
  min-width: 200px;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 1.25rem;

  mat-icon {
    margin-right: 0.5rem;
  }

  button {
    display: flex;
    justify-content: center;
    height: 1.5rem;
    line-height: 1.5rem;
  }
}
