<mat-card class="slots mt-4">
  <ng-container *ngFor="let s of slots">
    <div class="slot__heading d-flex align-items-baseline">
      <div class="d-flex align-items-center">
        <mat-icon svgIcon="error" class="slot__icon"></mat-icon>
        <div>
          <span class="slot__title">Supply Slot 1</span>
          <div class="attributes">
            <camfil-product-attribute
              [name]="'camfil.ahu.detail.filters.needed' | translate"
              [value]="2"
            ></camfil-product-attribute>
            <camfil-product-attribute
              [name]="'camfil.ahu.detail.filter.dimension' | translate"
              [value]="550"
            ></camfil-product-attribute>
          </div>
        </div>
      </div>
      <a href="" class="d-block text-right">
        <mat-icon svgIcon="search" class="size-15"></mat-icon>
        {{ 'How to choose supply filter' | translate }}
      </a>
    </div>

    <div class="slot__products">
      <ng-container *ngFor="let s of items">
        <mat-card class="d-flex align-items-center slot-product">
          <a class="slot-product__image">
            <camfil-product-image [product]="product" imageType="S" class="product-image"></camfil-product-image>
          </a>
          <div>
            <camfil-product-title [product]="product"></camfil-product-title>
            <ul class="slot-product__attributes">
              <li>
                <camfil-product-attribute
                  [name]="'camfil.product.id.label' | translate"
                  [value]="product.sku"
                ></camfil-product-attribute>
              </li>
              <li>
                <camfil-product-attribute
                  [name]="'camfil.product.ISO.class' | translate"
                  [value]="1"
                ></camfil-product-attribute>
              </li>
              <li>
                <camfil-product-attribute
                  [name]="'camfil.product.efficiency' | translate"
                  [value]="2"
                ></camfil-product-attribute>
              </li>
              <li>
                <a href="">
                  <mat-icon svgIcon="search" class="size-15"></mat-icon>
                  {{ 'Quickview' | translate }}
                </a>
              </li>
              <li>
                <camfil-product-inventory [product]="product"></camfil-product-inventory>
              </li>
            </ul>
          </div>

          <ng-container>
            <div class="prices">
              <ng-container *ngTemplateOutlet="price"></ng-container>
            </div>
            <form>
              <camfil-product-quantity
                [allowZeroQuantity]="false"
                [quantityLabel]="''"
                [product]="product"
                controlName="quantity"
              ></camfil-product-quantity>
            </form>
            <button mat-raised-button class="slot-product__btn" color="accent">
              <mat-icon svgIcon="plus"></mat-icon>{{ 'camfil.ahu.detail.add.to.list' | translate }}
            </button>
          </ng-container>
        </mat-card>
      </ng-container>
    </div>
  </ng-container>
</mat-card>

<ng-template #price>
  <camfil-product-attribute
    [name]="'camfil.product.list_price.label' | translate"
    [value]="product.listPrice | ishPrice"
    class="slot-product__price"
  ></camfil-product-attribute>
  <camfil-product-attribute
    [name]="'camfil.product.your_price.label' | translate"
    [value]="product.salePrice | ishPrice"
    class="slot-product__price"
  ></camfil-product-attribute>
</ng-template>
