@import '~src/styles/themes/camfil/variables';

.slots {
  padding: 0;
}

.slot {
  &--valid {
    &::ng-deep .slot-product mat-card {
      cursor: not-allowed;
      opacity: 0.5;
    }
    &::ng-deep .slot-product--added mat-card {
      opacity: 1;
    }
  }
  &__heading {
    justify-content: space-between;
    padding: 10px 16px 5px;
    background-color: rgba($color-corporate, 0.1);
  }

  &__icon {
    width: 30px;
    margin-right: 10px;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
  }

  &__products {
    padding: 0 10px 10px 10px;
  }
}

.slot-product {
  &::ng-deep mat-card {
    margin-top: 10px;
  }

  &::ng-deep .product-actions-container .product-form {
    max-width: 290px;
  }

  &::ng-deep .addtocart-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
    min-width: 168px;
    padding: 0;
  }

  &__btn.mat-accent {
    color: $color-corporate;

    .mat-icon {
      position: relative;
      top: -2px;
    }
  }
}
