<mat-card class="slots mt-4" id="slots">
  <ng-container *ngFor="let ahuAirSlot of ahuUnit?.ahuAirSlots">
    <div
      class="slot"
      [class.slot--valid]="isAhuUnitSlotValid$(ahuUnit, ahuAirSlot.ahuSlotId) | async"
      [id]="ahuAirSlot.ahuSlotTypeSlug"
    >
      <div class="slot__heading d-flex align-items-baseline">
        <div class="d-flex align-items-center">
          <ng-container *ngIf="isAhuUnitSlotValid$(ahuUnit, ahuAirSlot.ahuSlotId) | async; else invalidSlotIcon">
            <mat-icon svgIcon="checkmark" class="slot__icon"></mat-icon>
          </ng-container>
          <ng-template #invalidSlotIcon>
            <mat-icon svgIcon="error" class="slot__icon"></mat-icon>
          </ng-template>
          <div>
            <span class="slot__title">
              {{ ahuAirSlot.ahuSlotTypeName }}
            </span>
            <div class="attributes">
              <camfil-product-attribute
                [name]="'camfil.ahu.slot.amount' | translate"
                [value]="ahuAirSlot.ahuSlotAmount"
              ></camfil-product-attribute>
              <camfil-product-attribute
                [name]="'camfil.ahu.slot.dimensions' | translate"
                [value]="ahuAirSlot.ahuSlotDimensions"
                class="ml-2"
              ></camfil-product-attribute>
            </div>
          </div>
        </div>
        <a class="d-block text-right">
          <mat-icon svgIcon="search" class="size-15"></mat-icon>
          {{ 'camfil.ahu.slot.how_to_choose' | translate: { '0': ahuAirSlot.ahuSlotType } }}
        </a>
      </div>
      <div class="slot__products">
        <ng-container *ngFor="let item of ahuAirSlot.items">
          <ng-container *ngIf="getAhuUnitSlotItemProduct$(ahuUnit, ahuAirSlot.ahuSlotId, item.sku) | async as product">
            <camfil-product-item-simple
              *ngIf="!product.failed"
              class="mt-1 mb-1 slot-product"
              [class.slot-product--added]="isAhuUnitSlotItemAdded$(ahuUnit, ahuAirSlot.ahuSlotId, item.sku) | async"
              [quantity]="getAhuUnitSlotItemQuantity$(ahuUnit, ahuAirSlot.ahuSlotId, item.sku) | async"
              [configuration]="productConfiguration"
              [product]="product"
              [actionTemplate]="actionTemplate"
              [isLoggedIn]="isLoggedIn$ | async"
            >
            </camfil-product-item-simple>
            <ng-template #actionTemplate let-quantity="quantity">
              <button
                [disabled]="
                  !quantity ||
                  ((isAhuUnitSlotValid$(ahuUnit, ahuAirSlot.ahuSlotId) | async) &&
                    !(isAhuUnitSlotItemAdded$(ahuUnit, ahuAirSlot.ahuSlotId, item.sku) | async))
                "
                (click)="toggleAhuSlotItem(ahuAirSlot, item, quantity)"
                mat-raised-button
                class="slot-product__btn ml-2"
                [color]="
                  (isAhuUnitSlotItemAdded$(ahuUnit, ahuAirSlot.ahuSlotId, item.sku) | async) ? 'primary' : 'accent'
                "
              >
                <ng-container
                  *ngIf="isAhuUnitSlotItemAdded$(ahuUnit, ahuAirSlot.ahuSlotId, item.sku) | async; else addToList"
                >
                  {{ 'camfil.ahu.slot.item.button.added_to_list.label' | translate }}
                </ng-container>
              </button>
            </ng-template>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-container>
</mat-card>

<ng-template #addToList>
  <mat-icon svgIcon="plus"></mat-icon>
  {{ 'camfil.ahu.slot.item.button.add_to_list.label' | translate }}
</ng-template>
