<ng-template #modal>
  <ng-container *ngIf="!(currentCamCard$ | async); else showSuccess">
    <camfil-cam-card-modal
      (hiddenClicked)="hide()"
      (primaryButtonClicked)="openModal(createModal)"
      (secondaryButtonClicked)="addToCamcard()"
      [detailsTemplate]="detailsTemplate"
      [mainContentTemplate]="mainContentTemplate"
      [primaryButtonTitle]="'camfil.modal.addToCamcard.button.create_new' | translate"
      [primaryDisabled]="disableActionButton(product, quantityForm) || quantityForm.invalid"
      [searchTemplate]="searchTemplate"
      [searchTitle]="'camfil.camcards.modal.add.search.subtitle' | translate"
      [secondaryButtonTitle]="'camfil.modal.addToCamcard.button.add_to_camcard' | translate"
      [secondaryDisabled]="!camCardSelected || !validateFilterArea(product, quantityForm) || quantityForm.invalid"
      [subtitle]="product.name"
      [title]="'camfil.modal.addToCamcard.header' | translate"
      iconName="note_add"
    >
    </camfil-cam-card-modal>
  </ng-container>
</ng-template>

<ng-template #showSuccess>
  <camfil-cam-card-modal
    (hiddenClicked)="hide()"
    (primaryButtonClicked)="hide()"
    (secondaryButtonClicked)="goToCamcard()"
    [customHeaderTemplate]="customSuccessHeader"
    [primaryButtonTitle]="'camfil.modal.addToCamcard.success.button.continue' | translate"
    [secondaryButtonTitle]="'camfil.modal.addToCamcard.success.button.goToCamCard' | translate"
    [subtitle]="product.name"
    [title]="'camfil.modal.addToCamcard.header' | translate"
    focus="secondaryButton"
    iconName="checkmark"
  >
  </camfil-cam-card-modal>
</ng-template>

<ng-template #customSuccessHeader>
  <div class="modal__success--header">
    <mat-icon class="size-24 color-dark" svgIcon="checkmark"></mat-icon>
    <h2 class="modal__success--text" mat-dialog-title>
      {{ 'camfil.modal.addToCamcard.success.title' | translate }}
      {{ useSubCamCard ? currentSubCamCardName : (currentCamCard$ | async).name }}
    </h2>
  </div>
</ng-template>

<camfil-create-product-cam-card-modal
  #createModal
  (createAndContinueEmitter)="createCamCardAndAdd($event)"
  (createAndEditEmitter)="createCamCardAndAdd($event)"
  [parentForm]="quantityForm"
  [product]="product"
  [rootCamCardAddress]="rootCamCardAddress"
></camfil-create-product-cam-card-modal>

<ng-template #detailsTemplate>
  <camfil-article-details [product]="product" [quantityForm]="quantityForm"></camfil-article-details>
</ng-template>

<ng-template #searchTemplate>
  <!-- Search Box -->
  <div class="search-container">
    <mat-icon class="search__icon background-icon" svgIcon="search"></mat-icon>
    <input
      #searchInput
      (focus)="isActive = !isActive"
      (focusout)="isActive = !isActive"
      [class.mat-elevation-z2]="!isActive"
      [class.mat-elevation-z4]="isActive"
      [formControl]="searchInputFilter"
      [placeholder]="'camfil.account.orderlist.search.placeholder.text' | translate"
      [value]="inputSearchTerm"
      autocomplete="off"
      class="search-input"
      matInput
      type="text"
    />
    <div class="buttons">
      <button
        (click)="searchInput.focus()"
        *ngIf="inputSearchTerm"
        [title]="'account.orderlist.seach.reset.title' | translate"
        class="btn-reset btn btn-primary"
        name="reset"
        style="right: 40px"
        type="reset"
      ></button>

      <button
        [title]="'camfil.account.orderlist.search.button.title' | translate"
        color="primary"
        mat-flat-button
        name="search"
        type="submit"
      >
        {{ 'camfil.account.orderlist.search.button.title' | translate }}
      </button>
    </div>
  </div>
</ng-template>
<ng-template #mainContentTemplate>
  <div class="cam-card-list" mat-dialog-content>
    <camfil-loading *ngIf="camCardsLoading$ | async"></camfil-loading>
    <form [formGroup]="newSegmentForm">
      <div *ngFor="let option of camCardOptions; let i = index">
        <div
          (click)="selectCamCard(option.value)"
          (keypress)="selectCamCard(option.value)"
          [ngClass]="{ 'modal__cam-card--selected': camCardSelected === option.value }"
          class="modal__cam-card"
          tabindex="{{ tabindex }}"
        >
          <div class="modal__cam-card--title">{{ option.label }}</div>
          <table>
            <tr>
              <td class="modal__cam-card--column-right">
                <div class="modal__cam-card--details">
                  <div class="modal__cam-card--label">
                    {{ 'camfil.modal.addToCamcard.camcard.order_mark' | translate }}
                  </div>
                  <div class="modal__cam-card--value">{{ option.orderLabel }}</div>
                </div>
              </td>
            </tr>
            <tr *ngIf="camCardSelected === option.value">
              <td>
                <div class="modal__cam-card--details">
                  <div class="modal__cam-card--label">
                    {{ 'camfil.modal.addToCamcard.camcard.invoice_mark' | translate }}
                  </div>
                  <div class="modal__cam-card--value">{{ option.invoiceLabel }}</div>
                </div>
              </td>
            </tr>
          </table>

          <div *ngIf="camCardSelected === option.value">
            <div class="modal__cam-card--details border-bottom modal__cam-card--delivery-address">
              <div class="modal__cam-card--label">
                {{ 'camfil.modal.addToCamcard.camcard.delivery_address' | translate }}
              </div>
              <div class="modal__cam-card--value">{{ option.deliveryAddressDisplay }}</div>
            </div>
            <div class="modal__label">
              {{ 'camfil.modal.addToCamcard.camcard.sublist.title' | translate }}
            </div>

            <mat-radio-group
              [(ngModel)]="segmentSelected"
              [ngModelOptions]="{ standalone: true }"
              aria-labelledby="segment-radio-group"
            >
              <div
                *ngIf="camCardSelected === option.value && option.subCamCards.length"
                class="modal__cam-card--sublist"
              >
                <div *ngFor="let subCamCard of option.subCamCards; let i = index" class="modal__radio">
                  <mat-radio-button
                    #button
                    (click)="unselectRadio($event, button)"
                    [value]="subCamCard.id"
                    name="subCamCard"
                  >{{ subCamCard.name }}</mat-radio-button
                  >
                </div>
              </div>
              <div *ngIf="showNewSegment" class="modal__radio modal__new-segment--radio">
                <mat-radio-button
                  #button
                  (click)="unselectRadio($event, button)"
                  [value]="newSegmentValue"
                  name="subCamCard"
                >
                  <mat-form-field appearance="outline" class="modal__input--small">
                    <input
                      [id]="option.value | slugify: 'new-section'"
                      [placeholder]="'camfil.account.cam_card.new_cam_card.text' | translate"
                      formControlName="newCamCard"
                      matInput
                    />
                  </mat-form-field>
                </mat-radio-button>
                <camfil-error
                  [errorValidators]="newSegmentValidator"
                  [errors]="newSegmentForm.controls.newCamCard.errors"
                  [touched]="newSegmentForm.controls.newCamCard.touched"
                >
                </camfil-error>
              </div>
            </mat-radio-group>

            <div [ngClass]="{ 'hidden-button': showNewSegment }" class="modal__new-segment">
              <mat-icon class="color-dark size-24 modal__new-segment--icon" svgIcon="plus"></mat-icon>
              <a (click)="showNewSegmant()" (keypress)="showNewSegmant()" class="modal__link" tabindex="0">{{
                'camfil.modal.addToCamcard.camcard.new_segment' | translate
                }}</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
