@import '~src/styles/themes/camfil/variables';

:host {
  display: flex;
  align-items: center;

  .field_label {
    width: 300px;
  }
  ::ng-deep {
    .mat-icon {
      vertical-align: middle;
      &:hover {
        cursor: pointer;
      }
      &.color-secondary:hover *[stroke]:not([stroke='none']) {
        stroke: $camfil-color-primary;
      }
    }
  }
  .form-field {
    @media (max-width: $screen-md-max) {
      width: auto;
    }
    @media (max-width: $screen-sm-max) {
      width: 300px;
    }
  }
}
