<div *ngIf="isMobileView; else desktopView">
  <mat-card
    [attr.data-testing-sku]="product.sku"
    [class.mat-elevation-z3]="true"
    class="d-flex flex-wrap align-items-center text-left mobile-card-container"
  >
    <div class="d-flex">
      <a
        [queryParams]="getCategoryFilterParams(category?.uniqueId)"
        [routerLink]="product | ishProductRoute: category"
        class="product-image-box"
      >
        <camfil-product-image [product]="product" class="product-image" imageType="S"></camfil-product-image>
      </a>
      <camfil-product-title
        *ngIf="configuration.displayName"
        [product]="product"
        [queryParams]="getCategoryFilterParams(category?.uniqueId)"
      ></camfil-product-title>
    </div>
    <div class="product-item-attributes d-flex flex-nowrap">
      <div class="col-sm-6">
        <camfil-product-id
          *ngIf="configuration.displaySKU"
          [hideAttributeName]="false"
          [product]="product"
        ></camfil-product-id>
        <camfil-product-attribute
          [name]="'camfil.product.dimensions.label' | translate"
          [value]="product | camfilDimension | camfilRemoveWhiteSpacesPipe"
          identifier="dimensions"
        ></camfil-product-attribute>
        <camfil-product-attribute
          [name]="'camfil.product.class_and_efficiency.label' | translate"
          [value]="product | camfilProductAttributeVal: 'IsoClassAndEfficiency'"
          identifier="iso_class"
        ></camfil-product-attribute>
      </div>
      <div class="col-sm-6 right-col d-flex flex-column">
        <div class="right-col-actions--container">
          <camfil-product-inventory
            *ngIf="configuration.displayInventory && !isMasterProduct(product)"
            [product]="product"
          ></camfil-product-inventory>
          <camfil-product-quickview
            [hideText]="true"
            [product]="product"
            class="d-inline-flex align-items-center"
          ></camfil-product-quickview>
        </div>
        <ng-container *ngIf="userPermissions$ | async">
          <camfil-product-price [product]="product"></camfil-product-price>
        </ng-container>
      </div>
    </div>
    <div class="product-actions-container">
      <ng-container *ngIf="!isMasterProduct(product); else masterProductActions">
        <form [formGroup]="productItemForm" class="product-form form-horizontal row d-flex justify-content-between">
          <div class="action-container">
            <camfil-product-quantity
              *ngIf="configuration.displayQuantity"
              [allowZeroQuantity]="true"
              [controlName]="quantityControlName"
              [parentForm]="productItemForm"
              [product]="product"
              [quantityLabel]="configuration.quantityLabel"
              [readOnly]="configuration.readOnly"
              [showErrors]="false"
            ></camfil-product-quantity>
          </div>

          <div class="action-container addtocart-container align-items-center">
            <!-- TODO: improve - add logic related with lazy component instead ngIf condition -->
            <ng-container *ngIf="productItemForm.invalid; else canAddToCC">
              <camfil-lazy-product-add-to-cam-card
                *ngIf="configuration.displayAddToCamCard"
                [product]="product"
                [quantity]="updatedQuantity"
                class="btn-link"
                displayType="icon"
                [disabled]="true"
              ></camfil-lazy-product-add-to-cam-card>
            </ng-container>

            <camfil-product-add-to-basket
              (productToBasket)="addToBasket()"
              (resetQuantityValue)="resetFormValues()"
              *ngIf="configuration.displayAddToBasket"
              [hasIcon]="true"
              [product]="product"
              [quantity]="updatedQuantity"
              class="btn-link round-cart-btn"
              colorIcon="color-light"
              displayType="icon"
              [disabled]="productItemForm.invalid"
            ></camfil-product-add-to-basket>

            <ng-container
              *ngIf="configuration.displayActionTemplate"
              [ngTemplateOutletContext]="{ $implicit: product, quantity: updatedQuantity }"
              [ngTemplateOutlet]="actionTemplate"
            ></ng-container>
          </div>
        </form>
      </ng-container>

      <ng-template #masterProductActions>
        <div class="action-container">
          <a
            [queryParams]="getCategoryFilterParams(category?.uniqueId)"
            [routerLink]="product | ishProductRoute: category"
            class="btn btn-primary"
            role="button"
          >
            {{ 'product.choose_variation.link' | translate }}
          </a>
        </div>
      </ng-template>
    </div>
  </mat-card>
</div>
<ng-template #desktopView>
  <mat-card
    [attr.data-testing-sku]="product.sku"
    [class.mat-elevation-z3]="true"
    class="d-flex align-items-center flex-wrap justify-content-between text-left"
  >
    <div class="d-flex">
      <a
        [queryParams]="getCategoryFilterParams(category?.uniqueId)"
        [routerLink]="product | ishProductRoute: category"
        class="product-image-box"
      >
        <camfil-product-image
          [product]="product"
          class="product-image"
          imageType="images"
          imageView="default"
        ></camfil-product-image>
      </a>

      <div class="product-item-details-container d-flex flex-column justify-content-between">
        <p class="product-title-container">
          <camfil-product-title
            *ngIf="configuration.displayName"
            [product]="product"
            [queryParams]="getCategoryFilterParams(category?.uniqueId)"
          ></camfil-product-title>
        </p>
        <div class="product-item-attributes justify-content-between">
          <camfil-product-id
            *ngIf="configuration.displaySKU"
            [hideAttributeName]="hideAttributeName"
            [product]="product"
          ></camfil-product-id>
          <camfil-product-attribute
            [name]="'camfil.product.dimensions.label' | translate"
            [value]="product | camfilDimension | camfilRemoveWhiteSpacesPipe"
            identifier="dimensions"
          ></camfil-product-attribute>
          <camfil-product-attribute
            [name]="'camfil.product.class_and_efficiency.label' | translate"
            [value]="product | camfilProductAttributeVal: 'IsoClassAndEfficiency'"
            identifier="iso_class"
          ></camfil-product-attribute>
          <camfil-product-quickview [hideText]="true" [product]="product"></camfil-product-quickview>

          <camfil-product-inventory
            *ngIf="configuration.displayInventory && !isMasterProduct(product)"
            [product]="product"
          ></camfil-product-inventory>
        </div>
      </div>
    </div>
    <div *ngIf="userPermissions$ | async" class="product-prices-container d-flex flex-column justify-content-between">
      <camfil-product-price [product]="product"></camfil-product-price>
    </div>

    <div class="product-actions-container">
      <ng-container *ngIf="!isMasterProduct(product); else masterProductActions">
        <form [formGroup]="productItemForm" class="product-form form-horizontal row">
          <camfil-product-quantity
            *ngIf="configuration.displayQuantity"
            [allowZeroQuantity]="true"
            [controlName]="quantityControlName"
            [parentForm]="productItemForm"
            [product]="product"
            [quantityLabel]="configuration.quantityLabel"
            [readOnly]="configuration.readOnly"
            [showErrors]="false"
          ></camfil-product-quantity>

          <div class="action-container addtocart-container align-items-center">
            <!-- TODO: improve - add logic related with lazy component instead ngIf condition -->
            <ng-container *ngIf="productItemForm.invalid; else canAddToCC">
              <camfil-lazy-product-add-to-cam-card
                *ngIf="configuration.displayAddToCamCard"
                [product]="product"
                [quantity]="updatedQuantity"
                class="btn-link"
                displayType="icon"
                [disabled]="true"
              ></camfil-lazy-product-add-to-cam-card>
            </ng-container>

            <camfil-product-add-to-basket
              (productToBasket)="addToBasket()"
              (resetQuantityValue)="resetFormValues()"
              *ngIf="configuration.displayAddToBasket"
              [hasIcon]="true"
              [product]="product"
              [quantity]="updatedQuantity"
              class="btn-link round-cart-btn"
              colorIcon="color-light"
              displayType="icon"
              [disabled]="productItemForm.invalid"
            ></camfil-product-add-to-basket>

            <ng-container
              *ngIf="configuration.displayActionTemplate"
              [ngTemplateOutletContext]="{ $implicit: product, quantity: updatedQuantity }"
              [ngTemplateOutlet]="actionTemplate"
            ></ng-container>
          </div>
        </form>
      </ng-container>

      <ng-template #masterProductActions>
        <div class="action-container">
          <a
            [queryParams]="getCategoryFilterParams(category?.uniqueId)"
            [routerLink]="product | ishProductRoute: category"
            class="btn btn-primary"
            role="button"
          >
            {{ 'product.choose_variation.link' | translate }}
          </a>
        </div>
      </ng-template>
    </div>
  </mat-card>
</ng-template>

<ng-template #emptyBlock>
  <div>&nbsp;</div>
</ng-template>

<ng-template #canAddToCC>
  <ng-container *ngIf="!isLoggedIn; else loggedIn">
    <ng-container *camfilChannelToggle="'showAddToCamCardButtonForNonLoggedInUser'">
      <ng-container *ngTemplateOutlet="camCardButton"> </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #loggedIn>
  <ng-container *ngTemplateOutlet="camCardButton"> </ng-container>
</ng-template>

<ng-template #camCardButton>
  <camfil-lazy-product-add-to-cam-card
    *ngIf="configuration.displayAddToCamCard"
    [product]="product"
    [quantity]="updatedQuantity"
    class="btn-link"
    displayType="icon"
  ></camfil-lazy-product-add-to-cam-card>
</ng-template>
