<mat-card [attr.data-testing-sku]="product.sku" [class.mat-elevation-z3]="true">
  <div class="col-3">
    <div class="product-image-container">
      <a [routerLink]="product | ishProductRoute: category">
        <camfil-product-image [product]="product" imageType="S" class="product-image"></camfil-product-image>
      </a>
      <camfil-product-label [product]="product"></camfil-product-label>
    </div>
  </div>

  <div class="col-9">
    <div class="row">
      <div class="col-md-7 col-xs-12">
        <camfil-product-title *ngIf="configuration.displayName" [product]="product"></camfil-product-title>
        <camfil-product-id *ngIf="configuration.displaySKU" [product]="product"></camfil-product-id><br />
        <camfil-product-attribute
          [product]="product"
          name="camfil.product.dimensions.label"
          value="xxx-xxx-xxx"
        ></camfil-product-attribute>
        <camfil-product-attribute
          [product]="product"
          name="camfil.product.efficiency.label"
          value="xxx"
        ></camfil-product-attribute>
        <camfil-product-attribute
          [product]="product"
          name="camfil.product.list_price.label"
          [value]="product.listPrice"
        ></camfil-product-attribute>
        <camfil-product-attribute
          [product]="product"
          name="camfil.product.your_price.label"
          [value]="product.salePrice"
        ></camfil-product-attribute>

        <div *ngIf="configuration.displayDescription" class="product-description">{{ product.shortDescription }}</div>

        <camfil-product-promotion
          *ngIf="configuration.displayPromotions"
          [product]="product"
          displayType="simpleWithDetail"
        ></camfil-product-promotion>

        <div class="product-tile-actions btn-group">
          <ish-lazy-product-add-to-quote
            *ngIf="configuration.displayAddToQuote"
            [product]="product"
            displayType="icon"
            class="btn-link"
          ></ish-lazy-product-add-to-quote>
          <camfil-product-add-to-compare
            *ngIf="configuration.displayAddToCompare"
            [isInCompareList]="isInCompareList"
            displayType="icon"
            class="btn-link"
            (compareToggle)="toggleCompare()"
          ></camfil-product-add-to-compare>
          <ish-lazy-product-add-to-wishlist
            *ngIf="configuration.displayAddToWishlist"
            displayType="icon"
            class="btn-link"
            [product]="product"
          ></ish-lazy-product-add-to-wishlist>
        </div>
      </div>

      <div class="col-12 col-md-5 text-md-right">
        <camfil-product-price
          *ngIf="configuration.displayPrice"
          [product]="product"
          [showInformationalPrice]="true"
        ></camfil-product-price>
        <camfil-product-inventory
          *ngIf="configuration.displayInventory && !isMasterProduct(product)"
          [product]="product"
        ></camfil-product-inventory>
        <camfil-product-shipment
          *ngIf="configuration.displayShipment && !isMasterProduct(product)"
          [product]="product"
        ></camfil-product-shipment>

        <camfil-product-variation-select
          *ngIf="variationOptions && configuration.displayVariations"
          [readOnly]="configuration.readOnly"
          [variationOptions]="variationOptions"
          (selectVariation)="variationSelected($event)"
        ></camfil-product-variation-select>

        <div class="product-list-actions-container">
          <ng-container *ngIf="!isMasterProduct(product); else masterProductActions">
            <form [formGroup]="productItemForm" class="product-form form-horizontal row">
              <div
                class="action-container"
                [ngClass]="
                  configuration.quantityLabel === ' ' ? 'col-6 offset-md-6 col-lg-5 offset-lg-0' : 'col-12 col-xl-7'
                "
              >
                <camfil-product-quantity
                  *ngIf="configuration.displayQuantity"
                  [readOnly]="configuration.readOnly"
                  [allowZeroQuantity]="configuration.allowZeroQuantity"
                  [quantityLabel]="configuration.quantityLabel"
                  [product]="product"
                  [parentForm]="productItemForm"
                  [controlName]="quantityControlName"
                ></camfil-product-quantity>
              </div>

              <div
                class="action-container addtocart-container"
                [ngClass]="configuration.quantityLabel === ' ' ? 'col-12 col-lg-7' : 'col-12 col-xl-5'"
              >
                <ish-lazy-product-add-to-order-template
                  *ngIf="configuration.displayAddToOrderTemplate"
                  displayType="icon"
                  [quantity]="1"
                  class="btn-link"
                  [product]="product"
                ></ish-lazy-product-add-to-order-template>

                <camfil-lazy-product-add-to-cam-card
                  *ngIf="configuration.displayAddToCamCard"
                  displayType="icon"
                  [quantity]="1"
                  class="btn-link"
                  [product]="product"
                ></camfil-lazy-product-add-to-cam-card>

                <camfil-product-add-to-basket
                  *ngIf="configuration.displayAddToBasket"
                  [product]="product"
                  (productToBasket)="addToBasket()"
                  displayType="icon"
                  class="btn-link"
                ></camfil-product-add-to-basket>
              </div>
            </form>
          </ng-container>

          <ng-template #masterProductActions>
            <div class="action-container">
              <a [routerLink]="product | ishProductRoute: category" class="btn btn-primary" role="button">
                {{ 'product.choose_variation.link' | translate }}
              </a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</mat-card>
