<div *ngIf="isMobileView; else desktopView">
  <mat-card
    class="d-flex flex-wrap align-items-center text-left mobile-card-container"
    [attr.data-testing-sku]="product.sku"
    [class.mat-elevation-z3]="true"
  >
    <div class="d-flex">
      <a [routerLink]="product | ishProductRoute: category" class="product-image-box">
        <camfil-product-image [product]="product" imageType="S" class="product-image"></camfil-product-image>
      </a>

      <camfil-product-title *ngIf="configuration.displayName" [product]="product"></camfil-product-title>
    </div>
    <div class="product-item-attributes d-flex flex-nowrap">
      <div class="col-sm-6">
        <camfil-product-id
          *ngIf="configuration.displaySKU"
          [product]="product"
          [hideAttributeName]="hideAttributeName"
        ></camfil-product-id>
        <camfil-product-attribute
          identifier="dimensions"
          name="camfil.product.dimensions.label"
          [value]="product | camfilDimension"
        ></camfil-product-attribute>
        <camfil-product-attribute
          identifier="iso_class"
          [name]="'camfil.product.iso_and_efficiency.label' | translate"
          [value]="product | camfilProductAttributeVal: 'IsoClassAndEfficiency'"
        ></camfil-product-attribute>
      </div>
      <div class="col-sm-6 right-col d-flex flex-column">
        <div class="right-col-actions--container">
          <camfil-product-inventory
            *ngIf="configuration.displayInventory && !isMasterProduct(product)"
            [product]="product"
          ></camfil-product-inventory>
          <camfil-product-quickview
            class="d-inline-flex align-items-center"
            [product]="product"
            [hideText]="true"
          ></camfil-product-quickview>
        </div>
        <camfil-product-attribute
          *ngIf="product.listPrice?.value > 0 && isLoggedIn; else emptyBlock"
          name="camfil.product.list_price.label"
          [value]="product.listPrice | ishPrice"
        ></camfil-product-attribute>

        <camfil-product-attribute
          *ngIf="product.salePrice?.value > 0 && isLoggedIn; else emptyBlock"
          name="camfil.product.your_price.label"
          [value]="product.salePrice | ishPrice"
        ></camfil-product-attribute>
      </div>
    </div>
    <div class="product-actions-container">
      <ng-container *ngIf="!isMasterProduct(product); else masterProductActions">
        <form [formGroup]="productItemForm" class="product-form form-horizontal row d-flex justify-content-between">
          <div class="action-container">
            <camfil-product-quantity
              *ngIf="configuration.displayQuantity"
              [readOnly]="configuration.readOnly"
              [allowZeroQuantity]="true"
              [quantityLabel]="configuration.quantityLabel"
              [product]="product"
              [parentForm]="productItemForm"
              [controlName]="quantityControlName"
            ></camfil-product-quantity>
          </div>

          <div class="action-container addtocart-container align-items-center">
            <camfil-lazy-product-add-to-cam-card
              *ngIf="configuration.displayAddToCamCard"
              displayType="icon"
              [quantity]="updatedQuantity"
              class="btn-link centered-cam-card-icon"
              [product]="product"
            ></camfil-lazy-product-add-to-cam-card>

            <camfil-product-add-to-basket
              *ngIf="configuration.displayAddToBasket"
              [product]="product"
              [quantity]="updatedQuantity"
              (productToBasket)="addToBasket()"
              displayType="icon"
              class="btn-link round-cart-btn"
              colorIcon="color-light"
              [hasIcon]="true"
            ></camfil-product-add-to-basket>

            <ng-container
              *ngIf="configuration.displayActionTemplate"
              [ngTemplateOutlet]="actionTemplate"
              [ngTemplateOutletContext]="{ $implicit: product, quantity: updatedQuantity }"
            ></ng-container>
          </div>
        </form>
      </ng-container>

      <ng-template #masterProductActions>
        <div class="action-container">
          <a [routerLink]="product | ishProductRoute: category" class="btn btn-primary" role="button">
            {{ 'product.choose_variation.link' | translate }}
          </a>
        </div>
      </ng-template>
    </div>
  </mat-card>
</div>
<ng-template #desktopView>
  <mat-card
    class="d-flex align-items-center flex-wrap justify-content-between text-left"
    [attr.data-testing-sku]="product.sku"
    [class.mat-elevation-z3]="true"
  >
    <div class="d-flex">
      <a [routerLink]="product | ishProductRoute: category" class="product-image-box">
        <camfil-product-image
          [product]="product"
          imageType="images"
          imageView="default"
          class="product-image"
        ></camfil-product-image>
      </a>

      <div class="product-item-details-container d-flex flex-column justify-content-between">
        <p class="product-title-container">
          <camfil-product-title *ngIf="configuration.displayName" [product]="product"></camfil-product-title>
        </p>
        <div class="product-item-attributes justify-content-between">
          <camfil-product-id
            *ngIf="configuration.displaySKU"
            [product]="product"
            [hideAttributeName]="hideAttributeName"
          ></camfil-product-id>
          <camfil-product-attribute
            identifier="dimensions"
            name="camfil.product.dimensions.label"
            [value]="product | camfilDimension"
          ></camfil-product-attribute>
          <camfil-product-attribute
            identifier="iso_class"
            [name]="'camfil.product.class_and_efficiency.label' | translate"
            [value]="product | camfilProductAttributeVal: 'IsoClassAndEfficiency'"
          ></camfil-product-attribute>
          <camfil-product-quickview [product]="product" [hideText]="true"></camfil-product-quickview>

          <camfil-product-inventory
            *ngIf="configuration.displayInventory && !isMasterProduct(product)"
            [product]="product"
          ></camfil-product-inventory>
        </div>
      </div>
    </div>
    <div class="product-prices-container d-flex flex-column justify-content-between">
      <camfil-product-attribute
        *ngIf="product.listPrice?.value > 0 && isLoggedIn; else emptyBlock"
        name="camfil.product.list_price.label"
        [value]="product.listPrice | ishPrice"
      ></camfil-product-attribute>

      <camfil-product-attribute
        *ngIf="product.salePrice?.value > 0 && isLoggedIn; else emptyBlock"
        name="camfil.product.your_price.label"
        [value]="product.salePrice | ishPrice"
      ></camfil-product-attribute>
    </div>

    <div class="product-actions-container">
      <ng-container *ngIf="!isMasterProduct(product); else masterProductActions">
        <form [formGroup]="productItemForm" class="product-form form-horizontal row">
          <camfil-product-quantity
            *ngIf="configuration.displayQuantity"
            [readOnly]="configuration.readOnly"
            [allowZeroQuantity]="true"
            [quantityLabel]="configuration.quantityLabel"
            [product]="product"
            [parentForm]="productItemForm"
            [controlName]="quantityControlName"
          ></camfil-product-quantity>

          <div class="action-container addtocart-container align-items-center">
            <camfil-lazy-product-add-to-cam-card
              *ngIf="configuration.displayAddToCamCard"
              displayType="icon"
              [quantity]="updatedQuantity"
              class="btn-link centered-cam-card-icon"
              [product]="product"
            ></camfil-lazy-product-add-to-cam-card>

            <camfil-product-add-to-basket
              *ngIf="configuration.displayAddToBasket"
              [product]="product"
              [quantity]="updatedQuantity"
              (productToBasket)="addToBasket()"
              displayType="icon"
              class="btn-link round-cart-btn"
              colorIcon="color-light"
              [hasIcon]="true"
            ></camfil-product-add-to-basket>

            <ng-container
              *ngIf="configuration.displayActionTemplate"
              [ngTemplateOutlet]="actionTemplate"
              [ngTemplateOutletContext]="{ $implicit: product, quantity: updatedQuantity }"
            ></ng-container>
          </div>
        </form>
      </ng-container>

      <ng-template #masterProductActions>
        <div class="action-container">
          <a [routerLink]="product | ishProductRoute: category" class="btn btn-primary" role="button">
            {{ 'product.choose_variation.link' | translate }}
          </a>
        </div>
      </ng-template>
    </div>
  </mat-card>
</ng-template>

<ng-template #emptyBlock>
  <div>&nbsp;</div>
</ng-template>
