@import '../camfil-product-item-base/camfil-product-item-base.component';

:host {
  .mat-card {
    row-gap: $space-box;
    padding: $space-half $space-box;
  }
  .product-item-attributes {
    line-height: $line-height-overline;
    @media (max-width: $screen-md-max) {
      flex-wrap: wrap;
      width: 100%;
      height: auto;
    }
  }
  .product-item-attributes > * {
    padding-right: $space-box-half;
    margin-right: $space-box-half;
    line-height: $line-height-overline;
    border-right: $border-width-default solid $gray-600;
    &:last-child {
      border-right: none;
    }
    &:not(:empty) {
      display: inline-block;
    }
  }
  .product-prices-container {
    width: 150px;
    min-width: 100px;
    max-width: 160px;
    min-height: $common-height;
  }
  .product-actions-container {
    margin: 0 $space-box;
    @media (max-width: $screen-xs-max) {
      margin: 0 auto;
    }
  }
  .product-form {
    align-items: center;
    max-width: 280px;

    .addtocart-container {
      display: flex;
      padding: 0;
    }
  }
  ::ng-deep {
    camfil-product-quickview {
      display: inline-flex;
      align-items: center;
      .mat-button {
        min-width: 20px;
        padding: 0 4px;
        line-height: 14px;
      }
    }
    camfil-product-attribute {
      line-height: 14px;
      .camfil-product-attribute__value {
        float: right;
      }
      &.camfil-product-id {
        .camfil-product-attribute__value {
          text-overflow: unset;
        }
      }
    }
    camfil-product-quantity {
      .form-group {
        margin-bottom: 0;
      }
    }
    camfil-lazy-product-add-to-cam-card {
      .btn {
        width: $common-width;
        height: $common-height;
        margin: 0 $space-box-half;
        border-radius: 50%;
        box-shadow: $dark-box-shadow;
      }
    }
    camfil-product-add-to-basket {
      margin-right: $space-box-half;
      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: $common-width;
        margin: 0 0 0 $space-box-half;
        border-radius: 50%;
      }
      .mat-raised-button {
        min-width: $common-width;
        padding: 0 $space-box-half;
        font-size: 8px;
        background-color: $button-primary-bg;
        .cart-icon {
          color: $camfil-color-light;
        }
      }
      .round-cart-btn {
        width: $common-height;
        height: $common-height;
        padding: 7px;
        background-color: $button-primary-bg;
        border-radius: 50%;
        box-shadow: $dark-box-shadow;
        .cart-icon {
          color: $camfil-color-light;
        }
      }
    }
    camfil-product-inventory {
      .product-availability {
        display: inline-block;
      }
    }
  }
  .mobile-card-container {
    position: relative;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 64px;
      content: '';
      background-color: $gray-100;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .product-item-attributes {
      .right-col {
        text-align: right;
      }
      .right-col > * {
        line-height: $space-prod-item;
      }
    }
    .product-item-attributes > * {
      padding: 0;
      margin: 0;
      line-height: $space-prod-item;
      border-right: none;
    }
    .product-actions-container {
      z-index: 10;
      width: 100%;
      background-color: $gray-100;
      .product-form {
        width: 100%;
        max-width: 100%;
        margin: 0;
      }
    }
    ::ng-deep {
      camfil-product-inventory {
        padding: 0 $space-box;
        .product-availability {
          display: inline-block;
        }
      }
      camfil-product-quickview {
        padding-left: $space-box;
        line-height: $space-prod-item;
        border-left: 1px solid $gray-600;
        .mat-icon {
          width: $space-prod-item;
          height: $space-prod-item;
        }
      }
      camfil-lazy-product-add-to-cam-card {
        .btn {
          margin-right: $space-box;
        }
      }
      camfil-product-quantity {
        .col-md-8 {
          padding: 0 $space-box-half;
        }
      }
    }
  }
}
