<div class="text-right toolbar-container" [ngClass]="{ 'p-0': isGuestCheckout }">
  <ng-container *ngIf="!isGuestCheckout; else isGuestCheckoutTemplate">
    <camfil-create-order-button
      [basketId]="basketId"
      [shippingMethodId]="shippingMethodId"
    ></camfil-create-order-button>
    <span class="spacer"></span>
    <camfil-create-new-camcard [buckets]="buckets"></camfil-create-new-camcard>
    <span class="spacer"></span>
    <camfil-print-order [buckets]="buckets"></camfil-print-order>
  </ng-container>
  <ng-template #isGuestCheckoutTemplate>
    <camfil-create-order-button [isGuestCheckout]="isGuestCheckout"></camfil-create-order-button>
  </ng-template>
</div>
