<div class="account-wrapper">
  <div
    class="row account-main"
    *ngIf="
      !_router.url.startsWith('/account/camcards') &&
        !_router.url.startsWith('/account/orders') &&
        !_router.url.startsWith('/account/requisitions');
      else noAccountNavigation
    "
  >
    <div class="col-lg-3 account-nav-box">
      <camfil-account-navigation [deviceType]="deviceType$ | async"></camfil-account-navigation>
    </div>
    <div class="col-lg-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #noAccountNavigation>
  <router-outlet></router-outlet>
</ng-template>
