<div [ngClass]="{ 'sticky box-shadow': isSticky }" class="row toolbar-container">
  <div class="{{ isSticky ? 'container' : 'col-12' }} text-right">
    <button
      (click)="importCamCard($event)"
      class="btn-tool secondary-button"
      color="primary"
      data-testing-id="import-cam-card"
      mat-stroked-button
    >
      <mat-icon class="size-15" svgIcon="create-camcard"></mat-icon>
      {{ 'camfil.account.import.header.text' | translate }}
    </button>
    <button
      class="btn-tool secondary-button"
      color="primary"
      data-testing-id="add-cam-card"
      mat-stroked-button
      routerLink="/account/camcards/create"
    >
      <mat-icon class="crop" svgIcon="plus"></mat-icon>
      {{ 'camfil.account.cam_card.list.button.add_cam_card.label' | translate }}
    </button>
    <button
      (click)="copy($event)"
      class="btn-tool secondary-button"
      color="primary"
      data-testing-id="copy-cam-card"
      disabled="{{ checkedCamCards?.length !== 1 }}"
      mat-stroked-button
    >
      <mat-icon class="size-15" svgIcon="copy"></mat-icon>
      <span class="d-none d-lg-inline-block pl-1">{{
        'camfil.account.cam_card.list.button.copy.label' | translate
      }}</span>
    </button>
    <button
      (click)="move($event)"
      class="btn-tool secondary-button"
      color="primary"
      data-testing-id="move-cam-card"
      disabled="{{ !checkedCamCards?.length }}"
      mat-stroked-button
    >
      <mat-icon class="size-15" svgIcon="move"></mat-icon>
      <span class="d-none d-lg-inline-block pl-1">{{
        'camfil.account.cam_card.list.button.move.label' | translate
      }}</span>
    </button>
    <camfil-account-cam-card-pdf
      [camCards]="checkedCamCards"
      class="btn-tool secondary-button d-none d-sm-inline-block"
    ></camfil-account-cam-card-pdf>

    <button
      (click)="addToCart()"
      [disabled]="isAddToCartBtnDisabled()"
      class="btn-tool secondary-button"
      color="primary"
      data-testing-id="add-cam-card"
      mat-stroked-button
      matTooltipPosition="below"
    >
      <mat-icon
        *ngIf="this.isProductsChecked && productAddingInProgress; else cartIcon"
        class="size-15"
        svgIcon="spinner"
      ></mat-icon>
      <ng-template #cartIcon>
        <mat-icon class="size-15" svgIcon="cart"></mat-icon>
      </ng-template>
      {{ 'camfil.account.cam_card.list.button.add_to_cart.label' | translate }}
    </button>
    <camfil-loading *ngIf="productAddingInProgress"></camfil-loading>
  </div>
</div>
<camfil-cam-card-preferences-dialog (submit)="add($event)"></camfil-cam-card-preferences-dialog>
