<div class="row">
  <div class="col-12 text-right">
    <button mat-stroked-button color="primary" data-testing-id="add-cam-card" (click)="addCamCardDialog.show()">
      <mat-icon svgIcon="plus" class="size-31"></mat-icon>
      {{ 'camfil.account.cam_cards.list.button.add_cam_card.label' | translate }}
    </button>
    <button
      mat-stroked-button
      color="primary"
      disabled
      data-testing-id="add-cam-card"
      (click)="addCamCardDialog.show()"
    >
      <mat-icon svgIcon="copy" class="size-15"></mat-icon>
      {{ 'camfil.account.cam_cards.list.button.copy.label' | translate }}
    </button>
    <button
      mat-stroked-button
      color="primary"
      disabled
      data-testing-id="add-cam-card"
      (click)="addCamCardDialog.show()"
    >
      <mat-icon svgIcon="move" class="size-15"></mat-icon>
      {{ 'camfil.account.cam_cards.list.button.move.label' | translate }}
    </button>
    <button
      mat-stroked-button
      color="primary"
      disabled
      data-testing-id="add-cam-card"
      (click)="addCamCardDialog.show()"
    >
      <mat-icon svgIcon="print" class="size-15"></mat-icon>
      {{ 'camfil.account.cam_cards.list.button.print.label' | translate }}
    </button>
    <button
      mat-stroked-button
      color="primary"
      disabled
      data-testing-id="add-cam-card"
      (click)="addCamCardDialog.show()"
    >
      <mat-icon svgIcon="cart" class="size-15"></mat-icon>
      {{ 'camfil.account.cam_cards.list.button.add_to_card.label' | translate }}
    </button>
  </div>
</div>

<camfil-cam-card-preferences-dialog #addCamCardDialog (submit)="add($event)"></camfil-cam-card-preferences-dialog>
