<div class="row" [ngClass]="{ 'sticky box-shadow': isSticky }">
  <div class="{{ isSticky ? 'container' : 'col-12' }} text-right">
    <button
      mat-stroked-button
      color="primary"
      class="btn-tool"
      data-testing-id="add-cam-card"
      routerLink="/account/camcards/create"
    >
      <mat-icon svgIcon="plus" class="size-31"></mat-icon>
      {{ 'camfil.account.cam_cards.list.button.add_cam_card.label' | translate }}
    </button>
    <button
      mat-stroked-button
      color="primary"
      class="btn-tool"
      disabled="{{ checkedCamCards?.length !== 1 }}"
      data-testing-id="copy-cam-card"
      (click)="copy($event)"
    >
      <mat-icon svgIcon="copy" class="size-15"></mat-icon>
      {{ 'camfil.account.cam_cards.list.button.copy.label' | translate }}
    </button>
    <button
      mat-stroked-button
      color="primary"
      class="btn-tool"
      disabled="{{ !checkedCamCards?.length }}"
      data-testing-id="move-cam-card"
      (click)="move($event)"
    >
      <mat-icon svgIcon="move" class="size-15"></mat-icon>
      {{ 'camfil.account.cam_cards.list.button.move.label' | translate }}
    </button>
    <camfil-account-cam-card-pdf [camCards]="checkedCamCards" class="btn-tool"></camfil-account-cam-card-pdf>

    <button
      mat-stroked-button
      color="primary"
      class="btn-tool"
      data-testing-id="add-cam-card"
      (click)="addToCart()"
      [disabled]="!isProductsChecked()"
    >
      <mat-icon svgIcon="cart" class="size-15"></mat-icon>
      {{ 'camfil.account.cam_cards.list.button.add_to_cart.label' | translate }}
    </button>
  </div>
</div>

<camfil-cam-card-preferences-dialog #addCamCardDialog (submit)="add($event)"></camfil-cam-card-preferences-dialog>
