@import '~src/styles/themes/camfil/variables';

:host {
  display: block;
  height: 44px;

  .toolbar-container {
    padding: 0 $space-box/2 0 0;
  }

  @media (max-width: $screen-md-max) {
    > .toolbar-container {
      max-width: 100%;
      padding: 0 $space-box/2 0 0;
      overflow: auto;
      white-space: nowrap;
    }

    .btn-tool ~ .btn-tool {
      margin-left: $space-default/4;
    }
    .mat-stroked-button {
      padding: 0 10px;
    }
  }

  .crop {
    width: 18px;
    height: 28px;
    margin-right: 2px;
    margin-left: -10px;
  }

  .sticky {
    position: fixed;
    top: 48px;
    left: $space-default;
    z-index: 99;
    width: 100%;
    padding: $space-box 0 $space-box/2;
    background-color: $camfil-white;

    > .container {
      padding-right: $space-default + $space-box;
      padding-left: $space-default - $space-box;
    }

    @media (max-width: $screen-sm-max) {
      top: auto;
      bottom: $main-box-margin * -1;
      padding-bottom: 0;
      box-shadow: $main-box-shadow-revers;

      > .container {
        max-width: 100%;
        padding: 0 $space-box/2 0 0;
        overflow: auto;
        white-space: nowrap;
      }
    }
  }
  @media (max-width: $screen-sm-max) {
    height: 0;
  }
  button {
    min-width: unset;
    margin-bottom: $space-box/2;
  }

  ::ng-deep {
    camfil-loading {
      .loading {
        background: #fff;
      }
    }
  }
}
