@import '~src/styles/themes/camfil/mixins';
@import '~src/styles/themes/camfil/variables';

:host {
  width: 100%;

  &[mode='edit'] {
    @media (min-width: $screen-md-min) {
      width: calc(100% - #{$space-default});
    }
  }

  .image {
    margin: 0 $space-box;
  }
  .attributes > * {
    padding-right: 10px;
    margin-right: 10px;
    line-height: 14px;
    border-right: 1px solid $gray-600;
  }
  .attributes > .quick-view {
    border: none;
  }
  .prices,
  .mat-checkbox {
    camfil-product-attribute {
      display: block;
    }

    margin: 0 0 0 auto;
  }
  .prices {
    min-width: 140px;
  }
  .delete-cam-card {
    z-index: 1;
  }
  @media (max-width: $screen-sm-max) {
    .attributes > * {
      line-height: 20px;
      border-right: none;
    }
  }

  ::ng-deep {
    mat-form-field {
      .mat-form-field-underline {
        display: none;
      }
      .mat-form-field-appearance-fill .mat-form-field-infix {
        padding-top: 0.5em;
      }
      div.mat-form-field-flex {
        padding: 0.5em 0.75em 0 0.75em;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
      }
      div.mat-form-field-infix {
        padding: 0.25em 0 0.5em 0;
      }
    }
    .camfil-product-attribute {
      margin-bottom: 0;
    }
    .camfil-product-title {
      display: block;
      max-width: 450px;
    }
    .product-image {
      max-width: 40px;
      max-height: 40px;
    }
    .form-group {
      margin-bottom: 0;
    }
    dt {
      color: $gray-600;
    }
    dd {
      float: right;
    }

    &[mode='edit'] {
      camfil-cam-card-product-comment {
        @media (min-width: $screen-md-min) {
          margin: 0 $space-box 0 0;
        }
      }
      .quantity-row {
        margin: 0 0 0 auto;
      }
    }

    @media (max-width: $screen-lg-max) {
      .camfil-product-title {
        max-width: 160px;
      }
      .quantity-row {
        width: 50%;
      }
    }

    @media (max-width: $screen-md-max) and (min-width: $screen-md-min) {
      .quantity-row {
        flex-direction: column;
        align-items: flex-end !important;
      }
    }
    @media (max-width: $screen-sm-max) {
      mat-form-field {
        width: 100%;
      }
      .attributes {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      .line-item {
        flex-direction: column;

        > * {
          width: 100%;
          margin: 0;
        }
      }
      .camfil-product-title {
        max-width: 325px;
      }
    }
    @media (max-width: $screen-xs-max) {
      .camfil-product-title {
        max-width: 200px;
      }
    }
  }
}
