<ng-container *ngIf="product$ | async as product">
  <div
    [ngClass]="{ 'justify-content-between': isEditMode }"
    class="line-item d-flex align-items-center align-self-start align-self-md-center text-left"
  >
    <ng-container *ngIf="isViewMode">{{ index }}</ng-container>
    <div class="d-flex align-items-center">
      <a [routerLink]="product | ishProductRoute" class="image ml-0 mx-md-3">
        <camfil-product-image [product]="product" class="product-image" imageType="images"></camfil-product-image>
      </a>
      <div class="my-2 my-md-0">
        <div class="d-flex flex-row">
          <camfil-product-title [class]="'text-truncate'" [product]="product"></camfil-product-title>
          <camfil-product-inventory [product]="product" class="px-2"></camfil-product-inventory>
        </div>
        <div class="attributes">
          <camfil-product-attribute
            [name]="'camfil.cam_card.product.id.label' | translate"
            [value]="product.sku"
          ></camfil-product-attribute>
          <camfil-product-attribute
            [name]="'camfil.product.class_and_efficiency.label' | translate"
            [value]="product | camfilProductAttributeVal: 'IsoClassAndEfficiency'"
            identifier="iso_class"
          ></camfil-product-attribute>
          <ng-container *ngIf="isViewMode">
            <camfil-product-attribute
              [name]="'camfil.cam_card.product.quantity' | translate"
              [value]="camCardItemData.quantity"
              identifier="quantity"
            ></camfil-product-attribute>
            <ng-container *ngTemplateOutlet="price"></ng-container>
            <camfil-product-attribute
              *ngIf="camCardItemData.comment.label"
              [name]="'camfil.cam_card.product.comment.label' | translate"
              [value]="camCardItemData.comment.label"
              identifier="label"
            ></camfil-product-attribute>
          </ng-container>
          <camfil-product-attribute
            *ngIf="measurementToShow()"
            [name]="'camfil.cam_card.product.measurements.label' | translate"
            [value]="measurementToShow()"
            identifier="measurement"
          ></camfil-product-attribute>
          <a (click)="openQuickViewDialog(camCardItemData); $event.stopPropagation()" class="quick-view text-nowrap">
            <mat-icon class="size-16" svgIcon="search"></mat-icon>
            {{ 'Quickview' | translate }}
          </a>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <camfil-lazy-cam-card-last-delivery-date
        *ngIf="isEditMode"
        [camCard]="currentCamCard"
        [lastDeliveryDateType]="'articleRow'"
        [mainCCLastDeliveryDate]="currentCamCard.lastDeliveryDate"
        [camCardItemData]="camCardItemData"
      ></camfil-lazy-cam-card-last-delivery-date>
      <camfil-lazy-cam-card-delivery-interval
        *ngIf="isEditMode"
        [camCard]="currentCamCard"
        [intervaltype]="'articleRow'"
        [mainDeliveryInterval]="currentCamCard.deliveryInterval"
        [camCardItemData]="camCardItemData"
      ></camfil-lazy-cam-card-delivery-interval>
      <camfil-cam-card-product-comment
        *ngIf="isEditMode || camCardItemData.comment?.label"
        [camCardItem]="camCardItemData"
        [currentCamCard]="currentCamCard"
        [mode]="mode"
        [ngClass]="{ 'align-self-end': isViewMode }"
      ></camfil-cam-card-product-comment>
    </div>
    <ng-container *ngIf="isEditMode">
      <div class="quantity-row d-flex justify-content-between align-items-center py-3 py-md-0">
        <div class="d-flex justify-content-between align-items-center">
          <a (click)="removeProductFromCamCard(camCardItemData)" class="btn-tool" data-testing-id="delete-cam-card">
            <mat-icon svgIcon="delete"></mat-icon>
          </a>
          <form [formGroup]="addToCartForm">
            <camfil-product-quantity
              [allowZeroQuantity]="false"
              [ngClass]="{ 'ml-md-auto': isEditMode }"
              [parentForm]="addToCartForm"
              [product]="product"
              [quantityLabel]="''"
              controlName="quantity"
            ></camfil-product-quantity>
          </form>
        </div>
        <div class="prices product-prices-container d-flex flex-column justify-content-between">
          <ng-container *ngTemplateOutlet="price"></ng-container>
        </div>
      </div>
    </ng-container>

    <mat-checkbox
      (change)="changeCheck($event)"
      *ngIf="showCheckbox && product.availability"
      [checked]="checked"
      color="primary"
    ></mat-checkbox>
  </div>

  <ng-template #price>
    <ng-container *ngIf="showPrice">
      <camfil-product-attribute
        [name]="'camfil.cam_card.product.list_price.label' | translate"
        [overflowVisible]="true"
        [value]="getListPrice(product.listPrice) | camfilPriceSummary: camCardItemData.quantity | ishPrice"
      ></camfil-product-attribute>
      <camfil-product-attribute
        [name]="'camfil.cam_card.product.your_price.label' | translate"
        [overflowVisible]="true"
        [value]="getSalePrice(product.salePrice) | camfilPriceSummary: camCardItemData.quantity | ishPrice"
      ></camfil-product-attribute>
    </ng-container>
  </ng-template>

  <camfil-add-product-to-cam-card-modal
    #moveDialog
    (submitEmitter)="moveItemToOtherCamCard(camCardItemData?.id, product.sku, $event)"
    [product]="product"
    addMoveProduct="move"
  ></camfil-add-product-to-cam-card-modal>
</ng-container>
