@import '~src/styles/themes/camfil/mixins';
@import '~src/styles/themes/camfil/variables';

:host {
  width: 100%;

  @media (min-width: $screen-md-min) {
    &[mode='edit'] {
      width: calc(100% - #{$space-default});
    }
    .prices {
      min-width: 140px;

      camfil-product-attribute {
        display: block;

        ::ng-deep {
          .camfil-product-attribute {
            display: flex;
            align-items: center;
            min-height: 24px;
            text-align: right;
          }
          .camfil-product-attribute__label,
          .camfil-product-attribute__value {
            width: 100%;
            text-align: right;
          }
        }
      }
    }
  }

  .image {
    margin: 0 $space-box;
  }
  ::ng-deep camfil-product-price > camfil-product-attribute,
  .attributes > camfil-product-attribute {
    padding-right: 10px;
    margin-right: 10px;
    line-height: 14px;
    border-right: 1px solid $gray-600;
  }
  ::ng-deep camfil-product-price > camfil-product-attribute:last-child,
  .attributes > .quick-view {
    border: none;
  }
  .prices,
  .mat-checkbox {
    camfil-product-attribute {
      display: block;
    }

    margin: 0 0 0 auto;
  }
  .delete-cam-card {
    z-index: 1;
  }
  @media (max-width: $screen-sm-max) {
    .attributes > camfil-product-attribute {
      line-height: 20px;
      border-right: none;
    }
  }

  &[mode='edit'] {
    ::ng-deep {
      camfil-product-quantity:empty {
        display: block;
        width: $space-box;
      }
    }
    .attributes {
      width: 31vw;
      @media (min-width: $screen-xl-min) {
        max-width: 450px;
      }
    }
  }

  ::ng-deep {
    mat-form-field {
      .mat-form-field-underline {
        display: none;
      }
      .mat-form-field-appearance-fill .mat-form-field-infix {
        padding-top: 0.5em;
      }
      div.mat-form-field-flex {
        padding: 0.5em 0.75em 0 0.75em;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
      }
      div.mat-form-field-infix {
        padding: 0.25em 0 0.5em 0;
      }
    }
    .camfil-product-attribute {
      margin-bottom: 0;
    }
    .camfil-product-title {
      display: block;
      max-width: 450px;
    }
    .product-image {
      max-width: 40px;
      max-height: 40px;
    }
    .form-group {
      margin-bottom: 0;
    }
    dt {
      color: $gray-600;
    }
    dd {
      float: right;
    }

    @media (max-width: $screen-lg-max) {
      .camfil-product-title {
        max-width: 160px;
      }
      .quantity-row {
        width: 50%;
      }
    }

    @media (max-width: $screen-md-max) and (min-width: $screen-md-min) {
      .quantity-row {
        flex-direction: column;
        align-items: flex-end !important;
      }
    }
    @media (max-width: $screen-sm-max) {
      mat-form-field {
        width: 100%;
      }
      .attributes {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      .line-item {
        flex-direction: column;

        > * {
          width: 100%;
          margin: 0;
        }
      }
      .camfil-product-title {
        max-width: 325px;
      }
    }
    @media (max-width: $screen-xs-max) {
      .camfil-product-title {
        max-width: 200px;
      }
    }
  }
}
