<div class="change-password">
  <form [formGroup]="form" class="form-horizontal" novalidate="novalidate" (ngSubmit)="submit()">
    <div id="current-password-section">
      <mat-form-field appearance="outline" class="item--left change-password__field">
        <mat-label>{{ 'camfil.account.password.label' | translate }}</mat-label>
        <input matInput type="password" [formControl]="currPassFormControl" name="currPassFormControl" />
      </mat-form-field>

      <camfil-error
        [errors]="currPassFormControl.errors"
        [errorValidators]="currPasswordValidator"
        [touched]="currPassFormControl.touched || currPassFormControl.dirty"
      >
      </camfil-error>
    </div>

    <div id="new-password-section" class="change-password__new-password">
      <div>
        <mat-form-field appearance="outline" class="item--left change-password__field">
          <mat-label>{{ 'camfil.account.update_profile.change_password.label' | translate }}</mat-label>
          <input matInput type="password" [formControl]="passwordFormControl" />
        </mat-form-field>

        <div class="change-password__field">
          <camfil-error
            [errors]="passwordFormControl.errors"
            [errorValidators]="passwordValidator"
            [touched]="passwordFormControl.touched || passwordFormControl.dirty"
          >
          </camfil-error>
        </div>
      </div>

      <div class="change-password__field-wrapper">
        <mat-form-field appearance="outline" class="item--left change-password__field">
          <mat-label>{{ 'camfil.account.update_profile.verify_password.label' | translate }}</mat-label>
          <input matInput type="password" [formControl]="passConfFormControl" />
        </mat-form-field>

        <div *ngIf="passConfFormControl.touched && passConfFormControl.dirty" class="change-password__field">
          <camfil-error
            [errors]="passConfFormControl.errors"
            [errorValidators]="passwordConfirmationValidator"
            [touched]="passConfFormControl.touched || passConfFormControl.dirty"
          >
          </camfil-error>
        </div>
      </div>

      <button
        mat-raised-button
        type="submit"
        attr.aria-label="{{ 'camfil.account.myprofile.change_password.button.aria' | translate }}"
        color="primary"
        [disabled]="buttonDisabled"
        class="change-password__button"
      >
        {{ 'camfil.account.update_profile.change_password.button' | translate }}
      </button>
    </div>
  </form>
</div>
