<div class="change-password">
  <form [formGroup]="form" class="form-horizontal" novalidate="novalidate" (ngSubmit)="submit()">
    <div id="current-password-section">
      <mat-form-field appearance="outline" class="item--left change-password__field">
        <mat-label>{{ 'camfil.account.password.label' | translate }}</mat-label>
        <input matInput type="password" [formControl]="currPassFormControl" name="currPassFormControl" />
      </mat-form-field>

      <div *ngIf="currPassFormControl.touched && currPassFormControl.dirty" class="change-password__field">
        <mat-error
          *ngIf="currPassFormControl.hasError('password') && !currPassFormControl.hasError('required')"
          class="error-field"
        >
          {{ 'camfil.account.update_password.old_password.error.incorrect' | translate }}
        </mat-error>
        <mat-error *ngIf="currPassFormControl.hasError('required')" class="error-field">
          {{ 'camfil.account.update_password.old_password.error.required' | translate }}
        </mat-error>
      </div>
    </div>

    <div id="new-password-section" class="change-password__new-password">
      <div>
        <mat-form-field appearance="outline" class="item--left change-password__field">
          <mat-label>{{ 'camfil.account.update_profile.change_password.label' | translate }}</mat-label>
          <input matInput type="password" [formControl]="passwordFormControl" />
        </mat-form-field>

        <div *ngIf="passwordFormControl.touched && passwordFormControl.dirty" class="change-password__field">
          <mat-error
            *ngIf="passwordFormControl.hasError('minLength') && !passwordFormControl.hasError('required')"
            class="error-field"
          >
            {{ 'camfil.account.update_password.new_password.error.length' | translate }}
          </mat-error>
          <mat-error
            *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')"
            class="error-field"
          >
            {{ 'camfil.account.update_password.old_password.error.incorrect' | translate }}
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')" class="error-field">
            {{ 'camfil.account.update_password.old_password.error.required' | translate }}
          </mat-error>
        </div>
      </div>

      <div class="change-password__field-wrapper">
        <mat-form-field appearance="outline" class="item--left change-password__field">
          <mat-label>{{ 'camfil.account.update_profile.verify_password.label' | translate }}</mat-label>
          <input matInput type="password" [formControl]="passConfFormControl" />
        </mat-form-field>

        <div *ngIf="passConfFormControl.touched && passConfFormControl.dirty" class="change-password__field">
          <mat-error
            *ngIf="passConfFormControl.hasError('password') && !passConfFormControl.hasError('required')"
            class="error-field"
          >
            {{ 'camfil.account.update_password.new_password.error.regexp' | translate }}
          </mat-error>
          <mat-error *ngIf="passConfFormControl.hasError('required')" class="error-field">
            {{ 'camfil.account.register.password_confirmation.error.default' | translate }}
          </mat-error>
          <mat-error *ngIf="passConfFormControl.hasError('equalTo')" class="error-field">
            {{ 'camfil.account.update_password.confirm_password.error.stringcompare' | translate }}
          </mat-error>
        </div>
      </div>

      <button
        mat-raised-button
        type="submit"
        aria-label="Change password"
        color="primary"
        [disabled]="buttonDisabled"
        class="change-password__button"
      >
        {{ 'camfil.account.update_profile.change_password.button' | translate }}
      </button>
    </div>
  </form>
</div>
