<camfil-header-box
  [header]="'camfil.account.apply_heading' | translate"
  [description]="'camfil.account.apply_message' | translate"
></camfil-header-box>

<ish-error-message [error]="error"></ish-error-message>

<div class="registration-form section" data-testing-id="account-create-full-page">
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="form-horizontal" novalidate="novalidate">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'camfil.account.apply_form.title' | translate }}</mat-label>
      <mat-select formControlName="title">
        <mat-option *ngFor="let title of preferredTitles" [value]="title">
          {{ title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'camfil.account.apply_form.firstName' | translate }}</mat-label>
      <input matInput required formControlName="firstName" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'camfil.account.apply_form.lastName' | translate }}</mat-label>
      <input matInput required formControlName="lastName" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'camfil.account.apply_form.email' | translate }}</mat-label>
      <input matInput required formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'camfil.account.apply_form.customer_name' | translate }}</mat-label>
      <input matInput required formControlName="customerName" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'camfil.account.apply_form.customer_no' | translate }}</mat-label>
      <input matInput formControlName="customerNo" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <textarea
        matInput
        formControlName="comment"
        [placeholder]="'camfil.account.apply_form.add_comment' | translate"
      ></textarea>
    </mat-form-field>

    <camfil-lazy-captcha topic="applyForAnAccount" [form]="form"></camfil-lazy-captcha>

    <button mat-raised-button type="submit" aria-label="Send application" [disabled]="formDisabled" color="primary">
      {{ 'camfil.account.create.button.label' | translate }}
    </button>
  </form>
</div>
