<camfil-header-box
  [header]="'camfil.account.apply_heading' | translate"
  [description]="'camfil.account.apply_message' | translate"
></camfil-header-box>

<ish-error-message [error]="error"></ish-error-message>

<div class="registration-form section" data-testing-id="account-create-full-page">
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="form-horizontal" novalidate="novalidate">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'camfil.account.apply_form.title' | translate }}</mat-label>
      <mat-select formControlName="title">
        <mat-option *ngFor="let title of preferredTitles" [value]="title">
          {{ title | slugify: 'camfil.dynamic.salutation' | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'camfil.account.apply_form.firstName' | translate }}</mat-label>
      <input matInput required formControlName="firstName" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'camfil.account.apply_form.lastName' | translate }}</mat-label>
      <input matInput required formControlName="lastName" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'camfil.account.apply_form.street' | translate }}</mat-label>
      <input matInput required formControlName="street" />
    </mat-form-field>

    <div class="form-field">
      <camfil-zip-code
        fieldName="zipCode"
        fieldCity="area"
        appearance="fill"
        [errorValidator]="validators.zipCode"
        [form]="form"
        [countryChangeDetect]="countryChangeDetect$"
        (zipCodeErrorEmit)="setZipCodeError($event)"
      ></camfil-zip-code>
    </div>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'camfil.account.apply_form.phoneNumber' | translate }}</mat-label>
      <input matInput required formControlName="phoneNumber" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'camfil.account.apply_form.email' | translate }}</mat-label>
      <input matInput required formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'camfil.account.apply_form.customer_name' | translate }}</mat-label>
      <input matInput required formControlName="customerName" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{ 'camfil.account.apply_form.customer_no' | translate }}</mat-label>
      <input matInput formControlName="customerNo" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <textarea
        matInput
        matTextareaAutosize
        matAutosizeMinRows="2"
        matAutosizeMaxRows="5"
        formControlName="comment"
        [placeholder]="'camfil.account.apply_form.add_comment' | translate"
      ></textarea>
    </mat-form-field>

    <div class="form-field">
      <mat-checkbox color="primary" formControlName="gdpr">
        <small>{{ 'camfil.account.apply_form.gdpr' | translate }}</small>
      </mat-checkbox>
    </div>

    <camfil-lazy-captcha topic="applyForAnAccount" [form]="form"></camfil-lazy-captcha>

    <button mat-raised-button type="submit" aria-label="Send application" [disabled]="formDisabled" color="primary">
      {{ 'camfil.account.create.button.label' | translate }}
    </button>
  </form>
</div>

<camfil-small-cta-modal
  actionTitle="{{ 'camfil.account.apply_form.gdpr.error.required' | translate }}"
  actionButtonTitle="{{ 'camfil.modal.cta.button.ok' | translate }}"
  onlyAccept="true"
  hasError="true"
>
</camfil-small-cta-modal>
