<table *ngIf="!isMobileView" mat-table [dataSource]="lineItemsProcessed" matSort matSortActive="rowNumber"
  matSortDirection="asc" class="mt-4 mb-2 box-shadow--dark">
  <!-- rowNum Column -->
  <ng-container matColumnDef="rowNumber">
    <th mat-header-cell *matHeaderCellDef>
      {{'camfil.lineitem.table.row_number' | translate}}
    </th>
    <td mat-cell *matCellDef="let pli">
      {{ getRowNumber(pli) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="thumbnail">
    <th mat-header-cell *matHeaderCellDef>

    </th>
    <td mat-cell *matCellDef="let pli">
      <ng-container *ngIf="getProductInfo(pli.product.sku) | async as product">
        <camfil-product-image [product]="product" class="product-image" imageType="images" width="40"></camfil-product-image>
      </ng-container>
    </td>
  </ng-container>

  <!-- Art Nr. Column -->
  <ng-container matColumnDef="sku">
    <th mat-header-cell *matHeaderCellDef>
      {{'camfil.lineitem.table.art_nr' | translate}}
    </th>
    <td mat-cell *matCellDef="let pli">
      {{ pli.product.sku }}
    </td>
  </ng-container>

  <!-- Product Name Column -->
  <ng-container matColumnDef="articleName">
    <th mat-header-cell *matHeaderCellDef>
      {{'camfil.lineitem.table.product' | translate}}
    </th>
    <td mat-cell *matCellDef="let pli">
      <span>{{ pli.product.name }}</span>
      <a (click)="openQuickViewDialog(pli.productSKU)" class="quick-view text-nowrap">
        <mat-icon class="size-16" svgIcon="search"></mat-icon>
        {{ 'Quickview' | translate }}
      </a>
    </td>
  </ng-container>

  <!-- Origin Price Column -->
  <ng-container matColumnDef="originPrice">
    <th mat-header-cell *matHeaderCellDef>
      {{'camfil.product.list_price.label' | translate}}
    </th>
    <td mat-cell *matCellDef="let pli">
      <strong>{{ pli.originSinglePrice | ishPrice }}</strong>
    </td>
  </ng-container>

  <!-- Customer Price Column -->
  <ng-container matColumnDef="customerPrice">
    <th mat-header-cell *matHeaderCellDef>
      {{'camfil.product.your_price.label' | translate}}
    </th>
    <td mat-cell *matCellDef="let pli">
      <strong>{{ pli.singlePrice | ishPrice }}</strong>
    </td>
  </ng-container>

  <!-- Qty Column -->
  <ng-container matColumnDef="qty">
    <th mat-header-cell *matHeaderCellDef>
      {{'shopping_cart.qty.heading' | translate}}
    </th>
    <td mat-cell *matCellDef="let pli">
      <div class="text-truncate">{{ pli.quantity.value }}</div>
    </td>
  </ng-container>

  <!-- Total Price Column -->
  <ng-container matColumnDef="totalPrice">
    <th mat-header-cell *matHeaderCellDef>
      {{'camfil.quotes.quote_detail.total_price' | translate}}
    </th>
    <td mat-cell *matCellDef="let pli">
      <strong>{{ pli.totalPrice | ishPrice }}</strong>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let pli; columns: displayedColumns; let i = index" class="orderlist-row"></tr>
</table>

<ng-container *ngIf="isMobileView">
  <ng-container *ngFor="let pli of lineItemsProcessed.data">
    <ng-container *ngTemplateOutlet="mobileRow; context: { pli: pli }"></ng-container>
  </ng-container>
</ng-container>

<ng-template #mobileRow let-pli="pli">
  <mat-card *ngIf="pli" class="mat-elevation-z box-shadow box-shadow--dark">
    <mat-card-content data-testing-id="line-item-container" class="pli-mobile">
      <camfil-product-image [product]="pli.product" class="product-image" imageType="images"></camfil-product-image>
      <b>{{'camfil.lineitem.table.art_nr' | translate}}</b><br />
      {{ pli.product.sku || '---' }}<br />
      <div class="row text-center">
        <div class="col-9">{{'camfil.lineitem.table.product' | translate}}</div>
        <div class="col-3">{{'shopping_cart.qty.heading' | translate}}</div>
      </div>
      <div class="row text-center">
        <div class="col-9">
          <span>{{ pli.product.name }}</span>
          <a (click)="openQuickViewDialog(pli.productSKU)" class="quick-view text-nowrap">
            <mat-icon class="size-16" svgIcon="search"></mat-icon>
            {{ 'Quickview' | translate }}
          </a>
        </div>
        <div class="col-3">
          <div class="text-truncate">{{ pli.quantity.value }}</div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-4">{{'camfil.product.list_price.label' | translate}}</div>
        <div class="col-4">{{'camfil.product.your_price.label' | translate}}</div>
        <div class="col-4">{{'camfil.quotes.quote_detail.total_price' | translate}}</div>
      </div>
      <div class="row text-center">
        <div class="col-12"></div>
      </div>
      <div class="row text-center">
        <div class="col-4">
          <div>{{ pli.originSinglePrice | ishPrice }}</div>
        </div>
        <div class="col-4">
          <div>{{ pli.singlePrice | ishPrice }}</div>
        </div>
        <div class="col-4">
          <strong>{{ pli.totalPrice | ishPrice }}</strong>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <br />
</ng-template>
