@import '~src/styles/themes/camfil/colors.scss';
@import '~src/styles/themes/camfil/variables.scss';

:host {
  tr {
    &.mat-row {
      height: 60px;
    }
    &:last-child td {
      border-bottom: none;
    }
  }

  td div.text-truncate {
    display: block;
    width: 20ch;
  }

  ::ng-deep {
    .mat-column {
      &-price {
        text-align: right;
      }

      &-orderedQty,
      &-deliveredQty,
      &-deliveryDate {
        text-align: center;
      }
    }

    .product-image {
      display: inline-block;
      width: 40px;
      height: 40px;
    }

    .quick-view {
      margin-left: 6px;
      &::before {
        content: '|';
        margin-right: 6px;
        display: inline-block;
      }
    }
  }
}

table {
  width: 100%;

  th {
    padding-left: $space-box;
    color: $text-color-primary;
    white-space: nowrap;
    background-color: rgba($color-corporate, 0.1);
  }
  td {
    padding-top: $space-default/2;
    padding-bottom: $space-default/2;
    padding-left: $space-box;
    white-space: nowrap;
  }

  tr.orderlist-row {
    &:hover {
      background: $greyF5;
    }
    &:active {
      background: $greyEF;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .pli-mobile {
    line-height: 24px;
    color: $camfil-text-color-tertiary;
    position: relative;

    .product-image {
      position: absolute;
      right: 0;
    }

    .row:nth-of-type(2n + 1) {
      margin-top: $space-box/2;
      margin-bottom: $space-box/2;
      font-size: $font-size-xs;
      font-weight: 600;
      color: $camfil-text-color-primary;
      background-color: rgba($color-corporate, 0.1);
    }

    ::ng-deep {
      .mat-expansion-panel-body {
        padding: 0;
      }
    }
  }
}
