@import '~src/styles/themes/camfil/variables';

:host {
  .camfil-checkout-header {
    margin-bottom: 11px;
  }

  .mat-divider {
    margin: ($space-sm) 0;
  }

  p {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 500;
    color: $camfil-text-color-secondary;

    .checkout-header-number {
      margin-left: 15px;
      font-weight: 700;
    }
  }
}
