<div class="camfil-checkout-header">
  <h1 class="d-flex align-items-center">
    <mat-icon svgIcon="cart" class="size-37"></mat-icon> &nbsp;
    {{ 'shopping_cart.proceed_to_checkout.button.label' | translate }}
  </h1>
  <div class="row align-items-end">
    <div class="col-md-3" *ngIf="buckets">
      <p>
        <span>{{ 'camfil.checkout.number_of_orders' | translate }}:</span>
        <span class="checkout-header-number">{{ buckets?.length }}</span>
      </p>
      <p>
        <span>{{ 'camfil.checkout.number_of_products' | translate }}:</span>
        <span class="checkout-header-number">{{ totalProductQuantity() }}</span>
      </p>
    </div>
    <div class="col-md-9">
      <div *ngIf="buckets" class="float-right">
        <camfil-checkout-toolbar [buckets]="buckets" [basketId]="basket.id" [shippingMethodId]="basket.commonShippingMethod.id"></camfil-checkout-toolbar>
      </div>
    </div>
  </div>
</div>
