<div class="camfil-checkout-header">

  <ng-container *ngIf="!(isLoggedIn$ | async)">
    <ng-container *ngTemplateOutlet="guest"></ng-container>
  </ng-container>

  <ng-container *ngIf="(isLoggedIn$ | async)">
    <ng-container *ngTemplateOutlet="default"></ng-container>
  </ng-container>

  <ng-template #guest>
    <h1 *ngIf="!isSubmitted" class="d-flex align-items-center">
      <mat-icon class="size-37" svgIcon="cart"></mat-icon> &nbsp;
      {{ (isSubmitted ? 'camfil.checkout.confirmation.title' : 'shopping_cart.proceed_to_checkout.button.label') | translate }}
    </h1>

    <div *ngIf="!isSubmitted" class="row align-items-end">
      <div class="col-md-3">
        <p>
          <span>{{ 'camfil.checkout.number_of_products' | translate }}:</span>
          <span class="checkout-header-number">{{ quantity }}</span>
        </p>
      </div>
    </div>
  </ng-template>

  <ng-template #default>
    <h1 class="d-flex align-items-center">
      <mat-icon *ngIf="!isSubmitted" class="size-37" svgIcon="cart"></mat-icon> &nbsp;
      {{ (isSubmitted ? 'camfil.checkout.confirmation.title' : 'shopping_cart.proceed_to_checkout.button.label') | translate }}
    </h1>

    <div *ngIf="!isSubmitted" class="row align-items-end">
      <div class="col-md-3">
        <p>
          <span>{{ 'camfil.checkout.number_of_orders' | translate }}:</span>
          <span class="checkout-header-number">{{ buckets?.length }}</span>
        </p>
        <p>
          <span>{{ 'camfil.checkout.number_of_products' | translate }}:</span>
          <span class="checkout-header-number">{{ quantity }}</span>
        </p>
      </div>
      <div class="col-md-9">
        <camfil-checkout-toolbar
          [basketId]="basket?.id"
          [buckets]="buckets"
          [isGuestCheckout]="!(isLoggedIn$ | async)"
          [shippingMethodId]="basket?.commonShippingMethod?.id"
        ></camfil-checkout-toolbar>
      </div>
    </div>

  </ng-template>

</div>

<mat-divider></mat-divider>
