<!-- <h2>{{data.title | translate}}</h2> -->
<h2>
  <ng-container *ngIf="!isMultiple; else multipleTitle">
    {{ 'camfil.quotes.quoteslist.reject_quote_modal.title' | translate }}
  </ng-container>
</h2>
<form [formGroup]="form" class="mt-3 mb-3">
  <mat-form-field appearance="fill" class="w-100 w-md-auto">
    <mat-label>
      <ng-container *ngIf="!isMultiple; else multipleLabel">
        {{ 'camfil.quotes.quoteslist.reject_quote_modal.reason_label' | translate }}
      </ng-container>
    </mat-label>
    <input
      formControlName="reason"
      matInput
      [placeholder]="'camfil.quotes.quoteslist.reject_quotes_modal.reason_placeholder' | translate"
    />
  </mat-form-field>
</form>
<div class="actions">
  <button (click)="cancel()" class="btn btn-link">
    {{ 'camfil.quotes.quoteslist.reject_quotes_modal.cancel' | translate }}
  </button>
  <button (click)="confirm()" class="btn btn-link" [disabled]="!form.valid">
    {{ 'camfil.quotes.quoteslist.reject_quotes_modal.confirm' | translate }}
  </button>
</div>

<ng-template #multipleTitle>
  {{ 'camfil.quotes.quoteslist.reject_quotes_modal.title' | translate }}
</ng-template>
<ng-template #multipleLabel>
  {{ 'camfil.quotes.quoteslist.reject_quotes_modal.reason_label' | translate }}
</ng-template>
