<ng-container *ngIf="logoutOnly; else loginStatus">
  <ng-container *ngIf="user$ | async as user; else notLoggedIn">
    <a routerLink="/logout" data-testing-id="link-logout">
      <mat-icon svgIcon="profile-fab" class="header-icon"></mat-icon>
      <span *ngIf="view != 'small'"> {{ 'account.logout.link' | translate }} </span>
    </a>
  </ng-container>
  <ng-template #notLoggedIn> &nbsp; </ng-template>
</ng-container>

<ng-template #loginStatus>
  <!-- logged in -->
  <ng-container *ngIf="user$ | async as user; else notLoggedIn">
    <a routerLink="/account" class="my-account-link" data-testing-id="link-myaccount">
      <mat-icon svgIcon="profile-fab" class="header-icon"></mat-icon>
      <span *ngIf="user.lastName; else nameNotDisplayed" class="login-name">{{
        'camfil.account.login_status.my_pages' | translate
      }}</span>
      <ng-template #nameNotDisplayed
        ><span class="login-name">{{ 'account.login_status.myaccount.link' | translate }}</span></ng-template
      >
    </a>
    <span class="separator">&#124;</span>
    <a routerLink="/logout" class="my-account-link my-account-logout" data-testing-id="link-logout">
      <span>{{ 'account.logout.link' | translate }}</span>
    </a>
  </ng-container>
  <!-- not logged in -->
  <ng-template #notLoggedIn>
    <a
      routerLink="/login"
      [queryParams]="{ returnUrl: '/account' }"
      class="my-account-link my-account-login"
      rel="nofollow"
    >
      <mat-icon svgIcon="profile-fab" class="header-icon"></mat-icon>
      <span>{{ 'account.login.link' | translate }}</span>
    </a>
    <span class="separator">&#124;</span
    ><a
      routerLink="/register"
      [queryParams]="{ returnUrl: '/account' }"
      class="my-account-link my-account-register"
      rel="nofollow"
      ><span>{{ 'account.register.link' | translate }}</span>
    </a>
  </ng-template>
</ng-template>
