<div class="row">
  <div class="text-right">
    <button mat-stroked-button color="primary" data-testing-id="add-cam-card" routerLink="/account/cam-cards/create">
      <mat-icon svgIcon="plus" class="size-31"></mat-icon>
      {{ 'camfil.checkout.create_new_order' | translate }}
    </button>
    <button mat-stroked-button color="primary" data-testing-id="add-cam-card" routerLink="/account/cam-cards/create">
      <mat-icon svgIcon="plus" class="size-31"></mat-icon>
      {{ 'camfil.account.cam_cards.list.button.add_cam_card.label' | translate }}
    </button>
    <button mat-stroked-button color="primary" disabled data-testing-id="add-cam-card">
      <mat-icon svgIcon="print" class="size-15"></mat-icon>
      {{ 'camfil.account.cam_cards.list.button.print.label' | translate }}
    </button>
  </div>
</div>
