<div *ngIf="product.availability" [formGroup]="parentForm" class="product-quantity">
  <ng-container *ngIf="!readOnly">
    <ng-container [ngSwitch]="type">
      <mat-form-field *ngSwitchCase="'select'" appearance="fill">
        <mat-label>{{ quantityLabel | translate }}</mat-label>
        <mat-select [formControlName]="controlName" [formGroup]="parentForm">
          <mat-option *ngFor="let quantityOption of quantityOptions" [value]="quantityOption.value">
            {{ quantityOption.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'input'" appearance="fill">
        <mat-label>{{ quantityLabel | translate }}</mat-label>
        <input
          [formControlName]="controlName"
          [formGroup]="parentForm"
          [max]="product.maxOrderQuantity"
          [min]="allowZeroQuantity ? 0 : product.minOrderQuantity"
          [placeholder]="allowZeroQuantity ? 0 : product.minOrderQuantity"
          [type]="'number'"
          matInput
        />
      </mat-form-field>
      <ng-container *ngSwitchDefault>
        <camfil-counter
          [controlName]="controlName"
          [form]="parentForm"
          [isInLineItem]="isInLineItem"
          [lineItemId]="lineItemId"
          [max]="product.maxOrderQuantity"
          [min]="allowZeroQuantity ? 0 : product.minOrderQuantity"
          [stepQuantityValue]="product.stepQuantity"
          inputClass=""
        ></camfil-counter>
      </ng-container>
    </ng-container>

    <camfil-error
      *ngIf="showErrors"
      [errorValidators]="validators.quantity"
      [errors]="parentForm?.get(controlName)?.errors"
      [touched]="parentForm?.get(controlName)?.touched || parentForm?.get(controlName)?.dirty"
    ></camfil-error>
  </ng-container>
  <ng-container *ngIf="readOnly">
    <span>{{ quantityLabel | translate }}: {{ quantity }}</span>
  </ng-container>
</div>
