<div *ngIf="product.availability" [formGroup]="parentForm" class="product-quantity">
  <ng-container *ngIf="!readOnly">
    <ng-container [ngSwitch]="type">
      <mat-form-field *ngSwitchCase="'select'" appearance="fill">
        <mat-label>{{ quantityLabel | translate }}</mat-label>
        <mat-select [formGroup]="parentForm" [formControlName]="controlName">
          <mat-option *ngFor="let quantityOption of quantityOptions" [value]="quantityOption.value">
            {{ quantityOption.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'input'" appearance="fill">
        <mat-label>{{ quantityLabel | translate }}</mat-label>
        <input
          matInput
          [type]="'number'"
          [formGroup]="parentForm"
          [formControlName]="controlName"
          [min]="allowZeroQuantity ? 0 : product.minOrderQuantity"
          [max]="product.maxOrderQuantity"
          [placeholder]="allowZeroQuantity ? 0 : product.minOrderQuantity"
        />
      </mat-form-field>
      <ng-container *ngSwitchDefault>
        <camfil-counter
          [form]="parentForm"
          [controlName]="controlName"
          [min]="allowZeroQuantity ? 0 : product.minOrderQuantity"
          [max]="product.maxOrderQuantity"
          inputClass=""
          [isInLineItem]="isInLineItem"
          [lineItemId]="lineItemId"
        ></camfil-counter>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="readOnly">
    <span>{{ quantityLabel | translate }}: {{ quantity }}</span>
  </ng-container>
</div>
