@import '~src/styles/themes/camfil/variables';

:host {
  .personal-info {
    &__section {
      &--name {
        margin-bottom: 15px;
      }
    }

    &__field {
      width: $input-width;
    }

    &::ng-deep .mat-form-field-wrapper {
      margin: 0;
    }
  }
}
