@import '~src/styles/themes/camfil/mixins.scss';
@import '~src/styles/themes/camfil/variables';

::ng-deep {
  .delivery-address {
    &__title {
      @include font-size-14-16;

      font-weight: 600;
    }

    &__form {
      display: flex;
      flex-direction: column;

      &--field {
        padding: 0;

        input {
          width: 100%;
        }

        ::ng-deep .mat-form-field-wrapper {
          margin-top: 16px;
          margin-bottom: 0;
        }
      }

      &--field-neighbour {
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}
