<div class="delivery-address" mat-dialog-content [ngStyle]="{ 'max-height.vh': maxHeight }">
  <form [formGroup]="addressForm" class="delivery-address__form" novalidate="novalidate">
    <!--customer select-->
    <mat-form-field appearance="outline" class="delivery-address__form--field">
      <mat-select
        (selectionChange)="pickCustomer($event)"
        [disabled]="edit"
        [placeholder]="'camfil.modal.createOrder.order-form.select.customer' | translate"
        formControlName="customer"
      >
        <mat-option>--</mat-option>
        <mat-option *ngFor="let customer of customers$ | async" [value]="customer.id">
          {{ customer.companyName }}, {{ customer.customerNo }}
          <ng-container *ngIf="customer?.department">, {{ customer.department }} </ng-container>
        </mat-option>
      </mat-select>
      <camfil-error
        [errorValidators]="validators.customer"
        [errors]="getField('customer').errors"
        [touched]="getField('customer').touched || getField('customer').dirty"
      ></camfil-error>
    </mat-form-field>

    <!--contacts select-->
    <mat-form-field appearance="outline" class="delivery-address__form--field">
      <mat-select
        (selectionChange)="pickContact($event)"
        [placeholder]="'camfil.modal.createOrder.order-form.select.contact' | translate"
        formControlName="contact"
      >
        <mat-option *ngFor="let contact of contacts | camfilContactSort" [value]="contact.erpId">
          {{ contact.fullName }}
        </mat-option>
      </mat-select>
      <camfil-error
        [errorValidators]="validators.contact"
        [errors]="getField('contact').errors"
        [touched]="getField('contact').touched || getField('contact').dirty"
      ></camfil-error>
    </mat-form-field>

    <!--order mark-->
    <mat-form-field appearance="outline" class="delivery-address__form--field">
      <mat-label>{{ 'camfil.modal.createOrder.order-form.input.order_mark' | translate }}</mat-label>
      <input [camfilMaxLength]="'OrderMark'" formControlName="orderMark" matInput type="text" />
    </mat-form-field>

    <!--invoice mark-->
    <mat-form-field appearance="outline" class="delivery-address__form--field">
      <mat-label>{{ 'camfil.modal.createOrder.order-form.input.invoice_mark' | translate }}</mat-label>
      <input [camfilMaxLength]="'InvoiceLabel'" formControlName="invoiceLabel" matInput type="text" />
    </mat-form-field>

    <!--phone number-->
    <mat-form-field appearance="outline" class="delivery-address__form--field">
      <mat-label>{{ 'camfil.modal.createOrder.order-form.input.phone_number' | translate }}</mat-label>
      <input [camfilMaxLength]="'PhoneNumber'" formControlName="phoneNumber" matInput type="tel" />
      <camfil-error
        [errorValidators]="validators.phoneNumber"
        [errors]="getField('phoneNumber').errors"
        [touched]="getField('phoneNumber').touched || getField('phoneNumber').dirty"
      ></camfil-error>
    </mat-form-field>

    <!--address select-->
    <mat-form-field appearance="outline" class="delivery-address__form--field">
      <mat-select
        (selectionChange)="pickAddress($event)"
        [placeholder]="'camfil.modal.createOrder.order-form.select.address' | translate"
        formControlName="deliveryAddressSelect"
      >
        <mat-option>--</mat-option>
        <ng-container *ngIf="addresses$ | async as locations">
          <mat-option
            *ngFor="let location of locations[customerId] | addressSort: 'addressLine1'"
            [value]="location.id"
          >
            {{ location.addressLine1 }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <!--recipient-->
    <mat-form-field appearance="outline" class="delivery-address__form--field">
      <mat-label>{{ 'camfil.modal.createOrder.order-form.input.recipient' | translate }}</mat-label>
      <input [camfilMaxLength]="'Company'" formControlName="company" matInput type="text" />
    </mat-form-field>

    <!--addressLine1-->
    <mat-form-field appearance="outline" class="delivery-address__form--field">
      <mat-label>{{ 'camfil.modal.createOrder.order-form.input.addressLine1' | translate }}</mat-label>
      <textarea
        formControlName="addressLine1"
        label="camfil.modal.createOrder.order-form.input.addressLine1"
        markRequiredLabel="off"
        matInput
        [camfilMaxLength]="'AddressLineOne'"
        rows="{{ use2ndAddressLineInOrderForm ? 3 : 5 }}"
      ></textarea>
      <camfil-error
        [errorValidators]="validators.addressLine1"
        [errors]="getField('addressLine1').errors"
        [touched]="getField('addressLine1').touched || getField('addressLine1').dirty"
      ></camfil-error>
    </mat-form-field>

    <!--addressLine2-->
    <mat-form-field *camfilChannelToggle="'use2ndAddressLineInOrderForm'" appearance="outline" class="delivery-address__form--field">
      <mat-label>{{ 'account.default_address.street2.label' | translate }}</mat-label>
      <textarea
        formControlName="addressLine2"
        label="camfil.modal.createOrder.order-form.input.addressLine1Line2"
        markRequiredLabel="off"
        matInput
        [camfilMaxLength]="'AddressLineTwo'"
        rows="3"
      ></textarea>
    </mat-form-field>

    <div class="row no-gutters mt-3">
      <!--zip code-->
      <div class="col-sm-12 col-md-5">
        <camfil-zip-code
          [checkOnInitObj]="orderToEdit"
          [errorValidator]="validators.zipCode"
          [form]="addressForm"
          appearance="outline"
          fieldCity="area"
          fieldName="zipCode"
        ></camfil-zip-code>
      </div>

      <!--area-->
      <div class="col-sm-12 col-md-7 pl-md-3">
        <camfil-city-field
          [form]="addressForm"
          fieldCode="zipCode"
          fieldCity="area"
          fieldSelect="citySelect"
          appearance="outline"
        ></camfil-city-field>
      </div>
    </div>

    <mat-form-field appearance="outline" class="delivery-address__form--field">
      <mat-label>{{ 'camfil.modal.createOrder.order-form.info' | translate }}</mat-label>
      <textarea formControlName="info" matInput></textarea>
      <camfil-error
        [errorValidators]="validators.info"
        [errors]="getField('info').errors"
        [touched]="getField('info').touched || getField('info').dirty"
      ></camfil-error>
    </mat-form-field>
  </form>
</div>
