<ng-template #searchBoxTemplate let-icon="icon">
  <camfil-search-box
    data-testing-id="search-box-desktop"
    [configuration]="{
      placeholder: 'camfil.search.searchbox.instructional_text' | translate,
      autoSuggest: true,
      maxAutoSuggests: 10,
      icon: icon,
      showLastSearchTerm: true,
      buttonText: 'Search'
    }"
  ></camfil-search-box>
</ng-template>

<div class="header container" [ngClass]="deviceType">
  <div *ngIf="!isSticky || deviceType === 'mobile'" class="row align-items-center header__first">
    <div class="col-7 col-md-8 d-flex align-items-center">
      <camfil-user-links [deviceType]="deviceType" *ngIf="deviceType !== 'mobile'"></camfil-user-links>
      <camfil-product-compare-status
        *ngIf="deviceType === 'mobile'"
        data-testing-id="compare-status-desktop"
      ></camfil-product-compare-status>
    </div>
    <div class="col-5 col-md-4">
      <div class="header-utility">
        <div class="language-switch-container d-flex align-items-center">
          <camfil-language-switch
            *ngIf="!isSticky && deviceType !== 'mobile'"
            data-testing-id="language-switch-desktop"
          ></camfil-language-switch>
          <camfil-login-status data-testing-id="user-status-desktop"></camfil-login-status>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center header__second">
    <div class="col-9 col-md-6 col-lg-4 col-xl-3 logo-col d-flex">
      <button
        mat-stroked-button
        color="accent"
        class="navbar-toggler"
        attr.aria-label="{{ 'camfil.common.button.navbarCollapsed.menu.aria_label' | translate }}"
        (click)="toggle('navbar')"
      >
        <mat-icon>{{ showNavBar ? 'close' : 'menu' }}</mat-icon>
        {{
          (showNavBar
            ? 'camfil.common.button.navbarCollapsed.close.text'
            : 'camfil.common.button.navbarCollapsed.text'
          ) | translate
        }}
      </button>
      <div class="logo-wrapper">
        <ng-container *ngIf="showDesktopLogoLink && !isSticky; else mobileLogo">
          <a rel="home" routerLink="/home" data-testing-id="header-home-link-desktop">
            <mat-icon svgIcon="logo" class="logo"></mat-icon>
            <mat-icon svgIcon="camfil-logo-cart" class="logo--cart"></mat-icon>
          </a>
        </ng-container>
        <ng-template #mobileLogo>
          <a rel="home" routerLink="/home" class="mobile-logo" data-testing-id="header-home-link-mobile"></a
        ></ng-template>
      </div>
    </div>
    <div class="col-lg-5 col-xl-6 col-sm-12 search-container" *ngIf="!isSticky || deviceType === 'mobile'">
      <div *ngIf="showSearch" [ngbCollapse]="!showSearch">
        <ng-container *ngTemplateOutlet="searchBoxTemplate; context: { icon: 'angle-right' }"></ng-container>
      </div>
    </div>
    <div
      class="col-3 col-md-6 col-lg-3 col-xl-3 d-flex align-items-center justify-content-end"
      *ngIf="!isSticky || deviceType === 'mobile'"
    >
      <camfil-product-compare-status
        *ngIf="!isSticky && deviceType !== 'mobile'"
        data-testing-id="compare-status-desktop"
        class="justify-content-end"
      >
      </camfil-product-compare-status>

      <camfil-mini-basket
        data-testing-id="mini-basket-desktop"
        view="full"
        [ngClass]="isSticky ? 'd-lg-block' : 'd-md-block'"
      ></camfil-mini-basket>
    </div>
  </div>
  <div class="global-nav-container">
    <nav class="global-nav navbar-expand-md" [ngbCollapse]="!showNavBar">
      <div class="main-navigation" role="navigation">
        <camfil-header-navigation
          *ngIf="nextOpenLevelOnMobileNav !== 'userLinks'"
          (isClosedCat)="isClosedNav($event)"
        ></camfil-header-navigation>
        <camfil-user-links
          (isClosedNextLevel)="isClosedNav($event)"
          *ngIf="deviceType === 'mobile' && nextOpenLevelOnMobileNav !== 'category'"
          [deviceType]="deviceType"
          [nextOpenLevelOnMobileNav]="nextOpenLevelOnMobileNav"
        ></camfil-user-links>
      </div>
    </nav>
  </div>
</div>
