@import '~src/styles/themes/camfil/colors.scss';
@import '~src/styles/themes/camfil/mixins.scss';
@import '~src/styles/themes/camfil/variables.scss';

:host {
  header & .header {
    background: transparent;

    .navbar-toggler {
      order: 0;
      margin: 0 $space-box 0 0;
      color: $primary;

      @media (max-width: $screen-xs) {
        margin-right: $space-box / 2;
      }
    }

    .logo-wrapper {
      padding: 0;

      .mat-icon {
        &.logo {
          position: relative;
          width: $logo-width;
          height: $logo-height;
          background: none;

          &--cart {
            width: 80px;
            height: 80px;
            margin-left: $space-box;
          }
        }
      }
      .mobile-logo {
        margin: 0;
        background-size: $logo-mobile-width;

        @media (max-width: $screen-xs) {
          width: $logo-mobile-width - 20;
          background-size: $logo-mobile-width - 20;
        }

        @media (min-width: $screen-md-min) {
          margin: $space-box / 2 0;
        }
      }
    }

    .search-container {
      order: 10;
      margin: $space-box / 2 0;
      @media (min-width: $screen-md-max) {
        order: inherit;
        padding: 0;
      }
    }

    .sticky-header & {
      @media (min-width: $screen-md-min) {
        align-items: center;
      }
    }

    .header-utility {
      line-height: $top-header-height-mobile;
      background: transparent;
    }
  }

  .sticky-header & .global-nav-container {
    @media (max-width: $screen-sm-max) {
      top: 90px;
    }
  }

  .main-navigation {
    @media (max-width: $screen-sm-max) {
      width: calc(100% - #{$space-sm});
      height: auto;
      max-height: calc(100vh - 55px);
      background: $white;
      box-shadow: $navbar-shadow-mobile;
    }
  }
}
