<ng-template #modal>
  <camfil-cam-card-modal
    #modal
    [title]="'camfil.modal.createCamcard.title' | translate"
    iconName="note_add"
    [detailsTemplate]="detailsTemplate"
    [mainContentTemplate]="mainContentTemplate"
    class="camfil-create-product-cam-card-modal"
    [primaryButtonTitle]="'camfil.modal.createCamcard.button.create_and_edit' | translate"
    [secondaryButtonTitle]="'camfil.modal.createCamcard.button.create_and_continue' | translate"
    (primaryButtonClicked)="createAndEdit()"
    (secondaryButtonClicked)="createAndContinue()"
    (hiddenClicked)="hide()"
    [primaryDisabled]="disableIfNoMeasurements()"
  >
  </camfil-cam-card-modal>
</ng-template>

<ng-template #detailsTemplate>
  <ng-container *ngFor="let item of items; index as i">
    <camfil-article-details
      [showProductName]="true"
      [product]="item.product"
      [quantityForm]="item.quantityForm"
      [class.border-bottom]="i + 1 !== items?.length"
    ></camfil-article-details>
  </ng-container>
</ng-template>

<ng-template #mainContentTemplate>
  <div mat-dialog-content class="form__wrapper">
    <form [formGroup]="camCardForm" class="form-horizontal border-bottom" novalidate="novalidate">
      <!--customer select-->
      <mat-form-field appearance="outline" class="col-sm-12 form__field">
        <mat-select
          [placeholder]="'camfil.modal.createCamcard.select.customer' | translate"
          formControlName="customerSelect"
          (selectionChange)="pickCustomer($event)"
        >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let customer of customers$ | async" [value]="customer.id">
            {{ customer.companyName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--name-->
      <mat-form-field appearance="outline" class="col-sm-12 form__field">
        <mat-label>{{ 'camfil.modal.createCamcard.input.name' | translate }}</mat-label>
        <input matInput type="text" maxlength="35" formControlName="name" />
      </mat-form-field>
      <camfil-error
        [errors]="getField('name').errors"
        [errorValidators]="validators.name"
        [touched]="getField('name').touched || getField('name').dirty"
      ></camfil-error>

      <!--order mark-->
      <mat-form-field appearance="outline" class="col-sm-12 form__field">
        <mat-label>{{ 'camfil.modal.createCamcard.input.order_mark' | translate }}</mat-label>
        <input matInput type="text" formControlName="orderMark" camfilMaxLength="'OrderMark'" />
      </mat-form-field>

      <!--invoice mark-->
      <mat-form-field appearance="outline" class="col-sm-12 form__field">
        <mat-label>{{ 'camfil.modal.createCamcard.input.invoice_mark' | translate }}</mat-label>
        <input matInput type="text" formControlName="invoiceMark" camfilMaxLength="'InvoiceLabel'" />
      </mat-form-field>

      <!--address select-->
      <mat-form-field appearance="outline" class="col-sm-12 form__field">
        <mat-select
          [placeholder]="'camfil.account.cam_card.add_to_form.choose_address' | translate"
          formControlName="deliveryAddressSelect"
          (selectionChange)="pickAddress($event)"
        >
          <mat-option>--</mat-option>
          <ng-container *ngIf="addresses$ | async as locations">
            <mat-option
              *ngFor="let location of locations[customerId] | addressSort: 'addressLine1'"
              [value]="location.id"
            >
              {{ location.addressLine1 }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <!--company-->
      <mat-form-field appearance="outline" class="col-sm-12 form__field">
        <mat-label>{{ 'camfil.modal.createCamcard.input.company' | translate }}</mat-label>
        <input matInput type="text" formControlName="company" camfilMaxLength="'Company'" />
      </mat-form-field>

      <!--address-->
      <mat-form-field appearance="outline" class="col-sm-12 form__field">
        <mat-label>{{ 'camfil.modal.createCamcard.input.address' | translate }}</mat-label>
        <textarea
          matInput
          formControlName="address"
          label="camfil.modal.createCamcard.input.address"
          markRequiredLabel="off"
          maxlength="250"
          rows="5"
        ></textarea>
      </mat-form-field>
      <camfil-error
        [errors]="getField('address').errors"
        [errorValidators]="validators.address"
        [touched]="getField('address').touched || getField('address').dirty"
      ></camfil-error>

      <!--zip code-->
      <div class="col-sm-12 col-md-5 form__field form__field--neighbour">
        <camfil-zip-code
          fieldName="zipCode"
          fieldCity="area"
          classes="delivery-address__form--field delivery-address__form--field-small"
          appearance="outline"
          [errorValidator]="validators.zipCode"
          [form]="camCardForm"
          [countryChangeDetect]="countryChangeDetect$"
          (zipCodeErrorEmit)="setZipCodeError($event)"
        ></camfil-zip-code>
      </div>

      <!--area-->
      <div class="col-sm-12 col-md-7 form__field form__field--neighbour form__field--neighbour-right">
        <mat-form-field appearance="outline" class="form__field--area">
          <mat-label>{{ 'camfil.modal.createCamcard.input.area' | translate }}</mat-label>
          <input matInput type="text" formControlName="area" />
        </mat-form-field>
        <camfil-error
          [errors]="getField('area').errors"
          [errorValidators]="validators.area"
          [touched]="getField('area').touched || getField('area').dirty"
        ></camfil-error>
      </div>

      <!--
        // because of CAM-911
        <mat-form-field appearance="outline" class="col-sm-12 form__field">
        <mat-label>{{ 'camfil.account.cam_card.add_to_form.country' | translate }}</mat-label>
        <mat-select formControlName="countryCode">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let country of countries$ | async" [value]="country.countryCode">
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <camfil-error
        [errors]="getField('countryCode').errors"
        [errorValidators]="validators.countryCode"
        [touched]="getField('countryCode').touched || getField('countryCode').dirty"
      ></camfil-error> -->

      <button type="button" class="form__field--button" mat-raised-button (click)="addSubLevel()">
        <mat-icon svgIcon="plus" class="color-dark form__field--button-icon"></mat-icon>
        {{ 'camfil.modal.createCamcard.button.add_section' | translate }}
      </button>

      <!--subcamcard-->
      <mat-form-field *ngIf="showNewSegment" appearance="outline" class="col-sm-12 form__field sublevel-input">
        <mat-label>{{ 'camfil.modal.createCamcard.input.new_subcamcard' | translate }}</mat-label>
        <input matInput type="text" formControlName="newCamCard" autofocus cdkFocusInitial />
      </mat-form-field>
      <camfil-error
        [errors]="getField('newCamCard').errors"
        [errorValidators]="validators.newCamCard"
        [touched]="getField('newCamCard').touched || getField('newCamCard').dirty"
      ></camfil-error>
    </form>
    <div *ngIf="!showNewSegment" class="sublevel-placeholder"></div>
  </div>
</ng-template>
