<camfil-error-message [error]="error"></camfil-error-message>

<form (ngSubmit)="submitForm()" [formGroup]="form" class="form-horizontal">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>{{ 'camfil.account.forgotdata.email.label' | translate }}</mat-label>
    <input formControlName="email" matInput required type="email" />
    <camfil-error
      [errorValidators]="emailValidator"
      [errors]="form.controls.email.errors"
      [touched]="form.controls.email.touched"
    >
    </camfil-error>
  </mat-form-field>

  <camfil-lazy-captcha [form]="form" topic="forgotUsername"></camfil-lazy-captcha>

  <button
    [disabled]="formDisabled"
    attr.aria-label="{{ 'camfil.account.update_username.button.aria' | translate }}"
    class="form-button"
    color="primary"
    mat-raised-button
    type="submit"
  >
    {{ 'camfil.forgot_username.form.send.button.label' | translate }}
  </button>
</form>
