<!-- <ish-product-detail-actions [product]="product" (productToCompare)="addToCompare()"></ish-product-detail-actions> -->

<div class="row product-details">
  <div class="col-12 product-details-title">
    <h1>
      <span itemprop="name">{{ product.name }}</span>
    </h1>
    <p *ngIf="category">
      <span>{{ category.name }}</span>
    </p>
  </div>

  <div class="col-12 col-md-4 col-lg-3 pt-3">
    <camfil-product-images [product]="product"></camfil-product-images>
  </div>

  <div class="col-12 col-md-4 col-lg-5 product-info">
    <!-- <camfil-product-rating *ishFeature="'rating'" [product]="product"></camfil-product-rating> -->

    <div class="mat-card mat-focus-indicator p-3 my-3">
      <!-- <div *ngIf="product.manufacturer" class="product-brand">
        <a [routerLink]="['/search', product.manufacturer]">
          <span itemprop="brand">{{ product.manufacturer }}</span>
        </a>
      </div> -->

      <!-- <camfil-product-id [product]="product"></camfil-product-id> -->

      <camfil-product-promotion [product]="product"></camfil-product-promotion>
      <div class="d-flex justify-content-center align-items-center row flex-wrap">
        <div
          *ngIf="userPermissions$ | async"
          class="price-container col-lg-6 col-md-12 col-12"
          itemprop="offers"
          itemscope
          itemtype="http://schema.org/Offer"
        >
          <div class="row">
            <div class="col-12 prices-col">
              <camfil-product-price [product]="product"></camfil-product-price>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12 quantity-row">
          <form
            *ngIf="!isMasterProduct(product)"
            [formGroup]="productDetailForm"
            class="product-form form-horizontal d-flex justify-content-center align-items-center"
          >
            <p class="quantity-form-text">{{ 'camfil.product.quantity.text' | translate }}</p>
            <camfil-product-quantity
              *ngIf="!isRetailSet(product)"
              [product]="product"
              [allowZeroQuantity]="true"
              [parentForm]="productDetailForm"
              [controlName]="quantityControlName"
            ></camfil-product-quantity>
          </form>
        </div>
      </div>
      <div class="row flex-wrap buttons-container">
        <div class="col-lg-6 col-12 d-flex justify-content-center align-items-center">
          <camfil-lazy-product-add-to-cam-card
            class="btn-link cart-big-round-btn secondary-button"
            displayType="round-btn"
            hasIcon="true"
            [product]="product"
            [quantity]="quantity"
          ></camfil-lazy-product-add-to-cam-card>
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-center align-items-center">
          <camfil-product-add-to-basket
            class="btn-link"
            displayType="button"
            hasIcon="true"
            [product]="product"
            [translationKey]="isRetailSet(product) ? 'product.add_to_cart.retail_set.link' : 'product.add_to_cart.link'"
            (productToBasket)="addToBasket()"
            (resetFormValues)="resetProductDetailForm()"
            [quantity]="quantity"
          ></camfil-product-add-to-basket>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex align-items-center">
          <camfil-product-add-to-compare
            *ngIf="showAddToCompare"
            [isInCompareList]="isInCompareList"
            (compareToggle)="toggleCompare()"
            class="btn-link"
          ></camfil-product-add-to-compare>
          <camfil-product-inventory
            *ngIf="!isRetailSet(product) && !isMasterProduct(product)"
            [product]="product"
            [showText]="true"
          ></camfil-product-inventory>
        </div>
      </div>
      <!-- <camfil-product-shipment
        *ngIf="!isRetailSet(product) && !isMasterProduct(product)"
        [product]="product"
      ></camfil-product-shipment> -->
      <!-- <camfil-product-variation-select
        *ngIf="isVariationProduct(product)"
        [productMasterSKU]="product.productMasterSKU"
        [variationOptions]="variationOptions"
        (selectVariation)="variationSelected($event)"
      ></camfil-product-variation-select> -->

      <!-- <ish-lazy-product-add-to-order-template
        [class]="'btn btn-default btn-block'"
        [product]="product"
        [quantity]="quantity"
      ></ish-lazy-product-add-to-order-template>

      <ish-lazy-product-add-to-quote
        [product]="product"
        [disabled]="productDetailForm.invalid"
        [quantity]="quantity"
        [class]="'btn-block'"
      ></ish-lazy-product-add-to-quote> -->
    </div>

    <camfil-product-attributes-preview [product]="product"></camfil-product-attributes-preview>
    <!-- <ish-accordion>
      <ish-accordion-item [heading]="'product.description.heading' | translate">
        <div [innerHTML]="product.longDescription"></div>
      </ish-accordion-item>
      <ish-accordion-item
        *ngIf="product.attributes && product.attributes.length"
        [heading]="'product.details.heading' | translate"
      >
        <ish-product-attributes [product]="product"></ish-product-attributes>
      </ish-accordion-item>
      <ish-accordion-item
        *ngIf="!isMasterProduct(product)"
        [heading]="'product.shipping.heading' | translate"
        dataTestingId="section-shipping-tab"
      >
        <camfil-product-shipment [product]="product"></camfil-product-shipment>
      </ish-accordion-item>
    </ish-accordion> -->
  </div>
  <div class="col-12 col-md-4 col-lg-4 my-3">
    <strong>{{ 'camfil.product.details.guides.headline' | translate }}</strong>

    <camfil-product-technical-documents
      [product]="product"
      [getImageCdnUrl]="getImageCdnUrl"
    ></camfil-product-technical-documents>

    <strong>{{ 'camfil.product.details.badges.headline' | translate }}</strong>
    <camfil-product-badges [product]="product" [getImageCdnUrl]="getImageCdnUrl"></camfil-product-badges>
  </div>
</div>
<div class="row product-data my-4">
  <div class="col-12 col-md-6 product-attributes">
    <h2>{{ 'product.details.heading' | translate }}</h2>
    <camfil-product-attributes [product]="product"></camfil-product-attributes>
  </div>
  <div class="col-12 col-md-6 product-description">
    <h2>{{ 'product.description.heading' | translate }}</h2>
    <p [innerHTML]="product.longDescription"></p>
    <h2>{{ 'product.shipping.heading' | translate }}</h2>
    <camfil-product-shipment [product]="product"></camfil-product-shipment>
  </div>
</div>
