<!-- <ish-product-detail-actions [product]="product" (productToCompare)="addToCompare()"></ish-product-detail-actions> -->
<camfil-loading *ngIf="loading$ | async"></camfil-loading>
<div class="row product-details">
  <div class="col-12 product-details-title">
    <h1>
      <span itemprop="name">{{ product.name }}</span>
    </h1>
    <p *ngIf="category">
      <span>{{ category.name }}</span>
    </p>
  </div>
  <div class="col-12 col-md-4 col-lg-3 pt-3">
    <camfil-product-images [product]="product"></camfil-product-images>
  </div>
  <div class="col-12 col-md-4 col-lg-5 product-info">
    <div class="mat-card mat-focus-indicator p-3 my-3">
      <camfil-product-promotion [product]="product"></camfil-product-promotion>
      <div class="d-flex justify-content-center align-items-center row flex-wrap">
        <div
          class="price-container col-lg-6 col-md-12 col-12"
          itemprop="offers"
          itemscope
          itemtype="http://schema.org/Offer"
        >
          <div class="row">
            <div class="col-12 prices-col">
              <camfil-product-price [product]="product"></camfil-product-price>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12 quantity-row">
          <form
            *ngIf="!isMasterProduct(product)"
            [formGroup]="productDetailForm"
            class="product-form form-horizontal d-flex justify-content-center align-items-center"
          >
            <p class="quantity-form-text">{{ 'camfil.product.quantity.text' | translate }}</p>
            <camfil-product-quantity
              *ngIf="!isRetailSet(product)"
              [allowZeroQuantity]="true"
              [controlName]="quantityControlName"
              [parentForm]="productDetailForm"
              [product]="product"
            ></camfil-product-quantity>
          </form>
        </div>
      </div>
      <div class="row flex-wrap buttons-container">
        <div class="col-lg-6 col-12 d-flex justify-content-center align-items-center">
          <ng-container *ngTemplateOutlet="canAddToCC"> </ng-container>
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-center align-items-center">
          <camfil-product-add-to-basket
            (productToBasket)="addToBasket()"
            (resetQuantityValue)="resetProductDetailForm()"
            [product]="product"
            [quantity]="quantity"
            [translationKey]="isRetailSet(product) ? 'product.add_to_cart.retail_set.link' : 'product.add_to_cart.link'"
            class="btn-link"
            displayType="button"
            hasIcon="true"
            [disabled]="productDetailForm.invalid"
          ></camfil-product-add-to-basket>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex align-items-center">
          <camfil-product-add-to-compare
            (compareToggle)="toggleCompare()"
            *ngIf="showAddToCompare"
            [isInCompareList]="isInCompareList"
            class="btn-link"
          ></camfil-product-add-to-compare>
          <camfil-product-inventory
            *ngIf="!isRetailSet(product) && !isMasterProduct(product)"
            [product]="product"
            [showText]="true"
          ></camfil-product-inventory>
        </div>
      </div>
    </div>
    <camfil-product-attributes-preview [product]="product"></camfil-product-attributes-preview>
  </div>
  <div class="col-12 col-md-4 col-lg-4 my-3">
    <strong>{{ 'camfil.product.details.guides.headline' | translate }}</strong>
    <camfil-product-technical-documents
      [getImageCdnUrl]="getImageCdnUrl"
      [product]="product"
    ></camfil-product-technical-documents>
    <strong>{{ 'camfil.product.details.badges.headline' | translate }}</strong>
    <camfil-product-badges [getImageCdnUrl]="getImageCdnUrl" [product]="product"></camfil-product-badges>
  </div>
</div>
<div class="row product-data my-4">
  <div class="col-12 col-md-6 product-attributes">
    <h2>{{ 'product.details.heading' | translate }}</h2>
    <camfil-product-attributes [product]="product"></camfil-product-attributes>
  </div>
  <div class="col-12 col-md-6 product-description">
    <h2>{{ 'product.description.heading' | translate }}</h2>
    <p [innerHTML]="product.shortDescription"></p>
    <p [innerHTML]="product.longDescription"></p>
    <!-- CAM-1595 (CR) Please remove delivery information on PDP
      <h2>{{ 'product.shipping.heading' | translate }}</h2>
      <camfil-product-shipment [product]="product"></camfil-product-shipment>
    -->
  </div>
</div>
<ng-template #canAddToCC>
  <ng-container *ngIf="isLoggedIn$ | async; else notLoggedIn">
    <ng-container *ngTemplateOutlet="camCardButton"> </ng-container>
  </ng-container>
</ng-template>

<ng-template #notLoggedIn>
  <ng-container *camfilChannelToggle="'showAddToCamCardButtonForNonLoggedInUser'">
    <ng-container *ngTemplateOutlet="camCardButton"> </ng-container>
  </ng-container>
</ng-template>
<ng-template #camCardButton>
  <camfil-lazy-product-add-to-cam-card
    [product]="product"
    [quantity]="quantity"
    class="btn-link cart-big-round-btn secondary-button"
    displayType="round-btn"
    hasIcon="true"
    [disabled]="productDetailForm.invalid"
  ></camfil-lazy-product-add-to-cam-card>
</ng-template>
