h1 {
  margin: 0;
}

.product-info {
  border-right: 1px solid #006a3a;
  border-left: 1px solid #006a3a;
}
.product-data {
  background-color: #f9f8f4;

  h2 {
    margin: 32px 0 16px 0;
  }

  .product-attributes,
  .product-description {
    padding: 60px 135px;
  }

  .product-description {
    border-left: 1px solid #006a3a;
  }
}
