<ng-container *camfilIsAuthorizedTo="['APP_B2B_MANAGE_ALL_ORDERS', 'APP_B2B_MANAGE_OWN_ORDERS']">
  <mat-card class="mb-3 clearfix">
    <mat-card-content data-testing-id="orders-list-item-container">
      <div class="row">
        <!-- Search Box -->
        <div class="col-12 col-md-6 col-lg-3 d-flex align-items-center pr-0 mb-2 mt-0">
          <div class="search-container">
            <mat-icon class="search__icon background-icon" svgIcon="search"></mat-icon>
            <input
              #searchInput
              (focus)="isActive = !isActive"
              (focusout)="isActive = !isActive"
              [class.mat-elevation-z2]="!isActive"
              [class.mat-elevation-z4]="isActive"
              [formControl]="searchInputFilter"
              [placeholder]="'camfil.account.orderlist.search.placeholder.text' | translate"
              autocomplete="off"
              class="search-input"
              matInput
              type="text"
            />
            <div class="buttons">
              <button
                [title]="'camfil.account.orderlist.search.button.title' | translate"
                color="primary"
                mat-flat-button
                name="search"
                type="submit"
              >
                {{ 'camfil.account.orderlist.search.button.title' | translate }}
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex align-items-center mb-2 mt-2 mt-md-0 px-lg-2">
          <!-- Customer Filter -->
          <mat-form-field appearance="fill" class="select-filter w-100 w-md-auto">
            <mat-label>{{ 'camfil.account.orderlist.filter.customer.title' | translate }}</mat-label>
            <mat-select [formControl]="customerFilter">
              <mat-option *ngFor="let customer of customers" [value]="customer?.customerNo">
                {{ customer?.customerName || 'camfil.common.label.none' | translate }}, {{ customer?.customerNo }}
                <ng-container *ngIf="customer?.customerDepartment">, {{ customer.customerDepartment }}</ng-container>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex align-items-center mb-2 mt-2 mt-md-0 pr-md-0 px-lg-2">
          <!-- Date Picker From -->
          <mat-form-field appearance="fill" class="select-filter w-100 w-md-auto">
            <mat-label>{{ 'camfil.account.orderlist.filter.fromDate.title' | translate }}</mat-label>
            <input
              [formControl]="dateFromFilter"
              [matDatepicker]="dateFromPicker"
              [max]="dateToFilter.value"
              matInput
            />
            <mat-datepicker-toggle [for]="dateFromPicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #dateFromPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex align-items-center mb-0 mt-2 mt-md-0 mb-md-2 pl-lg-2">
          <!-- Date Picker To -->
          <mat-form-field appearance="fill" class="select-filter w-100 w-md-auto">
            <mat-label>{{ 'camfil.account.orderlist.filter.toDate.title' | translate }}</mat-label>
            <input [formControl]="dateToFilter" [matDatepicker]="dateToPicker" [min]="dateFromFilter.value" matInput />
            <mat-datepicker-toggle [for]="dateToPicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #dateToPicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <hr />
      <mat-checkbox
        #statusFilters
        (change)="addStatusFilter($event)"
        *ngFor="let status of statuses"
        [checked]="isStatusFilterActive(status)"
        class="mr-3"
        color="primary"
        value="{{ status }}"
      >
        {{
          'camfil.dynamic.account.orderlist.status.' + status.replace(' ', '_').toLowerCase() | translate
        }}</mat-checkbox
      >
      <div class="orders-count float-right">
        {{ 'camfil.account.orderlist.count' | translate }} <strong>{{ dataSource.filteredData.length }}</strong>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="loading-container">
    <table
      (matSortChange)="sortData($event)"
      *ngIf="!isMobileView"
      [dataSource]="dataSource"
      class="mat-elevation-z2"
      mat-table
      matSort
      matSortActive="orderDate"
      matSortDirection="desc"
      matSortDisableClear
    >
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Customer Name Column -->
      <ng-container matColumnDef="customerName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ 'camfil.account.orderlist.table.customer' | translate }}
        </th>
        <td *matCellDef="let order" mat-cell>
          {{ order.customerName || '---' }}, {{ order.customerNo }}
          <ng-container *ngIf="order.customerDepartment">, {{ order.customerDepartment }}</ng-container>
        </td>
      </ng-container>

      <!-- Order No. Column -->
      <ng-container matColumnDef="orderNumber">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ 'account.orderlist.table.order_number' | translate }}
        </th>
        <td *matCellDef="let order" mat-cell>{{ order.orderNumber || '---' }}</td>
      </ng-container>

      <!-- Camfil Order No. Column -->
      <ng-container matColumnDef="camfilNo">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ 'camfil.account.orderlist.table.camfil_order_number' | translate }}
        </th>
        <td *matCellDef="let order" mat-cell>{{ order.camfilNo || '---' }}</td>
      </ng-container>

      <!-- Goods Mark Column -->
      <ng-container matColumnDef="orderGoodsMark">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ 'camfil.account.orderlist.table.goods_mark' | translate }}
        </th>
        <td *matCellDef="let order" mat-cell>{{ order.orderGoodsMark || '---' }}</td>
      </ng-container>

      <!-- Order Date Column -->
      <ng-container matColumnDef="orderDate">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ 'account.orderlist.table.date_of_order' | translate }}
        </th>
        <td *matCellDef="let order" mat-cell>{{ order.orderDate | ishDate }}</td>
      </ng-container>

      <!-- Delivery Date Column -->
      <ng-container matColumnDef="deliveryDate">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ 'camfil.account.orderlist.delivery_date' | translate }}
        </th>
        <td *matCellDef="let order" mat-cell>{{ order.deliveryDate | ishDate }}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="orderStatus">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ 'account.orderlist.table.order_status' | translate }}
        </th>
        <td *matCellDef="let order" mat-cell>
          {{ getOrderStatusText(order.orderStatus) | translate }}
        </td>
      </ng-container>

      <!-- Order Channel Column -->
      <ng-container matColumnDef="orderChannel">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ 'camfil.account.orderlist.order_channel' | translate }}
        </th>
        <td *matCellDef="let order" mat-cell>{{ order.orderChannel || '---' }}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr
        (click)="navigateTo(order)"
        *matRowDef="let order; columns: displayedColumns; let i = index"
        [class.d-none]="i >= tableSize + 2"
        class="orderlist-row"
        mat-row
      ></tr>
    </table>

    <ng-container *ngIf="isMobileView">
      <ng-container *ngFor="let orders of dataSource.filteredData">
        <ng-container *ngTemplateOutlet="ordersMobileRow; context: { orders: orders }"></ng-container>
      </ng-container>
    </ng-container>

    <div *ngIf="dataSource.data.length === 0" class="empty-list col-12">
      <p class="text-center m-3" data-testing-id="emptyList">{{ 'account.orderlist.no_orders_message' | translate }}</p>
    </div>

    <div
      *ngIf="displayShowMoreLink()"
      class="show-more-overlay col-12 d-flex flex-row justify-content-center align-items-center"
    >
      <div class="my-auto text-center p-1">
        <button (click)="showAllOrders()" color="primary" mat-stroked-button type="button">
          {{ 'camfil.account.orderlist.show_more' | translate }}
        </button>
      </div>
    </div>

    <div class="my-3 text-center pt-1">
      {{ 'camfil.account.orderlist.showing_of' | translate: { '0': countRows(), '1': dataSource.filteredData.length } }}
    </div>

    <camfil-loading *ngIf="loading$ | async"></camfil-loading>
  </div>
</ng-container>

<ng-template #ordersMobileRow let-orders="orders">
  <mat-card *ngIf="orders" class="mat-elevation-z box-shadow box-shadow--dark">
    <mat-card-content class="orders-item" data-testing-id="orders-list-item-container">
      <b>{{ 'camfil.account.orderlist.table.customer' | translate }}</b
      ><br />
      {{ orders.customerName || '---' }}<br />
      <b>{{ 'account.orderlist.table.order_number' | translate }}</b
      ><br />
      {{ orders.orderNumber || '---' }}<br />

      <div class="row text-center">
        <div class="col-4">{{ 'camfil.account.orderlist.table.camfil_order_number' | translate }}</div>
        <div class="col-4">{{ 'camfil.account.orderlist.table.goods_mark' | translate }}</div>
        <div class="col-4">{{ 'account.orderlist.table.date_of_order' | translate }}</div>
      </div>
      <div class="row text-center">
        <div class="col-4">{{ orders.camfilNo || '---' }}</div>
        <div class="col-4">{{ orders.orderGoodsMark || '---' }}</div>
        <div class="col-4">{{ orders.orderDate | ishDate }}</div>
      </div>
      <div class="row text-center">
        <div class="col-4">{{ 'camfil.account.orderlist.delivery_date' | translate }}</div>
        <div class="col-4">{{ 'account.orderlist.table.order_status' | translate }}</div>
        <div class="col-4">{{ 'camfil.account.orderlist.order_channel' | translate }}</div>
      </div>
      <div class="row text-center">
        <div class="col-4">{{ orders.deliveryDate | ishDate }}</div>
        <div class="col-4">{{ getOrderStatusText(orders.orderStatus) | translate }}</div>
        <div class="col-4">{{ orders.orderChannel || '---' }}</div>
      </div>
      <hr />
      <div class="text-right">
        <button
          (click)="navigateTo(orders)"
          [id]="'order_' + orders.id"
          [title]="'camfil.account.orderlist.show_more' | translate"
          color="primary"
          mat-stroked-button
        >
          <b>{{ 'camfil.account.orderlist.show_more' | translate }}</b>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <br />
</ng-template>
