<div class="product-item-detailed-container" [attr.data-testing-sku]="product.sku" [class.mat-elevation-z3]="true">
  <div class="product-detailed-left-col">
    <p class="product-title-container">
      <camfil-product-title *ngIf="configuration.displayName" [product]="product"></camfil-product-title>
    </p>
    <p *ngIf="category" class="camfil-product-category-label">
      {{ category.name }}
    </p>
    <div class="d-flex">
      <div class="product-image-container">
        <a [routerLink]="product | ishProductRoute: category">
          <camfil-product-image
            [product]="product"
            imageType="images"
            imageView="default"
            class="product-image d-block"
          ></camfil-product-image>
        </a>
        <camfil-product-label [product]="product"></camfil-product-label>
      </div>
      <div class="product-detail-action-col d-flex flex-column justify-content-between">
        <div>
          <camfil-product-inventory
            *ngIf="configuration.displayInventory && !isMasterProduct(product)"
            [product]="product"
          ></camfil-product-inventory>
        </div>
        <camfil-product-add-to-compare
          *ngIf="configuration.displayAddToCompare"
          [isInCompareList]="isInCompareList"
          class="btn-link"
          (compareToggle)="toggleCompare()"
        ></camfil-product-add-to-compare>
        <camfil-product-quickview [product]="product"></camfil-product-quickview>
      </div>
    </div>
  </div>
  <div class="product-detailed-col-2 d-flex flex-column">
    <div class="product-detailed-inner-col">
      <camfil-product-id *ngIf="configuration.displaySKU" [product]="product"></camfil-product-id>
      <camfil-product-attribute
        name="camfil.product.dimensions.label"
        [value]="product | camfilDimension"
      ></camfil-product-attribute>
      <camfil-product-attribute
        [name]="'camfil.product.efficiency.label' | translate"
        [value]="product | camfilProductAttributeVal: 'IsoEfficiency'"
      ></camfil-product-attribute>
      <camfil-product-attribute
        name="camfil.product.energyClass.label"
        [value]="product | camfilProductAttributeVal: 'Energyclass'"
      ></camfil-product-attribute>
    </div>
  </div>
  <div class="product-detailed-col-3 d-flex flex-column">
    <div class="product-detailed-inner-col">
      <camfil-product-attribute
        name="camfil.product.frame.label"
        [value]="product | camfilProductAttributeVal: 'FrameProduct'"
      ></camfil-product-attribute>
      <camfil-product-attribute
        name="camfil.product.pressureDrop.label"
        [value]="product | camfilProductAttributeVal: 'Pressuredrop'"
      ></camfil-product-attribute>
      <camfil-product-attribute
        name="camfil.product.isoClass.label"
        [value]="product | camfilProductAttributeVal: 'IsoClass'"
      ></camfil-product-attribute>
      <camfil-product-attribute
        name="camfil.product.bags.label"
        [value]="product | camfilProductAttributeVal: 'Filterbags'"
      ></camfil-product-attribute>
    </div>
  </div>
  <div class="product-detailed-col-4">
    <div class="product-prices-container d-flex justify-content-between">
      <camfil-product-attribute
        name="camfil.product.list_price.label"
        [value]="product.listPrice | ishPrice"
      ></camfil-product-attribute>

      <camfil-product-attribute
        name="camfil.product.your_price.label"
        [value]="product.salePrice | ishPrice"
      ></camfil-product-attribute>
    </div>

    <div class="product-list-actions-container d-flex flex-column justify-content-between">
      <ng-container *ngIf="!isMasterProduct(product); else masterProductActions">
        <form [formGroup]="productItemForm" class="product-form form-horizontal row justify-content-center">
          <camfil-product-quantity
            *ngIf="configuration.displayQuantity"
            [readOnly]="configuration.readOnly"
            [allowZeroQuantity]="true"
            [quantityLabel]="configuration.quantityLabel"
            [product]="product"
            [parentForm]="productItemForm"
            [controlName]="quantityControlName"
          >
          </camfil-product-quantity>

          <div class="action-container buttons-container">
            <camfil-product-add-to-basket
              *ngIf="configuration.displayAddToBasket"
              [product]="product"
              [quantity]="updatedQuantity"
              (productToBasket)="addToBasket()"
              displayType="button"
            ></camfil-product-add-to-basket>
            <camfil-lazy-product-add-to-cam-card
              *ngIf="configuration.displayAddToCamCard"
              [quantity]="updatedQuantity"
              class="btn-link cart-big-round-btn"
              [product]="product"
              displayType="round-btn"
            ></camfil-lazy-product-add-to-cam-card>
          </div>
        </form>
      </ng-container>

      <ng-template #masterProductActions>
        <div class="action-container">
          <a [routerLink]="product | ishProductRoute: category" class="btn btn-primary" role="button">
            {{ 'product.choose_variation.link' | translate }}
          </a>
        </div>
      </ng-template>
    </div>
  </div>
</div>
