<table
  *ngIf="!isMobileView"
  mat-table
  [dataSource]="lineItemsProcessed"
  matSort
  matSortActive="rowNumber"
  matSortDirection="desc"
  class="mt-4 mb-2 box-shadow--dark"
>
  <!-- rowNum Column -->
  <ng-container matColumnDef="rowNumber">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'camfil.lineitem.table.row_number' | translate }}
    </th>
    <td mat-cell *matCellDef="let pli">
      {{ pli.rowNumber }}
    </td>
  </ng-container>

  <!-- Art Nr. Column -->
  <ng-container matColumnDef="sku">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'camfil.lineitem.table.art_nr' | translate }}
    </th>
    <td mat-cell *matCellDef="let pli">
      {{ pli.sku }}
    </td>
  </ng-container>

  <!-- Product Name Column -->
  <ng-container matColumnDef="articleName">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'camfil.lineitem.table.product' | translate }}
    </th>
    <td mat-cell *matCellDef="let pli">
      <div>
        {{ pli.articleName }}
        <div *ngIf="measurement(pli)">
          {{ 'camfil.checkout.product.measurements.label' | translate }}: {{ measurement(pli) }}
        </div>
      </div>
    </td>
  </ng-container>

  <!-- Ordered qty Column -->
  <ng-container matColumnDef="orderedQty">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'camfil.lineitem.table.qty_ordered' | translate }}
    </th>
    <td mat-cell *matCellDef="let pli">
      <div class="text-truncate">{{ pli.orderedQty }}</div>
      <!-- <camfil-product-quantity
        [allowZeroQuantity]="false"
        [quantityLabel]="''"
        [product]="pli"
        controlName="quantity"
      ></camfil-product-quantity> -->
    </td>
  </ng-container>

  <!-- Delivered qty Column -->
  <ng-container matColumnDef="deliveredQty">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'camfil.lineitem.table.qty_delivered' | translate }}
    </th>
    <td mat-cell *matCellDef="let pli">
      <div class="text-truncate">{{ pli.deliveredQty }}</div>
      <!-- <camfil-product-quantity
        [allowZeroQuantity]="false"
        [quantityLabel]="''"
        [product]="pli"
        controlName="quantity"
      ></camfil-product-quantity> -->
    </td>
  </ng-container>

  <!-- Box label Column -->
  <ng-container matColumnDef="boxLabel">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'camfil.lineitem.table.box_label' | translate }}
    </th>
    <td mat-cell *matCellDef="let pli">
      <div>{{ pli.boxLabel || '---' }}</div>
    </td>
  </ng-container>

  <!-- Delivery Date Column -->
  <ng-container matColumnDef="deliveryDate">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'camfil.lineitem.table.delivery_date' | translate }}
    </th>
    <td mat-cell *matCellDef="let pli">
      <strong>{{ pli.deliveryDate | ishDate }}</strong>
    </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="totalRowCustomerPrice">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'camfil.lineitem.table.price' | translate }}
    </th>
    <td mat-cell *matCellDef="let pli">
      <strong>{{ handlePrice(pli.totalRowCustomerPrice, pli.currency) | ishPrice }}</strong>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let pli; columns: displayedColumns; let i = index" class="orderlist-row"></tr>
</table>

<ng-container *ngIf="isMobileView">
  <ng-container *ngFor="let pli of lineItemsProcessed.data">
    <ng-container *ngTemplateOutlet="mobileRow; context: { pli: pli }"></ng-container>
  </ng-container>
</ng-container>

<ng-template #mobileRow let-pli="pli">
  <mat-card *ngIf="pli" class="mat-elevation-z box-shadow box-shadow--dark">
    <mat-card-content data-testing-id="line-item-container" class="pli-mobile">
      <b>{{ 'camfil.lineitem.table.art_nr' | translate }}</b
      ><br />
      {{ pli.sku || '---' }}<br />
      <div class="row text-center">
        <div class="col-4">{{ 'camfil.lineitem.table.product' | translate }}</div>
        <div class="col-4">{{ 'camfil.lineitem.table.qty_ordered' | translate }}</div>
        <div class="col-4">{{ 'camfil.lineitem.table.qty_delivered' | translate }}</div>
      </div>
      <div class="row text-center">
        <div class="col-4">
          {{ pli.articleName }}
          <div *ngIf="measurement(pli)">
            {{ 'camfil.checkout.product.measurements.label' | translate }}: {{ measurement(pli) }}
          </div>
        </div>
        <div class="col-4">
          <div class="text-truncate">{{ pli.orderedQty }}</div>
        </div>
        <div class="col-4">
          <div class="text-truncate">{{ pli.deliveredQty }}</div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-4">{{ 'camfil.lineitem.table.box_label' | translate }}</div>
        <div class="col-4">{{ 'camfil.lineitem.table.delivery_date' | translate }}</div>
        <div class="col-4">{{ 'camfil.lineitem.table.price' | translate }}</div>
      </div>
      <div class="row text-center">
        <div class="col-4">
          <div>{{ pli.boxLabel || '---' }}</div>
        </div>
        <div class="col-4">
          <strong>{{ pli.deliveryDate | ishDate }}</strong>
        </div>
        <div class="col-4">
          {{ 'camfil.lineitem.table.price_label' | translate }} <strong>{{ pli.totalRowCustomerPrice }}</strong>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <br />
</ng-template>
