<div class="mat-elevation-z2 camfil-checkout-list">
  <mat-action-row>
    <strong (click)="toggleOrder()" class="d-flex align-items-center">
      <mat-icon class="arrow_down" [class.arrow_down--expanded]="isOrderOpen">arrow_left</mat-icon>
      <ng-container *ngTemplateOutlet="orderHeader"></ng-container>
    </strong>
  </mat-action-row>
  <mat-accordion>
    <mat-expansion-panel [expanded]="isOrderOpen">
      <ng-container *ngTemplateOutlet="orderContent"></ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #orderHeader let-camCard="camCard">
  <div class="d-inline-flex">
    <strong *ngIf="order">
      {{ 'camfil.checkout.order' | translate }} {{ !!totalOrders ? index + ' / ' + totalOrders : '' }}</strong
    >
    <span data-id-id="order-number" class="order-number"
      >{{ order?.customer?.customerNo }}, {{ order?.customer?.companyName }}</span
    >
  </div>
</ng-template>

<!-- <h1 *ngIf="order" class="d-block d-md-none">
  {{ 'account.orderdetails.order_number.label' | translate }}:
  <span data-testing-id="order-number">{{ order.id }} - {{ order.orderName }}</span>
</h1> -->

<ng-template #orderContent>
  <mat-card *ngIf="order" class="mb-2 box-shadow--dark mat-elevation-z clearfix">
    <div class="row">
      <div class="order-summary-info col-sm-5 border-sm-right" data-testing-id="order-summary-info">
        <dl class="row dl-horizontal dl-separator">
          <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.customer_id.label' | translate }}</dt>
          <dd class="col-6 p-0" data-testing-id="order-customer_id">{{ order?.customer?.customerNo }}</dd>
          <dt class="col-6 p-0 pb-4">{{ 'camfil.account.orderdetails.customer_name.label' | translate }}</dt>
          <dd class="col-6 p-0" data-testing-id="order-customer_name">{{ order?.customer?.companyName }}</dd>
          <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.contact_person.label' | translate }}</dt>
          <dd class="col-6 p-0" data-testing-id="order-contact_person">
            {{ order.contactPerson?.firstName }} {{ order.contactPerson?.lastName }}
          </dd>
          <dt class="col-6 p-0">{{ 'camfil.checkout.phone' | translate }}</dt>
          <dd class="col-6 p-0" data-testing-id="order-camfil_no">{{ order?.phoneNumber || '-' }}</dd>
          <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.delivery_address.label' | translate }}</dt>
          <dd class="col-6 p-0" data-testing-id="order-delivery_address">
            <!-- <ish-address [address]="orderAddress"></ish-address> -->
            <camfil-checkout-delivery-address [address]="orderAddress"></camfil-checkout-delivery-address>
          </dd>
          <ng-container *ngIf="isConfirmed">
            <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.goods_mark.label' | translate }}</dt>
            <dd class="col-6 p-0" data-testing-id="order-customer_id">{{ order?.orderMark || '-' }}</dd>
            <dt class="col-6 p-0">{{ 'camfil.checkout.form.invoice_mark' | translate }}</dt>
            <dd class="col-6 p-0" data-testing-id="order-customer_id">{{ order?.invoiceLabel || '-' }}</dd>
            <dt class="col-6 p-0">{{ 'camfil.checkout.form.delivery_date' | translate }}</dt>
            <dd class="col-6 p-0" data-testing-id="order-customer_id">{{ order?.deliveryDate || '-' }}</dd>
          </ng-container>
        </dl>
        <ng-container *ngIf="emailRecipients.length">
          <div class="row recipients-container">
            <dt class="col-6 p-0">Email recipients</dt>
            <div *ngFor="let recipient of emailRecipients">
              <button mat-stroked-button color="primary" class="recipient-button d-flex align-items-center">
                {{ recipient }}
                <span
                  class="delete-recipient-icon-wrapper d-inline-flex align-items-center justify-content-center"
                  (click)="removeSelectedRecipient(recipient)"
                  ><mat-icon
                    _ngcontent-intershop-pwa-c283=""
                    role="img"
                    class="notranslate material-icons color-light"
                    aria-hidden="true"
                    data-mat-icon-type="font"
                    >close</mat-icon
                  ></span
                >
              </button>
            </div>
          </div>
        </ng-container>
      </div>
      <div
        class="order-summary-info col-sm-3 border-sm-right"
        data-testing-id="order-summary-info"
        *ngIf="!isConfirmed"
      >
        <form *ngIf="orderForm" [formGroup]="orderForm" class="form-horizontal" novalidate="novalidate">
          <div class="mat-form-field__wrapper">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>{{ 'camfil.checkout.form.order_mark' | translate }}</mat-label>
              <input
                matInput
                formControlName="orderMark"
                label="camfil.checkout.form.order_mark"
                (change)="onBlurSubmit('orderMark')"
              />
            </mat-form-field>
            <camfil-error
              [errors]="getField('orderMark').errors"
              [errorValidators]="validators.orderMark"
              [touched]="getField('orderMark').touched || getField('orderMark').dirty"
            ></camfil-error>
          </div>

          <div class="mat-form-field__wrapper">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>{{ 'camfil.checkout.form.invoice_mark' | translate }}</mat-label>
              <input
                matInput
                formControlName="invoiceLabel"
                label="camfil.checkout.form.invoice_mark"
                (change)="onBlurSubmit('invoiceLabel')"
              />
            </mat-form-field>
            <camfil-error
              [errors]="getField('invoiceLabel').errors"
              [errorValidators]="validators.invoiceLabel"
              [touched]="getField('invoiceLabel').touched || getField('invoiceLabel').dirty"
            ></camfil-error>
          </div>

          <div class="mat-form-field__wrapper">
            <mat-form-field appearance="fill">
              <mat-label>{{ 'camfil.checkout.form.delivery_date' | translate }}</mat-label>
              <input
                [disabled]="!calendarException.length"
                matInput
                [matDatepicker]="pickerLast"
                [matDatepickerFilter]="filterDates.bind(this)"
                formControlName="deliveryDate"
                [min]="firstAvailableDelivery"
                [value]="orderFullDeliveryDate"
                (dateChange)="changeDeliveryDate($event)"
              />
              <mat-datepicker-toggle matSuffix [for]="pickerLast">
                <mat-icon svgIcon="calendar" matDatepickerToggleIcon></mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker [dateClass]="dateClass" #pickerLast></mat-datepicker>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="order-summary-info col-sm-6" data-testing-id="order-summary-info" *ngIf="isConfirmed">
        <dl class="row dl-horizontal dl-separator mb-0">
          <dt class="col-6 p-0">{{ 'camfil.checkout.invoice_address' | translate }}</dt>
          <dd class="col-6 p-0" data-testing-id="order-delivery_address">
            <ish-address [address]="basketInvoiceAddress"></ish-address>
          </dd>
          <dt class="col-6 p-0">{{ 'camfil.checkout.shipping_method' | translate }}</dt>
          <dd class="col-6 p-0" data-testing-id="order-channel">
            {{ 'camfil.checkout.standard_shipping' | translate }}
          </dd>
          <dt class="col-6 p-0">{{ 'camfil.checkout.payment_method' | translate }}</dt>
          <dd class="col-6 p-0" data-testing-id="order-contact_person">{{ 'camfil.checkout.invoice' | translate }}</dd>
          <dt class="col-6 p-0" data-testing-id="order-form-note">{{ 'camfil.checkout.form.note' | translate }}</dt>
          <dd class="col-6 p-0" data-testing-id="order-customer_id">{{ order?.info || '-' }}</dd>
        </dl>
        <br />
        <a
          mat-stroked-button
          class="btn-track-order float-right mr-n4"
          color="primary"
          routerLink="#"
          data-testing-id="orders-link"
        >
          {{ 'camfil.account.orderdetails.links.track_order' | translate }}</a
        >
      </div>
      <div class="order-summary-info col-sm-4" data-testing-id="order-summary-info" *ngIf="!isConfirmed">
        <div class="order-cta-container" [formGroup]="orderForm">
          <ul class="order-cta">
            <li>
              <a (click)="openAddEmailRecipientModal()">
                <mat-icon svgIcon="contact" class="add-email-recipient-icon"></mat-icon>
                {{ 'camfil.checkout.cta.add_email_recipient' | translate }}
              </a>
            </li>
            <li>
              <a (click)="openAddToProductModal(addNewProductModal)">
                <mat-icon svgIcon="plus" class="add-icon"></mat-icon>
                {{ 'camfil.checkout.cta.add_product' | translate }}
              </a>
            </li>
            <li>
              <button
                class="mat-button mat-button-base double-qty-btn"
                [ngClass]="{ 'mat-button-disabled': !order.lineItems?.length }"
                (click)="doubleArticlesQuantity(order)"
                [disabled]="!order.lineItems?.length"
              >
                <mat-icon
                  svgIcon="copy"
                  class="double-add-icon"
                  [ngClass]="{ 'mat-icon-no-color': !order.lineItems?.length }"
                ></mat-icon>
                {{ 'camfil.checkout.cta.double_quantity' | translate }}
              </button>
            </li>
            <li>
              <a (click)="openEditModal(editModal)"
                ><mat-icon svgIcon="edit" class="edit-icon"></mat-icon>
                {{ 'camfil.checkout.cta.edit_details' | translate }}</a
              >
            </li>
            <li>
              <camfil-delete-order [order]="order"></camfil-delete-order>
            </li>
          </ul>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{ 'camfil.checkout.form.note' | translate }}</mat-label>
            <textarea
              matInput
              formControlName="info"
              label="camfil.checkout.form.note"
              (change)="onBlurSubmit('info')"
            ></textarea>
          </mat-form-field>
          <camfil-error
            [errors]="getField('info').errors"
            [errorValidators]="validators.info"
            [touched]="getField('info').touched || getField('info').dirty"
          ></camfil-error>
        </div>
      </div>
    </div>
  </mat-card>

  <ng-container *ngIf="order">
    <!-- Line Items -->
    <div>
      <div
        cdkDropList
        [cdkDropListData]="order.lineItems"
        (cdkDropListDropped)="drop($event, order)"
        [attr.data-order-id]="order?.id"
      >
        <ng-container *ngFor="let product of order.lineItems; of: sortBy(); index as i">
          <div
            class="list-item-row list-item-row-big px-4 py-1 mt-2 line-item-container"
            [cdkDragData]="product"
            cdkDrag
          >
            <div class="d-flex align-items-center">
              <span class="d-flex align-items-center justify-content-center line-item-index">{{ i + 1 }}</span>
              <mat-icon
                svgIcon="move"
                class="size-24 d-none d-md-block handle"
                cdkDragHandle
                *ngIf="!isConfirmed"
              ></mat-icon>
              <camfil-checkout-line-item
                [id]="product.productSKU"
                [product]="product"
                [basketId]="order?.basket"
                [bucketId]="order?.id"
                [lineItemIndex]="i"
                [isPartialDelivery]="isPartialDelivery"
                [orderDeliveryDate]="selectedDeliveryDate"
                [isConfirmed]="isConfirmed"
                (handleLoad)="handleProductLoad($event)"
              ></camfil-checkout-line-item>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="bg-light p-2 box-shadow d-flex align-items-center" *ngIf="deliveryTerm">
      <mat-icon svgIcon="delivery" class="size-35 ml-2 mr-4"></mat-icon>
      <div class="w-100">
        <b>{{ deliveryTerm.description }}</b>
        <hr class="m-1" />
        <b *ngIf="freeDelivery.value > 0">{{
          'camfil.checkout.free_delivery.threshold' | translate: { '0': (freeDelivery | ishPrice) }
        }}</b>
        <b *ngIf="!(freeDelivery.value > 0)">{{ 'camfil.checkout.free_delivery' | translate }}</b>
      </div>
    </div>

    <!-- Cost Summary -->
    <div *ngIf="order">
      <div class="section cost-summary float-right box-shadow--dark mat-elevation-z">
        <dl class="row dl-horizontal dl-separator mb-0">
          <dt class="col-6">{{ 'camfil.checkout.volume_discount' | translate }}</dt>
          <dd class="col-6">{{ discount() | ishPrice }}</dd>
          <dt class="col-6">{{ 'camfil.checkout.single_total_price_after' | translate }}</dt>
          <dd class="col-6">{{ totalPrice() | ishPrice }}</dd>
          <dt class="col-6">{{ 'camfil.checkout.tax_amount' | translate }}</dt>
          <dd class="col-6">{{ totalTax() | ishPrice }}</dd>
          <dt class="col-6">{{ 'camfil.checkout.single_total_price_after' | translate }}</dt>
          <dd class="col-6">{{ totalPrice('gross') | ishPrice }}</dd>
        </dl>
        <camfil-basket-cost-summary [totals]="order.totals"></camfil-basket-cost-summary>
      </div>
    </div>
  </ng-container>
</ng-template>

<camfil-modal-add-new-product
  #addNewProductModal
  [order]="order"
  [addToOrder]="true"
  [shippingMethodId]="shippingMethodId"
>
</camfil-modal-add-new-product>

<camfil-edit-order-modal #editModal [order]="order"></camfil-edit-order-modal>

<camfil-small-cta-modal
  actionTitle="{{ modalDeliveryText | translate }}"
  actionButtonTitle="{{ 'camfil.checkout.create_new_order.temporary_order.ok' | translate }}"
  onlyAccept="true"
  icon="calendar"
>
</camfil-small-cta-modal>
<div *ngIf="order" class="d-none">
  <camfil-add-email-recipient-modal #addEmailRecipientsModal></camfil-add-email-recipient-modal>
</div>
