<div class="mat-elevation-z2 camfil-checkout-list">
  <mat-action-row>
    <strong (click)="toggleOrder()" class="d-flex align-items-center">
      <mat-icon class="arrow_down" [class.arrow_down--expanded]="isOrderOpen">arrow_left</mat-icon>
      <ng-container *ngTemplateOutlet="orderHeader"></ng-container>
    </strong>
  </mat-action-row>
  <mat-accordion>
    <mat-expansion-panel [expanded]="isOrderOpen">
      <ng-container *ngTemplateOutlet="orderContent"></ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #orderHeader let-camCard="camCard">
  <div class="d-inline-flex">
    <strong *ngIf="order"> {{ 'camfil.checkout.order' | translate }} {{ order.id }}</strong>
    <span data-testing-id="order-number" class="order-number"
      >{{ order?.orderName }}, {{ order?.customer.companyName }}</span
    >
  </div>
</ng-template>

<!-- <h1 *ngIf="order" class="d-block d-md-none">
  {{ 'account.orderdetails.order_number.label' | translate }}:
  <span data-testing-id="order-number">{{ order.id }} - {{ order.orderName }}</span>
</h1> -->

<ng-template #orderContent>
  <mat-card *ngIf="order" class="mb-2 box-shadow--dark mat-elevation-z clearfix">
    <div class="row">
      <div class="order-summary-info col-sm-5 border-sm-right" data-testing-id="order-summary-info">
        <dl class="row dl-horizontal dl-separator">
          <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.customer_id.label' | translate }}</dt>
          <dd class="col-6 p-0" data-testing-id="order-customer_id">{{ order.customer.id }}</dd>
          <dt class="col-6 p-0 pb-4">{{ 'camfil.account.orderdetails.customer_name.label' | translate }}</dt>
          <dd class="col-6 p-0" data-testing-id="order-customer_name">{{ order.customer.companyName }}</dd>
          <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.contact_person.label' | translate }}</dt>
          <dd class="col-6 p-0" data-testing-id="order-contact_person">
            {{ order.contacts[0]?.firstName }} {{ order.contacts[0]?.lastName }}
          </dd>
          <dt class="col-6 p-0">{{ 'camfil.checkout.phone' | translate }}</dt>
          <dd class="col-6 p-0" data-testing-id="order-camfil_no">-</dd>
          <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.delivery_address.label' | translate }}</dt>
          <dd class="col-6 p-0" data-testing-id="order-delivery_address">
            <ish-address [address]="order.shipToAddressFull"></ish-address>
          </dd>
        </dl>
      </div>
      <div class="order-summary-info col-sm-3 border-sm-right" data-testing-id="order-summary-info">
        <form [formGroup]="orderForm" class="form-horizontal" novalidate="novalidate">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{ 'camfil.checkout.form.order_mark' | translate }}</mat-label>
            <input
              matInput
              formControlName="orderMark"
              label="camfil.checkout.form.order_mark"
              markRequiredLabel="off"
              maxlength="35"
            />
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{ 'camfil.checkout.form.invoice_mark' | translate }}</mat-label>
            <input
              matInput
              formControlName="invoiceMark"
              label="camfil.checkout.form.invoice_mark"
              markRequiredLabel="off"
              maxlength="35"
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'camfil.checkout.form.delivery_date' | translate }}</mat-label>
            <input matInput [matDatepicker]="pickerLast" formControlName="deliveryDate" readonly />
            <mat-datepicker-toggle matSuffix [for]="pickerLast">
              <mat-icon svgIcon="calendar" matDatepickerToggleIcon></mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #pickerLast></mat-datepicker>
          </mat-form-field>
        </form>
      </div>
      <div class="order-summary-info col-sm-4" data-testing-id="order-summary-info">
        <div class="order-cta-container" [formGroup]="orderForm">
          <ul class="order-cta">
            <li>
              <a (click)="openAddToProductModal(addNewProductModal)">
                <mat-icon svgIcon="plus" class="add-icon"></mat-icon>
                {{ 'camfil.checkout.cta.add_product' | translate }}
              </a>
            </li>
            <li>
              <a (click)="openEditModal(editModal)"
                ><mat-icon svgIcon="edit" class="edit-icon"></mat-icon>
                {{ 'camfil.checkout.cta.edit_details' | translate }}</a
              >
            </li>
            <li>
              <a
                ><mat-icon svgIcon="delete" class="remove-icon"></mat-icon>
                {{ 'camfil.checkout.cta.delete_order' | translate }}</a
              >
            </li>
          </ul>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{ 'camfil.checkout.form.note' | translate }}</mat-label>
            <textarea
              matInput
              formControlName="note"
              label="camfil.checkout.form.note"
              markRequiredLabel="off"
              maxlength="35"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-card>

  <ng-container *ngIf="order">
    <!-- Line Items -->
    <div>
      <div
        cdkDropList
        [cdkDropListData]="order.lineItems"
        (cdkDropListDropped)="drop($event, order)"
        [attr.data-order-id]="order.id"
      >
        <ng-container *ngFor="let product of order.lineItems; of: sortBy(); index as i">
          <div class="list-item-row list-item-row-big px-4 py-1 mt-2" [cdkDragData]="product" cdkDrag>
            <div class="d-flex align-items-center">
              <mat-icon svgIcon="move" class="size-24 d-none d-md-block handle" cdkDragHandle></mat-icon>
              <camfil-checkout-line-item
                [id]="product.productSKU"
                [product]="product"
                [basketId]="order?.basket"
                [bucketId]="order?.id"
              ></camfil-checkout-line-item>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <!-- Cost Summary -->
    <div *ngIf="order">
      <div class="section cost-summary float-right box-shadow--dark mat-elevation-z">
        <dl class="row dl-horizontal dl-separator mb-0">
          <dt class="col-6">{{ 'camfil.checkout.volume_discount' | translate }}</dt>
          <dd class="col-6">{{ discount() | ishPrice }}</dd>
          <dt class="col-6">{{ 'camfil.checkout.single_total_price_after' | translate }}</dt>
          <dd class="col-6">{{ totalPrice() | ishPrice }}</dd>
          <dt class="col-6">{{ 'camfil.checkout.tax_amount' | translate }}</dt>
          <dd class="col-6">{{ totalTax() | ishPrice }}</dd>
        </dl>
        <camfil-basket-cost-summary [totals]="order.totals"></camfil-basket-cost-summary>
      </div>
    </div>
  </ng-container>
</ng-template>

<camfil-modal-add-new-product #addNewProductModal [order]="order" [addToOrder]="true"> </camfil-modal-add-new-product>

<camfil-edit-order-modal #editModal [order]="order"></camfil-edit-order-modal>
