<ng-template #userHeader>
  <camfil-my-page-header>
    <ng-container slot="back">
      <button
        mat-stroked-button
        [routerLink]="['/account/organization']"
        queryParamsHandling="preserve"
        color="primary"
      >
        <mat-icon class="mt-n1">arrow_left</mat-icon>
        {{ 'camfil.account.organization.user_management.back_to_list' | translate }}
      </button>
    </ng-container>
    <ng-container slot="title">
      {{ 'camfil.account.organization.edit_user.header.text' | translate }}
    </ng-container>
    <ng-container slot="extra">
      <button mat-stroked-button [routerLink]="['/account/organization']" class="mr-2">
        {{ 'camfil.account.organization.list.cancel.button.text' | translate }}
      </button>
      <button
        mat-flat-button
        color="primary"
        [routerLink]="['/account/organization/create']"
        (click)="onCreateCustomerUser()"
      >
        {{ 'camfil.account.organization.list.create_new_user.button.text' | translate }}
      </button>
    </ng-container>
  </camfil-my-page-header>
</ng-template>

<ng-template #userDetails>
  <camfil-organization-user-details-form
    [customer]="newUserCustomer$ | async"
    [user]="newUser$ | async"
    (changeUser)="onUpdateNewCustomerUser($event)"
  ></camfil-organization-user-details-form>
</ng-template>

<ng-template #userCustomersContacts>
  <p *ngIf="!(validCustomerContactRoles$ | async)" class="mt-4 text-danger">
    {{ 'camfil.account.organization.create_new_user.customers_contacts_roles.validation.text' | translate }}
  </p>
  <div class="section section--customers">
    <h2 class="section__title">
      {{ 'camfil.account.organization.edit_user.customers.header.text' | translate }}
    </h2>
    <div class="section__content">
      <camfil-organization-user-customer-contact-form
        *ngFor="let customer of customers$() | async"
        [customer]="customer"
        [user]="newUser$ | async"
        [staticCustomers]="newUserStaticCustomers$ | async"
        (connectUserWithCustomer)="onConnectUserWithCustomer($event)"
        (disconnectUserFromCustomer)="onDisconnectUserFromCustomer($event)"
        (connectContactWithUserAndCustomer)="onConnectContactWithUserAndCustomer($event)"
      >
      </camfil-organization-user-customer-contact-form>
    </div>
  </div>
</ng-template>

<ng-template #userApprovers>
  <div class="section section--customers">
    <h2 class="section__title">Approvers</h2>
    <div class="section__content">
      <camfil-organization-user-approvers
        [user]="userWithApprovers$() | async"
        [approverUsers]="approverUsers$ | async"
        (changeApprovers)="onUpdateApprovers($event)"
      >
      </camfil-organization-user-approvers>
    </div>
  </div>
</ng-template>

<ng-template #userRoles>
  <div class="section section--roles">
    <h2 class="section__title">
      {{ 'camfil.account.organization.edit_user.roles.header.text' | translate }}
    </h2>
    <div class="section__content">
      <camfil-organization-user-roles-form
        [roles]="roles$() | async"
        [staticRoles]="newUserStaticRoles$ | async"
        [selectedRoles]="newUserRoles$ | async"
        (selectCustomerUserRoles)="onUpdateSelectedCustomerUserRoles($event)"
      >
      </camfil-organization-user-roles-form>
    </div>
  </div>
</ng-template>

<ng-container *ngTemplateOutlet="userHeader"></ng-container>

<form (ngSubmit)="onCreateCustomerUser()">
  <mat-card class="mat-elevation-z2 clearfix">
    <div class="row no-gutters">
      <div class="col-12">
        <ng-container *ngTemplateOutlet="userDetails"></ng-container>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-sm-7 col-12">
        <ng-container *ngTemplateOutlet="userCustomersContacts"></ng-container>
        <ng-container *ngIf="showApprovers$() | async">
          <ng-container *ngTemplateOutlet="userApprovers"></ng-container>
        </ng-container>
      </div>
      <div class="col-sm-5 col-12">
        <ng-container *ngTemplateOutlet="userRoles"></ng-container>
      </div>
    </div>
  </mat-card>
</form>

<camfil-loading *ngIf="loading$() | async"></camfil-loading>
