<div class="product-list row">
  <div *ngIf="!products.length && !(listingLoading$ | async)" class="p-4 bg-secondary w-100">
    {{ 'search.noresult.filtered_products.message' | translate }}
  </div>

  <div *ngIf="listingLoading$ | async" class="product-list-loading">
    <ish-loading [standalone]="true"></ish-loading>
  </div>

  <ng-container *ngFor="let sku of products; let i = index">
    <ng-container *ngIf="!ifLimit(i)">
      <div *ngIf="isSimpleView" class="col-lg-12 product-list-item simple-view">
        <camfil-product-item
          [configuration]="{ displayType: 'simple' }"
          [productSku]="sku"
          [category]="category"
          [deviceType]="deviceType$ | async"
        >
        </camfil-product-item>
      </div>

      <div *ngIf="isDetailedView" class="col-lg-12 product-list-item detailed-view">
        <camfil-product-item [configuration]="{ displayType: 'detailed' }" [productSku]="sku" [category]="category">
        </camfil-product-item>
      </div>
    </ng-container>
  </ng-container>

  <div *ngIf="products.length > minForBottomLoading && listingLoading$ | async" class="col-12">
    <ish-loading [standalone]="true"></ish-loading>
  </div>
</div>
