<div class="row">
  <div class="col-md-5 col-6">
    <mat-card class="filter">
      <mat-card-header class="d-flex align-items-center filter__header">
        <mat-card-title>Supply Air</mat-card-title>
        <mat-icon svgIcon="error"></mat-icon>
      </mat-card-header>
      <mat-card-content class="filter__content">
        <dl>
          <dt class="filter__attr">{{ 'camfil.ahu.detail.filter-slots' | translate }}</dt>
          <dd class="filter__attr-value">2</dd>
          <dt class="filter__attr">{{ 'camfil.product.dimensions.label' | translate }}</dt>
          <dd>
            <span class="filter__attr-value">2 x 550x307x48</span>
            <span class="filter__attr-value">1 x 330x300x47</span>
          </dd>
        </dl>
        <a href="">{{ 'camfil.ahu.detail.select.filters' | translate }}</a>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-5 col-6">
    <mat-card class="filter">
      <mat-card-header class="d-flex align-items-center filter__header">
        <mat-card-title>Exhaust Air</mat-card-title>
        <mat-icon svgIcon="error"></mat-icon>
      </mat-card-header>
      <mat-card-content class="filter__content">
        <dl>
          <dt class="filter__attr">{{ 'camfil.ahu.detail.filter-slots' | translate }}</dt>
          <dd class="filter__attr-value">2</dd>
          <dt class="filter__attr">{{ 'camfil.product.dimensions.label' | translate }}</dt>
          <dd>
            <span class="filter__attr-value">2 x 550x307x48</span>
            <span class="filter__attr-value">1 x 330x300x47</span>
          </dd>
        </dl>
        <a href="">{{ 'camfil.ahu.detail.select.filters' | translate }}</a>
      </mat-card-content>
    </mat-card>
  </div>
</div>
