<camfil-my-page-header>
  <ng-container slot="title">
    {{ 'camfil.account.organization.edit_user.header.text' | translate }}
  </ng-container>
  <ng-container slot="extra">
    <button mat-flat-button color="primary" [routerLink]="['/account/organization/create']">
      {{ 'camfil.account.organization.list.create_new_user.button.text' | translate }}
    </button>
  </ng-container>
</camfil-my-page-header>

<camfil-organization-users-list-toolbar
  [dataSource]="dataSource"
  (applyFilter)="applyFilter($event)"
></camfil-organization-users-list-toolbar>

<camfil-organization-users-list
  [dataSource]="dataSource"
  [dataSourceColumns]="dataSourceColumns"
></camfil-organization-users-list>

<ish-loading *ngIf="loading$() | async"></ish-loading>
