<mat-card class="mat-elevation-z">
  <mat-card-content>
    <div class="row">
      <div class="col-12 col-md-5 d-flex align-items-center">
        <form role="search" class="search clearfix" name="SearchBox_Header">
          <mat-icon svgIcon="search" class="search__icon background-icon"></mat-icon>
          <input
            placeholder="{{ 'camfil.account.cam_cards.search.input.placeholder' | translate }}"
            type="text"
            class="search-input"
            [class.mat-elevation-z2]="true"
            [(ngModel)]="searchInput"
            [ngModelOptions]="{ standalone: true }"
            (input)="submit($event.target.value)"
          />

          <div class="buttons">
            <button type="submit" name="search" title="Search" mat-flat-button color="primary">
              {{ 'camfil.account.cam_cards.search.btn.label' | translate }}
            </button>
          </div>
        </form>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <mat-form-field appearance="fill" [class.mat-elevation-z2]="true">
          <mat-label>{{ 'camfil.account.cam_cards.search.select.label' | translate }}</mat-label>
          <mat-select [(ngModel)]="selectInput" (selectionChange)="submit($event.value)">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let customer of customers" [value]="customer.name">
              {{ customer.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-6 col-md-3 d-flex align-items-center">
        <div class="total">
          {{ 'camfil.account.cam_cards.search.total' | translate }}: <span>{{ count }}</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
