<mat-card class="mat-elevation-z">
  <mat-card-content>
    <div class="row">
      <div class="col-12 col-md-5 d-flex align-items-center">
        <form class="search clearfix" name="SearchBox_Header" role="search">
          <mat-icon class="search__icon background-icon" svgIcon="search"></mat-icon>
          <input
            (input)="searchInputChanged($event.target)"
            [class.mat-elevation-z2]="true"
            class="search-input"
            placeholder="{{ 'camfil.account.cam_card.search.input.placeholder' | translate }}"
            type="text"
          />
          <div class="buttons">
            <button color="primary" mat-flat-button name="search" title="Search" type="submit">
              {{ 'camfil.account.cam_card.search.btn.label' | translate }}
            </button>
          </div>
        </form>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <mat-form-field [class.mat-elevation-z2]="true" appearance="fill">
          <mat-label>
            {{ 'camfil.account.cam_card.search.select.label' | translate }}
          </mat-label>
          <mat-select (selectionChange)="selectInputChanged($event)">
            <mat-option>
              {{ 'camfil.account.cam_card.search.select.all.customers' | translate }}
            </mat-option>
            <mat-option *ngFor="let customer of customers" [value]="customer">
              {{ customer.companyName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-6 col-md-3 d-flex align-items-center">
        <div class="total">
          {{ 'camfil.account.cam_card.search.total' | translate }}: <span>{{ count }}</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
