<div class="col-md-6 forgot-password">
  <ish-content-include includeId="camfil.include.remind-password.content.pagelet2-Include"></ish-content-include>
  <h1 class="heading">{{ 'camfil.account.forgotdata.password_retrieval.heading' | translate }}</h1>

  <ng-container *ngIf="success$ | async; else forgotPasswordForm">
    <p class="subtitle">{{ 'camfil.account.send_password.message' | translate }}</p>
  </ng-container>

  <ng-template #forgotPasswordForm>
    <p [ishServerHtml]="'camfil.account.forgotdata.password_retrieval_info.text' | translate" class="subtitle"></p>

    <ish-error-message [error]="error$ | async"></ish-error-message>

    <div class="forgot-password__form-wrapper">
      <camfil-remind-password-form
        (submitPasswordReminder)="requestPasswordReminder($event)"
      ></camfil-remind-password-form>
    </div>
  </ng-template>

  <camfil-loading *ngIf="loading$ | async"></camfil-loading>
</div>
