@import '~src/styles/themes/camfil/colors';
@import '~src/styles/themes/camfil/variables';
@import '~src/styles/themes/camfil/mixins.scss';

.camfil-banner {
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 56px;
  padding-left: 86px;
  background-color: $camfil-color-image-placeholder;

  &__header {
    display: flex;

    &--icon {
      width: 64px;
      height: 64px;

      &::ng-deep svg g {
        stroke: $camfil-text-color-tertiary;
      }
    }

    &--title {
      margin-bottom: 0;
      font-family: $font-family-bold;
      font-size: 64px;
      line-height: 64px;
      text-transform: none;
    }
  }

  &__description {
    margin: 16px 0 0;
    text-transform: none;
    @include font-size-h3;
  }

  &__link {
    margin-top: 24px;
  }
}
