@import '../../../../styles/themes/camfil/mixins';
@import '../../../../styles/themes/camfil/variables';

:host {
  width: 100%;

  @include product_attributes;

  .line-item {
    justify-content: space-between;
    justify-content: flex-end;
    ::ng-deep {
      camfil-product-title {
        height: 3em;
        line-height: 1em;
        .camfil-product-title {
          height: 3em;
          overflow: hidden;
          line-height: 1.2em;
          white-space: normal;
        }
      }
    }
  }

  .line-item-container {
    position: relative;
    height: auto;

    .line-item-index {
      position: absolute;
      top: 4px;
      left: 4px;
      width: $space-box;
      height: $space-box;
      font-size: $font-size-overline;
      border: 1px solid $camfil-color-secondary;
      border-radius: 50%;
    }
  }

  .line-item-grid {
    display: grid;
    grid-template-areas:
      'grid-area-image grid-area-label grid-area-deliverydate'
      'grid-area-actions grid-area-actions grid-area-actions';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: $screen-sm-max) {
      grid-template-areas:
        'grid-area-image grid-area-image'
        'grid-area-label grid-area-deliverydate'
        'grid-area-actions grid-area-actions';
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $screen-xs-max) {
      grid-template-areas:
        'grid-area-image '
        'grid-area-label '
        'grid-area-deliverydate'
        'grid-area-actions';
      grid-template-rows: 1fr auto auto 1fr;
      grid-template-columns: 1fr;

      .quantity-row {
        min-width: none;
      }
    }
    .grid-area-image {
      grid-area: grid-area-image;
    }

    .grid-area-label {
      grid-area: grid-area-label;
      text-align: center;
    }

    .grid-area-deliverydate {
      grid-area: grid-area-deliverydate;
      text-align: right;
      @media (max-width: $screen-xs-max) {
        text-align: center;
      }
    }

    .grid-area-actions {
      display: grid;
      grid-area: grid-area-actions;
      grid-template-columns: 1fr 1fr 1fr;
      form {
        justify-self: center;
      }
      .prices {
        justify-self: end;
      }
    }
  }
  .image {
    margin: 0 $space-box;
  }
  .attributes > * {
    padding-right: 10px;
    margin-right: 10px;
    line-height: 14px;
    border-right: 1px solid $gray-600;
  }
  .attributes > .quick-view {
    border: none;
  }
  .prices {
    display: grid;
    width: 130px;

    camfil-product-attribute {
      display: block;

      ::ng-deep {
        .camfil-product-attribute {
          display: flex;
          align-items: center;
          min-height: 24px;
          text-align: right;
        }
        .camfil-product-attribute__label,
        .camfil-product-attribute__value {
          width: 100%;
          text-align: right;
        }
      }
    }
  }
  .delete-cam-card {
    z-index: 1;
  }
  .delivery-date-container {
    min-width: 115px;
    .delivery-date-para {
      margin: 0;
      font-size: $font-size-overline;
    }
  }
  .line-item-data-container {
    flex-direction: column;
    .line-item-data-bottom {
      min-width: 200px;
      line-height: 16px;
      .mat-button {
        box-sizing: content-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 30px;
        height: 18px;
        padding: 0 8px;
        line-height: 18px;
        border-right: 1px solid $gray-600;
        border-radius: 0%;
      }
    }
  }
  .quantity-row {
    min-width: 290px;
  }
  .line-item__confirmed {
    .line-item-data-bottom {
      width: 450px;
    }
    @media (min-width: $screen-xs) {
      .line-item-data-bottom {
        width: 100%;
        word-break: break-word;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    .attributes > * {
      line-height: 16px;
      border-right: none;
    }
  }

  ::ng-deep {
    camfil-product-title {
      display: block;
      max-width: 235px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .box-label-attribute {
      max-width: 100%;
      margin-left: 5px;
      overflow-wrap: break-word;
    }
    mat-form-field {
      .mat-form-field-underline {
        display: none;
      }
      .mat-form-field-appearance-fill .mat-form-field-infix {
        padding-top: 0.5em;
      }
      div.mat-form-field-flex {
        padding: 0.5em 0.75em 0 0.75em;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
      }
      div.mat-form-field-infix {
        padding: 0.25em 0 0.5em 0;
      }
    }

    .line-item-data-bottom {
      camfil-product-attribute {
        line-height: 19px;
        border-right: 1px solid $gray-600;
      }
    }

    .line-item__confirmed {
      .line-item-data-container {
        @media (min-width: $screen-xs) {
          .line-item-data-bottom {
            flex-direction: row !important;
            align-items: flex-start;
            camfil-product-attribute {
              margin-left: 0;
              border: none;
            }
            .mat-button {
              padding: 0 1px;
              border-right: none;
            }
          }
        }
      }
    }
    camfil-product-inventory {
      border-right: none;
      .product-availability {
        display: inline-flex;
        border-right: none;
      }
    }
    // .measurements, // no edit for measurements on checkout now
    .box-label {
      div.mat-form-field-infix {
        padding: 1em 0;
        border-top: none;
      }
    }
    .camfil-product-attribute {
      margin-bottom: 0;
    }
    .confirmed-product-title {
      max-width: none;
      margin-right: 10px;
      .camfil-product-title {
        white-space: normal;
      }
      @media (max-width: $screen-lg-max) {
        .camfil-product-title {
          max-width: 160px;
        }
      }
      @media (max-width: $screen-sm-max) {
        .camfil-product-title {
          max-width: 325px;
        }
      }
      @media (max-width: $screen-xs-max) {
        .camfil-product-title {
          max-width: 200px;
        }
      }
    }
    camfil-product-image {
      display: block;
      width: 40px;
      height: 40px;
    }
    .form-group {
      margin-bottom: 0;
    }
    dt {
      color: $gray-600;
    }
    dd {
      float: right;
    }

    @media (max-width: $screen-lg-max) {
      .camfil-product-title {
        max-width: 160px;
      }
      .quantity-row {
        width: 100%;
      }
    }

    @media (max-width: $screen-lg-max) {
      mat-form-field {
        width: 100%;
      }
      camfil-cam-card-product-comment {
        width: 100%;
      }
      .attributes {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      .line-item {
        flex-direction: column;
      }
      .camfil-product-title {
        max-width: 325px;
      }
    }
    @media (max-width: $screen-xs-max) {
      .camfil-product-title {
        max-width: 200px;
      }
    }
  }
  .quantity-confirmed {
    padding: 0 ($space-box * 4);
  }

  .attributes {
    width: 150px;
    margin-left: $space-box;
  }

  .box-label {
    &__form {
      margin-right: $space-box;

      &--field {
        width: 200px;
      }
      .mat-form-field-wrapper {
        .mat-form-field-outline {
          background-color: rgba(0, 0, 0, 0.04);
        }
      }
    }
  }
}
