<ng-template #noProduct>
  <div class="line-item-container px-4 py-2"></div>
</ng-template>

<ng-container *ngIf="product$ | async as product; else noProduct">
  <div class="line-item-container px-4 py-2">
    <div class="d-flex align-items-center">
      <ng-container [ngTemplateOutlet]="beforeTemplate"></ng-container>

      <ng-container [ngTemplateOutlet]="counterTemplate" *ngIf="index >= 0"></ng-container>

      <ng-container [ngTemplateOutlet]="draggableTemplate" *ngIf="draggable"></ng-container>

      <div
        [class]="{ 'line-item__confirmed': !editable }"
        [ngClass]="!isMobileView ? 'd-flex' : 'line-item-grid'"
        class="line-item align-items-center text-left"
      >
        <div
          [class]="{ 'grid-area-image': isMobileView }"
          class="d-flex align-items-center align-self-start align-self-md-center text-left w-100"
        >
          <ng-container [ngTemplateOutlet]="imageTemplate"></ng-container>

          <div class="my-2 my-md-0">
            <div class="d-flex line-item-data-container">
              <!-- Title -->
              <div class="flex-row line-item-data-top">
                <camfil-product-title
                  [class.confirmed-product-title]="!editable"
                  [class]="'text-truncate'"
                  [matTooltip]="product.name"
                  [product]="product"
                ></camfil-product-title>
              </div>
              <!-- Attributes -->
              <div class="line-item-data-bottom d-flex flex-row flex-wrap product-item-attributes justify-content-between">
                <camfil-product-attribute
                  [name]="'camfil.cam_card.product.id.label' | translate"
                  [value]="product.sku"
                ></camfil-product-attribute>
                <camfil-product-attribute
                  *ngIf="!editable"
                  [name]="'camfil.cam_card.product.comment.label' | translate"
                  [value]="getBoxLabelValue()"
                  class="box-label-attribute"
                ></camfil-product-attribute>
                <camfil-product-attribute
                  *ngIf="measurementsToShow()"
                  [name]="'camfil.checkout.product.measurements.label' | translate"
                  [value]="measurementsToShow()"
                  class="box-label-attribute ml-0"
                ></camfil-product-attribute>
                <div>
                  <button (click)="openQuickViewDialog(); $event.stopPropagation()" mat-button>
                    <mat-icon class="size-15" svgIcon="search"></mat-icon>
                  </button>
                  <camfil-product-inventory [product]="product" class="px-2"></camfil-product-inventory>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="editable" [class]="{ 'grid-area-label': isMobileView }" class="box-label">
          <ng-container [ngTemplateOutlet]="boxLabelFormTemplate" *ngIf="editable"></ng-container>
        </div>

        <ng-container *ngIf="!product.failed; else productNotAvailable">
          <div [class]="{ 'grid-area-deliverydate': isMobileView }" class="delivery-date-container">
            <p class="delivery-date-para">
              <strong>{{ 'camfil.checkout.desired_delivery_date' | translate }}</strong>
            </p>
            <p *ngIf="!editable; else earliestDelivery" class="delivery-date-para">
              {{ deliveryAfterOrderConfirmed() | ishDate }}
            </p>
            <ng-template #earliestDelivery>
              <p class="delivery-date-para">{{ earliestDeliveryDate | ishDate }}</p>
            </ng-template>
          </div>
          <div
            [ngClass]="{ 'd-flex': !isMobileView, 'grid-area-actions': isMobileView }"
            class="quantity-row flex-row justify-content-between align-items-center py-3 py-md-0"
          >
            <span *ngIf="!editable" class="quantity-confirmed">
              {{ lineItem.quantity.value }}
            </span>
            <a
              (click)="openDeleteModal()"
              *ngIf="editable"
              class="btn-tool delete-cam-card"
              data-testing-id="delete-cam-card"
            >
              <mat-icon class="size-16 mx-2" svgIcon="delete"></mat-icon>
            </a>
            <ng-container
              [ngTemplateOutlet]="quantityFormTemplate"
              [ngTemplateOutletContext]="{ product: product }"
            ></ng-container>
            <div class="prices">
              <ng-container [ngTemplateOutlet]="priceTemplate"></ng-container>
            </div>
          </div>
        </ng-container>
      </div>

      <ng-container [ngTemplateOutlet]="afterTemplate"></ng-container>
    </div>
  </div>

  <ng-template #counterTemplate>
    <span class="d-flex align-items-center justify-content-center line-item-index">
      {{ index }}
    </span>
  </ng-template>

  <ng-template #draggableTemplate>
    <mat-icon cdkDragHandle class="size-24 d-none d-md-block handle" svgIcon="move"></mat-icon>
  </ng-template>

  <ng-template #quantityFormTemplate>
    <ng-container *ngIf="product.inStock && product.availability && editable">
      <form [formGroup]="addToCartForm">
        <camfil-product-quantity
          [allowZeroQuantity]="false"
          [isInLineItem]="true"
          [lineItemId]="lineItem?.id | slugify: 'line-item-box-label'"
          [parentForm]="addToCartForm"
          [product]="product"
          [quantityLabel]="''"
          controlName="quantity"
        ></camfil-product-quantity>
      </form>
    </ng-container>
  </ng-template>

  <ng-template #productNotAvailable>
    <p class="bg-danger p-2 m-0 text-center w-100">
      <strong>{{ 'camfil.checkout.order.product_not_available.text' | translate }}</strong>
    </p>
    <a (click)="openDeleteModal()" *ngIf="editable" class="btn-tool delete-cam-card" data-testing-id="delete-cam-card">
      <mat-icon class="size-16 mx-2" svgIcon="delete"></mat-icon>
    </a>
  </ng-template>

  <ng-template #boxLabelFormTemplate>
    <form [formGroup]="boxLabelForm" class="box-label__form">
      <mat-form-field appearance="outline" class="box-label__form--field">
        <mat-label>{{ 'camfil.cam_card.product.comment.label' | translate }}</mat-label>
        <textarea
          #autosize="cdkTextareaAutosize"
          (blur)="onBlur($event.target, boxLabelForm)"
          (focus)="setFocusedElement($event.target)"
          [camfilMaxLength]="'BoxLabel'"
          [id]="lineItem?.id | slugify: 'line-item-box-label'"
          cdkAutosizeMaxRows="3"
          cdkAutosizeMinRows="1"
          cdkTextareaAutosize
          class="overflow-hidden"
          formControlName="boxLabel"
          matInput
          name="boxLabel"
          type="text"
        ></textarea>
        <camfil-error
          [errorValidators]="attrsValidator.boxLabel"
          [errors]="getField('boxLabel', boxLabelForm).errors"
          [touched]="getField('boxLabel', boxLabelForm).touched || getField('boxLabel', boxLabelForm).dirty"
        ></camfil-error>
      </mat-form-field>
    </form>
  </ng-template>

  <ng-template #priceTemplate>
    <camfil-product-attribute
      [name]="'camfil.cam_card.product.list_price.label' | translate"
      [overflowVisible]="true"
      [value]="lineItem?.listPrice | camfilPriceSummary: lineItem?.quantity?.value | ishPrice"
    ></camfil-product-attribute>
    <camfil-product-attribute
      [name]="'camfil.cam_card.product.your_price.label' | translate"
      [overflowVisible]="true"
      [value]="
        (editable ? lineItem?.salePrice : lineItem.price)
          | camfilPriceSummary: (editable ? lineItem?.quantity?.value : 1)
          | ishPrice
      "
    ></camfil-product-attribute>
  </ng-template>

  <ng-template #imageTemplate>
    <a [routerLink]="product | ishProductRoute" class="image ml-0 mx-md-3">
      <camfil-product-image
        width="40"
        [imageView]="'default'"
        [product]="product"
        class="product-image"
        imageType="images"
      ></camfil-product-image>
    </a>
  </ng-template>
</ng-container>

<camfil-small-cta-modal
  (actionClicked)="removeProduct(lineItem.id)"
  [actionTemplate]="actionTemplate"
  actionButtonTitle="{{ 'camfil.checkout.order.delete_order.modal.yes' | translate }}"
  cancelButtonTitle="{{ 'camfil.checkout.order.delete_order.modal.no' | translate }}"
  hideIcon="true"
  showCloseIcon="true"
>
</camfil-small-cta-modal>

<ng-template #actionTemplate>
  <div>{{ 'camfil.checkout.order.delete_line_item.modal.subheading' | translate }}</div>
</ng-template>
