:host {
  h1 {
    margin: 0;
  }
}
.mat-read-more.mat-accordion {
  .mat-expansion-panel {
    border-radius: 0;
    box-shadow: none;

    &-spacing {
      margin: 0;
    }
  }
  & + .mat-action-row {
    justify-content: flex-start;
    padding: 0;
    border: none;
  }
}
