<div
  class="family-page product-search-result box-shadow"
  [attr.data-testing-id]="'family-page-' + category.uniqueId"
  id="family-page-top"
>
  <div class="row">
    <div class="col-12">
      <camfil-breadcrumb></camfil-breadcrumb>
    </div>
  </div>
  <div class="row no-gutters">
    <aside class="col-md-3 sidebar">
      <mat-toolbar color="primary">
        <span>My sidebar</span>
      </mat-toolbar>
      <div class="sidebar--container">
        <div [ngbCollapse]="isCollapsed">
          <camfil-category-navigation [uniqueId]="category.categoryPath[0]"></camfil-category-navigation>
          <br />
          <camfil-filter-navigation [showCategoryFilter]="false"></camfil-filter-navigation>
        </div>
        <a class="d-md-none mobile-filter-toggle" (click)="toggle()">
          {{ 'search.mobile.filter.trigger' | translate }}
          <fa-icon [icon]="['fas', isCollapsed ? 'angle-down' : 'angle-up']"></fa-icon>
        </a>
      </div>
    </aside>
    <div class="col-md-9">
      <div class="col-12 box-shadow box-container">
        <div class="row">
          <div class="col-lg-9 col-md-7">
            <h1>{{ category.name }}</h1>

            <p *ngIf="tmpDescription.length < 200; else readMore">
              {{ tmpDescription }}
            </p>

            <ng-template #readMore>
              <mat-accordion class="mat-read-more">
                <mat-expansion-panel [expanded]="!longOpen">
                  {{ tmpDescription | slice: 0:200 }}...
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="longOpen">
                  {{ tmpDescription }}
                </mat-expansion-panel>
              </mat-accordion>
              <mat-action-row>
                <a (click)="longOpen = !longOpen">
                  {{ (longOpen ? 'camfil.show_less.text' : 'camfil.read_more.text') | translate }}
                </a>
              </mat-action-row>
            </ng-template>
          </div>
          <div class="col-lg-3 col-md-5">
            <camfil-links-block title="Guides"></camfil-links-block>
          </div>
        </div>
      </div>

      <camfil-product-listing
        [category]="category"
        [id]="{ type: 'category', value: category.uniqueId }"
        fragmentOnRouting="family-page-top"
      ></camfil-product-listing>
    </div>
  </div>
</div>
