@import '~src/styles/themes/camfil/colors';
@import '~src/styles/themes/camfil/variables';

.navigation-panel {
  z-index: $navigation-panel-index;
  background: $white;

  &--container {
    box-shadow: $navigation-panel-shadow;
    padding: $space-box;
  }
}
