<ng-container *ngIf="isConfirmed; else notConfirmedForm">
  <!-- Your Details Confirmed -->

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'camfil.checkout.guest_form.your_details' | translate }}
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon svgIcon="profile-fab"></mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="form-group-container w-100">
      <div class="row">
        <div class="col-md-6">
          <div class="guest-confirmed-value___container d-flex">
            <dt class="col-6 p-0">{{ 'camfil.checkout.guest_form.first_name' | translate }}</dt>
            <dd class="col-6 p-0 text-right text-break">
              {{ this.anonymousBasketExtensionData?.firstName || '-' }}
            </dd>
          </div>
          <div class="guest-confirmed-value___container d-flex">
            <dt class="col-6 p-0">{{ 'camfil.checkout.guest_form.last_name' | translate }}</dt>
            <dd class="col-6 p-0 text-right text-break">
              {{ this.anonymousBasketExtensionData?.lastName || '-' }}
            </dd>
          </div>
          <div class="guest-confirmed-value___container d-flex">
            <dt class="col-6 p-0">{{ 'camfil.checkout.guest_form.email_address' | translate }}</dt>
            <dd class="col-6 p-0 text-right text-break">
              {{ this.anonymousBasketExtensionData?.email || '-' }}
            </dd>
          </div>
          <div class="guest-confirmed-value___container d-flex">
            <dt class="col-6 p-0">{{ 'camfil.checkout.guest_form.telephone_number' | translate }}</dt>
            <dd class="col-6 p-0 text-right text-break">
              {{ this.anonymousBasketExtensionData?.phone || '-' }}
            </dd>
          </div>
        </div>
        <div class="col-md-6 col-border">
          <div class="guest-confirmed-value___container d-flex">
            <dt class="col-6 p-0">{{ 'camfil.checkout.guest_form.job_title' | translate }}</dt>
            <dd class="col-6 p-0 text-right text-break">
              {{ this.anonymousBasketExtensionData?.jobTitle || '-' }}
            </dd>
          </div>
          <div class="guest-confirmed-value___container d-flex">
            <dt class="col-6 p-0">{{ 'camfil.checkout.guest_form.company_name' | translate }}</dt>
            <dd class="col-6 p-0 text-right text-break">
              {{ this.anonymousBasketExtensionData?.companyName || '-' }}
            </dd>
          </div>
          <div class="guest-confirmed-value___container d-flex">
            <dt class="col-6 p-0">{{ 'camfil.checkout.guest_form.vat_number' | translate }}</dt>
            <dd class="col-6 p-0 text-right text-break">
              {{ this.anonymousBasketExtensionData?.vat || '-' }}
            </dd>
          </div>
          <div class="guest-confirmed-value___container d-flex">
            <dt class="col-6 p-0">{{ 'camfil.checkout.guest_form.siret_number' | translate }}</dt>
            <dd class="col-6 p-0 text-right text-break">
              {{ this.anonymousBasketExtensionData?.siret || '-' }}
            </dd>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <!-- Delivery Info  Confirmed -->

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'camfil.checkout.guest_form.delivery_info' | translate }}
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon svgIcon="delivery-time"></mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="form-group-container w-100">
      <div class="row">
        <div class="col-md-6">
          <div class="guest-confirmed-value___container d-flex">
            <dt class="col-6 p-0">{{ 'camfil.checkout.guest_form.street_address' | translate }}</dt>
            <dd class="col-6 p-0 text-right text-break">
              {{ this.anonymousBasketExtensionData?.streetAddress || '-' }}
            </dd>
          </div>
          <div class="guest-confirmed-value___container d-flex">
            <dt class="col-6 p-0">{{ 'camfil.checkout.guest_form.zip_code' | translate }}</dt>
            <dd class="col-6 p-0 text-right text-break">
              {{ this.anonymousBasketExtensionData?.zipCode || '-' }}
            </dd>
          </div>
          <div class="guest-confirmed-value___container d-flex">
            <dt class="col-6 p-0">{{ 'camfil.account.apply_form.city' | translate }}</dt>
            <dd class="col-6 p-0 text-right text-break">
              {{ this.anonymousBasketExtensionData?.city || '-' }}
            </dd>
          </div>
          <div class="guest-confirmed-value___container d-flex">
            <dt class="col-6 p-0">{{ 'camfil.account.cam_card.add_to_form.country' | translate }}</dt>
            <dd class="col-6 p-0 text-right text-break">
              {{ this.anonymousBasketExtensionData?.country || '-' }}
            </dd>
          </div>
        </div>
        <div class="col-md-6 col-border">
          <div class="guest-confirmed-value___container d-flex">
            <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.goods_mark.label' | translate }}</dt>
            <dd class="col-6 p-0 text-right text-break">
              {{ this.anonymousBasketExtensionData?.boxLabel || '-' }}
            </dd>
          </div>
          <div class="guest-confirmed-value___container d-flex">
            <dt class="col-6 p-0">{{ 'camfil.checkout.guest_form.company_name' | translate }}</dt>
            <dd class="col-6 p-0 text-right text-break">
              {{ this.anonymousBasketExtensionData?.invoiceMark || '-' }}
            </dd>
          </div>
          <div class="guest-confirmed-value___container d-flex">
            <dt class="col-6 p-0">{{ 'camfil.checkout.guest_form.vat_number' | translate }}</dt>
            <dd class="col-6 p-0 text-right text-break">
              {{ this.anonymousBasketExtensionData?.deliveryInfo || '-' }}
            </dd>
          </div>
          <div class="guest-confirmed-value___container d-flex">
            <dt class="col-6 p-0">{{ 'camfil.checkout.guest_form.siret_number' | translate }}</dt>
            <dd class="col-6 p-0 text-right text-break">
              {{ this.anonymousBasketExtensionData?.customerNote || '-' }}
            </dd>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <!-- Delivery Info  Confirmed -->

  <ng-container>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'checkout.address.billing.label' | translate }}
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon svgIcon="quote"></mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="form-group-container w-100">
        <div class="row">
          <div class="col-md-6">
            <div class="guest-confirmed-value___container d-flex">
              <dt class="col-6 p-0">{{ 'camfil.checkout.guest_form.street_address' | translate }}</dt>
              <dd class="col-6 p-0 text-right text-break">
                {{ anonymousBasketExtensionData?.invoiceStreetAddress || '-' }}
              </dd>
            </div>
            <div class="guest-confirmed-value___container d-flex">
              <dt class="col-6 p-0">{{ 'camfil.checkout.guest_form.zip_code' | translate }}</dt>
              <dd class="col-6 p-0 text-right text-break">
                {{ anonymousBasketExtensionData?.invoiceZipCode || '-' }}
              </dd>
            </div>
            <div class="guest-confirmed-value___container d-flex">
              <dt class="col-6 p-0">{{ 'camfil.account.apply_form.city' | translate }}</dt>
              <dd class="col-6 p-0 text-right text-break">
                {{ anonymousBasketExtensionData?.invoiceCity || '-' }}
              </dd>
            </div>
            <div class="guest-confirmed-value___container d-flex">
              <dt class="col-6 p-0">{{ 'camfil.account.cam_card.add_to_form.country' | translate }}</dt>
              <dd class="col-6 p-0 text-right text-break">
                {{ anonymousBasketExtensionData?.invoiceCountry || '-' }}
              </dd>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </ng-container>
</ng-container>
<ng-template #notConfirmedForm>
  <form [formGroup]="guestForm">
    <!-- Your Details -->

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'camfil.checkout.guest_form.your_details' | translate }}
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon svgIcon="profile-fab"></mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="form-group-container w-100" formGroupName="userDetailsFormGroup">
        <div class="row">
          <div class="col-md-4">
            <div class="mat-form-field__wrapper">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>{{ 'camfil.checkout.guest_form.first_name' | translate }}</mat-label>
                <input formControlName="firstName" label="camfil.checkout.form.order_mark" matInput />
                <camfil-error
                  [errorValidators]="validators.firstName"
                  [errors]="getField('userDetailsFormGroup', 'firstName').errors"
                  [touched]="
                    getField('userDetailsFormGroup', 'firstName').touched ||
                    getField('userDetailsFormGroup', 'firstName').dirty
                  "
                ></camfil-error>
              </mat-form-field>
            </div>
            <div class="mat-form-field__wrapper">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>{{ 'camfil.checkout.guest_form.last_name' | translate }}</mat-label>
                <input formControlName="lastName" label="camfil.checkout.form.order_mark" matInput />
                <camfil-error
                  [errorValidators]="validators.lastName"
                  [errors]="getField('userDetailsFormGroup', 'lastName').errors"
                  [touched]="
                    getField('userDetailsFormGroup', 'lastName').touched ||
                    getField('userDetailsFormGroup', 'lastName').dirty
                  "
                ></camfil-error>
              </mat-form-field>
            </div>
            <div class="mat-form-field__wrapper">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>{{ 'camfil.checkout.guest_form.email_address' | translate }}</mat-label>
                <input formControlName="email" label="camfil.checkout.form.order_mark" matInput />
                <camfil-error
                  [errorValidators]="validators.email"
                  [errors]="getField('userDetailsFormGroup', 'email').errors"
                  [touched]="
                    getField('userDetailsFormGroup', 'email').touched || getField('userDetailsFormGroup', 'email').dirty
                  "
                ></camfil-error>
              </mat-form-field>
            </div>
            <div class="mat-form-field__wrapper">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>{{ 'camfil.checkout.guest_form.telephone_number' | translate }}</mat-label>
                <input formControlName="phone" label="camfil.checkout.form.order_mark" matInput />
                <camfil-error
                  [errorValidators]="validators.phone"
                  [errors]="getField('userDetailsFormGroup', 'phone').errors"
                  [touched]="
                    getField('userDetailsFormGroup', 'phone').touched || getField('userDetailsFormGroup', 'phone').dirty
                  "
                ></camfil-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4 offset-md-2 col-border">
            <div class="mat-form-field__wrapper">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>{{ 'camfil.checkout.guest_form.job_title' | translate }}</mat-label>
                <input formControlName="jobTitle" label="camfil.checkout.form.order_mark" matInput />
              </mat-form-field>
            </div>
            <div class="mat-form-field__wrapper">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>{{ 'camfil.checkout.guest_form.company_name' | translate }}</mat-label>
                <input formControlName="companyName" label="camfil.checkout.form.order_mark" matInput />
              </mat-form-field>
            </div>
            <div class="mat-form-field__wrapper">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>{{ 'camfil.checkout.guest_form.vat_number' | translate }}</mat-label>
                <input formControlName="vat" label="camfil.checkout.form.order_mark" matInput />
              </mat-form-field>
            </div>
            <div class="mat-form-field__wrapper">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>{{ 'camfil.checkout.guest_form.siret_number' | translate }}</mat-label>
                <input formControlName="siret" label="camfil.checkout.form.order_mark" matInput />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <!-- Delivery Info -->

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'camfil.checkout.guest_form.delivery_info' | translate }}
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon svgIcon="delivery-time"></mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="form-group-container w-100" formGroupName="deliveryInfoFromGroup">
        <div class="row">
          <div class="col-md-4">
            <div class="mat-form-field__wrapper">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>{{ 'camfil.checkout.guest_form.street_address' | translate }}</mat-label>
                <input formControlName="streetAddress" label="camfil.checkout.form.order_mark" matInput />
                <camfil-error
                  [errorValidators]="validators.streetAddress"
                  [errors]="getField('deliveryInfoFromGroup', 'streetAddress').errors"
                  [touched]="
                    getField('deliveryInfoFromGroup', 'streetAddress').touched ||
                    getField('deliveryInfoFromGroup', 'streetAddress').dirty
                  "
                ></camfil-error>
              </mat-form-field>
            </div>
            <div class="mat-form-field__wrapper">
              <camfil-zip-code
                fieldName="zipCode"
                fieldCity="city"
                appearance="fill"
                [errorValidator]="validators.zipCode"
                [form]="guestForm.controls['deliveryInfoFromGroup']"
                [countryChangeDetect]="countryChangeDetect$"
                (zipCodeErrorEmit)="setZipCodeError($event, 'deliveryInfoFromGroup')"
              ></camfil-zip-code>
            </div>
            <div class="mat-form-field__wrapper">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>{{ 'camfil.account.apply_form.city' | translate }}</mat-label>
                <input formControlName="city" label="camfil.checkout.form.order_mark" matInput />
                <camfil-error
                  [errorValidators]="validators.city"
                  [errors]="getField('deliveryInfoFromGroup', 'city').errors"
                  [touched]="
                    getField('deliveryInfoFromGroup', 'city').touched || getField('deliveryInfoFromGroup', 'city').dirty
                  "
                ></camfil-error>
              </mat-form-field>
            </div>
            <div class="mat-form-field__wrapper">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>{{ 'camfil.account.cam_card.add_to_form.country' | translate }}</mat-label>
                <input formControlName="country" label="camfil.checkout.form.order_mark" matInput />
                <camfil-error
                  [errorValidators]="validators.country"
                  [errors]="getField('deliveryInfoFromGroup', 'country').errors"
                  [touched]="
                    getField('deliveryInfoFromGroup', 'country').touched ||
                    getField('deliveryInfoFromGroup', 'country').dirty
                  "
                ></camfil-error>
              </mat-form-field>
            </div>
            <mat-checkbox
              (change)="toggleInvoiceAddressForm()"
              class="example-margin"
              color="primary"
              formControlName="sameAddressAsInvoice"
            >
              {{ 'camfil.checkout.guest_form.same_as_invoice_address' | translate }}
            </mat-checkbox>
          </div>
          <div class="col-md-4 offset-md-2 col-border">
            <div class="mat-form-field__wrapper">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>{{ 'camfil.account.orderdetails.goods_mark.label' | translate }}</mat-label>
                <input
                  [camfilMaxLength]="'OrderMark'"
                  formControlName="boxLabel"
                  label="camfil.checkout.form.order_mark"
                  matInput
                />
              </mat-form-field>
            </div>
            <div class="mat-form-field__wrapper">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>{{ 'camfil.checkout.form.invoice_mark' | translate }}</mat-label>
                <input
                  [camfilMaxLength]="'InvoiceLabel'"
                  formControlName="invoiceMark"
                  label="camfil.checkout.form.order_mark"
                  matInput
                />
              </mat-form-field>
            </div>
            <div class="mat-form-field__wrapper">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>{{ 'camfil.checkout.guest_form.delivery_info' | translate }}</mat-label>
                <textarea formControlName="deliveryInfo" label="camfil.checkout.form.note" matInput></textarea>
              </mat-form-field>
            </div>
            <div class="mat-form-field__wrapper">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>{{ 'camfil.checkout.form.note' | translate }}</mat-label>
                <textarea
                  [camfilMaxLength]="'CustomerNote'"
                  formControlName="customerNote"
                  label="camfil.checkout.form.note"
                  matInput
                ></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <!-- Invoice Address -->

    <mat-expansion-panel *ngIf="showInvoiceAddressForm" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ 'checkout.address.billing.label' | translate }}
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon svgIcon="quote"></mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="form-group-container w-100" formGroupName="invoiceAddressFormGroup">
        <div class="row">
          <div class="col-md-4">
            <div class="mat-form-field__wrapper">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>{{ 'camfil.checkout.guest_form.street_address' | translate }}</mat-label>
                <input formControlName="streetAddress" label="camfil.checkout.form.order_mark" matInput />
                <camfil-error
                  [errorValidators]="validators.streetAddress"
                  [errors]="getField('invoiceAddressFormGroup', 'streetAddress').errors"
                  [touched]="
                    getField('invoiceAddressFormGroup', 'streetAddress').touched ||
                    getField('invoiceAddressFormGroup', 'streetAddress').dirty
                  "
                ></camfil-error>
              </mat-form-field>
            </div>
            <div class="mat-form-field__wrapper">
              <camfil-zip-code
                fieldName="zipCode"
                fieldCity="city"
                appearance="fill"
                [errorValidator]="validators.zipCode"
                [form]="guestForm.controls['invoiceAddressFormGroup']"
                [countryChangeDetect]="countryChangeDetect$"
                (zipCodeErrorEmit)="setZipCodeError($event, 'invoiceAddressFormGroup')"
              ></camfil-zip-code>
            </div>
            <div class="mat-form-field__wrapper">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>{{ 'camfil.account.apply_form.city' | translate }}</mat-label>
                <input formControlName="city" label="camfil.checkout.form.order_mark" matInput />
                <camfil-error
                  [errorValidators]="validators.city"
                  [errors]="getField('invoiceAddressFormGroup', 'city').errors"
                  [touched]="
                    getField('invoiceAddressFormGroup', 'city').touched ||
                    getField('invoiceAddressFormGroup', 'city').dirty
                  "
                ></camfil-error>
              </mat-form-field>
            </div>
            <div class="mat-form-field__wrapper">
              <mat-form-field appearance="fill" class="form-field">
                <mat-label>{{ 'camfil.account.cam_card.add_to_form.country' | translate }}</mat-label>
                <input formControlName="country" label="camfil.checkout.form.order_mark" matInput />
                <camfil-error
                  [errorValidators]="validators.country"
                  [errors]="getField('invoiceAddressFormGroup', 'country').errors"
                  [touched]="
                    getField('invoiceAddressFormGroup', 'country').touched ||
                    getField('invoiceAddressFormGroup', 'country').dirty
                  "
                ></camfil-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </form>
</ng-template>
