<div *ngIf="filterNavigation" class="filter-panel">
  <div *ngFor="let element of filterNavigation.filter" [ngSwitch]="element.displayType">
    <camfil-filter-collapsable [title]="element.name" [(collapsed)]="collapsedElements[element.name]">
      <!-- default: text & text_clear -->
      <camfil-filter-text
        *ngSwitchDefault
        [filterElement]="element"
        (applyFilter)="applyFilter.emit($event)"
        [(showAll)]="showAllElements[element.name]"
      >
      </camfil-filter-text>

      <!-- checkbox -->
      <ish-filter-checkbox
        *ngSwitchCase="'checkbox'"
        [filterElement]="element"
        (applyFilter)="applyFilter.emit($event)"
        [(showAll)]="showAllElements[element.name]"
      >
      </ish-filter-checkbox>

      <!-- swatch -->
      <ish-filter-swatch-images
        *ngSwitchCase="'swatch'"
        [filterElement]="element"
        (applyFilter)="applyFilter.emit($event)"
      >
      </ish-filter-swatch-images>

      <!-- dropdown -->
      <ng-container *ngSwitchCase="'dropdown'">
        <div class="filter-dropdown">
          <camfil-filter-dropdown
            [filterElement]="element"
            [placeholderType]="'selectedFacets'"
            (applyFilter)="applyFilter.emit($event)"
          >
          </camfil-filter-dropdown>
        </div>
      </ng-container>
    </camfil-filter-collapsable>
  </div>
</div>
