<ng-template #modal>
  <ng-container *ngIf="!(showSuccess && submitted); else success">
    <camfil-cam-card-modal
      (hiddenClicked)="hide()"
      (primaryButtonClicked)="addToOrder()"
      (secondaryButtonClicked)="openCreateOrderModal(createModal)"
      [detailsTemplate]="detailsTemplate"
      [loading]="submitted && !showSuccess"
      [mainContentTemplate]="mainContentTemplate"
      [primaryButtonTitle]="'camfil.modal.addToCart.button.add_to_existing_order' | translate"
      [primaryDisabled]="!selectedOrderId || quantityForm.invalid"
      [secondaryButtonTitle]="'camfil.modal.addToCart.button.create_new_order' | translate"
      [secondaryDisabled]="disableActionButton(product, quantityForm) || quantityForm.invalid"
      [subtitle]="product.name"
      [title]="'camfil.modal.addToCart.title' | translate"
      svgIcon="cart"
    >
    </camfil-cam-card-modal>
  </ng-container>
</ng-template>

<camfil-create-order-product-modal
  #createModal
  (resetQuantityValue)="resetFormValues()"
  [parentForm]="quantityForm"
  [product]="product"
></camfil-create-order-product-modal>

<ng-template #detailsTemplate>
  <camfil-article-details [product]="product" [quantityForm]="quantityForm"></camfil-article-details>
</ng-template>

<ng-template #mainContentTemplate>
  <div class="add-to-cart-modal__content" mat-dialog-content>
    <div class="add-to-cart-modal__content--title">{{ 'camfil.modal.addToCart.order-list.title' | translate }}</div>
    <div *ngFor="let option of buckets; let i = index">
      <camfil-cam-card-modal-details
        (click)="onOrderClicked(option.id)"
        [customerName]="option.customer?.companyName"
        [deliveryAddress]="option.shipToAddressFull"
        [index]="i + 1"
        [invoiceMark]="option.invoiceLabel"
        [isClicked]="selectedOrderId === option.id"
        [nextDelivery]="option.deliveryDate"
        [orderMark]="option.orderMark"
      >
      </camfil-cam-card-modal-details>
    </div>
  </div>
</ng-template>

<ng-template #success>
  <camfil-create-order-product-success
    (hideEmitter)="hide()"
    (hideSearchBox)="hideSearchDialog()"
    [product]="product"
  ></camfil-create-order-product-success>
</ng-template>
