<form (ngSubmit)="submitForm()" [formGroup]="form" class="form-horizontal password-form" name="PasswordReminderForm">
  <mat-form-field appearance="fill" class="password-form__field">
    <mat-label>{{ 'camfil.account.forgotdata.username.label' | translate }}</mat-label>
    <input [formControl]="usernameFormControl" matInput name="usernameFormControl" required type="text" />
    <camfil-error
      [errorValidators]="errorValidator"
      [errors]="usernameFormControl.errors"
      [touched]="usernameFormControl.touched"
    >
    </camfil-error>
  </mat-form-field>

  <camfil-lazy-captcha [form]="form" cssClass="offset-md-4 col-md-8" topic="forgotPassword"></camfil-lazy-captcha>

  <div class="form-group">
    <button
      [disabled]="buttonDisabled"
      attr.aria-label="{{ 'camfil.account.remind_password.button.aria' | translate }}"
      class="password-form__button"
      color="primary"
      mat-raised-button
      name="passwordReminder"
      type="submit"
      value="PasswordReminder"
    >
      {{ 'camfil.forgot_password.form.send.button.label' | translate }}
    </button>
  </div>
</form>
