@import '~src/styles/themes/camfil/mixins.scss';
@import '~src/styles/themes/camfil/variables';

.ahu-detail {
  margin-top: 25px;

  &__title {
    margin: 5px 10px 5px 0;
  }

  &__content {
    border-left: 1px solid $greyD9;
  }

  &__manufacturer {
    color: $text-color-secondary;
  }

  &__description {
    color: $text-color-secondary;
  }
}

.product-details-guides {
  padding-left: 0;
  list-style-type: none;

  li {
    margin-bottom: 10px;
  }
}

.product-data {
  background-color: rgba(0, 103, 62, 0.1);

  h2 {
    margin: 32px 0 16px 0;
    text-transform: none;
  }

  .product-description,
  .product-attributes {
    padding: ($space-default * 2) $space-default;

    @media (min-width: $screen-md-min) {
      padding: 50px $space-default * 2;
    }

    @media (min-width: $screen-lg-min) {
      padding: 60px 135px;
    }
  }

  .product-description {
    border-left: 1px solid $greyD9;
  }
}
