<camfil-intro
  [header]="'account.register.heading' | translate"
  [description]="'account.register.message' | translate"
></camfil-intro>

<ish-error-message [error]="error"></ish-error-message>

<div class="registration-form section" data-testing-id="account-create-full-page">
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="form-horizontal" novalidate="novalidate">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>First name</mat-label>
      <input matInput required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Last name</mat-label>
      <input matInput required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Company</mat-label>
      <input matInput required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Input field</mat-label>
      <input matInput required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Input field</mat-label>
      <input matInput required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <textarea matInput> </textarea>
    </mat-form-field>
  </form>

  <form [formGroup]="form" (ngSubmit)="submitForm()" class="form-horizontal" novalidate="novalidate">
    <div class="section">
      <div class="row">
        <div class="row form-group">
          <div class="offset-md-4 col-md-8">
            <input
              type="submit"
              [disabled]="formDisabled"
              class="btn btn-primary"
              value="{{ 'account.create.button.label' | translate }}"
            />
            <input
              type="button"
              class="btn btn-secondary"
              value="{{ 'account.cancel.link' | translate }}"
              (click)="cancelForm()"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
