<camfil-intro
  [header]="'account.register.heading' | translate"
  [description]="'account.register.message' | translate"
></camfil-intro>

<ish-error-message [error]="error"></ish-error-message>

<div class="registration-form section" data-testing-id="account-create-full-page">
  <form [formGroup]="form" (ngSubmit)="submitForm()" class="form-horizontal" novalidate="novalidate">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{'account.register.form.firstName' | translate}}</mat-label>
      <input matInput required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{'account.register.form.lastName' | translate}}</mat-label>
      <input matInput required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>{{'account.register.form.company' | translate}}</mat-label>
      <input matInput required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Input field</mat-label>
      <input matInput required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Input field</mat-label>
      <input matInput required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <textarea matInput placeholder="Add comment"></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      type="submit"
      aria-label="Send application"
      [disabled]="formDisabled"
      color="primary"
    >
      {{ 'account.create.button.label' | translate }}
    </button>
  </form>
</div>
