@import '~src/styles/themes/camfil/colors';
@import '~src/styles/themes/camfil/variables';

:host {
  .form-field {
    width: 100%;
  }

  &::ng-deep label {
    span {
      float:left;
      margin-top: 3px;
      margin-right: 2px;
      color: $camfil-color-special-primary;
    }
  }
}
