@import '~src/styles/themes/camfil/colors.scss';
@import '~src/styles/themes/camfil/variables.scss';

.quick-cart-link {
  padding: 0;

  &,
  &.mini-cart-active {
    background: unset;
  }

  @media (max-width: $screen-sm-max) {
    height: $top-header-height-mobile;
    .mat-button-wrapper {
      display: flex;
      align-items: center;
    }
  }

  .counter {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 1.8;
    color: $grey88;
    background: $camfil-color-white;
    border-radius: 50%;
  }
}
