<div [ishShowFormFeedback]="formControl" class="row form-group has-feedback">
  <label *ngIf="label" [for]="uuid" [ngClass]="labelClass" class="col-form-label"
  >{{ label | translate }}<span *ngIf="required" class="required">*</span>
  </label>
  <div [ngClass]="inputClass">
    <div [ngClass]="{ 'input-group': prepend }">
      <div *ngIf="prepend" class="input-group-prepend">
        <span class="input-group-text">{{ prepend }}</span>
      </div>

      <input
        [attr.autocomplete]="calculatedAutocomplete"
        [attr.data-testing-id]="controlName"
        [attr.disabled]="disAbled"
        [formControl]="formControl"
        [id]="uuid"
        [max]="max || ''"
        [maxlength]="maxlength"
        [min]="min || (min === 0 ? 0 : '')"
        [placeholder]="placeholder | translate"
        [type]="type"
        class="form-control"
      />
    </div>
    <ng-content></ng-content>
    <ish-form-control-feedback [control]="formControl" [messages]="errorMessages"></ish-form-control-feedback>
  </div>
</div>
