<mat-card class="ahu-cart">
  <mat-card-header class="ahu-cart__header">
    <mat-card-title class="ahu-cart__title">Scroll down to select your air filter</mat-card-title>
    <dl clas="ahu-cart__products">
      <ng-container *ngFor="let s of slots">
        <dt class="ahu-cart__slot">Supply Slot 1</dt>
        <dd><a href="">Select air filter</a></dd>
      </ng-container>
    </dl>
  </mat-card-header>
  <mat-card-content class="ahu-cart__content text-center">
    <span class="ahu-cart__total">Total cost</span>
    <span class="ahu-cart__total-value">–</span>
    <button mat-raised-button class="ahu-cart__btn mt-2 mb-2">
      <mat-icon svgIcon="plus"></mat-icon>Add selected products to CamCard
    </button>
    <button mat-raised-button class="ahu-cart__btn" color="primary">
      <mat-icon svgIcon="cart" class="color-light"></mat-icon>Add selected products to cart
    </button>
  </mat-card-content>
</mat-card>
