<camfil-small-cta-modal
  #addNewSectionModal
  (actionClicked)="submitForm()"
  [actionTemplate]="actionTemplate"
  [showCloseIcon]="true"
  actionButtonTitle="{{ 'camfil.modal.addNewSection.button.confirm' | translate }}"
  actionTitle="{{ 'camfil.modal.addNewSection.header' | translate }}"
>
</camfil-small-cta-modal>

<ng-template #actionTemplate>
  <div class="add-new-section">
    <form (ngSubmit)="submitForm()" [formGroup]="newSegmentForm">
      <mat-form-field appearance="fill" class="add-new-section__field">
        <mat-label>{{ 'camfil.modal.addNewSection.input.label' | translate }}</mat-label>
        <input formControlName="newCamCard" matInput />
        <camfil-error
          [errorValidators]="newSegmentValidator"
          [errors]="newSegmentForm.controls.newCamCard.errors"
          [touched]="newSegmentForm.controls.newCamCard.touched"
        >
        </camfil-error>
      </mat-form-field>
    </form>
  </div>
</ng-template>
