<camfil-filter-collapsable title="Measurements">
  <form class="form">
    <div class="form-group">
      <label>Width <span>(mm)</span></label>
      <input
        type="number"
        placeholder="xxx"
        [class.mat-elevation-z2]="true"
        (keyup)="change($event.target.value, 'width')"
      />
    </div>
    <div class="form-group">
      <label>Height <span>(mm)</span></label>
      <input
        type="number"
        placeholder="xxx"
        [class.mat-elevation-z2]="true"
        (keyup)="change($event.target.value, 'height')"
      />
    </div>
    <div class="form-group">
      <label>Depth <span>(mm)</span></label>
      <input
        type="number"
        placeholder="xxx"
        [class.mat-elevation-z2]="true"
        (keyup)="change($event.target.value, 'depth')"
      />
    </div>
    <button color="primary" mat-flat-button [disabled]="!width || !height || !depth" (click)="filter()">Ok</button>
  </form>
  <camfil-filter-info
    title="How to measure a bag filter"
    note="Width & height are shown  +/- 10 mm, depth +/-50 mm."
  ></camfil-filter-info>
</camfil-filter-collapsable>
