@import '~src/styles/themes/camfil/colors';
@import '~src/styles/themes/camfil/variables';

:host {
  ::ng-deep {
    .filter-group {
      position: relative;

      &::before {
        position: absolute;
        top: -16px;
        right: -16px;
        bottom: -16px;
        left: -16px;
        z-index: -1;
        display: block;
        content: '';
        background-color: $greyF5;
      }

      &.collapsed {
        border-bottom: 0 !important;
      }
    }

    .mat-flat-button {
      align-self: flex-end;
      min-width: unset;
      height: 35px;
      padding: 0 20px;
      margin-bottom: 12px;
      margin-left: 5px;
    }
  }
}
.form {
  display: flex;
  align-items: flex-start;
  height: 80px;
  padding-left: 8px;
  margin: -8px 0 10px;
  border-left: 2px solid $camfil-color-primary;
}

input {
  display: inline-block;
  max-width: 56px;
  height: 32px;
  text-align: center;
  border: 0;
}

/* Chrome, Safari, Edge, Opera */
// stylelint-disable property-no-vendor-prefix
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
// stylelint-enable property-no-vendor-prefix

label {
  margin-bottom: 0;
  font-size: $font-size-sm;
  font-weight: 700;
  white-space: nowrap;

  span {
    font-weight: 500;
    color: $grey88;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  max-width: 60px;
  margin: 8px 6px;
}
