<button
  mat-stroked-button
  color="primary"
  data-testing-id="pdf-cam-card"
  (click)="openPdfGenDialog()"
  [disabled]="!camCards?.length"
  class="btn-tool secondary-button"
>
  <mat-icon svgIcon="print" class="size-15"></mat-icon>
  {{ 'camfil.account.cam_card.list.button.print.label' | translate }}
</button>

<camfil-small-cta-modal
  [actionTitle]="'camfil.account.cam_card.print.dialog.title' | translate"
  [actionTemplate]="actionTemplate"
  icon="print"
  [showCloseIcon]="true"
>
</camfil-small-cta-modal>

<ng-template #actionTemplate>
  <ng-container *ngIf="customerPricesLoaded">
    <button class="btn btn-link cta-modal__links--link" type="submit" (click)="generatePdfWithoutPrices()">
      <b>{{ 'camfil.account.cam_card.print.dialog.btn.no_price' | translate }}</b>
    </button>
    <button class="btn btn-link cta-modal__links--link" type="submit" (click)="generatePdfWithPrices()">
      <b>{{ 'camfil.account.cam_card.print.dialog.btn.with_price' | translate }}</b>
    </button>
  </ng-container>
  <camfil-loading *ngIf="pdfLoading"></camfil-loading>
</ng-template>
