<div *ngIf="product?.inStock && product?.availability" class="add-to-cart">
  <button
    type="submit"
    name="addProduct"
    class="btn"
    [ngClass]="class"
    [class.btn-primary]="!displayIcon"
    [class.mat-flat-button]="displayType === 'button' && !hasIcon"
    [class.mat-raised-button]="hasIcon"
    [disabled]="disabled || (displaySpinner$ | async)"
    [attr.title]="translationKey | translate"
    data-testing-id="addToCartButton"
    (click)="openModalIfLoggedIn(addToCartModal)"
  >
    <ng-container *ngIf="!(displaySpinner$ | async); else spinning">
      <!-- Add to Cart button -->
      <ng-container *ngIf="displayIcon; else defaultButton">
        <mat-icon svgIcon="cart" class="mat-icon notranslate color-light"></mat-icon>
      </ng-container>

      <ng-template #defaultButton>
        <mat-icon svgIcon="cart" *ngIf="hasIcon" class="mat-icon notranslate color-light"></mat-icon
        ><span class="button-text">{{ translationKey | translate }}</span></ng-template
      >
    </ng-container>
    <!-- button with spinning animation after Add to Cart -->
    <ng-template #spinning>
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true" [ngClass]="{ 'pr-3': !displayIcon }"></fa-icon>
      <span *ngIf="!displayIcon">{{ 'common.button.spinning.label' | translate }}</span>
    </ng-template>
  </button>
</div>

<camfil-add-to-cart-modal #addToCartModal [product]="product" [quantity]="quantity"> </camfil-add-to-cart-modal>

<camfil-small-cta-modal
  actionTitle="{{ 'camfil.account.cam_card.add_to_cart.error.quantity.header' | translate }}"
  actionButtonTitle="{{ 'camfil.account.cam_card.add_to_camcard.error.quantity.button.ok' | translate }}"
  onlyAccept="true"
  hasError="true"
>
</camfil-small-cta-modal>
