<div
  class="mt-4"
  *ngIf="{
    order: order$ | async,
    basket: submittedBasket$ | async,
    buckets: submittedBuckets$ | async
  } as data"
  data-testing-id="checkout-receipt-page"
>
  <camfil-checkout-receipt
    [order]="data.basket || data.order"
    [buckets]="data.buckets"
    [basketError]="basketError$ | async"
  >
    <ng-container *ishIsAuthorizedTo="'APP_B2B_MAKE_REQUISITION'">
      <camfil-lazy-checkout-receipt-requisition [basket]="data.basket"></camfil-lazy-checkout-receipt-requisition>
      <mat-divider></mat-divider>
      <br />
    </ng-container>
    <ng-container *ishIsNotAuthorizedTo="'APP_B2B_MAKE_REQUISITION'">
      <camfil-checkout-receipt-order [order]="data.order"></camfil-checkout-receipt-order>
      <mat-divider></mat-divider>
      <br />
    </ng-container>
  </camfil-checkout-receipt>

  <camfil-loading *ngIf="loading$ | async" [standalone]="true"></camfil-loading>
</div>
