@import '~src/styles/themes/camfil/mixins';
@import '~src/styles/themes/camfil/variables';

:host {
  ::ng-deep {
    .mat-expansion-panel-body {
      padding: 0;
      margin: 0;
    }
  }
}

.sub-camcard-collapse {
  font-weight: 600;
  line-height: 40px;
  color: $camfil-text-color-primary;
  background-color: rgba($color-corporate, 0.1);
}
.cam-card-total {
  font-family: $font-family-SansPro;
  font-size: $font-size-lg;
}
.arrow_down {
  margin-right: $space-default/2;
  vertical-align: middle;
  transform: rotate(-90deg);

  &--expanded {
    transform: rotate(-270deg);
  }
}

.cdk-drop-list {
  min-height: 10px;
}

.handle {
  cursor: move;
  @media (max-width: $screen-sm-max) {
    position: absolute;
    top: $space-box;
    right: $space-box;
  }
}

.list-item-row {
  position: relative;
  padding: $space-box;
  margin-top: $space-box;
  background-color: $white;
  box-shadow: $header-shadow;
}
