<mat-card class="mat-elevation-z px-0 {{ isMobileView ? 'cam-cards-mobile' : 'box-shadow box-shadow--dark' }}">
  <mat-card-content>
    <camfil-account-cam-card-detail-toolbar
      (addItemsToCart)="addItemsToCart()"
      (deleteCamCard)="openDeleteConfirmationDialog(camCard, deleteDialog)"
      [isSticky]="isStickyCamCardToolbar$ | async"
      [title]="getCamCardName()"
    ></camfil-account-cam-card-detail-toolbar>

    <div cdkDropListGroup class="list-body mt-2" *ngIf="camCard">
      <div
        cdkDropList
        class="d-flex flex-column"
        [attr.data-cam-card-id]="camCard.id"
        [cdkDropListData]="camCard.camCardItems"
        (cdkDropListDropped)="drop($event, camCard)"
      >
        <ng-container *ngFor="let item of camCard.camCardItems; index as i">
          <div
            class="list-item-row list-item-row-big px-4 py-1 mt-2"
            [ngStyle]="{ order: item.position }"
            [cdkDragData]="item"
            cdkDrag
          >
            <div class="d-flex align-items-center">
              <mat-icon svgIcon="move" class="size-24 d-none d-md-block handle" cdkDragHandle></mat-icon>
              <camfil-account-cam-card-detail-line-item
                [camCardItemData]="item"
                [currentCamCard]="camCard"
                [selectedItemsForm]="selectedItemsForm"
                [index]="i + 1"
                (handleLoad)="productUpdate($event)"
                (handleUpdate)="productUpdate($event)"
                mode="edit"
              ></camfil-account-cam-card-detail-line-item>
            </div>
          </div>
        </ng-container>
      </div>
      <div *ngFor="let sub of camCard.subCamCards">
        <div
          class="sub-camcard-collapse px-4 my-2"
          (click)="toggleSubCamCard(sub.id)"
          [attr.aria-expanded]="isSubCamCardOpen(sub.id)"
        >
          <mat-icon class="arrow_down" [class.arrow_down--expanded]="isSubCamCardOpen(sub.id)">arrow_left</mat-icon>
          <camfil-account-cam-card-detail-sub-title
            [sub]="sub"
            (delete)="openDeleteConfirmationDialog(sub, subDeleteDialog, true)"
          ></camfil-account-cam-card-detail-sub-title>
        </div>
        <mat-expansion-panel class="mat-elevation-z0" [expanded]="isSubCamCardOpen(sub.id)">
          <div
            cdkDropList
            class="d-flex flex-column"
            [attr.data-cam-card-id]="sub.id"
            [cdkDropListData]="sub.camCardItems"
            (cdkDropListDropped)="drop($event, sub)"
          >
            <ng-container *ngFor="let subItem of sub.camCardItems; index as i2">
              <div
                class="list-item-row list-item-row-big px-4 py-1 mt-2"
                cdkDrag
                [cdkDragData]="subItem"
                [ngStyle]="{ order: subItem.position }"
              >
                <div class="d-flex align-items-center">
                  <mat-icon svgIcon="move" class="size-24 d-none d-md-block handle" cdkDragHandle></mat-icon>
                  <camfil-account-cam-card-detail-line-item
                    [camCardItemData]="subItem"
                    [currentCamCard]="sub"
                    [selectedItemsForm]="selectedItemsForm"
                    [index]="i2 + 1"
                    (handleLoad)="productUpdate($event)"
                    (handleUpdate)="productUpdate($event)"
                    mode="edit"
                  ></camfil-account-cam-card-detail-line-item>
                </div>
              </div>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="text-right cam-card-total">
        <div class="pt-4 pb-2 px-4">
          {{ 'camfil.account.cam_card.details.total.text' | translate }}:<strong class="pl-3">{{
            priceSum | ishPrice
          }}</strong>
        </div>
      </div>
    </div>

    <ng-container *ngIf="camCard; else noCamCard"> </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #noItems>
  <p>{{ 'camfil.account.cam_card.no_entries' | translate }}</p>
</ng-template>

<ng-template #noCamCard>
  <p>{{ 'camfil.account.cam_card.list.no_templates.text' | translate }}</p>
</ng-template>

<ng-template #camCardRow let-camCard="camCard">
  <div
    *ngFor="let camCardItem of camCard.camCardItems; index as i"
    class="d-flex align-items-center justify-content-between cam-card-product"
  >
    <camfil-account-cam-card-detail-line-item
      [camCardItemData]="camCardItem"
      [currentCamCard]="camCard"
      [selectedItemsForm]="selectedItemsForm"
      [index]="i + 1"
      mode="edit"
    ></camfil-account-cam-card-detail-line-item>
  </div>
</ng-template>

<camfil-modal-dialog
  #deleteDialog
  (confirmed)="deleteCamCard()"
  [options]="{
    confirmText: 'camfil.account.cam_card.delete.button.text' | translate,
    rejectText: 'camfil.account.cancel.button.label' | translate
  }"
>
  {{ 'camfil.account.cam_card.delete.do_you_really.text' | translate }}
</camfil-modal-dialog>

<camfil-modal-dialog
  #subDeleteDialog
  (confirmed)="deleteSubCamCard($event)"
  [options]="{
    confirmText: 'camfil.account.cam_card.delete.button.text' | translate,
    rejectText: 'camfil.account.cancel.button.label' | translate,
    icon: 'checkmark'
  }"
  >{{ 'camfil.account.cam_card.delete.sub_cam_card.do_you_really.text' | translate }}</camfil-modal-dialog
>
