<article>
  <mat-card>
    <a [routerLink]="routerLink(pagelet, 'Link')">
      <img mat-card-image [src]="pagelet.stringParam('Image')" [attr.alt]="pagelet.stringParam('AlternateText')" />
    </a>
    <mat-card-header>
      <mat-card-subtitle *ngIf="pagelet.hasParam('Heading2')" class="text-uppercase">{{
        pagelet.stringParam('Heading2')
      }}</mat-card-subtitle>
      <mat-card-title *ngIf="pagelet.hasParam('Heading1')">{{ pagelet.stringParam('Heading1') }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="pagelet.hasParam('Description')" [ishServerHtml]="pagelet.stringParam('Description')"></p>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <a
        *ngIf="pagelet.hasParam('Link') && pagelet.hasParam('LinkText')"
        [routerLink]="routerLink(pagelet, 'Link')"
        [attr.title]="pagelet.stringParam('LinkTitle')"
        class="mat-stroked-button mat-primary"
      >
        <mat-icon>navigate_next</mat-icon>
        {{ pagelet.stringParam('LinkText') }}
      </a>
    </mat-card-actions>
  </mat-card>
</article>
