<form
  [formGroup]="form"
  (ngSubmit)="submitPasswordForm()"
  class="form-horizontal update-password"
  novalidate="novalidate"
>
  <mat-form-field appearance="fill" class="update-password__field">
    <mat-label>{{ 'camfil.account.register.password.label' | translate }}</mat-label>
    <input matInput required [formControl]="passwordFormControl" id="passwordFormControl" type="password" />
  </mat-form-field>

  <div>
    <mat-error
      *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')"
      class="error-field"
    >
      <p>{{ 'camfil.account.update_password.new_password.error.length' | translate }}</p>
      <p>{{ 'camfil.account.update_password.new_password.error.regexp' | translate }}</p>
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('required')" class="error-field">
      {{ 'camfil.account.update_password.new_password.error.required' | translate }}
    </mat-error>
  </div>

  <mat-form-field appearance="fill" class="update-password__field update-password__field--confirmation">
    <mat-label>{{ 'camfil.account.register.password_confirmation.label' | translate }}</mat-label>
    <input
      matInput
      required
      [formControl]="passwordConfirmationFormControl"
      id="passwordConfirmationFormControl"
      type="password"
    />
  </mat-form-field>

  <div>
    <mat-error
      *ngIf="
        passwordConfirmationFormControl.hasError('password') && !passwordConfirmationFormControl.hasError('required')
      "
      class="error-field"
    >
      {{ 'camfil.account.update_password.new_password.error.regexp' | translate }}
    </mat-error>
    <mat-error *ngIf="passwordConfirmationFormControl.hasError('required')" class="error-field">
      {{ 'camfil.account.update_password.new_password.error.required' | translate }}
    </mat-error>
    <mat-error *ngIf="passwordConfirmationFormControl.hasError('equalTo')" class="error-field">
      {{ 'camfil.account.update_password.confirm_password.error.stringcompare' | translate }}
    </mat-error>
  </div>

  <div class="form-group">
    <button
      mat-raised-button
      type="submit"
      value="SubmitButton"
      name="SubmitButton"
      color="primary"
      aria-label="Change password"
      [disabled]="buttonDisabled"
      class="update-password__button"
    >
      {{ 'camfil.account.change_password.button.label' | translate }}
    </button>
  </div>
</form>
