@import '~src/styles/themes/camfil/variables.scss';

:host {
  @media (min-width: $screen-md-min) {
    .col-border {
      border-right: 1px solid $gray-300;
    }
  }

  @media (min-width: $screen-lg-min) {
    .dl-horizontal {
      &,
      & + .text-right {
        padding: 0 3.5rem;
      }
    }
  }
  .dl-horizontal {
    dd {
      font-weight: 500;
    }
  }
  .edit-icon {
    width: 16px;
    height: 16px;
  }
}
