<div class="col-12">
  <mat-card>
    <div class="row">
      <aside class="col-md-8">
        <div class="icon">?</div>
        <div class="content">
          <h3>Having trouble finding what you're looking for?</h3>
          <div>
            Use the searchbar to find SKUs, dimensions, product names and anything within your air filtering needs.
          </div>
        </div>
      </aside>
      <section class="col-md-4">
        <span>See our most asked questions</span>
        <button mat-stroked-button color="primary">Go to F.A.Q. page</button>
      </section>
    </div>
  </mat-card>
</div>
