<div class="category-page box-shadow" [attr.data-testing-id]="category.uniqueId">
  <!-- The following lines are replaced by CMS content assigned to view context 'vc_camfil_category_categories_top' -->
  <!-- <ng-container *ngIf="category.uniqueId === 'Computers'">
    <h1 class="landing__banner display-4">{{ 'camfil.category_landing.banner.text' | translate }}</h1>
    <camfil-category-boxes></camfil-category-boxes>
    <camfil-category-faq></camfil-category-faq>
  </ng-container> -->
  <div class="row">
    <div class="col-12">
      <ish-content-viewcontext
        viewContextId="vc_camfil_category_categories_top"
        [callParameters]="{ Category: category.categoryRef }"
      ></ish-content-viewcontext>
    </div>
  </div>

  <div class="row no-gutters">
    <aside class="col-md-3 sidebar">
      <div class="sidebar--container">
        <div [ngbCollapse]="isCollapsed">
          <camfil-filter-measurements></camfil-filter-measurements>
          <camfil-category-navigation [uniqueId]="category.categoryPath[0]"></camfil-category-navigation>
        </div>
        <a class="d-md-none mobile-filter-toggle" (click)="toggle()">
          {{ 'search.mobile.filter.trigger' | translate }}
          <fa-icon [icon]="['fas', isCollapsed ? 'angle-down' : 'angle-up']"></fa-icon>
        </a>
      </div>
    </aside>

    <div class="col-md-9">
      <div class="col-12 box-shadow box-container">
        <div class="row">
          <div class="col-md-7 col-lg-8">
            <h1>{{ category.name }}</h1>

            <p *ngIf="category?.description?.length < 200; else readMore">
              {{ category.description }}
            </p>

            <ng-template #readMore>
              <mat-accordion class="mat-read-more">
                <mat-expansion-panel [expanded]="!longOpen">
                  {{ category.description | slice: 0:200 }}...
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="longOpen">
                  {{ category.description }}
                </mat-expansion-panel>
              </mat-accordion>
              <mat-action-row>
                <a (click)="longOpen = !longOpen">
                  {{ (longOpen ? 'camfil.show_less.text' : 'camfil.read_more.text') | translate }}
                </a>
              </mat-action-row>
            </ng-template>
          </div>
          <div class="product-guides-area col-md-5 col-lg-4 border-left border-primary pl-5">
            <ish-content-viewcontext
              viewContextId="vc_camfil_category_categories_guides"
              [callParameters]="{ Category: category.categoryRef }"
            ></ish-content-viewcontext>
            <!-- <camfil-links-block title="Guides"></camfil-links-block> -->
          </div>
        </div>
      </div>
      <ish-category-list [categories]="category.children"></ish-category-list>
    </div>
  </div>
</div>
