@import '~src/styles/themes/camfil/mixins.scss';
@import '~src/styles/themes/camfil/variables';

:host {
  .account-profile {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.04);

    &__section {
      padding: $space-default 40px;
    }

    &__personal-info {
      border-bottom: 1px solid $camfil-color-border;
    }

    &__subtitle {
      text-transform: none;
      @include font-size-14-16;
    }
  }
}

.item {
  &--left {
    margin-right: 23px;

    @media (max-width: $screen-md-max) {
      margin-bottom: 15px;
    }
  }
}
