<ng-container *ngIf="isEditable; else labelValue">
  <form [formGroup]="boxLabelForm" class="box-label__form">
    <mat-form-field appearance="outline" class="box-label__form--field">
      <mat-label>{{ 'camfil.cam_card.product.comment.label' | translate }}</mat-label>
      <textarea
        #autosize="cdkTextareaAutosize"
        (blur)="onBlur($event.target, boxLabelForm)"
        [camfilMaxLength]="'BoxLabel'"
        cdkAutosizeMaxRows="3"
        cdkAutosizeMinRows="1"
        cdkTextareaAutosize
        class="overflow-hidden"
        formControlName="boxLabel"
        matInput
        name="boxLabel"
        type="text"
        [readonly]="lineItem?.requisitionLineItemStatus === 'APPROVED'"
      ></textarea>
    </mat-form-field>
  </form>
</ng-container>
<ng-template #labelValue>
  <span>{{ boxLabel || '---' }}</span>
</ng-template>
