<ng-container *ngIf="trail$ | async as items">
  <div *ngIf="items?.length" class="breadcrumbs">
    <ol class="breadcrumbs-list">
      <li *ngIf="showHome" class="breadcrumbs-list breadcrumbs-list-home">
        <a class="breadcrumbs-list-link breadcrumbs-list-link-home" rel="home" routerLink="/home">
          {{ 'camfil.common.home.link' | translate }}
        </a>
        <mat-icon aria-hidden="false" class="breadcrumbs-list-separator"> navigate_next</mat-icon>
        <!-- {{ separator }} -->
      </li>
      <li
        *ngFor="let item of items; index as index; let last = last"
        [ngClass]="{ 'breadcrumbs-list-active': last }"
        class="breadcrumbs-list"
      >
        <a
          *ngIf="productDetail && item.link; else noProductPage"
          [queryParams]="getFilterParams()"
          [routerLink]="item.link"
          class="breadcrumbs-list-link"
        >
          {{ item.text || (item.key | translate) }}
        </a>
        <ng-template #noProductPage>
          <a *ngIf="item.link; else noLink" [routerLink]="item.link" class="breadcrumbs-list-link">
            {{ item.text || (item.key | translate) }}
          </a>
        </ng-template>
        <ng-template #noLink>{{ item.text || (item.key | translate) }}</ng-template>
        <mat-icon *ngIf="!last" aria-hidden="false" class="breadcrumbs-list-separator">
          navigate_next
        </mat-icon>
        <!-- {{ separator }} -->
      </li>
    </ol>
  </div>
</ng-container>
