<ish-error-message [error]="error"></ish-error-message>

<form [formGroup]="form" class="form-horizontal" (ngSubmit)="submitForm()">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>{{ 'camfil.account.forgotdata.email.label' | translate }}</mat-label>
    <input matInput required formControlName="email" type="email" />
  </mat-form-field>

  <camfil-error
    [errors]="form.controls.email.errors"
    [errorValidators]="emailValidator"
    [touched]="form.controls.email.touched"
  >
  </camfil-error>

  <camfil-lazy-captcha topic="forgotUsername" [form]="form"></camfil-lazy-captcha>

  <button
    mat-raised-button
    type="submit"
    color="primary"
    attr.aria-label="{{ 'camfil.account.update_username.button.aria' | translate }}"
    class="form-button"
    [disabled]="formDisabled"
  >
    {{ 'camfil.forgot_username.form.send.button.label' | translate }}
  </button>
</form>
