<form name="AccountsRequestForm" [formGroup]="form" class="form-horizontal accounts-request" (ngSubmit)="submitForm()">
  <mat-form-field appearance="fill" class="accounts-request__field">
    <mat-label>{{ 'camfil.account.forgotdata.email.label' | translate }}</mat-label>
    <input matInput required [formControl]="emailFormControl" type="email" />
  </mat-form-field>

  <camfil-error
    [errors]="emailFormControl.errors"
    [errorValidators]="emailValidator"
    [touched]="emailFormControl.touched"
  >
  </camfil-error>

  <div class="form-group">
    <button
      mat-raised-button
      type="submit"
      value="AccountsRequest"
      name="AccountsRequest"
      color="primary"
      attr.aria-label="{{ 'camfil.account.update_username.button.aria' | translate }}"
      class="accounts-request__button"
      [disabled]="buttonDisabled"
    >
      {{ 'camfil.forgot_username.form.send.button.label' | translate }}
    </button>
  </div>
</form>
