@import '~src/styles/themes/camfil/variables';
@import '~src/styles/themes/camfil/mixins.scss';

:host {
  display: block;
}

.article-product-name {
  padding-top: $space-box/2;
  color: $text-color-quarternary;
}

.article-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: $space-box/2 0;

  &--show-product-name {
    padding-top: 0;
  }

  &__quantity {
    display: flex;
    align-items: center;

    &--input {
      margin-top: 1rem;
    }

    &--label {
      width: 72px;
    }
  }

  &__label {
    font-weight: 400;
    color: $text-color-quarternary;
    @include font-size-subtitle1;
  }

  &__measurement {
    ::ng-deep & {
      .mat-form-field {
        margin: 0 $space-box/2 0;
      }
      .mat-form-field-infix {
        width: 110px;
        border-top-width: 0;
        padding: $space-box 0;
      }
      .mat-form-field-label {
        margin-top: 6px;
      }
      input {
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          margin: 0;
          -webkit-appearance: none;

        }
      }
    }
  }
  &__ico {
    width: 25px;
    height: 25px;
    border: 2px solid $camfil-color-primary;
  }
}
