<ng-container *ngIf="!isInAddNewProductModal; else measurementsOnly">
  <ng-container *ngIf="showProductName">
    <div class="article-product-name">
      <small>{{ product.name }}</small>
    </div>
  </ng-container>

  <div [class.article-details--show-product-name]="showProductName" class="article-details">
    <ng-container *ngIf="requiresMeasurement">
      <h3 class="m-0 text-center text-no-transform w-100">
        <b>{{ 'camfil.modal.addToCamcard.measurement.choose.header' | translate }}</b>
      </h3>
      <div class="article-details__measurement d-flex flex-wrap w-100 pt-1">
        <mat-form-field [formGroup]="quantityForm" appearance="outline">
          <mat-label>{{ 'camfil.modal.addToCamcard.width.label' | translate }}</mat-label>
          <input (keyup)="validateVal()" formControlName="measurementWidth" matInput type="number" />
        </mat-form-field>
        <mat-form-field [formGroup]="quantityForm" appearance="outline">
          <mat-label>{{ 'camfil.modal.addToCamcard.height.label' | translate }}</mat-label>
          <input (keyup)="validateVal()" formControlName="measurementHeight" matInput type="number" />
        </mat-form-field>
        <ng-container *ngIf="depth">
          <mat-form-field [formGroup]="quantityForm" appearance="outline">
            <mat-label>{{ 'camfil.modal.addToCamcard.depth.label' | translate }}</mat-label>
            <input matInput type="number" formControlName="measurementDepth" disabled [readonly]="true" />
          </mat-form-field>
        </ng-container>
        <div class="w-100">
          <div *ngIf="showError" class="text-danger">
            {{ 'camfil.modal.measurement.error' | translate: { '0': maxVal } }}
          </div>
          <div *ngIf="measurementGlobalError$ | async" class="text-danger">
            {{ 'camfil.modal.measurement.error.global' | translate }}
          </div>
          <div *ngIf="!filterAreaValidated" class="text-danger">
            {{ 'camfil.modal.filter_area.error.text' | translate }}
          </div>
          <hr class="m-2" />
        </div>
      </div>
    </ng-container>

    <div>
      <mat-form-field [formGroup]="quantityForm" appearance="outline">
        <mat-label>{{ 'camfil.modal.addToCamcard.box.label' | translate }}</mat-label>
        <input [camfilMaxLength]="'BoxLabel'" formControlName="boxLabel" matInput />
      </mat-form-field>
    </div>

    <div class="article-details__quantity">
      <mat-label class="article-details__label article-details__quantity--label">
        {{ 'camfil.modal.addToCamcard.quantity.label' | translate }}
      </mat-label>
      <camfil-product-quantity
        [allowZeroQuantity]="false"
        [parentForm]="quantityForm"
        [product]="product"
        [quantityLabel]="'camfil.modal.addToCamcard.quantity.label' | translate"
        [type]="'counter'"
        class="article-details__quantity--input"
        controlName="quantity"
      ></camfil-product-quantity>
    </div>
  </div>
</ng-container>
<ng-template #measurementsOnly>
  <ng-container *ngIf="showMeasurementsForm">
    <h3 class="m-0 text-center text-no-transform w-100">
      <b>{{ 'camfil.modal.addToCamcard.measurement.choose.header' | translate }}</b>
    </h3>
    <div class="article-details__measurement d-flex flex-wrap w-100 pt-1">
      <mat-form-field [formGroup]="quantityForm" appearance="outline">
        <mat-label>{{ 'camfil.modal.addToCamcard.width.label' | translate }}</mat-label>
        <input (keyup)="validateVal()" formControlName="measurementWidth" matInput type="number" />
      </mat-form-field>
      <mat-form-field [formGroup]="quantityForm" appearance="outline">
        <mat-label>{{ 'camfil.modal.addToCamcard.height.label' | translate }}</mat-label>
        <input (keyup)="validateVal()" formControlName="measurementHeight" matInput type="number" />
      </mat-form-field>
      <ng-container *ngIf="depth">
        <mat-form-field [formGroup]="quantityForm" appearance="outline">
          <mat-label>{{ 'camfil.modal.addToCamcard.depth.label' | translate }}</mat-label>
          <input matInput type="number" formControlName="measurementDepth" disabled [readonly]="true" />
        </mat-form-field>
      </ng-container>
      <div class="w-100">
        <div *ngIf="showError" class="text-danger">
          {{ 'camfil.modal.measurement.error' | translate: { '0': maxVal } }}
        </div>
        <div *ngIf="measurementGlobalError$ | async" class="text-danger">
          {{ 'camfil.modal.measurement.error.global' | translate }}
        </div>
        <div *ngIf="!filterAreaValidated" class="text-danger">
          {{ 'camfil.modal.filter_area.error.text' | translate }}
        </div>
        <hr class="m-2" />
      </div>
    </div>
  </ng-container>
</ng-template>
