<div class="camfil-cam-card-modal">
  <camfil-loading *ngIf="loading"></camfil-loading>
  <button
    type="button"
    class="close"
    [title]="'dialog.close.text' | translate"
    [attr.aria-label]="'dialog.close.text' | translate"
    (click)="emitHidden()"
  >
    <mat-icon svgIcon="inactive" class="size-30 color-dark"></mat-icon>
  </button>

  <div class="border-bottom">
    <div *ngIf="!customHeaderTemplate" class="camfil-cam-card-modal__title">
      <mat-icon *ngIf="iconName" class="camfil-cam-card-modal__title--icon size-24 color-light">{{
        iconName
      }}</mat-icon>
      <mat-icon
        *ngIf="svgIcon"
        [svgIcon]="svgIcon"
        class="camfil-cam-card-modal__title--svg-icon size-24 color-dark"
      ></mat-icon>
      <h2 mat-dialog-title class="camfil-cam-card-modal__title--text">{{ title }}</h2>
    </div>
    <h3 class="camfil-cam-card-modal__subtitle">{{ subtitle }}</h3>

    <div *ngIf="customHeaderTemplate">
      <ng-container [ngTemplateOutlet]="customHeaderTemplate"></ng-container>
    </div>
  </div>

  <div *ngIf="detailsTemplate" class="camfil-cam-card-modal__details border-bottom">
    <ng-container [ngTemplateOutlet]="detailsTemplate"></ng-container>
  </div>

  <div *ngIf="searchTemplate" class="camfil-cam-card-modal__search border-bottom">
    <h3 class="camfil-cam-card-modal__subtitle camfil-cam-card-modal__subtitle--search">{{ searchTitle }}</h3>
    <ng-container [ngTemplateOutlet]="searchTemplate"></ng-container>
  </div>

  <div class="camfil-cam-card-modal__main-content">
    <ng-container [ngTemplateOutlet]="mainContentTemplate"></ng-container>
  </div>

  <div class="camfil-cam-card-modal__buttons-wrapper">
    <button
      #secondaryButton
      *ngIf="secondaryButtonTitle"
      class="camfil-cam-card-modal__buttons-wrapper--button secondary-button"
      mat-raised-button
      (click)="emitSecondary()"
      [disabled]="secondaryDisabled"
    >
      {{ secondaryButtonTitle }}
    </button>

    <button
      #primaryButton
      *ngIf="primaryButtonTitle"
      class="camfil-cam-card-modal__buttons-wrapper--button button__ghost"
      mat-raised-button
      color="primary"
      (click)="emitPrimary()"
      [disabled]="primaryDisabled"
    >
      {{ primaryButtonTitle }}
    </button>
  </div>
</div>
