<ng-template #modal>
  <div class="cta-modal-container">
    <div *ngIf="showCloseIcon" class="cta-modal__close">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="hide()">
        <mat-icon class="cta-modal__close--icon">close</mat-icon>
      </button>
    </div>

    <div class="cta-modal__header">
      <mat-icon *ngIf="hasError" svgIcon="error"></mat-icon>
      <mat-icon *ngIf="!hasError && !hideIcon" svgIcon="{{ icon || 'add-camcard' }}"></mat-icon>
      <h2 class="cta-modal__header--text">{{ actionTitle }}</h2>
    </div>

    <div class="cta-modal__action">
      <ng-container [ngTemplateOutlet]="actionTemplate"></ng-container>
    </div>

    <div *ngIf="onlyAccept" class="cta-modal__link--accept">
      <button class="btn btn-link cta-modal__links--link" (click)="hide()">
        {{ 'camfil.modal.cta.button.ok' | translate }}
      </button>
    </div>

    <div *ngIf="!onlyAccept && actionButtonTitle" class="cta-modal__links">
      <button class="btn btn-link cta-modal__links--link" (click)="hide()">
        {{ cancelButtonTitle ? cancelButtonTitle : ('camfil.modal.cta.button.cancel' | translate) }}
      </button>

      <button class="btn btn-link cta-modal__links--link" type="submit" (click)="emitAction()">
        {{ actionButtonTitle }}
      </button>
    </div>
  </div>
</ng-template>
