$camfil-color-primary: #006a3a;
$camfil-color-secondary: #cce4db;

$camfil-text-color-primary: #222;
$camfil-text-color-secondary: #666;
$camfil-text-color-tertiary: rgba(#000, 0.6);

$camfil-color-special-primary: #ff4c45; //RED
$camfil-color-special-secondary: #ffa545; //ORANGE
$camfil-color-special-tertiary: #c1d9f6; //BLUE
$camfil-color-special-quarternary: #333f48; // BLUE-IS

$camfil-color-light: #fff;
$camfil-color-light-light: rgba($camfil-color-light, 0.6);

$grey88: #888;
$greyD9: #d9d9d9;
$grey79: #798781;
$greyCC: $camfil-color-secondary;
$greyEF: #efefef;
$greyC9: #c9e3d5;
$greyF9: #f9f9f9;
$greyF5: #f5f5f5;

$colors-icons: primary secondary light dark;
$camfil-white: #fff;

$color-icons-def: (
  primary: $camfil-color-primary,
  secondary: $camfil-color-secondary,
  light: $camfil-color-light,
  dark: $camfil-text-color-primary,
);
