// general tags
a,
button[ng-reflect-router-link] {
  font-weight: 600;
}

// layout elemnts
.main-container {
  background: transparent;
}
header {
  position: relative;
  z-index: $cover-index-header;
  margin-bottom: 0;
  box-shadow: $header-shadow;

  @media (max-width: $screen-xs-max) {
    top: 0;
    transition: top 0.5s 0.5s;

    .isScrollDown & {
      top: -145px;
    }
  }

  &::before {
    background-color: $camfil-color-primary;

    @media (max-width: $screen-xs-max) {
      .sticky-header & {
        background-color: $camfil-color-primary;
      }

      height: 32px;
    }
  }

  & .header {
    @media (max-width: $screen-xs-max) {
      flex-direction: column;
    }
    @media (max-width: $screen-sm-max) {
      &__first {
        height: 40px;

        @media (max-width: $screen-xs-max) {
          height: 32px;
          margin-bottom: $space-box / 2;
        }
      }

      &__second {
        padding: 0 $space-box / 2;
      }
    }
  }
}

.sticky-header .wrapper {
  margin-top: 180px;

  @media (max-width: $screen-sm-max) {
    margin-top: 244px;
  }
  @media (max-width: $screen-xs-max) {
    margin-top: 140px;
  }
}

.sidebar {
  z-index: $cover-index;
  background: $white;

  &--container {
    padding: $space-box;
    box-shadow: $sidebar-shadow;
  }
}

.current-price {
  font-family: unset;
  font-size: unset;
  color: unset;
}

.sale-price {
  font-family: unset;
  font-size: unset;
  color: unset;
}

.old-price {
  margin: unset;
  font-family: unset;
  color: unset;
}

.price-savings {
  font-family: unset;
  color: unset;
}

.secondary-button {
  font-weight: 600;
  color: $camfil-color-primary;
}

.close {
  opacity: 1;

  &:focus {
    outline: 0;
  }
}

.border-bottom {
  padding-bottom: $space-box;
  border-bottom: $border-width-default solid $border-color-lighter;
}

.text-line-through {
  text-decoration-line: line-through;
}

.text-no-transform {
  text-transform: none;
}
