// general tags
a,
button[ng-reflect-router-link] {
  font-weight: 600;
}

// layout elemnts
.main-container {
  background: transparent;
}
header {
  position: relative;
  z-index: $cover-index-header;
  margin-bottom: 0;
  box-shadow: $header-shadow;

  @media (max-width: $screen-xs-max) {
    top: 0;
    transition: top 0.5s 0.5s;

    .isScrollDown & {
      top: -145px;
    }
  }

  &::before {
    background-color: $camfil-color-primary;

    @media (max-width: $screen-xs-max) {
      .sticky-header & {
        background-color: $camfil-color-primary;
      }

      height: 32px;
    }
  }

  & .header {
    @media (max-width: $screen-xs-max) {
      flex-direction: column;
    }
    @media (max-width: $screen-sm-max) {
      &__first {
        height: 40px;

        @media (max-width: $screen-xs-max) {
          height: 32px;
          margin-bottom: $space-box / 2;
        }
      }
      &__second {
        padding: 0 $space-box / 2;
      }
    }
  }
}

.sticky-header .wrapper {
  margin-top: 180px;

  @media (max-width: $screen-sm-max) {
    margin-top: 244px;
  }
  @media (max-width: $screen-xs-max) {
    margin-top: 140px;
  }
}

.sidebar {
  z-index: $cover-index;
  background: $white;

  &--container {
    padding: $space-box;
    box-shadow: $sidebar-shadow;
  }
}
