.box {
  &-container {
    padding: $space-default $space-default $space-sm;
  }
  &-shadow {
    margin-bottom: $main-box-margin;
    overflow: hidden;
    box-shadow: $main-box-shadow;
  }
}

.point {
  display: inline-block;
  width: 9px;
  height: 9px;
  vertical-align: middle;
  background-color: $grey88;
  border-radius: 50%;

  &--primary {
    background-color: $CORPORATE-PRIMARY;
  }
}
