.read-more {
  font-weight: 600;
}

.box {
  &-container {
    padding: $space-default $space-default $space-sm;
  }
  &-shadow {
    margin-bottom: $main-box-margin;
    overflow: hidden;
    box-shadow: $main-box-shadow;
  }
}
