/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev/?c=eyJwYWxldHRlIjp7InByaW1hcnkiOnsibWFpbiI6IiMwMDZhM2EiLCJsaWdodGVyIjoiI2IzZDJjNCIsImRhcmtlciI6IiMwMDRkMjUifSwiYWNjZW50Ijp7Im1haW4iOiIjMDA2NzNlIiwibGlnaHRlciI6IiNjMWQ5ZjYiLCJkYXJrZXIiOiIjMzMzZjQ4In0sIndhcm4iOnsibWFpbiI6IiNmZjY5NjEiLCJsaWdodGVyIjoiI2ZmZDJkMCIsImRhcmtlciI6IiNmZjRjNDUifSwibGlnaHRUZXh0IjoiIzMzMzMzMyIsImxpZ2h0QmFja2dyb3VuZCI6IiNmYWZhZmEiLCJkYXJrVGV4dCI6IiNmZmZmZmYiLCJkYXJrQmFja2dyb3VuZCI6IiMzMzMzMzMifSwiZm9udHMiOlt7InRhcmdldCI6ImRpc3BsYXktNCIsInNwYWNpbmciOjB9LHsidGFyZ2V0IjoiZGlzcGxheS0zIiwic3BhY2luZyI6MH0seyJ0YXJnZXQiOiJkaXNwbGF5LTIifSx7InRhcmdldCI6ImRpc3BsYXktMSJ9LHsidGFyZ2V0IjoiaGVhZGxpbmUifSx7InRhcmdldCI6InRpdGxlIn0seyJ0YXJnZXQiOiJzdWJoZWFkaW5nLTIifSx7InRhcmdldCI6InN1YmhlYWRpbmctMSJ9LHsidGFyZ2V0IjoiYm9keS0yIiwic3BhY2luZyI6MH0seyJ0YXJnZXQiOiJib2R5LTEiLCJzcGFjaW5nIjowfSx7InRhcmdldCI6ImJ1dHRvbiJ9LHsidGFyZ2V0IjoiY2FwdGlvbiJ9LHsidGFyZ2V0IjoiaW5wdXQiLCJsaW5lSGVpZ2h0IjoxLjQsInNpemUiOm51bGx9XSwiaWNvbnMiOiJGaWxsZWQiLCJsaWdodG5lc3MiOnRydWV9
*/

@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

$fontConfig: (
  display-4: mat-typography-level(56px, 64px, 400, 'Roboto', 0),
  display-3: mat-typography-level(48px, 56px, 400, 'Roboto', 0),
  display-2: mat-typography-level(40px, 48px, 400, 'Roboto', 0),
  display-1: mat-typography-level(32px, 40px, 400, 'Roboto', 0),
  headline: mat-typography-level(24px, 32px, 900, 'brandon_grotesqueblack', 0),
  title: mat-typography-level(16px, 24px, 900, 'brandon_grotesqueblack', 0),
  subheading-2: mat-typography-level(14px, 24px, 500, 'Source Sans Pro', 0),
  subheading-1: mat-typography-level(12px, 24px, 500, 'Source Sans Pro', 0),
  body-2: mat-typography-level(16px, 24px, 400, 'Source Sans Pro', 0),
  body-1: mat-typography-level(14px, 24px, 400, 'Source Sans Pro', 0),
  button: mat-typography-level(16px, 16px, 500, 'Source Sans Pro', 0),
  caption: mat-typography-level(12px, 20px, 400, 'Source Sans Pro', 0),
  input: mat-typography-level(inherit, 1.4, 400, 'Source Sans Pro', 1.5px),
);

// Foreground Elements

// Light Theme Text
$dark-text: $camfil-text-color-primary;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba($dark-text, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  secondary-text: $dark-accent-text,
  hint-text: $dark-disabled-text,
  accent-text: $dark-accent-text,
  icon: $dark-accent-text,
  icons: $dark-accent-text,
  text: $dark-primary-text,
  slider-min: $dark-primary-text,
  slider-off: rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #fff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base: $light-text,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba($light-text, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-accent-text,
  accent-text: $light-accent-text,
  icon: $light-text,
  icons: $light-text,
  text: $light-text,
  slider-min: $light-text,
  slider-off: rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background: #fafafa;
$light-bg-darker-5: darken($light-background, 5%);
$light-bg-darker-10: darken($light-background, 10%);
$light-bg-darker-20: darken($light-background, 20%);
$light-bg-darker-30: darken($light-background, 30%);
$light-bg-lighter-5: lighten($light-background, 5%);
$dark-bg-tooltip: lighten($camfil-text-color-primary, 20%);
$dark-bg-alpha-4: rgba($camfil-text-color-primary, 0.04);
$dark-bg-alpha-12: rgba($camfil-text-color-primary, 0.12);

$mat-light-theme-background: (
  background: $light-background,
  status-bar: $light-bg-darker-20,
  app-bar: $light-bg-darker-5,
  hover: $dark-bg-alpha-4,
  card: $light-bg-lighter-5,
  dialog: $light-bg-lighter-5,
  tooltip: $dark-bg-tooltip,
  disabled-button: $dark-bg-alpha-12,
  raised-button: $light-bg-lighter-5,
  focused-button: $dark-focused,
  selected-button: $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle: $light-bg-darker-10,
  unselected-chip: $light-bg-darker-10,
  disabled-list-option: $light-bg-darker-10,
);

// Dark bg
$dark-background: $camfil-text-color-primary;
$dark-bg-lighter-5: lighten($dark-background, 5%);
$dark-bg-lighter-10: lighten($dark-background, 10%);
$dark-bg-lighter-20: lighten($dark-background, 20%);
$dark-bg-lighter-30: lighten($dark-background, 30%);
$light-bg-alpha-4: rgba(#fafafa, 0.04);
$light-bg-alpha-12: rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background: $dark-background,
  status-bar: $dark-bg-lighter-20,
  app-bar: $dark-bg-lighter-5,
  hover: $light-bg-alpha-4,
  card: $dark-bg-lighter-5,
  dialog: $dark-bg-lighter-5,
  tooltip: $dark-bg-lighter-20,
  disabled-button: $light-bg-alpha-12,
  raised-button: $dark-bg-lighter-5,
  focused-button: $light-focused,
  selected-button: $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle: $dark-bg-lighter-10,
  unselected-chip: $dark-bg-lighter-20,
  disabled-list-option: $dark-bg-lighter-10,
);

// Compute font config
@include mat-core($fontConfig);

// Theme Config
$mat-primary: (
  main: $camfil-color-primary,
  lighter: #b3d2c4,
  darker: #004d25,
  200: $camfil-color-primary,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$mat-accent: (
  main: $camfil-color-secondary,
  lighter: $camfil-color-special-tertiary,
  darker: #333f48,
  200: $camfil-color-secondary,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$mat-warn: (
  main: #ff6961,
  lighter: #ffd2d0,
  darker: $camfil-color-special-primary,
  200: #ff6961,
  // For slide toggle,
  contrast:
    (
      main: $dark-primary-text,
      lighter: $dark-primary-text,
      darker: $dark-primary-text,
    ),
);

body {
  --primary-color: $camfil-color-primary;
  --primary-lighter-color: #b3d2c4;
  --primary-darker-color: #004d25;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
  --accent-color: $camfil-color-secondary;
  --accent-lighter-color: $camfil-color-special-tertiary;
  --accent-darker-color: $camfil-color-special-quarternary;
  --text-accent-color: #{$light-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
  --warn-color: #ff6961;
  --warn-lighter-color: #ffd2d0;
  --warn-darker-color: $camfil-color-special-primary;
  --text-warn-color: #{$dark-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$dark-primary-text};
}

$theme-primary: mat-palette($mat-primary, main, lighter, darker);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
  @include angular-material-theme($altTheme);
}

// Specific component overrides, pieces that are not in line with the general theming
.mat-button-base:focus,
.mat-raised-button:focus,
.mat-button {
  outline: 0;
}

// Handle buttons appropriately, with respect to line-height
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  min-width: 3em;
  padding: 0 1.15em;
  margin: 0 0.65em;
  line-height: 41.6px;
}

button,
a {
  &.mat-raised-button,
  &.mat-stroked-button,
  &.mat-flat-button {
    font-size: 14px;
    border-radius: 20px;
  }
}

.mat-standard-chip {
  min-height: 2.5em;
  padding: 0.5em 0.85em;
}

.mat-icon {
  font-family: 'Material Icons', serif;
  font-size: 24px;
  .mat-badge-content {
    font-family: $font-family-SansPro;
  }
  .mat-chip & {
    margin-left: 5px;
  }
  a & {
    vertical-align: middle;
  }

  // for custom camfil icons
  @each $color in $colors-icons {
    &.color-#{'' + $color} *[stroke]:not([stroke='none']) {
      stroke: map-get($color-icons-def, $color);
    }
    &.color-#{'' + $color} *[fill]:not([fill='none']) {
      fill: map-get($color-icons-def, $color);
    }
  }
  &[svgicon] {
    vertical-align: middle;
    svg {
      vertical-align: top;
    }
  }
  @for $i from 10 through 64 {
    &.size-#{$i} {
      width: #{$i}px;
      height: #{$i}px;
    }
    &.fontsize-#{$i} {
      font-size: #{$i}px !important;
    }
  }
}

[mat-fab],
[mat-button],
[mat-button-icon] {
  .mat-icon {
    svg {
      display: block;
    }
  }
}

.mat-toolbar {
  &-single-row {
    height: 40px;
    font-weight: 700;
  }
}

.mat-read-more {
  .mat-expansion-panel {
    &-body {
      padding: 0;
    }
  }
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-form-field-underline {
  bottom: 0;
}

