@mixin triangle($direction, $sizeH, $sizeV, $color) {
  display: block;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
  transform: scale(0.9999);

  @if $direction == top {
    border-color: transparent transparent $color transparent;
    border-width: 0 $sizeV $sizeH $sizeV;
  }
  @if $direction == bottom {
    border-color: $color transparent transparent transparent;
    border-width: $sizeV $sizeH 0 $sizeV;
  }
  @if $direction == left {
    border-color: transparent $color transparent transparent;
    border-width: $sizeV $sizeH $sizeV 0;
  }
  @if $direction == right {
    border-color: transparent transparent transparent $color;
    border-width: $sizeV 0 $sizeV $sizeH;
  }
  @if $direction == topright {
    border-color: transparent $color transparent transparent;
    border-width: 0 $sizeH $sizeV 0;
  }
  @if $direction == bottomright {
    border-color: transparent transparent $color transparent;
    border-width: 0 0 $sizeH $sizeV;
  }
  @if $direction == bottomleft {
    border-color: transparent transparent transparent $color;
    border-width: $sizeH 0 0 $sizeV;
  }
  @if $direction == topleft {
    border-color: $color transparent transparent transparent;
    border-width: $sizeH $sizeV 0 0;
  }
}

@mixin nav-back-separator($location, $color: $greyD9) {
  position: relative;

  &::before {
    position: absolute;
    top: 8px;
    width: 1px;
    height: 24px;
    content: '';
    background: $color;

    @if $location == right {
      right: 0;
    }
    @if $location == left {
      left: 0;
    }
  }
}

@mixin font-size-caption {
  font-size: $font-size-corporate; //14px
  line-height: 20px;
}

@mixin font-size-p {
  @include font-size-caption;

  font-weight: 300;
}

@mixin font-size-subtitle1 {
  font-size: 14px;
  line-height: 24px;
}

@mixin font-size-h3 {
  font-size: $h3-font-size;
  font-weight: 500;
  line-height: $h3-line-height; // 24
}

@mixin font-size-14-16 {
  font-size: $font-size-corporate;
  font-weight: 500;
  line-height: 16px;
}

@mixin font-size-12-16 {
  font-size: $font-size-overline;
  font-weight: 300;
  line-height: $line-height-overline;
}

@mixin font-size-12-16--normal {
  font-size: $font-size-overline;
  font-weight: 400;
  line-height: $line-height-overline;
}

@mixin heading {
  font-family: $font-family-SansPro;
  @include font-size-h3;
}

@mixin error {
  margin-top: 8px;
  font-size: $font-size-overline;
  line-height: $line-height-overline;
}

@mixin page-40 {
  padding: $common-padding;

  &__form-wrapper {
    padding: 0;
  }
}

@mixin link {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-decoration: underline;
}
