@mixin triangle($direction, $sizeH, $sizeV, $color) {
  display: block;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
  transform: scale(0.9999);

  @if $direction == top {
    border-color: transparent transparent $color transparent;
    border-width: 0 $sizeV $sizeH $sizeV;
  }
  @if $direction == bottom {
    border-color: $color transparent transparent transparent;
    border-width: $sizeV $sizeH 0 $sizeV;
  }
  @if $direction == left {
    border-color: transparent $color transparent transparent;
    border-width: $sizeV $sizeH $sizeV 0;
  }
  @if $direction == right {
    border-color: transparent transparent transparent $color;
    border-width: $sizeV 0 $sizeV $sizeH;
  }
  @if $direction == topright {
    border-color: transparent $color transparent transparent;
    border-width: 0 $sizeH $sizeV 0;
  }
  @if $direction == bottomright {
    border-color: transparent transparent $color transparent;
    border-width: 0 0 $sizeH $sizeV;
  }
  @if $direction == bottomleft {
    border-color: transparent transparent transparent $color;
    border-width: $sizeH 0 0 $sizeV;
  }
  @if $direction == topleft {
    border-color: $color transparent transparent transparent;
    border-width: $sizeH $sizeV 0 0;
  }
}

@mixin nav-back-separator($location, $color: $greyD9) {
  position: relative;

  &::before {
    position: absolute;
    top: 8px;
    width: 1px;
    height: 24px;
    content: '';
    background: $color;

    @if $location == right {
      right: 0;
    }
    @if $location == left {
      left: 0;
    }
  }
}

@mixin font-size-h3 {
  font-size: $h3-font-size;
  font-weight: 500;
  line-height: $h3-line-height;
}
