///////////////////////////////////////////////////////////////////////////////
//
// CAMFIL STOREFRONT THEME VARIABLES
//
// supposed to reflect the style guide of the storefront
//
///////////////////////////////////////////////////////////////////////////////

//
// LOGOS

$logo: url('/assets/themes/camfil/img/camfil-logo.svg');
$logo-width: 200px;
$logo-height: 100px;
$logo-mobile: url('/assets/themes/camfil/img/camfil-logo.svg');
$logo-mobile-width: 120px;
$logo-mobile-height: 32px;

// General variables
$cover-index: 5;
$cover-index-header: $cover-index * 2;

// General adjustment variables
$default-color-adjust: 10%;

//
// FONTS
// stylelint-disable value-keyword-case
$font-family-regular: 'robotoregular', 'Helvetica', 'Arial', sans-serif;
$font-family-bold: 'robotobold', 'Helvetica', 'Arial', sans-serif;
$font-family-condensedregular: 'roboto_condensedregular', 'Helvetica Neue', helvetica, 'Arial', sans-serif;
$font-family-condensedbold: 'roboto_condensedbold', 'Helvetica Neue', helvetica, 'Arial', sans-serif;
$font-family-SansPro: 'Source Sans Pro', sans-serif;
// stylelint-enable value-keyword-case

//
// FONT SIZES
$font-size-corporate: 0.875rem; // 14px is the bootstrap 3 default font size (1rem should be around 16px)

//
//CORPORATE DESIGN COLORS

$CORPORATE-PRIMARY: $camfil-color-primary; // GREEN
$CORPORATE-SECONDARY: $camfil-color-secondary; // GREEN-ISH

//
//TEXT COLORS

$text-color-corporate: $CORPORATE-PRIMARY;

$text-color-primary: $camfil-text-color-primary;
$text-color-secondary: $camfil-text-color-secondary;
$text-color-tertiary: $camfil-text-color-tertiary;
$text-color-quarternary: #999;
$text-color-quinary: #eee;

$text-color-inverse: #fff;
$text-color-special: $camfil-color-special-primary; //RED

//
//GENERAL COLORS

$color-corporate: $CORPORATE-PRIMARY;

$color-primary: $camfil-text-color-primary;
$color-secondary: #2c2d2e;
$color-tertiary: #eee;

$color-dark: #000;
$color-inverse: #fafafa;
$color-special-primary: $camfil-color-special-primary; //RED
$color-special-secondary: $camfil-color-special-secondary; //ORANGE
$color-special-tertiary: $camfil-color-special-tertiary; //BLUE
$color-special-quarternary: $camfil-color-special-quarternary; // BLUE-ISH

//
// BORDERS

$border-color-corporate: $color-corporate;

$border-color-default: #222;
$border-color-light: #ccc;
$border-color-lighter: #ddd;

$border-width-default: 1px;

//
// BUTTONS

// primary buttons
$button-primary-bg: $CORPORATE-PRIMARY;
$button-primary-border: $CORPORATE-SECONDARY;

// default buttons
$button-default-color: $CORPORATE-PRIMARY;
$button-default-bg: #fff;
$button-default-border: $CORPORATE-PRIMARY;

// datepicker
$datepicker-border-radius: 15px;

$datepicker-today-bg: $camfil-color-special-secondary;
$datepicker-today-hover: $camfil-color-special-primary;

$datepicker-active-bg: $CORPORATE-PRIMARY;
$datepicker-active-hover: $CORPORATE-SECONDARY;

// breadcrumbs
$breadcrumbs-bg: #f9f8f4;

// input indicator color
$error-color: #dc3545; // TODO: merge with existing theme color?
$success-color: #28a745; // TODO: merge with existing theme color?

// mobile toogler base width
$toggler-width: 64px;

// Header
$top-header-height: 40px;
$top-header-height-mobile: 32px;
$header-height-mobile: 55px;
$header-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);

//search container
$search-container-height: 38px;

// Navigation
$font-size-navbar-item: $font-size-corporate * 1.25; // ~18px
$font-size-menu-item: $font-size-corporate * 1.05; // ~15px
$font-size-sub-menu-item: $font-size-corporate; // ~14px

$font-size-navbar-item-mobile: $font-size-corporate * 1.14; // ~16px
$font-size-menu-item-mobile: $font-size-corporate; // ~14px
$font-size-sub-menu-item-mobile: $font-size-corporate; // ~14px

$navbar-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.17);
$navbar-shadow-mobile: 2px 1px 4px 0 rgba(0, 0, 0, 0.17);
$sidebar-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.37);

// filter
$swatch-image-diameter: 28px;
$swatch-image-padding-to-border: 2px;

// toasts
$toastViewBox: '0 0 16 16';
$toast-error-icon: '<path d="M7.5,0A7.5,7.5,0,1,0,15,7.5,7.508,7.508,0,0,0,7.5,0Zm0,14A6.5,6.5,0,1,1,14,7.5,6.508,6.508,0,0,1,7.5,14Z"/><path d="M10.854,4.146a.5.5,0,0,0-.708,0L7.5,6.793,4.854,4.146a.5.5,0,0,0-.708.708L6.793,7.5,4.146,10.146a.5.5,0,0,0,.708.708L7.5,8.207l2.646,2.647a.5.5,0,0,0,.708-.708L8.207,7.5l2.647-2.646A.5.5,0,0,0,10.854,4.146Z"/>';
$toast-warning-icon: '<path d="M7.5,14.967A7.467,7.467,0,1,0,.033,7.5,7.476,7.476,0,0,0,7.5,14.967Zm0-14A6.533,6.533,0,1,1,.967,7.5,6.54,6.54,0,0,1,7.5.967Z"/><circle cx="7.5" cy="11.5" r="0.5"/><path d="M8,8V3.5a.5.5,0,0,0-1,0V10H8Z"/>';
$toast-success-icon: '<path d="M13.851,4.149a.5.5,0,0,0-.7,0L6.5,10.8,3.851,8.149a.5.5,0,0,0-.7.7l3,3a.5.5,0,0,0,.7,0l7-7A.5.5,0,0,0,13.851,4.149Z"/>';
$toast-error-color: rgba(114, 28, 36, 0.999999);
$toast-warning-color: rgba(133, 100, 4, 0.999999);
$toast-success-color: rgba(21, 87, 36, 0.999999);

///////////////////////////////////////////////////////////////////////////////
//
// CUSTOMIZED BOOTSTRAP DEFAULT VARIABLES
//
// theme specific customization of Bootstrap variables
//
///////////////////////////////////////////////////////////////////////////////

//
// Color system
//
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: $CORPORATE-PRIMARY;
$secondary: $CORPORATE-SECONDARY;

$danger: $color-special-primary;
$warning: $color-special-secondary;
$info: $color-special-tertiary;
$success: $color-special-quarternary;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white;
$body-color: $color-primary;

// Links
//
// Style anchor elements.

$link-color: $primary;
$link-hover-color: darken($link-color, 10%);

// Components
//
// Define common padding and border radius sizes and more.

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
// stylelint-disable value-keyword-case
$font-family-sans-serif: $font-family-regular;
$font-family-monospace: 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
$font-family-base: $font-family-regular;
// stylelint-enable value-keyword-case

// TODO: round font size values
$font-size-base: $font-size-corporate; // 14px is the bootstrap 3 default font size (1rem should be around 16px)
$font-size-sm: $font-size-base * 0.85; // ~12px
$font-size-xs: $font-size-base * 0.75; // ~10px
$font-size-lg: $font-size-base * 1.1428; // ~16px

$h1-font-size: $font-size-base * 2.15; // ~30px
$h2-font-size: $font-size-base * 1.7; // ~24px
$h3-font-size: $font-size-base * 1.25; // ~18px
$h4-font-size: $font-size-base * 1.05; // ~15px
// TODO: h5 font size
$h6-font-size: $font-size-base * 0.85; // ~12px

$h3-line-height: 24px;

$headings-font-family: $font-family-condensedbold;
$headings-font-weight: normal;
$headings-line-height: 1.1;
$headings-color: $text-color-primary;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// Forms
$input-placeholder-color: $text-color-quarternary;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-border-color: rgba(0, 0, 0, 0.15);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xxs: 0,
  xs: 360px,
  sm: 576px,
  md: 768px,
  lg: 1200px,
  xl: 1480px,
);

// Override breakpoints max / min
//
// X Small screen
$screen-xs: map-get($grid-breakpoints, 'xs');

// Small screen / tablet
$screen-sm: map-get($grid-breakpoints, 'sm');
$screen-sm-min: $screen-sm;

// Medium screen / desktop
$screen-md: map-get($grid-breakpoints, 'md');
$screen-md-min: $screen-md;

// Large screen / wide desktop
$screen-lg: map-get($grid-breakpoints, 'lg');
$screen-lg-min: $screen-lg;

// X Large screen / wide desktop
$screen-xl: map-get($grid-breakpoints, 'xl');
$screen-xl-min: $screen-xl;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);

// Grid columns
// Set the number of columns and specify the width of the gutters.
$grid-gutter-width: 48px;
// Container sizes

// Define the maximum width of `.container` for different screen sizes.
// to work well with our breakpoints the value for 'sm' needs to be the width of the next breakpoint
// and the value of 'md' needs to be larger than the one for 'sm'
$container-max-widths: (
  sm: 768px,
  md: 770px,
  lg: map-get($grid-breakpoints, lg) - $grid-gutter-width,
  xl: map-get($grid-breakpoints, xl) - $grid-gutter-width,
);
// Navbar
$navbar-padding-x: 0;
// TODO: navbar related vars needed?
// @navbar-collapse-max-height:       none;
// Inverted navbar
// Reset inverted navbar basics
// @navbar-inverse-color:                      @gray-light;
// Inverted navbar links
// @navbar-inverse-link-color:                 @gray-light;
// Popovers
$popover-max-width: 310px;
$popover-border-color: rgba(0, 0, 0, 0.2);
// Modals
$modal-content-border-color: rgba(0, 0, 0, 0.2);
$modal-header-border-color: $border-color-light;
// Carousel
// TODO:  needed?
// @carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6);
$carousel-control-color: $color-secondary;
$carousel-control-width: 5%;
$carousel-indicator-active-bg: $CORPORATE-PRIMARY;
$carousel-control-prev-icon-bg: url("data:image/svg+xml,<svg width='12' height='16' xmlns='http://www.w3.org/2000/svg'><path d='M.884 6.514L9.76.43c.41-.281.823-.43 1.166-.43C11.589 0 12 .533 12 1.426v13.15c0 .892-.41 1.424-1.072 1.424-.344 0-.75-.149-1.161-.43L.887 9.484C.317 9.093 0 8.565 0 7.999s.312-1.093.884-1.485z' fill='#00673E' fill-rule='nonzero'/></svg>");
$carousel-control-next-icon-bg: url("data:image/svg+xml,<svg width='12' height='16' xmlns='http://www.w3.org/2000/svg'><path d='M11.116 6.514L2.24.43C1.83.149 1.417 0 1.074 0 .411 0 0 .533 0 1.426v13.15C0 15.468.41 16 1.072 16c.344 0 .75-.149 1.161-.43l8.88-6.085c.57-.392.887-.92.887-1.486s-.312-1.093-.884-1.485z' fill='#00673E' fill-rule='nonzero'/></svg>");
$carousel-control-icon-width: 12px;

// TODO:  needed?
// @carousel-indicator-border-color:             #999;
// Close
$close-text-shadow: none;

// Main box
$main-box-shadow: 0 2px 2px 0 rgb(0, 0, 0, 0.14), 0 3px 1px -2px rgb(0, 0, 0, 0.12);
$main-box-margin: 3px;

///////////////////////////////////////////////////////////////////////////////
//
// EOF BOOTSTRAP VARIABLES
//
///////////////////////////////////////////////////////////////////////////////

// General spaces
$space-default: $grid-gutter-width / 2;
$space-half: $space-default / 2;
$space-sm: $grid-gutter-width / 3;
$space-box: 16px;

//other
$camfil-toolbar-font-size: $font-size-base * 0.95; // ~13px
