<ng-container *ngIf="routingInProgress$ | async; else ready">
  <camfil-loading></camfil-loading>
</ng-container>

<ng-template #ready>
  <div class="login-form">
    <div class="col-sm-12 col-lg-4 no-padding">
      <camfil-login-form></camfil-login-form>
      <camfil-login-new-customer></camfil-login-new-customer>
    </div>
    <div class="col-sm-12 col-lg-8 no-padding">
      <!-- <camfil-login-info-section></camfil-login-info-section> -->
      <ish-content-include includeId="camfil.include.login.content.pagelet2-Include"></ish-content-include>
    </div>
  </div>
</ng-template>
