<div class="d-flex justify-content-between py-3">
  <div>
    <a
      color="primary"
      data-testing-id="orders-link"
      mat-stroked-button
      queryParamsHandling="preserve"
      routerLink="/account/orders"
    >
      <mat-icon class="mt-n1">arrow_left</mat-icon>
      {{ 'account.orderdetails.links.return_to_orders' | translate }}</a
    >
    <h1 *ngIf="order" class="align-middle d-none d-md-inline pl-3">
      {{ 'account.orderdetails.order_number.label' | translate }}:
      <span data-testing-id="order-number">{{ order.orderNumber }}</span>
    </h1>
  </div>
  <div>
    <button
      (click)="placeReOrder()"
      [disabled]="!order?.canReOrder"
      color="primary"
      data-testing-id="order-again"
      mat-flat-button
    >
      {{ 'camfil.account.orderdetails.links.order_again' | translate }}
    </button>
  </div>
</div>

<h1 *ngIf="order" class="d-block d-md-none">
  {{ 'account.orderdetails.order_number.label' | translate }}:
  <span data-testing-id="order-number">{{ order.orderNumber }}</span>
</h1>

<mat-card *ngIf="order" class="mb-3 box-shadow--dark mat-elevation-z clearfix">
  <div class="row">
    <div class="order-summary-info col-sm-6 border-sm-right" data-testing-id="order-summary-info">
      <dl class="row dl-horizontal dl-separator">
        <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.customer_id.label' | translate }}</dt>
        <dd class="col-6 p-0" data-testing-id="order-customer_id">{{ order.customerNo }}</dd>
        <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.customer_name.label' | translate }}</dt>
        <dd class="col-6 p-0" data-testing-id="order-customer_name">{{ order.customerName }}</dd>
        <dt class="col-6 p-0 pb-4">{{ 'camfil.account.orderdetails.customer_department.label' | translate }}</dt>
        <dd class="col-6 p-0" data-testing-id="order-customer_department">{{ order.customerDepartment }}</dd>
        <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.camfil_no.label' | translate }}</dt>
        <dd class="col-6 p-0" data-testing-id="order-camfil_no">{{ order.customerOrderNumber }}</dd>
        <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.goods_mark.label' | translate }}</dt>
        <dd class="col-6 p-0" data-testing-id="order-goods_mark">{{ order.orderGoodsMark }}</dd>
        <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.order_status.label' | translate }}</dt>
        <dd class="col-6 p-0" data-testing-id="order-status">
          {{ getOrderStatusText(order.orderStatus) | translate }}
        </dd>
        <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.date_of_order.label' | translate }}</dt>
        <dd class="col-6 p-0" data-testing-id="order-creationDate">{{ order.orderDate | ishDate }}</dd>
        <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.delivery_date.label' | translate }}</dt>
        <dd class="col-6 p-0" data-testing-id="order-deliveryDate">
          <ng-container *ngIf="order?.lineItems?.length">
            <ng-container *ngIf="order?.isPartialDelivery; else orderDeliveryDate">
              {{ 'camfil.account.orderdetails.delivery_date.split.label' | translate }}
              <ng-container *ngFor="let item of order?.deliveryDates; last as isLast">
                {{ item | ishDate }}
                <ng-container *ngIf="!isLast">,</ng-container>
              </ng-container>
            </ng-container>
            <ng-template #orderDeliveryDate>{{ order.deliveryDate | ishDate }}</ng-template>
          </ng-container>
        </dd>
      </dl>
    </div>
    <div class="order-summary-info col-sm-6" data-testing-id="order-summary-info">
      <dl class="row dl-horizontal dl-separator mb-0">
        <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.order_channel.label' | translate }}</dt>
        <dd class="col-6 p-0" data-testing-id="order-channel">{{ order.orderChannel }}</dd>
        <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.contact_person.label' | translate }}</dt>
        <dd class="col-6 p-0" data-testing-id="order-contact_person">
          {{ order.contactPerson }}
        </dd>
        <dt class="col-6 p-0 pb-4">{{ 'camfil.account.orderdetails.phone_notification.label' | translate }}</dt>
        <dd class="col-6 p-0" data-testing-id="order-phone_notification">{{ order.phoneNotification || '-' }}</dd>
        <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.delivery_address.label' | translate }}</dt>
        <dd class="col-6 p-0 order-delivery_address" data-testing-id="order-delivery_address">
          <camfil-address [address]="ishOrder?.commonShipToAddress"></camfil-address>
        </dd>
        <dt class="col-6 p-0">{{ 'camfil.account.orderdetails.order_comment.label' | translate }}</dt>
        <dd class="col-6 p-0 text-break text-right" data-testing-id="order-contact_person">
          {{ order.orderComment }}
        </dd>
      </dl>
      <ng-container *ngIf="order?.trackAndTrace">
        <a
          class="btn-track-order float-right mr-n4"
          color="primary"
          data-testing-id="orders-link"
          href="{{ order.trackAndTrace.link }}"
          mat-stroked-button
          target="_blank"
        >
          {{ 'camfil.account.orderdetails.links.track_order' | translate }}</a
        >
      </ng-container>
    </div>
  </div>
</mat-card>

<ng-container *ngIf="order">
  <!-- Line Items -->
  <camfil-line-item-table
    *ngIf="order?.lineItems?.length > 0"
    [deviceType]="deviceType"
    [lineItems]="order?.lineItems"
    lineItemViewType="simple"
  ></camfil-line-item-table>
  <!-- Cost Summary -->
  <mat-card *ngIf="order" class="mb-3 box-shadow--dark mat-elevation-z clearfix">
    <div class="section cost-summary float-right box-shadow--dark mat-elevation-z">
      <dl class="row dl-horizontal dl-separator mb-0">
        <dt class="col-8">{{ 'camfil.account.orderdetails.summary.qty_ordered' | translate }}</dt>
        <dd class="col-4">{{ order.totalOrderedQty }}</dd>
        <dt class="col-8">{{ 'camfil.account.orderdetails.summary.qty_delivered' | translate }}</dt>
        <dd class="col-4">{{ order.totalDeliveredQty }}</dd>
        <ng-container *ngIf="order.additionalTotalCost">
          <ng-container *ngFor="let element of order.additionalTotalCost">
            <dt class="col-8">{{ element.label }}</dt>
            <dd class="col-4">{{ handlePrice(element.value, order.currency) | ishPrice }}</dd>
          </ng-container>
        </ng-container>
        <dt class="col-8">
          {{ 'camfil.account.orderdetails.your.total_price_exl_vat.text' | translate }}
        </dt>
        <dd class="col-4">
          {{ handlePrice(order.totalPriceAfterDiscountExVAT, order.currency) | ishPrice }}
        </dd>
        <ng-container *ngIf="order.volumeDiscount">
          <dt class="col-8">{{ 'camfil.checkout.volume_discount' | translate }}</dt>
          <dd class="col-4">{{ handlePrice(order.volumeDiscount, order.currency) | ishPrice }}</dd>
        </ng-container>
        <!-- Item Surcharges -->
        <ng-container *ngFor="let surcharge of order.itemSurchargeTotalsByType">
          <ng-container *ngTemplateOutlet="surchargeItemTemplate; context: { surcharge: surcharge }"></ng-container>
        </ng-container>
        <!-- Bucket Surcharges -->
        <ng-container *ngFor="let surcharge of order.bucketSurchargeTotalsByType">
          <ng-container *ngTemplateOutlet="surchargeItemTemplate; context: { surcharge: surcharge }"></ng-container>
        </ng-container>
        <dt class="col-8">
          {{ 'camfil.account.orderdetails.your.tax_amount.text' | translate }}
        </dt>
        <dd class="col-4">
          {{ handlePrice(order.taxAmount, order.currency) | ishPrice }}
        </dd>
        <dt class="col-8 total-price lead">
          {{ 'camfil.account.orderdetails.your.total_price.text' | translate }}
        </dt>
        <dd class="col-4 total-price-value lead">
          {{ handlePrice(order.totalCustomerPriceSum, order.currency) | ishPrice }}
        </dd>
      </dl>
    </div>
  </mat-card>
</ng-container>

<camfil-small-cta-modal
  actionButtonTitle="{{ 'camfil.checkout.create_new_order.temporary_order.ok' | translate }}"
  actionTitle="{{ 'camfil.modal.place_reorder_fail.text' | translate }}"
  onlyAccept="true"
>
</camfil-small-cta-modal>

<camfil-loading *ngIf="orderLoading$ | async"></camfil-loading>

<ng-template #surchargeItemTemplate let-surcharge="surcharge">
  <dt class="col-8" [class.font-weight-bold]="surcharge?.bold">
    {{ surcharge.displayName | slugify: 'camfil.dynamic' | translate }}
    <mat-icon *ngIf="surcharge.description" [matTooltip]="surcharge.description" svgIcon="question-mark"></mat-icon>
  </dt>
  <dd class="col-4" [class.text-line-through]="surcharge?.strikethrough" [class.font-weight-bold]="surcharge?.bold">
    {{ surcharge.amount | ishPrice }}
  </dd>
</ng-template>
