<ng-container *ngIf="buckets$ | async as buckets">
  <ng-container *ngIf="validationResults$ | async as result">
    <ng-container *ngFor="let error of result.errors">
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="calculateBucketPosition(error.parameters?.addressId, buckets) as id"
      >
        {{ error.code | translate }}
        {{ 'camfil.checkout.validation.for_order' | translate }}
        {{ id }}
      </div>
    </ng-container>
  </ng-container>
</ng-container>
