<!-- <h2>{{data.title | translate}}</h2> -->
<h2>{{ 'checkout.receipt.createCamCardsDialog.title' | translate }}</h2>
<p>{{ 'checkout.receipt.createCamCardsDialog.content' | translate }}</p>
<div class="actions">
  <button (click)="confirm()" class="btn btn-link add-new-product__buttons--link">
    {{ 'checkout.receipt.createCamCardsDialog.accept' | translate }}
  </button>
  <button (click)="cancel()" class="btn btn-link add-new-product__buttons--link">
    {{ 'checkout.receipt.createCamCardsDialog.cancel' | translate }}
  </button>
</div>
