<camfil-loading *ngIf="(ordersLoading$ | async) || (basketLoading$ | async)" fixed="true"></camfil-loading>

<br />

<pre>isSubmitted$: {{isSubmitted$ | async}}</pre>

<div class="checkout row">
  <div [ngClass]="{ 'col-lg-9': ((basket$ | async) || (submittedBasket$ | async)) }" class="col-sm-12">
    <div [ngClass]="{ 'header-divider-container': isSubmitted$ | async }">
      <camfil-checkout-header
        [basket]="basket$ | async"
        [buckets]="buckets$ | async"
        [isSubmitted]="isSubmitted$ | async"
      ></camfil-checkout-header>
    </div>

    <ish-basket-info></ish-basket-info>

    <camfil-error-message [error]="basketError$ | async" [toast]="true"></camfil-error-message>

    <camfil-basket-validation-results></camfil-basket-validation-results>

    <ng-template #empty>
      <camfil-shopping-bucket-empty [error]="basketError$ | async"></camfil-shopping-bucket-empty>
    </ng-template>

    <ng-container *ngIf="!(isLoggedIn$ | async)">
      <camfil-checkout-guest-form
        (submit)="submitGuestCheckout($event)"
        [basket]="((basket$ | async) || (submittedBasket$ | async))"
      ></camfil-checkout-guest-form>
      <camfil-checkout-payment
        (createPaymentInstrument)="createPaymentInstrument($event)"
        (deletePaymentInstrument)="deletePaymentInstrument($event)"
        (nextStep)="nextStep()"
        (updatePaymentMethod)="updateBasketPaymentMethod($event)"
        [basket]="basket$ | async"
        [error]="basketError$ | async"
        [paymentMethods]="paymentMethods$ | async"
        [priceType]="priceType$ | async"
      ></camfil-checkout-payment>
    </ng-container>

    <div cdkDropListGroup>
      <ng-container *ngIf="emptyBuckets$ | async as emptyBuckets">
        <ng-container *ngFor="let emptyBucket of emptyBuckets; trackBy: trackByLineItems">
          <camfil-checkout-bucket
            [basket]="basket$ | async"
            [isLoggedIn]="isLoggedIn$ | async"
            [order]="emptyBucket"
          ></camfil-checkout-bucket>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="isSubmitted$ | async as isSubmitted; else notConfirmed">
        <ng-container *ngIf="submittedBuckets$ | async as submittedBuckets">
          <ng-container *ngFor="let confirmedBucket of submittedBuckets; index as i; trackBy: trackByLineItems">
            <camfil-checkout-bucket
              [basket]="basket$ | async"
              [buckets]="submittedBuckets"
              [index]="i + 1"
              [isSubmitted]="isSubmitted"
              [isLoggedIn]="isLoggedIn$ | async"
              [order]="confirmedBucket"
            ></camfil-checkout-bucket>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-template #notConfirmed>
        <ng-container *ngIf="buckets$ | async as buckets; else empty">
          <ng-container *ngFor="let bucket of buckets; index as i; trackBy: trackByLineItems">
            <camfil-checkout-bucket
              [basket]="basket$ | async"
              [buckets]="buckets"
              [index]="i + 1"
              [isSubmitted]="isSubmitted$ | async"
              [isLoggedIn]="isLoggedIn$ | async"
              [order]="bucket"
            ></camfil-checkout-bucket>
          </ng-container>
        </ng-container>
      </ng-template>
    </div>
  </div>

  <ng-container *ngIf="((basket$ | async) || (submittedBasket$ | async)) as basket">
    <div class="col-sm-12 col-lg-3">
      <camfil-checkout-summary
        [purchaseCurrency]="basket.purchaseCurrency"
        [totals]="basket.totals"
        [isSubmitted]="isSubmitted$ | async"
      ></camfil-checkout-summary>
    </div>
  </ng-container>
</div>
