<br />

<ng-container *ngIf="basket">
  <div class="checkout row">
    <div class="col-sm-12 col-lg-9">
      <camfil-checkout-header [basket]="basket" [buckets]="buckets" [isConfirmed]="validation"></camfil-checkout-header>

      <mat-divider></mat-divider>

      <div>
        <!-- Info messages -->
        <ish-basket-info></ish-basket-info>
        <!-- Validation messages-->
        <ish-basket-validation-results></ish-basket-validation-results>
        <camfil-checkout-validation></camfil-checkout-validation>
      </div>

      <div cdkDropListGroup>
        <ng-container *ngFor="let item of emptyBuckets">
          <camfil-checkout-list [order]="item"></camfil-checkout-list>
        </ng-container>

        <ng-container *ngFor="let item of buckets; index as i">
          <camfil-checkout-list
            [order]="item"
            [buckets]="buckets"
            [shippingMethodId]="shippingMethodId"
            [isConfirmed]="validation"
            [totalOrders]="buckets?.length"
            [index]="i + 1"
            (handleProduct)="handleProductLoad($event)"
            [basket]="basket"
          ></camfil-checkout-list>
        </ng-container>
      </div>
    </div>
    <div class="col-sm-12 col-lg-3">
      <camfil-checkout-summary [basket]="basket" [isConfirmed]="validation"></camfil-checkout-summary>
    </div>
  </div>
</ng-container>

<ish-loading *ngIf="basketLoading$ | async"></ish-loading>
<ish-loading *ngIf="ordersLoading$ | async"></ish-loading>
