<camfil-breadcrumb [checkout]="true"></camfil-breadcrumb>

<br />

<ng-container *ngIf="basket$ | async as basket">
  <div class="checkout row">
    <div class="col-sm-12 col-lg-8">
      <camfil-checkout-header [basket]="basket" [buckets]="buckets"></camfil-checkout-header>

      <mat-divider></mat-divider>

      <ng-container *ngFor="let item of emptyBuckets">
        <camfil-checkout-list [order]="item"></camfil-checkout-list>
      </ng-container>
      <ng-container *ngFor="let item of buckets">
        <camfil-checkout-list [order]="item"></camfil-checkout-list>
      </ng-container>
    </div>
    <div class="col-sm-12 col-lg-4">
      <camfil-checkout-summary [basket]="basket"></camfil-checkout-summary>
    </div>
  </div>
</ng-container>
