@import '~src/styles/themes/camfil/variables';

:host {
  .camfil-logo {
    display: block;
    width: $logo-mobile-width;
    height: $logo-mobile-height;
    margin: 0;
    background: url('/assets/themes/camfil/img/logo.svg') left no-repeat;
    background-size: $logo-mobile-width $logo-mobile-height;
  }
  .preference-title {
    font-size: initial;
    font-weight: bold;
  }
  .preference-accordion-wrapper {
    border-top: 1px solid #d8d8d8;
    border-radius: 8px;
  }
  .modal-body {
    padding: 1rem 2rem;
  }
  .preference-required {
    color: #3860be;
  }
  .xs-full-width {
    @media (max-width: $screen-xs-max) {
      display: block;
      width: 100%;
    }
  }
  ::ng-deep {
    .mat-expansion-panel-header.overflow-visible {
      .mat-content {
        overflow: visible;
      }
    }
    .mat-expansion-panel-body {
      padding-top: $space-default;
      background: #f8f8f8;
    }
    .mat-expansion-panel {
      border: 1px solid #d8d8d8;
      border-top: none;
      border-radius: 2px !important;
      box-shadow: none;
    }

    .mat-slide-toggle-bar {
      height: 25px;
      width: 45px;
      border-radius: 12px;
    }

    .mat-slide-toggle-thumb-container {
      top: 1px;
      .mat-slide-toggle-thumb {
        width: 21px;
        height: 21px;
      }
    }
    .mat-slide-toggle {
      &.mat-primary {
        .mat-slide-toggle-bar {
          background-color: #f2f1f1;
          border: 1px solid $border-color-lighter;
        }
        .mat-slide-toggle-thumb {
          background-color: #7d7d7d;
        }
        &.mat-checked {
          .mat-slide-toggle-bar {
            background-color: $button-primary-bg;
            border: 1px solid $button-primary-bg;
          }
          .mat-slide-toggle-thumb {
            background-color: #fff;
          }
          .mat-slide-toggle-thumb-container {
            transform: translate3d(21px, 0, 0);
          }
        }
      }
    }
  }
}
