<mat-form-field [formGroup]="form" appearance="{{ appearance }}" class="w-100 {{ classes }}">
  <mat-label>{{ 'camfil.account.cam_card.add_to_form.postal_code' | translate }}</mat-label>
  <input
    (change)="checkZipCode()"
    data-testing-id="cam-card-dialog-name"
    formControlName="{{ fieldName }}"
    label="camfil.account.cam_card.add_to_form.postal_code"
    markRequiredLabel="off"
    matInput
    maxlength="35"
    required
  />
  <camfil-error
    [errorValidators]="errorValidator"
    [errors]="formField.errors"
    [touched]="formField.touched || formField.dirty"
  ></camfil-error>
</mat-form-field>

<camfil-loading *ngIf="zipCodesLoading$ | async" fixed="{{ fixedLoader }}"></camfil-loading>
