<mat-form-field appearance="{{ appearance }}" [formGroup]="form" class="w-100 {{ classes }}">
  <mat-label>{{ 'camfil.account.cam_card.add_to_form.postal_code' | translate }}</mat-label>
  <input
    matInput
    formControlName="{{ fieldName }}"
    label="camfil.account.cam_card.add_to_form.postal_code"
    markRequiredLabel="off"
    maxlength="35"
    data-testing-id="cam-card-dialog-name"
    (change)="checkZipCode()"
  />
</mat-form-field>
<camfil-error [errors]="formField.errors" [errorValidators]="errorValidator" [touched]="formField.touched">
</camfil-error>

<camfil-loading *ngIf="zipCodesLoading$ | async"></camfil-loading>
