<ng-template #modal>
  <ng-container *ngIf="!(created$ | async).name; else showSuccess">
    <camfil-modal
      [title]="'camfil.modal.addToCamcard.header' | translate"
      iconName="note_add"
      [subtitle]="product.name"
      [detailsTemplate]="detailsTemplate"
      [searchTitle]="'camfil.camcards.modal.add.search.subtitle' | translate"
      [searchTemplate]="searchTemplate"
      [mainContentTemplate]="mainContentTemplate"
      [primaryButtonTitle]="'camfil.modal.addToCamcard.button.create_new' | translate"
      (primaryButtonClicked)="openModal(createModal)"
      [secondaryButtonTitle]="'camfil.modal.addToCamcard.button.add_to_camcard' | translate"
      (secondaryButtonClicked)="addToCamcard()"
      [secondaryDisabled]="!camCardSelected"
    >
    </camfil-modal>
  </ng-container>
</ng-template>

<ng-template #showSuccess>
  <camfil-modal
    [title]="'camfil.modal.addToCamcard.header' | translate"
    [subtitle]="product.name"
    iconName="checkmark"
    [customHeaderTemplate]="customSuccessHeader"
    [primaryButtonTitle]="'camfil.modal.addToCamcard.success.button.continue' | translate"
    (primaryButtonClicked)="hide()"
    [secondaryButtonTitle]="'camfil.modal.addToCamcard.success.button.goToCamCard' | translate"
    (secondaryButtonClicked)="goToCamcard()"
  >
  </camfil-modal>
</ng-template>

<ng-template #customSuccessHeader>
  <div class="modal__success--header">
    <mat-icon class="size-24 color-dark" svgIcon="checkmark"></mat-icon>
    <h2 mat-dialog-title class="modal__success--text">
      {{ 'camfil.modal.addToCamcard.success.title' | translate }} {{ (created$ | async).name }}
    </h2>
  </div>
</ng-template>

<camfil-create-cam-card-modal
  #createModal
  [product]="product"
  (createAndEditEmitter)="createCamcardAndAdd($event)"
  (createAndContinueEmitter)="createCamcardAndAdd($event)"
  [camCardAddressEntry]="camCardAddressEntry"
></camfil-create-cam-card-modal>

<ng-template #detailsTemplate>
  <camfil-article-details [product]="product" [quantityForm]="quantityForm"></camfil-article-details>
</ng-template>

<ng-template #searchTemplate>
  <!-- Search Box -->
  <div class="search-container">
    <mat-icon svgIcon="search" class="search__icon background-icon"></mat-icon>
    <input
      #searchInput
      matInput
      placeholder="Search orders"
      autocomplete="off"
      type="text"
      class="search-input"
      [value]="inputSearchTerm"
      [formControl]="searchInputFilter"
      [class.mat-elevation-z2]="!isActive"
      [class.mat-elevation-z4]="isActive"
      (focus)="isActive = !isActive"
      (focusout)="isActive = !isActive"
    />
    <div class="buttons">
      <button
        *ngIf="inputSearchTerm"
        class="btn-reset btn btn-primary"
        type="reset"
        name="reset"
        [title]="'account.orderlist.seach.reset.title' | translate"
        style="right: 40px"
        (click)="searchInput.focus()"
      ></button>

      <button
        type="submit"
        name="search"
        [title]="'camfil.account.orderlist.seach.button.title' | translate"
        mat-flat-button
        color="primary"
      >
        {{ 'camfil.account.orderlist.seach.button.title' | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #mainContentTemplate>
  <div mat-dialog-content class="cam-card-list">
    <form [formGroup]="newSegmentForm">
      <div *ngFor="let option of camCardOptions; let i = index">
        <div
          class="modal__cam-card"
          [ngClass]="{ 'modal__cam-card--selected': camCardSelected === option.value }"
          (click)="selectCamCard(option.value)"
        >
          <div class="modal__cam-card--title">{{ option.label }}</div>
          <table>
            <tr>
              <td class="modal__cam-card--column">
                <div class="modal__cam-card--details">
                  <div class="modal__cam-card--label">
                    {{ 'camfil.modal.addToCamcard.camcard.next_delivery' | translate }}
                  </div>
                  <div class="modal__cam-card--value">{{ option.nextDelivery }}</div>
                </div>
              </td>
              <td class="modal__cam-card--column-right">
                <div class="modal__cam-card--details">
                  <div class="modal__cam-card--label">
                    {{ 'camfil.modal.addToCamcard.camcard.order_mark' | translate }}
                  </div>
                  <div class="modal__cam-card--value">{{ option.orderLabel }}</div>
                </div>
              </td>
            </tr>
            <tr *ngIf="camCardSelected === option.value">
              <td>
                <div class="modal__cam-card--details">
                  <div class="modal__cam-card--label">
                    {{ 'camfil.modal.addToCamcard.camcard.invoice_mark' | translate }}
                  </div>
                  <div class="modal__cam-card--value">{{ option.invoiceLabel }}</div>
                </div>
              </td>
            </tr>
          </table>

          <div *ngIf="camCardSelected === option.value">
            <div class="modal__cam-card--details border-bottom modal__cam-card--delivery-address">
              <div class="modal__cam-card--label">
                {{ 'camfil.modal.addToCamcard.camcard.delivery_address' | translate }}
              </div>
              <div class="modal__cam-card--value">{{ option.deliveryAddress }}</div>
            </div>
            <div class="modal__label">
              {{ 'camfil.modal.addToCamcard.camcard.sublist.title' | translate }}
            </div>

            <mat-radio-group
              aria-labelledby="segment-radio-group"
              [(ngModel)]="segmentSelected"
              [ngModelOptions]="{ standalone: true }"
            >
              <div
                *ngIf="camCardSelected === option.value && option.subCamCards.length"
                class="modal__cam-card--sublist"
              >
                <div class="modal__radio" *ngFor="let subCamCard of option.subCamCards; let i = index">
                  <mat-radio-button name="subCamCard" [value]="subCamCard.id">{{ subCamCard.name }}</mat-radio-button>
                </div>
              </div>
              <div *ngIf="showNewSegment" class="modal__radio modal__new-segment--radio">
                <mat-radio-button name="subCamCard" [value]="newSegmentValue">
                  <mat-form-field appearance="outline" class="modal__input--small">
                    <input
                      matInput
                      formControlName="newCamCard"
                      [placeholder]="'camfil.account.cam_card.new_cam_card.text' | translate"
                    />
                  </mat-form-field>
                </mat-radio-button>
                <camfil-error
                  [errors]="newSegmentForm.controls.newCamCard.errors"
                  [errorValidators]="newSegmentValidator"
                  [touched]="newSegmentForm.controls.newCamCard.touched"
                >
                </camfil-error>
              </div>
            </mat-radio-group>

            <div class="modal__new-segment">
              <mat-icon svgIcon="plus" class="color-dark size-24 modal__new-segment--icon"></mat-icon>
              <a class="modal__link" (click)="showNewSegmant()">{{
                'camfil.modal.addToCamcard.camcard.new_segment' | translate
              }}</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<!-- <div>
  <ng-container *ngIf="showForm; else showSuccess">
    <div mat-dialog-content>
      <form [formGroup]="updateCamCardForm" (ngSubmit)="submitForm()">
        <div mat-dialog-content>
          <ng-container *ngIf="camCardOptions === undefined || camCardOptions.length === 0; else radioButtonForm">
            <ish-input
              controlName="newCamCard"
              [errorMessages]="{ required: 'camfil.account.cam_card.name.error.required' }"
              [form]="updateCamCardForm"
            ></ish-input>
          </ng-container>

          <ng-template #radioButtonForm>
            <div class="form-group">
              <div class="radio" *ngFor="let option of camCardOptions; let i = index">
                <label>
                  <input
                    type="radio"
                    name="camCards"
                    formControlName="camCards"
                    [value]="option.value"
                    id="camCard_{{ i }}"
                    [attr.data-testing-id]="option.label"
                  />
                  {{ option.label }}
                </label>
              </div>
              <div class="radio">
                <label class="d-flex align-items-center">
                  <input
                    type="radio"
                    name="camCards"
                    formControlName="camCards"
                    value="newCamCard"
                    class="mb-3"
                    id="camCards"
                  />
                  <ish-input
                    class="w-75"
                    controlName="newCamCard"
                    [disabled]="newCamCardDisabled ? 'true' : null"
                    [errorMessages]="{ required: 'camfil.account.cam_card.name.error.required' }"
                    [form]="updateCamCardForm"
                    inputClass="col-md-12"
                  ></ish-input>
                </label>
              </div>
            </div>
          </ng-template>
        </div>
        <div mat-dialog-actions>
          <button mat-raised-button color="primary" type="submit">
            {{ submitButtonTranslationKey | translate }}
          </button>
          <button mat-flat-button color="secondary" mat-dialog-close type="button" (click)="hide()">
            {{ 'camfil.account.cancel.button.label' | translate }}
          </button>
        </div>
      </form>
    </div>
  </ng-container>
  <ng-template #showSuccess>
    <div mat-dialog-content>
      <span
        [ishServerHtml]="
          successTranslationKey | translate: { '0': product.name, '1': selectedCamCardTitle, '2': selectedCamCardRoute }
        "
        [callbacks]="{ callbackHideDialogModal: callbackHideDialogModal }"
        data-testing-id="cam-card-success-link"
      ></span>
    </div>
    <div mat-dialog-actions>
      <button mat-flat-button color="primary" (click)="hide()">
        {{ 'store.dialog.button.ok' | translate }}
      </button>
    </div>
  </ng-template>
</div> -->
