<ng-template #modal let-selectModal>
  <h2 mat-dialog-title>{{ headerTranslationKey | translate }}</h2>
  <ng-container *ngIf="showForm; else showSuccess">
    <div mat-dialog-content>
      <form [formGroup]="updateCamCardForm" (ngSubmit)="submitForm()">
        <div mat-dialog-content>
          <ng-container *ngIf="camCardOptions === undefined || camCardOptions.length === 0; else radioButtonForm">
            <ish-input
              controlName="newCamCard"
              [errorMessages]="{ required: 'camfil.account.cam_card.name.error.required' }"
              [form]="updateCamCardForm"
            ></ish-input>
          </ng-container>

          <ng-template #radioButtonForm>
            <div class="form-group">
              <div class="radio" *ngFor="let option of camCardOptions; let i = index">
                <label>
                  <input
                    type="radio"
                    name="camCards"
                    formControlName="camCards"
                    [value]="option.value"
                    id="camCard_{{ i }}"
                    [attr.data-testing-id]="option.label"
                  />
                  {{ option.label }}
                </label>
              </div>
              <div class="radio">
                <label class="d-flex align-items-center">
                  <input
                    type="radio"
                    name="camCards"
                    formControlName="camCards"
                    value="newCamCard"
                    class="mb-3"
                    id="camCards"
                  />
                  <ish-input
                    class="w-75"
                    controlName="newCamCard"
                    [disabled]="newCamCardDisabled ? 'true' : null"
                    [errorMessages]="{ required: 'camfil.account.cam_card.name.error.required' }"
                    [form]="updateCamCardForm"
                    inputClass="col-md-12"
                  ></ish-input>
                </label>
              </div>
            </div>
          </ng-template>
        </div>
        <div mat-dialog-actions>
          <button mat-raised-button color="primary" type="submit">
            {{ submitButtonTranslationKey | translate }}
          </button>
          <button mat-flat-button color="secondary" mat-dialog-close type="button" (click)="hide()">
            {{ 'camfil.account.cancel.button.label' | translate }}
          </button>
        </div>
      </form>
    </div>
  </ng-container>
  <ng-template #showSuccess>
    <div mat-dialog-content>
      <span
        [ishServerHtml]="
          successTranslationKey | translate: { '0': product.name, '1': selectedCamCardTitle, '2': selectedCamCardRoute }
        "
        [callbacks]="{ callbackHideDialogModal: callbackHideDialogModal }"
        data-testing-id="cam-card-success-link"
      ></span>
    </div>
    <div mat-dialog-actions>
      <button mat-flat-button color="primary" (click)="hide()">
        {{ 'store.dialog.button.ok' | translate }}
      </button>
    </div>
  </ng-template>
</ng-template>
