<div
  *ngIf="locale$ | async as locale"
  class="language-switch"
  [ngClass]="view"
  ngbDropdown
  placement="{{ placement === 'up' ? 'top-right' : 'bottom-right' }}"
>
  <ng-container *ngIf="view !== 'onMobile'; else inMobileNav">
    <ng-container *ngIf="(languages$ | async)?.length > 1; else noDropDown">
      <a class="language-switch-link dropdown-toggle" [matMenuTriggerFor]="menu">
        <mat-icon svgIcon="globe" class="color-secondary language-switch--globe"></mat-icon>
        <span class="language-switch-current-selection d-inline">
          {{ (view === 'accordion' ? locale.displayLong : locale.displayName) | translate }}
          <span class="switch_arrow"></span>
        </span>
      </a>
      <mat-menu #menu="matMenu">
        <ng-container *ngIf="languages$ | async as languages">
          <ng-container *ngFor="let lang of languages">
            <ng-container *ngIf="lang !== locale.lang">
              <a
                mat-menu-item
                (click)="changeLocale($event, lang)"
                [href]="
                  getBaseUrl({ redirect: '1', lang: lang }) || (location | makeHref: { redirect: '1', lang: lang })
                "
              >
                {{ 'locale.' + lang + '.long' | translate }}
              </a>
            </ng-container>
          </ng-container>
        </ng-container>
      </mat-menu>
    </ng-container>
  </ng-container>

  <ng-template #inMobileNav>
    <a
      (click)="showList = !showList; toggleLevel(showList)"
      [ngClass]="{ open: showList }"
      class="d-flex align-items-center"
    >
      <mat-icon svgIcon="globe" class="color-primary language-switch--globe"></mat-icon>
      <span class="language-switch-current-selection d-inline">{{ locale.displayLong | translate }}</span>
      <mat-icon class="language-switch--arrow">arrow_{{ showList ? 'left' : 'right' }}</mat-icon>
    </a>
    <ng-container *ngIf="languages$ | async as languages">
      <ul *ngIf="languages.length && showList">
        <ng-container *ngFor="let lang of languages">
          <li *ngIf="lang !== locale.lang">
            <a
              (click)="changeLocale($event, lang)"
              [href]="
                getBaseUrl({ redirect: '1', lang: lang }) || (location | makeHref: { redirect: '1', lang: lang })
              "
            >
              {{ 'locale.' + lang + '.long' | translate }}
            </a>
          </li>
        </ng-container>
      </ul>
    </ng-container>
  </ng-template>

  <ng-template #noDropDown>
    <div class="language-switch-link no-drop-down d-flex align-items-center">
      <mat-icon svgIcon="globe" class="color-secondary language-switch--globe"></mat-icon>
      <span class="language-switch-current-selection d-inline">
        {{ (view === 'accordion' ? locale.displayLong : locale.displayName) | translate }}
      </span>
    </div>
  </ng-template>
</div>
