<div
  *ngIf="locale$ | async as locale"
  class="language-switch"
  [ngClass]="view"
  ngbDropdown
  placement="{{ placement === 'up' ? 'top-right' : 'bottom-right' }}"
>
  <ng-container *ngIf="view !== 'onMobile'; else inMobileNav">
    <a class="language-switch-link dropdown-toggle" [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="globe" class="color-secondary language-switch--globe"></mat-icon>
      <span class="language-switch-current-selection d-inline">
        {{ (view === 'accordion' ? locale.displayName : locale.value) | translate }}
        <span class="switch_arrow"></span>
      </span>
    </a>
    <mat-menu #menu="matMenu">
      <ng-container *ngIf="availableLocales$ | async as availableLocales">
        <ng-container *ngFor="let l of availableLocales">
          <ng-container *ngIf="l.lang !== locale.lang">
            <a mat-menu-item [href]="location | makeHref: { redirect: '1', lang: l.lang }">
              {{ l.displayName | translate }}</a
            >
          </ng-container>
        </ng-container>
      </ng-container>
    </mat-menu>
  </ng-container>

  <ng-template #inMobileNav>
    <a
      (click)="showList = !showList; toggleLevel(showList)"
      [ngClass]="{ open: showList }"
      class="d-flex align-items-center"
    >
      <mat-icon svgIcon="globe" class="color-primary language-switch--globe"></mat-icon>
      <span class="language-switch-current-selection d-inline">{{ locale.displayName | translate }}</span>
      <mat-icon class="language-switch--arrow">arrow_{{ showList ? 'left' : 'right' }}</mat-icon>
    </a>
    <ng-container *ngIf="availableLocales$ | async as availableLocales">
      <ul *ngIf="availableLocales.length && showList">
        <ng-container *ngFor="let l of availableLocales">
          <li *ngIf="l.lang !== locale.lang">
            <a [href]="location | makeHref: { redirect: '1', lang: l.lang }"> {{ l.displayName | translate }} </a>
          </li>
        </ng-container>
      </ul>
    </ng-container>
  </ng-template>
</div>
