<mat-card class="mb-3 box-shadow--dark mat-elevation-z clearfix">
  <div class="section cost-summary float-right box-shadow--dark mat-elevation-z">
    <dl class="row dl-horizontal dl-separator mb-0">
      <dt class="col-8">{{ 'camfil.quotes.quote_details.summary.qty' | translate }}</dt>
      <dd class="col-4">{{ quote?.totalQty }}</dd>
      <dt class="col-8">
        {{ 'camfil.account.orderdetails.your.total_price_exl_vat.text' | translate }}
      </dt>
      <dd class="col-4">
        {{ quote?.totalPriceAfterDiscountExVAT | ishPrice }}
      </dd>
      <ng-container *ngIf="volumeDiscount">
        <dt class="col-8">{{ 'camfil.checkout.volume_discount' | translate }}</dt>
        <dd class="col-4">{{ handlePrice(volumeDiscount) | ishPrice }}</dd>
      </ng-container>
      <ng-container *ngFor="let surchargeItem of quote?.surchargeItems">
        <dt class="col-8">
          {{ surchargeItem.displayName | slugify: 'camfil.dynamic' | translate }}
        </dt>
        <dd class="col-4" [class.text-line-through]="surchargeItem.strikethrough">
          {{ surchargeItem.amount | ishPrice }}
        </dd>
      </ng-container>
      <dt class="col-8">
        {{ 'camfil.account.orderdetails.your.tax_amount.text' | translate }}
      </dt>
      <dd class="col-4">
        {{ quote?.taxAmount | ishPrice }}
      </dd>
      <dt class="col-8 total-price lead">
        {{ 'camfil.account.orderdetails.your.total_price.text' | translate }}
      </dt>
      <dd class="col-4 total-price-value lead">
        {{ quote?.total | ishPrice }}
      </dd>
    </dl>
  </div>
</mat-card>
