<ng-template #modal>
  <camfil-cam-card-modal
    #modal
    (hiddenClicked)="hide()"
    (primaryButtonClicked)="createAndEdit()"
    (secondaryButtonClicked)="createAndContinue()"
    [detailsTemplate]="detailsTemplate"
    [mainContentTemplate]="mainContentTemplate"
    [primaryButtonTitle]="'camfil.modal.createCamcard.button.create_and_edit' | translate"
    [primaryDisabled]="disableActionButton(product, quantityForm)"
    [secondaryButtonTitle]="'camfil.modal.createCamcard.button.create_and_continue' | translate"
    [title]="'camfil.modal.createCamcard.title' | translate"
    class="camfil-create-product-cam-card-modal"
    iconName="note_add"
  >
  </camfil-cam-card-modal>
</ng-template>
<ng-template #detailsTemplate>
  <camfil-article-details [product]="product" [quantityForm]="quantityForm"></camfil-article-details>
</ng-template>

<ng-template #mainContentTemplate>
  <div class="form__wrapper" mat-dialog-content>
    <form [formGroup]="camCardForm" class="form-horizontal border-bottom" novalidate="novalidate">
      <!--customer select-->
      <mat-form-field appearance="outline" class="col-sm-12 form__field">
        <mat-select
          (selectionChange)="pickCustomer($event)"
          [placeholder]="'camfil.modal.createCamcard.select.customer' | translate"
          formControlName="customerSelect"
        >
          <mat-option>--</mat-option>
          <mat-option *ngFor="let customer of customers$ | async" [value]="customer.id">
            {{ customer.companyName }}, {{ customer.customerNo }}
            <ng-container *ngIf="customer.department">, {{ customer.department }}</ng-container>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--name-->
      <mat-form-field appearance="outline" class="col-sm-12 form__field">
        <mat-label>{{ 'camfil.modal.createCamcard.input.name' | translate }}</mat-label>
        <input #name [camfilMaxLength]="'CamCardTitle'" formControlName="name" matInput type="text" />
        <camfil-error
          [errorValidators]="validators.name"
          [errors]="getField('name').errors"
          [touched]="getField('name').touched || getField('name').dirty"
        ></camfil-error>
      </mat-form-field>

      <!--order mark-->
      <mat-form-field appearance="outline" class="col-sm-12 form__field">
        <mat-label>{{ 'camfil.modal.createCamcard.input.order_mark' | translate }}</mat-label>
        <input [camfilMaxLength]="'OrderMark'" formControlName="orderMark" matInput type="text" />
      </mat-form-field>

      <!--invoice mark-->
      <mat-form-field appearance="outline" class="col-sm-12 form__field">
        <mat-label>{{ 'camfil.modal.createCamcard.input.invoice_mark' | translate }}</mat-label>
        <input [camfilMaxLength]="'InvoiceLabel'" formControlName="invoiceMark" matInput type="text" />
      </mat-form-field>

      <!--address select-->
      <mat-form-field appearance="outline" class="col-sm-12 form__field">
        <mat-select
          (selectionChange)="pickAddress($event)"
          [placeholder]="'camfil.account.cam_card.add_to_form.choose_address' | translate"
          formControlName="deliveryAddressSelect"
        >
          <mat-option>--</mat-option>
          <ng-container *ngIf="addresses$ | async as locations">
            <mat-option
              *ngFor="let location of locations[customerId] | addressSort: 'addressLine1'"
              [value]="location.id"
            >
              {{ location.addressLine1 }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <!--company-->
      <mat-form-field appearance="outline" class="col-sm-12 form__field">
        <mat-label>{{ 'camfil.modal.createCamcard.input.company' | translate }}</mat-label>
        <input [camfilMaxLength]="'Company'" formControlName="company" matInput type="text" />
      </mat-form-field>

      <!--address-->
      <mat-form-field appearance="outline" class="col-sm-12 form__field">
        <mat-label>{{ 'camfil.modal.createCamcard.input.address' | translate }}</mat-label>
        <textarea
          formControlName="address"
          label="camfil.modal.createCamcard.input.address"
          markRequiredLabel="off"
          matInput
          maxlength="250"
          rows="5"
        ></textarea>
        <camfil-error
          [errorValidators]="validators.address"
          [errors]="getField('address').errors"
          [touched]="getField('address').touched || getField('address').dirty"
        ></camfil-error>
      </mat-form-field>

      <!--zip code-->
      <div class="col-sm-12 col-md-5 form__field form__field--neighbour">
        <camfil-zip-code
          [forceCheck]="forcePostcodeCheck$"
          [errorValidator]="validators.zipCode"
          [form]="camCardForm"
          appearance="outline"
          classes="delivery-address__form--field delivery-address__form--field-small"
          fieldCity="area"
          fieldName="zipCode"
        ></camfil-zip-code>
      </div>

      <!--area-->
      <div class="col-sm-12 col-md-7 form__field form__field--neighbour form__field--neighbour-right">
        <camfil-city-field
          [form]="camCardForm"
          fieldCode="zipCode"
          fieldCity="area"
          fieldSelect="citySelect"
        ></camfil-city-field>
      </div>

      <!--
        // because of CAM-911
        <mat-form-field appearance="outline" class="col-sm-12 form__field">
        <mat-label>{{ 'camfil.account.cam_card.add_to_form.country' | translate }}</mat-label>
        <mat-select formControlName="countryCode">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let country of countries$ | async" [value]="country.countryCode">
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <camfil-error
        [errors]="getField('countryCode').errors"
        [errorValidators]="validators.countryCode"
        [touched]="getField('countryCode').touched || getField('countryCode').dirty"
      ></camfil-error> -->

      <button (click)="addSubLevel()" class="form__field--button" mat-raised-button type="button">
        <mat-icon class="color-dark form__field--button-icon" svgIcon="plus"></mat-icon>
        {{ 'camfil.modal.createCamcard.button.add_section' | translate }}
      </button>

      <!--subcamcard-->
      <div [ngClass]="{ hidden: !showNewSegment }" class="input-container">
        <mat-form-field appearance="outline" class="col-sm-12 form__field sublevel-input">
          <mat-label>{{ 'camfil.modal.createCamcard.input.new_subcamcard' | translate }}</mat-label>
          <input #newSubCamCard formControlName="newCamCard" matInput type="text" />
          <camfil-error
            [errorValidators]="validators.newCamCard"
            [errors]="getField('newCamCard').errors"
            [touched]="getField('newCamCard').touched || getField('newCamCard').dirty"
          ></camfil-error>
        </mat-form-field>
      </div>
    </form>
    <div *ngIf="!showNewSegment" class="sublevel-placeholder"></div>
  </div>
</ng-template>
