<fieldset *ngIf="selectRoleForm" [formGroup]="selectRoleForm">
  <div class="user-roles-form-container">
    <div *ngIf="selectRoleForm" class="row">
      <ng-container *ngFor="let role of roleCheckboxes; let i = index">
        <div class="col-12">
          <div class="form-control-checkbox">
            <div class="form-check form-control">
              <mat-checkbox [value]="role.id" [checked]="role.checked" (change)="changeUserRoles($event)">
                {{ role.displayName }}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</fieldset>

<camfil-confirmation-modal
  #userRolesChangeModal
  actionTitle="{{ 'camfil.account.useredit.confirm_modal.roles.header.text' | translate }}"
  [confirmationBody]="confirmationBody"
>
</camfil-confirmation-modal>

<ng-template #confirmationBody>
  <div class="roles-list-container">
    <ul *ngFor="let role of roleCheckboxes">
      <div *ngIf="role.checked">
        <p>
          <strong>{{ role.displayName }}:</strong>
        </p>
        <ul>
          <li *ngFor="let p of role.permissionDisplayNames">{{ p }}</li>
        </ul>
      </div>
    </ul>
  </div>
</ng-template>
