<div class="ahu">
  <img class="ahu__banner" src="{{ banner.url }}" />
  <mat-card class="ahu__card text-center">
    <mat-card-header class="ahu__card-header">
      <mat-card-title class="ahu__card-title mat-headline">{{ 'camfil.ahu.heading' | translate }}</mat-card-title>
      <mat-card-subtitle class="ahu__card-subtitle"
        >{{ 'camfil.ahu.intro.line1' | translate }}<br />{{ 'camfil.ahu.intro.line2' | translate }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div class="ahu__form">
        <span class="ahu__subheading">{{ 'camfil.ahu.subheading' | translate }}</span>
        <form [formGroup]="ahuForm" (ngSubmit)="submitAhuForm()">
          <p>
            <mat-form-field appearance="fill" class="ahu__field">
              <mat-label>{{ 'camfil.ahu.select.manufacturer' | translate }}</mat-label>
              <mat-select formControlName="manufacturer" (selectionChange)="selectAhuManufacturer($event)">
                <mat-option [value]="undefined">None</mat-option>
                <ng-container *ngIf="ahuManufacturers$ | async as ahuManufacturers">
                  <mat-option *ngFor="let manufacturer of ahuManufacturers" [value]="manufacturer.id">
                    {{ manufacturer.name }}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill" class="ahu__field">
              <mat-label>{{ 'camfil.ahu.select.model' | translate }}</mat-label>
              <mat-select formControlName="unit" (selectionChange)="selectAhuUnit($event)">
                <mat-option [value]="undefined">None</mat-option>
                <ng-container *ngIf="ahuUnits$ | async as ahuUnits">
                  <mat-option *ngFor="let unit of ahuUnits" [value]="unit.ahu.id">
                    {{ unit.ahu.airHandlingUnitName }}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </p>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<ish-content-include includeId="camfil.include.ahu.content.pagelet2-Include"></ish-content-include>
<!-- <camfil-product-guides></camfil-product-guides> -->
