<div class="ahu">
  <img class="ahu__banner" src="{{ banner.url }}" />
  <mat-card class="ahu__card text-center">
    <mat-card-header class="ahu__card-header">
      <mat-card-title class="ahu__card-title mat-headline">{{ 'camfil.ahu.heading' | translate }}</mat-card-title>
      <mat-card-subtitle class="ahu__card-subtitle"
        >{{ 'camfil.ahu.intro.line1' | translate }}<br />{{ 'camfil.ahu.intro.line2' | translate }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div class="ahu__form">
        <span class="ahu__subheading">{{ 'camfil.ahu.subheading' | translate }}</span>
        <p>
          <mat-form-field appearance="fill" class="ahu__field">
            <mat-label>{{ 'camfil.ahu.select.manufacturer' | translate }}</mat-label>
            <mat-select [(ngModel)]="manufacturerSelect">
              <mat-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">{{
                manufacturer.title
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" class="ahu__field">
            <mat-label>{{ 'camfil.ahu.select.model' | translate }}</mat-label>
            <mat-select [disabled]="!manufacturerSelect" [(ngModel)]="modelSelect">
              <mat-option *ngFor="let model of models" [value]="model.id">{{ model.title }}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<ish-content-include includeId="camfil.include.ahu.content.pagelet2-Include"></ish-content-include>
<!-- <camfil-product-guides></camfil-product-guides> -->
