@import '~src/styles/themes/camfil/mixins.scss';
@import '~src/styles/themes/camfil/variables';

.ahu {
  position: relative;
  min-height: 355px;
  margin-bottom: 40px;

  &__banner {
    width: 100%;
  }

  &__card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 550px;
    max-height: 355px;
    padding: 20px;
    margin: auto;
  }

  &__card-header {
    display: block;
  }

  &__card-title {
    margin-top: 5px;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__card-subtitle {
    font-size: 16px;
    line-height: 24px;
    color: rgba($camfil-color-dark, 0.74);
  }

  &__subheading {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: $camfil-text-color-tertiary;
  }

  &__form {
    max-width: 370px;
    padding: 15px;
    margin: 0 auto;
    background-color: rgba($camfil-color-primary, 0.1);
  }

  &__field {
    width: 100%;
    color: rgba($camfil-color-dark, 0.74);
    background-color: $camfil-color-light;

    .mat-form-field-appearance-fill .mat-form-field-flex {
      background: none;
    }
  }
}
