<div class="container" *ngIf="product$ | async as product; else spinner">
  <div class="row">
    <div class="col-12 col-sm-2 p-0">
      <div *ngFor="let imageView of getImageViewIDs(product, 'image'); index as i">
        <camfil-product-image
          [product]="product"
          imageType="image"
          [imageView]="imageView"
          class="product-image pb-3"
        ></camfil-product-image>
        <!-- Todo: Replace with video URL coming from product attributes: -->
      </div>
      <ng-container *ngIf="videoUrl">
        <iframe
          [src]="videoUrl | safe: 'resourceUrl'"
          frameborder="0"
          allow="clipboard-write; encrypted-media;"
          scrolling="no"
          style="width: 100%"
          width="100%"
        ></iframe>
      </ng-container>
    </div>
    <div class="col-12 col-sm-10 pr-0">
      <div class="product-details-title">
        <h1 class="mb-0">
          <span itemprop="name">{{ product.name }}</span>
        </h1>
        <p *ngIf="product.defaultCategory()" class="mb-0">
          <span>{{ product.defaultCategory().name }}</span>
        </p>
      </div>
      <camfil-product-inventory
        *ngIf="!isRetailSet(product) && !isMasterProduct(product)"
        [product]="product"
        [showText]="true"
      ></camfil-product-inventory>
      <camfil-product-add-to-compare
        class="btn-link py-0 px-0"
        [isInCompareList]="isInCompareList"
        (compareToggle)="toggleCompare(product.sku)"
      ></camfil-product-add-to-compare>
      <p class="border-bottom pb-3 mb-3" [innerHTML]="product.longDescription"></p>

      <div class="row">
        <div class="col-7">
          <strong>{{ 'camfil.product.quickview.details.headline' | translate }}</strong>

          <div>
            {{ 'camfil.product.quickView.frame.label' | translate }}
            <strong>{{ getValue(product.attributes, 'Frame') }}</strong>
          </div>
          <div>
            {{ 'camfil.product.quickView.pressureDrop.label' | translate }}
            <strong>{{ getValue(product.attributes, 'Pressure drop') }}</strong>
          </div>
          <div>
            {{ 'camfil.product.quickView.isoClass.label' | translate }}
            <strong>{{ getValue(product.attributes, 'ISO class') }}</strong>
          </div>
          <div>
            {{ 'camfil.product.quickView.energyClass.label' | translate }}
            <strong>{{ getValue(product.attributes, 'Energy class') }}</strong>
          </div>
          <div>
            {{ 'camfil.product.quickView.dimensions.label' | translate }}
            <strong>{{ getValue(product.attributes, 'Dimensions (WxDxH)') }}</strong>
          </div>
          <div>
            {{ 'camfil.product.quickView.sku.label' | translate }} <strong>{{ product.sku }}</strong>
          </div>
          <div>
            {{ 'camfil.product.quickView.deliveryInfo.label' | translate }}
            <strong *ngIf="isShipmentInformationAvailable && product.availability">
              <ng-container *ngIf="product.readyForShipmentMin === 0; else shipmentRange">
                {{
                  (product.readyForShipmentMax === 1
                    ? 'product.ready_for_shipment.within24'
                    : 'product.ready_for_shipment.within'
                  ) | translate: { '0': product.readyForShipmentMax }
                }}
              </ng-container>
              <ng-template #shipmentRange>
                {{
                  'product.ready_for_shipment.minmax'
                    | translate: { '0': product.readyForShipmentMin, '1': product.readyForShipmentMax }
                }}
              </ng-template>
            </strong>
          </div>
        </div>
        <div class="col-5 pl-0">
          <strong>{{ 'camfil.product.details.guides.headline' | translate }}</strong>
          <ul class="product-details-guides">
            <li>
              <a><mat-icon svgIcon="pdf"></mat-icon> Technical specification</a>
            </li>
            <li>
              <a><mat-icon svgIcon="pdf"></mat-icon> Broschure</a>
            </li>
            <li>
              <a><mat-icon svgIcon="pdf"></mat-icon> Data sheet</a>
            </li>
            <ish-content-viewcontext
              viewContextId="vc_camfil_product_guides"
              [callParameters]="{ Product: product.sku }"
            ></ish-content-viewcontext>
          </ul>
        </div>
      </div>

      <div class="mat-card mat-focus-indicator p-3 my-3">
        <!-- <div *ngIf="product.manufacturer" class="product-brand">
          <a [routerLink]="['/search', product.manufacturer]">
            <span itemprop="brand">{{ product.manufacturer }}</span>
          </a>
        </div> -->

        <!-- <camfil-product-id [product]="product"></camfil-product-id> -->

        <camfil-product-promotion [product]="product"></camfil-product-promotion>
        <div class="d-flex justify-content-between align-items-center row flex-wrap">
          <div
            class="price-container col-lg-6 col-md-12 col-12"
            itemprop="offers"
            itemscope
            itemtype="http://schema.org/Offer"
          >
            <div class="row">
              <div class="col-12 prices-col">
                <camfil-product-attribute
                  name="camfil.product.list_price.label"
                  [value]="product.listPrice | ishPrice"
                ></camfil-product-attribute>

                <camfil-product-attribute
                  name="camfil.product.your_price.label"
                  [value]="product.salePrice | ishPrice"
                ></camfil-product-attribute>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-12 quantity-row my-3 my-sm-0">
            <form
              *ngIf="!isMasterProduct(product)"
              [formGroup]="productDetailForm"
              class="product-form form-horizontal d-flex justify-content-center align-items-center"
            >
              <p class="quantity-form-text">{{ 'camfil.product.quantity.text' | translate }}</p>
              <camfil-product-quantity
                *ngIf="!isRetailSet(product)"
                [product]="product"
                [parentForm]="productDetailForm"
                [controlName]="quantityControlName"
              ></camfil-product-quantity>
            </form>
          </div>
        </div>
        <div class="row flex-wrap buttons-container">
          <div class="col-lg-6 col-12 d-flex justify-content-center align-items-center">
            <camfil-lazy-product-add-to-cam-card
              class="btn-link cart-big-round-btn"
              [product]="product"
              [quantity]="quantity"
              displayType="round-btn"
              [hasIcon]="true"
            ></camfil-lazy-product-add-to-cam-card>
          </div>
          <div class="col-lg-6 col-12 d-flex justify-content-center align-items-center">
            <camfil-product-add-to-basket
              [product]="product"
              [translationKey]="
                isRetailSet(product) ? 'product.add_to_cart.retailset.link' : 'product.add_to_cart.link'
              "
              (productToBasket)="addToBasket()"
              displayType="button"
              hasIcon="true"
            ></camfil-product-add-to-basket>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <ish-loading standalone="true"></ish-loading>
</ng-template>
