<form [formGroup]="form">
  <mat-card class="mat-elevation-z box-shadow mb-2" [class.is-parent]="customer?.parent">
    <mat-card-content>
      <div class="d-flex justify-content-between align-items-center">
        <mat-checkbox color="primary" formControlName="customerContactCheckbox">
          <span class="text-truncate pl-2" [class.font-weight-bold]="isSelected">
            {{ customer.companyName }}
          </span>
        </mat-checkbox>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'Contact Person' | translate }}</mat-label>
          <mat-select
            required
            color="primary"
            formControlName="customerContactSelect"
            (selectionChange)="onCustomerUserContactChange($event)"
          >
            <mat-option [value]="undefined">None</mat-option>
            <mat-option *ngFor="let contact of contacts" [value]="contact.erpId">
              {{ contact.fullName }} ({{ contact.erpId }})
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.customerContactSelect.hasError('required')">
            {{ 'camfil.account.organization.edit_user.form.customerContactSelect.error.required' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</form>
