@import '~src/styles/themes/camfil/mixins';
@import '~src/styles/themes/camfil/variables';

:host {
  table {
    width: calc(100% + #{$space-sm * 2});
    margin: $space-box $space-box * -1 0;

    th {
      padding-top: $space-default/2;
      padding-bottom: $space-default/2;
      font-weight: 600;
      color: $text-color-primary;
      background-color: rgba($color-corporate, 0.1);
    }
    td {
      padding-top: $space-box;
      padding-bottom: $space-box;
      border: none;

      &.mat-column-expandedDetail {
        padding: 0;
      }
    }
    .arrow_down {
      margin-right: $space-default/2;
      vertical-align: bottom;
      cursor: pointer;
      transform: rotate(-90deg);

      &--expanded {
        transform: rotate(-270deg);
      }
    }

    ::ng-deep {
      th,
      td {
        text-align: center;
        &:first-child {
          padding-left: $space-box;
        }
      }
      .mat-column {
        &-customer,
        &-name {
          text-align: left;
        }
        &-lastDeliveryDate,
        &-deliveryInterval,
        &-nextDeliveryDate,
        &-rows {
          .mat-sort-header-container {
            justify-content: center;
          }
        }
        &-name {
          .mat-sort-header-container {
            padding-left: $space-default * 1.5;
          }
        }
      }

      .mat-checkbox-layout {
        display: inline;
        margin: 0 0 0 8px;
      }
      .mat-expansion-panel-body {
        padding: 0;
      }
    }
  }
  .loader-container {
    @include fixed_loading;
  }
  .cam-card {
    &-row-element {
      &:nth-child(4n-1) {
        background-color: $greyF5;
      }
      &:hover {
        background-color: $gray-100;
      }

      &:nth-child(4n + 1) {
        + tr td .cam-card-row-details__detail > .cam-card-product {
          &:nth-child(odd) {
            background-color: $greyF5;
          }
          &:nth-child(even) {
            background-color: transparent;
          }
          &:hover {
            background-color: $gray-100;
          }
        }
      }
      [class*='mat-column']:not(.mat-column-name) {
        color: $camfil-text-color-tertiary;
      }
      &--expanded {
        + tr td {
          overflow: hidden;

          .cam-card-row-details__detail {
            margin-bottom: 3px;
            box-shadow: $header-shadow;
          }
        }
      }
    }
    &-row-details {
      height: auto;

      &__detail {
        overflow: hidden;
      }
    }
    &-name {
      white-space: pre;
    }
    &-product {
      padding: $space-box $space-default $space-box $space-default * 2;
      transition: background-color 0.3s;

      &:nth-child(even) {
        background-color: $greyF5;
      }

      &:hover {
        background-color: $gray-100;
      }
    }
    &-comment {
      cursor: pointer;

      .mat-icon {
        margin-top: -2px;
      }
    }

    // for mobile
    &s-mobile {
      padding: $space-box 0;
    }
    @media (max-width: $screen-sm-max) {
      &-item {
        line-height: 24px;
        color: $camfil-text-color-tertiary;
        .row:nth-of-type(2n + 1) {
          margin-top: $space-box/2;
          margin-bottom: $space-box/2;
          font-size: $font-size-xs;
          font-weight: 600;
          color: $camfil-text-color-primary;
          background-color: rgba($color-corporate, 0.1);
        }
        &__detail {
          width: 100%;
          &.expanded {
            margin-top: $space-box;
            border-top: $border-width-default solid $border-color-light;
          }
        }
        ::ng-deep {
          .mat-expansion-panel-body {
            padding: 0;
          }
        }
      }
    }
    // EOF for mobile
  }
  .mat-action-row {
    align-items: center;
    justify-content: space-between;
    padding: 0 $space-default;
    line-height: $common-height;
    background-color: rgba($color-corporate, 0.1);
    border: none;

    &:nth-of-type(2n) {
      background-color: $white;
    }

    .arrow_down {
      margin-left: $space-default/2;
      vertical-align: middle;
    }

    ::ng-deep {
      label {
        margin-bottom: 0;
      }
    }
  }
  .mat-expansion-panel {
    box-shadow: none;
    &.mat-expanded {
      border-bottom: $border-width-default solid $border-color-light;
    }
  }
}
::ng-deep {
  .mat-sort-header-arrow {
    @include table-sort-arrow;
  }
  div.cam-card-tooltip {
    min-width: 100px;
    max-width: 200px;
    margin: $space-box 0 0;
    font-size: $font-size-base;
    line-height: 1.4em;
  }
}
