:host {
  table {
      width: 100%;
  }
    
  .cam-card-detail {
    overflow: hidden;

    &--row {
      height: auto;
  
    }
  }
  .mat-action-row {
    justify-content: space-between;
    align-items: center;
    
    ::ng-deep {
      label {
        margin-bottom: 0;
      }
    }
  }
}