@import '../../../../../../src/styles/themes/camfil/variables';

:host {
  .login-form {
    display: flex;
    width: 100%;
    max-width: 1280px;

    @media (max-width: $screen-md-max) {
      flex-direction: column;
    }
  }

  .no-padding {
    padding-right: 0;
    padding-left: 0;
  }
}
