<!-- <camfil-banner [title]="'camfil.account.apply_heading' | translate" iconName="users"></camfil-banner> -->
<div><ish-content-include includeId="camfil.include.register.top.pagelet2-Include"></ish-content-include></div>

<div class="registration__wrapper">
  <div class="col-sm-12 col-lg-4 registration__wrapper--section">
    <camfil-apply-form
      [error]="error$ | async"
      [preferredTitles]="preferredTitles$ | async"
      (apply)="onApply($event)"
      (cancel)="onCancel()"
    >
    </camfil-apply-form>
  </div>
  <div class="col-sm-12 col-lg-8 registration__wrapper--section">
    <!-- <camfil-info-section></camfil-info-section> -->
    <ish-content-include includeId="camfil.include.register.content.pagelet2-Include"></ish-content-include>
  </div>
</div>
