@import '~src/styles/themes/camfil/variables';

:host {
  .form-field,
  .mat-form-field {
    width: 100%;

    &:not(.mat-form-field-invalid) {
      margin-bottom: $space-box;
    }
  }
  .mat-card {
    padding: 24px;
  }

  .form-group {
    margin: 0 -10px;
  }

  .form-field-area,
  .form-field-zip-code {
    padding: 0 10px;
  }

  .form-field-zip-code {
    width: 30%;
  }

  .form-field-area {
    width: 70%;
  }

  h3 {
    font-weight: 700;
    text-transform: initial;
  }

  .collapse {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-out;
  }

  .collapse.show {
    max-height: 1000px;
    transition: all 0.5s ease-in;
  }

  .collapse-link {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 14px;
    font-weight: normal;
    color: $black;
    opacity: 0.6;
    &:hover {
      color: $black;
      opacity: 1;
    }
  }

  @media (min-width: $screen-md-min) {
    .col-md-4 {
      border-right: 1px solid $greyEA;

      &:last-of-type {
        border-right: none;
      }
    }
  }

  ::ng-deep {
    .mat-error {
      margin-bottom: 8px;
    }
  }
}
