@import '~src/styles/themes/camfil/colors';
@import '~src/styles/themes/camfil/variables';

:host {
  .form-field,
  .mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }

  h3 {
    font-weight: 700;
    text-transform: initial;
  }

  &::ng-deep label {
    span {
      float: left;
      margin-top: 3px;
      margin-right: 2px;
      color: $camfil-color-special-primary;
    }
  }
}
