<mat-card class="mb-1">
  <mat-card-content>
    <a (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" class="collapse-link">
      {{ collapseFormTranslationKey | translate }}
      <mat-icon *ngIf="isCollapsed" class="align-bottom pr-2">arrow_drop_up</mat-icon>
      <mat-icon *ngIf="!isCollapsed" class="align-bottom pr-2">arrow_drop_down</mat-icon>
    </a>
    <div [ngbCollapse]="isCollapsed" id="camCardFormContainer">
      <form (ngSubmit)="submitCamCardForm()" [formGroup]="camCardForm" class="form-horizontal" novalidate="novalidate">
        <div class="row">
          <div class="col-md-4">
            <h3>{{ 'camfil.account.cam_card.add_to_form.camcards_details' | translate }}</h3>
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>{{ 'camfil.account.cam_card.add_to_form.camcards_name' | translate }}</mat-label>
              <input
                #title
                (change)="onBlurSubmit()"
                formControlName="title"
                label="camfil.account.cam_card.add_to_form.camcards_name"
                markRequiredLabel="off"
                matInput
                [camfilMaxLength]="'CamcardTitle'"
                (change)="onBlurSubmit()"
              />
            </mat-form-field>
            <camfil-error
              [errorValidators]="errorValidator"
              [errors]="camCardForm.controls.title.errors"
              [touched]="camCardForm.controls.title.touched"
            >
            </camfil-error>
            <mat-form-field appearance="fill">
              <mat-label>{{ 'camfil.account.cam_card.add_to_form.customer_name' | translate }}</mat-label>
              <mat-select
                (change)="onBlurSubmit()"
                (selectionChange)="pickCustomer($event)"
                formControlName="customerName"
              >
                <mat-option>--</mat-option>
                <mat-option *ngFor="let customer of customers$ | async" [value]="customer.id">
                  {{ customer.companyName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <camfil-error
              [errorValidators]="errorValidator"
              [errors]="camCardForm.controls.customerName.errors"
              [touched]="camCardForm.controls.customerName.touched"
            >
            </camfil-error>
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>{{ 'camfil.account.cam_card.add_to_form.order_mark' | translate }}</mat-label>
              <input
                (change)="onBlurSubmit()"
                [camfilMaxLength]="'OrderMark'"
                formControlName="orderMark"
                label="camfil.account.cam_card.add_to_form.order_mark"
                markRequiredLabel="off"
                matInput
                [camfilMaxLength]="'OrderMark'"
                (change)="onBlurSubmit()"
              />
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>{{ 'camfil.account.cam_card.add_to_form.invoice_mark' | translate }}</mat-label>
              <input
                (change)="onBlurSubmit()"
                [camfilMaxLength]="'InvoiceLabel'"
                formControlName="invoiceMark"
                [camfilMaxLength]="'InvoiceLabel'"
                label="camfil.account.cam_card.add_to_form.invoice_mark"
                markRequiredLabel="off"
                matInput
              />
            </mat-form-field>
            <camfil-error
              [errorValidators]="setMaxLengthErrorForTableValidator(errorValidator, 60)"
              [errors]="camCardForm.controls.invoiceMark.errors"
              [touched]="camCardForm.controls.invoiceMark.touched"
            >
            </camfil-error>
          </div>
          <div class="col-md-4">
            <h3>{{ 'camfil.account.cam_card.add_to_form.delivery_address' | translate }}</h3>
            <mat-form-field appearance="fill">
              <mat-label>{{ 'camfil.account.cam_card.add_to_form.choose_address' | translate }}</mat-label>
              <mat-select (selectionChange)="pickAddress($event)" formControlName="deliveryAddress">
                <mat-option>--</mat-option>
                <ng-container *ngIf="addresses$ | async as locations">
                  <mat-option
                    *ngFor="let location of locations[customerId] | addressSort: 'addressLine1'"
                    [value]="location.id"
                  >
                    {{ location.addressLine1 }}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>{{ 'camfil.account.cam_card.add_to_form.company_name' | translate }}</mat-label>
              <input
                (change)="onBlurSubmit()"
                [camfilMaxLength]="'Company'"
                formControlName="companyName1"
                [camfilMaxLength]="'Company'"
                label="camfil.account.cam_card.add_to_form.company_name"
                markRequiredLabel="off"
                matInput
              />
            </mat-form-field>
            <camfil-error
              [errorValidators]="setMaxLengthErrorForTableValidator(errorValidator, 60)"
              [errors]="camCardForm.controls.companyName1.errors"
              [touched]="camCardForm.controls.companyName1.touched"
            >
            </camfil-error>
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>{{ 'camfil.account.cam_card.add_to_form.address' | translate }}</mat-label>
              <textarea
                (change)="onBlurSubmit()"
                formControlName="addressLine1"
                label="camfil.account.cam_card.add_to_form.address"
                markRequiredLabel="off"
                matInput
                maxlength="250"
                rows="5"
              ></textarea>
            </mat-form-field>
            <camfil-error
              [errorValidators]="errorValidator"
              [errors]="camCardForm.controls.addressLine1.errors"
              [touched]="camCardForm.controls.addressLine1.touched"
            >
            </camfil-error>
            <div class="row no-gutters">
              <div class="col-md-3">
                <camfil-zip-code
                  (submitEmitter)="onBlurSubmit()"
                  (zipCodeErrorEmit)="setZipCodeError($event)"
                  [checkOnInitObj]="camCard"
                  [countryChangeDetect]="countryChangeDetect$"
                  [errorValidator]="errorValidator"
                  [form]="camCardForm"
                  fieldCity="city"
                  fieldName="postalCode"
                ></camfil-zip-code>
              </div>
              <div class="col-md-9 pl-md-3">
                <mat-form-field appearance="fill">
                  <mat-label>{{ 'camfil.account.cam_card.add_to_form.city' | translate }}</mat-label>
                  <input
                    data-testing-id="cam-card-dialog-name"
                    formControlName="city"
                    label="camfil.account.cam_card.add_to_form.city"
                    markRequiredLabel="off"
                    matInput
                    maxlength="35"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3>{{ 'camfil.account.cam_card.add_to_form.delivery_time' | translate }}</h3>
            <mat-form-field appearance="fill">
              <mat-label>{{ 'camfil.account.cam_card.add_to_form.last_delivery' | translate }}</mat-label>
              <input
                (dateChange)="pickOrder()"
                [matDatepicker]="pickerLast"
                formControlName="lastDelivery"
                matInput
                readonly
              />
              <mat-datepicker-toggle [for]="pickerLast" matSuffix>
                <mat-icon matDatepickerToggleIcon svgIcon="calendar"></mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #pickerLast></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>{{ 'camfil.account.cam_card.add_to_form.delivery_interval' | translate }}</mat-label>
              <input
                (change)="applyDeliveryInterval()"
                (keyup)="validateDeliveryInterval()"
                [formControl]="camCardForm.get('deliveryInterval')"
                [matAutocomplete]="filteredIntervals"
                matInput
                name="deliveryInterval"
                type="text"
              />
              <mat-autocomplete
                #filteredIntervals="matAutocomplete"
                (optionSelected)="applyDeliveryInterval()"
                autoActiveFirstOption
              >
                <mat-option *ngFor="let option of deliveryIntervalFilteredOptions | async" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>{{ 'camfil.account.cam_card.add_to_form.next_delivery' | translate }}</mat-label>
              <input [matDatepicker]="pickerNext" formControlName="nextDelivery" matInput />
              <mat-datepicker-toggle [for]="pickerNext" matSuffix>
                <mat-icon matDatepickerToggleIcon svgIcon="calendar"></mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #pickerNext></mat-datepicker>
            </mat-form-field>
            <mat-checkbox
              (click)="preventDefault($event)"
              class="example-margin"
              color="primary"
              formControlName="reminder"
            >
              {{ 'camfil.account.cam_card.add_to_form.reminder' | translate }}
            </mat-checkbox>
          </div>
        </div>
      </form>
      <div *ngIf="!camCard" class="row">
        <div class="col-12 text-right">
          <button
            (click)="submitCamCardForm()"
            [disabled]="formDisabled"
            aria-label="Send application"
            color="primary"
            data-testing-id="cam-card-dialog-submit"
            mat-raised-button
            type="submit"
            type="submit"
          >
            {{ primaryButton | translate }}
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #modal let-selectModal>
  <h1 mat-dialog-title>{{ 'camfil.account.cam_card.add_to_form.dialog.title' | translate }}</h1>
  <div mat-dialog-content>
    <p>{{ 'camfil.account.cam_card.add_to_form.dialog.other_users' | translate }}</p>
    <p>{{ 'camfil.account.cam_card.add_to_form.dialog.do_you_want' | translate }}</p>
  </div>
  <div mat-dialog-actions>
    <button (click)="acceptReminder(false)" mat-button>
      {{ 'camfil.account.cam_card.add_to_form.dialog.no' | translate }}
    </button>
    <button (click)="acceptReminder(true)" mat-button>
      {{ 'camfil.account.cam_card.add_to_form.dialog.yes' | translate }}
    </button>
  </div>
</ng-template>
