@import '../../../../../../../src/styles/themes/camfil/mixins';
@import '../../../../../../../src/styles/themes/camfil/variables';

:host {
  .update-password {
    display: flex;
    flex-direction: column;

    &__field {
      width: 50%;

      &--confirmation {
        margin-top: $space-default;
      }
    }

    &__button {
      margin-top: $space-default;
    }
  }

  .error-field {
    @include error;

    p {
      margin: 0;
    }
  }
}
