<form
  (ngSubmit)="submitPasswordForm()"
  [formGroup]="form"
  class="form-horizontal update-password"
  novalidate="novalidate"
>
  <mat-form-field appearance="fill" class="update-password__field">
    <mat-label>{{ 'camfil.account.register.password.label' | translate }}</mat-label>
    <input
      [formControl]="passwordFormControl"
      id="passwordFormControl"
      matInput
      name="passwordFormControl"
      required
      type="password"
    />
    <camfil-error
      [errorValidators]="passwordValidator"
      [errors]="passwordFormControl.errors"
      [touched]="passwordFormControl.touched"
    >
    </camfil-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="update-password__field update-password__field--confirmation">
    <mat-label>{{ 'camfil.account.register.password_confirmation.label' | translate }}</mat-label>
    <input
      [formControl]="passwordConfirmationFormControl"
      id="passwordConfirmationFormControl"
      matInput
      required
      type="password"
    />
    <camfil-error
      [errorValidators]="passwordConfirmationValidator"
      [errors]="passwordConfirmationFormControl.errors"
      [touched]="passwordConfirmationFormControl.touched"
    >
    </camfil-error>
  </mat-form-field>

  <div class="form-group">
    <button
      [disabled]="buttonDisabled"
      aria-label="Change password"
      attr.aria-label="{{ 'camfil.account.update_password.button.aria' | translate }}"
      class="update-password__button"
      color="primary"
      mat-raised-button
      name="SubmitButton"
      type="submit"
      value="SubmitButton"
    >
      {{ 'camfil.account.change_password.button.label' | translate }}
    </button>
  </div>
</form>
