@import '../../../../../styles/themes/camfil/mixins';
@import '../../../../../styles/themes/camfil/colors';
@import '../../../../../styles/themes/camfil/variables';


:host {
  .icon-item {
    display: flex;
    width: 100%;

    &__icon {
      margin-right: 18px;
      width: 40px;
      height: 40px;

      mat-icon {
        font-size: 40px;
      }
    }

    &__title {
      margin-bottom: 8px;
      @include font-size-14-16;
    }

    &__description {
      @include font-size-12-16;
    }
  }
}
