<div class="cam-card">
  <h1 class="d-flex align-items-center">
    <mat-icon svgIcon="camcard" class="size-37"></mat-icon> &nbsp;
    {{ 'camfil.account.cam_cards.heading' | translate
    }}<a class="btn btn-secondary" data-testing-id="add-cam-card" (click)="addCamCardDialog.show()">{{
      'camfil.account.cam_cards.list.button.add_cam_card.label' | translate
    }}</a>
  </h1>

  <!-- Error message -->
  <ish-error-message [error]="camCardError$ | async"></ish-error-message>

  <camfil-account-cam-card-list
    [camCards]="camCard$ | async"
    (deleteCamCard)="deleteCamCard($event)"
  ></camfil-account-cam-card-list>
</div>

<camfil-cam-card-preferences-dialog
  #addCamCardDialog
  (submit)="addCamCard($event)"
></camfil-cam-card-preferences-dialog>

<ish-loading *ngIf="camCardLoading$ | async"></ish-loading>
