<camfil-breadcrumb [account]="true"></camfil-breadcrumb>
<br />
<div class="cam-card">
  <h1 class="d-flex align-items-center">
    <mat-icon svgIcon="camcard" class="size-37"></mat-icon> &nbsp;
    {{ 'camfil.account.cam_cards.heading' | translate }}
  </h1>

  <!-- Error message -->
  <ish-error-message [error]="camCardError$ | async"></ish-error-message>

  <camfil-account-cam-card-list
    [deviceType]="deviceType$ | async"
    [camCards]="camCard$ | async"
    (deleteCamCard)="deleteCamCard($event)"
    (addCamCard)="addCamCard($event)"
  ></camfil-account-cam-card-list>
</div>

<!-- TODO: restore and fix noItems case later
  <ish-loading *ngIf="camCardLoading$ | async"></ish-loading> -->
