<h1 class="d-flex align-items-center">
  <mat-icon svgIcon="camcard" class="size-37"></mat-icon> &nbsp;
  {{ 'shopping_cart.proceed_to_checkout.button.label' | translate }}
</h1>
<div class="row align-items-end">
  <div class="col-md-3">
    <p>
      <span>{{ 'camfil.checkout.number_of_orders' | translate }}:</span>
      <span class="checkout-header-number">{{ basket.buckets.length + 1 }}</span>
    </p>
    <p>
      <span>{{ 'camfil.checkout.number_of_products' | translate }}:</span>
      <span class="checkout-header-number">{{ basket.totalProductQuantity }}</span>
    </p>
  </div>
  <div class="col-md-9">
    <div class="float-right">
      <camfil-camfill-checkout-toolbar [buckets]="buckets"></camfil-camfill-checkout-toolbar>
    </div>
  </div>
</div>
