@import '~@angular/material/theming';
@import '~src/styles/themes/camfil/variables.scss';

:host {
  .counter_value {
    display: inline-block;
    width: $camfil-counter-value-size;
    min-width: $camfil-counter-value-size;
    height: $camfil-counter-value-size;
    font-size: $camfil-counter-value-font-size;
    line-height: $camfil-counter-value-size;
    color: $camfil-text-color-primary;
    text-align: center;
    border: none;
    border-radius: $camfil-counter-value-border-radius;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      appearance: none;
    }

    @include mat-elevation-transition;
    @include mat-elevation(2);
    &:active {
      @include mat-elevation(8);
    }
  }
}
