<div class="personal-info">
  <form [formGroup]="form" class="form-horizontal" novalidate="novalidate">
    <div class="personal-info__section--name">
      <mat-form-field appearance="outline" class="item--left personal-info__field">
        <mat-label>{{ 'camfil.account.update_profile.firstname.label' | translate }}</mat-label>
        <input matInput formControlName="firstName" type="text" (blur)="updateUserProfile()" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="personal-info__field">
        <mat-label>{{ 'camfil.account.update_profile.lastname.label' | translate }}</mat-label>
        <input matInput formControlName="lastName" type="text" (blur)="updateUserProfile()" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="item--left personal-info__field">
        <mat-label>{{ 'camfil.account.update_profile.phone.label' | translate }}</mat-label>
        <input matInput formControlName="phoneMobile" type="number" (blur)="updateUserProfile()" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="personal-info__field">
        <mat-label>{{ 'camfil.account.update_profile.email.label' | translate }}</mat-label>
        <input matInput formControlName="email" type="email" (blur)="updateUserEmail()" />
      </mat-form-field>
    </div>
  </form>
</div>

<ish-loading *ngIf="userLoading$ | async"></ish-loading>
