<form
  [formGroup]="form"
  (ngSubmit)="submitPasswordForm()"
  class="form-horizontal update-password"
  novalidate="novalidate"
>
  <mat-form-field appearance="fill" class="update-password__field">
    <mat-label>{{ 'camfil.account.register.password.label' | translate }}</mat-label>
    <input
      matInput
      required
      [formControl]="passwordFormControl"
      id="passwordFormControl"
      type="password"
      name="passwordFormControl"
    />
  </mat-form-field>

  <camfil-error
    [errors]="passwordFormControl.errors"
    [errorValidators]="passwordValidator"
    [touched]="passwordFormControl.touched"
  >
  </camfil-error>

  <mat-form-field appearance="fill" class="update-password__field update-password__field--confirmation">
    <mat-label>{{ 'camfil.account.register.password_confirmation.label' | translate }}</mat-label>
    <input
      matInput
      required
      [formControl]="passwordConfirmationFormControl"
      id="passwordConfirmationFormControl"
      type="password"
    />
  </mat-form-field>

  <camfil-error
    [errors]="passwordConfirmationFormControl.errors"
    [errorValidators]="passwordConfirmationValidator"
    [touched]="passwordConfirmationFormControl.touched"
  >
  </camfil-error>

  <div class="form-group">
    <button
      mat-raised-button
      type="submit"
      value="SubmitButton"
      name="SubmitButton"
      color="primary"
      aria-label="Change password"
      attr.aria-label="{{ 'camfil.account.update_password.button.aria' | translate }}"
      [disabled]="buttonDisabled"
      class="update-password__button"
    >
      {{ 'camfil.account.change_password.button.label' | translate }}
    </button>
  </div>
</form>
