<ng-template [ngIf]="!active">
  {{ sub.name }}
  <camfil-cam-card-last-delivery-date
    [camCard]="sub"
    [lastDeliveryDateType]="'subCamCard'"
  ></camfil-cam-card-last-delivery-date>
</ng-template>
<ng-template [ngIf]="active">
  <mat-form-field appearance="fill" class="form-field mat-input-no-label" (click)="$event.stopPropagation()">
    <input
      matInput
      [attr.label]="'camfil.account.cam_card.add_to_form.camcards_name' | translate"
      markRequiredLabel="off"
      maxlength="35"
      class=""
      [value]="sub.name"
      (change)="onBlurSubmit($event)"
      (blur)="onBlur()"
    />
  </mat-form-field>
</ng-template>

<span class="float-right d-flex align-items-center">
  <camfil-cam-card-delivery-interval
    [camCard]="sub"
    [intervaltype]="'subCamCard'"
    [mainDeliveryInterval]="mainDeliveryInterval"
  ></camfil-cam-card-delivery-interval>
  <button mat-button (click)="handleEdit($event)">
    <mat-icon svgIcon="edit"></mat-icon>
  </button>
  <button mat-button (click)="handleDelete($event)">
    <mat-icon svgIcon="delete"></mat-icon>
  </button>
</span>
