<ng-container *ngIf="cvcDetailForm?.controls?.cvcDetail">
  <div *ngIf="isCvcExpired()" [formGroup]="cvcDetailForm" class="form-group-container">
    <div class="mat-form-field__wrapper">
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>
          {{ 'checkout.credit_card.cvc.label' | translate }}
        </mat-label>
        <input formControlName="cvcDetail" matInput required type="text" />
        <mat-error *ngIf="cvcDetailForm.controls.cvcDetail.hasError('required')">
          {{ 'checkout.credit_card.cvc.error.default' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <button (click)="renewCVCDetails()" color="primary" mat-flat-button type="submit">
        {{ 'checkout.account.confirm.button.label' | translate }}
      </button>
    </div>
  </div>
</ng-container>
