<!-- display addToCamCard Icon/animated Icon or link-->
<button
  type="submit"
  name="addProduct"
  class="btn"
  [ngClass]="class"
  (click)="openModal(modal)"
  data-testing-id="addToCamCardButton"
  [class.mat-raised-button]="hasIcon"
  [class.mat-stroked-button]="displayType === 'round-btn' && !hasIcon"
  [class.camcard-big-round-btn]="displayType === 'round-btn' && !hasIcon"
>
  <ng-container [ngSwitch]="displayType">
    <ng-template [ngSwitchCase]="'animated'">
      <fa-icon
        [icon]="['fas', 'list']"
        [title]="'camfil.account.cam_card.add_to_template.button.add_to_template.label' | translate"
      ></fa-icon>
      <span class="share-label">{{
        'camfil.account.cam_card.add_to_template.button.add_to_template.label' | translate
      }}</span>
    </ng-template>
    <ng-template [ngSwitchCase]="'icon'">
      <mat-icon
        svgIcon="add-camcard"
        [title]="'camfil.account.cam_card.add_to_template.button.add_to_template.label' | translate"
      ></mat-icon>
    </ng-template>
    <ng-template [ngSwitchCase]="'round-btn'">
      <mat-icon svgIcon="add-camcard" *ngIf="hasIcon"></mat-icon>
      <span class="button-text"
        >{{ 'camfil.account.cam_card.add_to_template.button.add_to_template.label' | translate }}
      </span></ng-template
    >
    <ng-template ngSwitchDefault>
      {{ 'camfil.account.cam_card.add_to_template.button.add_to_template.label' | translate }}
    </ng-template>
  </ng-container>
</button>

<camfil-select-cam-card-modal
  #modal
  [product]="product"
  [quantity]="quantity"
  (submitEmitter)="addProductToCamCard($event)"
></camfil-select-cam-card-modal>

<camfil-small-cta-modal
  actionTitle="{{ 'camfil.account.cam_card.add_to_camcard.error.quantity.header' | translate }}"
  actionButtonTitle="{{ 'camfil.account.cam_card.add_to_camcard.error.quantity.button.ok' | translate }}"
  onlyAccept="true"
  hasError="true"
>
</camfil-small-cta-modal>
