<!-- display addToCamCard Icon/animated Icon or link-->
<ng-template #buttonInner>
  <ng-container [ngSwitch]="displayType">
    <ng-template [ngSwitchCase]="'animated'">
      <fa-icon [icon]="['fas', 'list']" [title]="buttonTranslationKey | translate"></fa-icon>
      <span class="share-label">{{ buttonTranslationKey | translate }}</span>
    </ng-template>
    <ng-template [ngSwitchCase]="'icon'">
      <mat-icon [title]="buttonTranslationKey | translate" svgIcon="add-camcard"></mat-icon>
    </ng-template>
    <ng-template [ngSwitchCase]="'round-btn'">
      <mat-icon *ngIf="hasIcon" svgIcon="add-camcard"></mat-icon>
      <span class="button-text">{{ buttonTranslationKey | translate }}</span>
    </ng-template>
    <ng-template ngSwitchDefault>
      {{ buttonTranslationKey | translate }}
    </ng-template>
  </ng-container>
</ng-template>

<ng-container [ngSwitch]="displayType">
  <ng-template [ngSwitchCase]="'icon'">
    <button
      (click)="openModal(modal)"
      [disabled]="disabled"
      [ngClass]="class"
      class="btn btn-link bg-white p-0"
      data-testing-id="addToCamCardButton"
      mat-mini-fab
    >
      <ng-container *ngTemplateOutlet="buttonInner"></ng-container>
    </button>
  </ng-template>
  <ng-template [ngSwitchCase]="'round-btn'">
    <button
      (click)="openModal(modal)"
      [disabled]="disabled"
      [ngClass]="class"
      class="btn btn-link camcard-big-round-btn"
      data-testing-id="addToCamCardButton"
      mat-stroked-button
    >
      <ng-container *ngTemplateOutlet="buttonInner"></ng-container>
    </button>
  </ng-template>
  <ng-template ngSwitchDefault>
    <button
      (click)="openModal(modal)"
      [disabled]="disabled"
      [ngClass]="class"
      class="btn btn-link camcard-btn"
      data-testing-id="addToCamCardButton"
      mat-raised-button
    >
      <ng-container *ngTemplateOutlet="buttonInner"></ng-container>
    </button>
  </ng-template>
</ng-container>

<camfil-add-product-to-cam-card-modal
  #modal
  (submitEmitter)="addProductToCamCard($event)"
  [product]="product"
  [quantity]="quantity"
></camfil-add-product-to-cam-card-modal>

<camfil-small-cta-modal
  actionButtonTitle="{{ 'camfil.account.cam_card.add_to_camcard.error.quantity.button.ok' | translate }}"
  actionTitle="{{ 'camfil.account.cam_card.add_to_camcard.error.quantity.header' | translate }}"
  hasError="true"
  onlyAccept="true"
>
</camfil-small-cta-modal>
