<ng-template #noProduct>Loading product....</ng-template>

<ng-container *ngIf="product$ | async as product; else noProduct">
  <div class="line-item d-flex align-items-center text-left" [class]="{ 'line-item__confirmed': isConfirmed }">
    <div class="d-flex align-items-center align-self-start align-self-md-center text-left w-100">
      <a class="image ml-0 mx-md-3" [routerLink]="product | ishProductRoute">
        <camfil-product-image
          [product]="product"
          imageType="images"
          [imageView]="'default'"
          class="product-image"
        ></camfil-product-image>
      </a>
      <div class="my-2 my-md-0">
        <div class="d-flex line-item-data-container">
          <div class="flex-row line-item-data-top">
            <camfil-product-title
              [class.confirmed-product-title]="isConfirmed"
              [product]="product"
              [matTooltip]="product.name"
            ></camfil-product-title>
          </div>
          <div class="line-item-data-bottom d-flex flex-row flex-wrap">
            <camfil-product-attribute
              [name]="'camfil.cam_card.product.id.label' | translate"
              [value]="product.sku"
            ></camfil-product-attribute>
            <camfil-product-attribute
              *ngIf="isConfirmed"
              [name]="'camfil.cam_card.product.comment.label' | translate"
              class="box-label-attribute"
              [value]="getBoxLabelValue()"
            ></camfil-product-attribute>
            <div>
              <button mat-button (click)="openQuickViewDialog(); $event.stopPropagation()">
                <mat-icon svgIcon="search" class="size-15"></mat-icon>
              </button>
              <camfil-product-inventory class="px-2" [product]="product"></camfil-product-inventory>
            </div>
            <camfil-product-attribute
              *ngIf="measurementsToShow"
              [name]="'camfil.checkout.product.measurements.label' | translate"
              class="box-label-attribute ml-0"
              [value]="measurementsToShow"
            ></camfil-product-attribute>
          </div>
        </div>
      </div>
    </div>
    <div class="box-label" *ngIf="!isConfirmed">
      <form [formGroup]="boxLabelForm" class="box-label__form">
        <mat-form-field appearance="outline" class="box-label__form--field">
          <mat-label>{{ 'camfil.cam_card.product.comment.label' | translate }}</mat-label>
          <textarea
            class="overflow-hidden"
            cdkTextareaAutosize
            matInput
            type="text"
            formControlName="boxLabel"
            name="boxLabel"
            (blur)="onBlur($event.target, boxLabelForm)"
            [id]="lineItem?.id | slugify: 'line-item-box-label'"
            (focus)="setFocusedElement($event.target)"
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="3"
          ></textarea>
        </mat-form-field>
        <camfil-error
          [errors]="getField('boxLabel', boxLabelForm).errors"
          [errorValidators]="attrsValidator.boxLabel"
          [touched]="getField('boxLabel', boxLabelForm).touched || getField('boxLabel', boxLabelForm).dirty"
        ></camfil-error>
      </form>
    </div>
    <ng-container *ngIf="!product.failed; else productNotAvailable">
      <div class="delivery-date-container">
        <p class="delivery-date-para">
          <strong>{{ 'camfil.checkout.order.earliest_delivery_date.text' | translate }}</strong>
        </p>
        <p *ngIf="isConfirmed; else earliestDelivery" class="delivery-date-para">
          {{ deliveryAfterOrderConfirmed() | ishDate }}
        </p>
        <ng-template #earliestDelivery>
          <p class="delivery-date-para">{{ earliestDeliveryDate | ishDate }}</p>
        </ng-template>
      </div>
      <div class="quantity-row d-flex flex-row justify-content-between align-items-center py-3 py-md-0">
        <span *ngIf="isConfirmed" class="quantity-confirmed">{{ lineItem.quantity.value }}</span>
        <a
          class="btn-tool delete-cam-card"
          (click)="openDeleteModal()"
          data-testing-id="delete-cam-card"
          *ngIf="!isConfirmed"
        >
          <mat-icon svgIcon="delete" class="size-16 mx-2"></mat-icon>
        </a>
        <form [formGroup]="addToCartForm" *ngIf="product.inStock && product.availability && !isConfirmed">
          <camfil-product-quantity
            [allowZeroQuantity]="false"
            [quantityLabel]="''"
            [product]="product"
            [parentForm]="addToCartForm"
            controlName="quantity"
            [isInLineItem]="true"
            [lineItemId]="lineItem?.id | slugify: 'line-item-box-label'"
          ></camfil-product-quantity>
        </form>
        <div class="prices">
          <ng-container *ngTemplateOutlet="price"></ng-container>
        </div>
      </div>
    </ng-container>
    <ng-template #productNotAvailable>
      <p class="bg-danger p-2 m-0 text-center w-100">
        <strong>{{ 'camfil.checkout.order.product_not_available.text' | translate }}</strong>
      </p>
      <a
        class="btn-tool delete-cam-card"
        (click)="openDeleteModal()"
        data-testing-id="delete-cam-card"
        *ngIf="!isConfirmed"
      >
        <mat-icon svgIcon="delete" class="size-16 mx-2"></mat-icon>
      </a>
    </ng-template>
  </div>

  <ng-template #price>
    <camfil-product-attribute
      [name]="'camfil.cam_card.product.list_price.label' | translate"
      [value]="product.listPrice | camfilPriceSummary: this.quantity | ishPrice"
      [overflowVisible]="true"
    ></camfil-product-attribute>
    <camfil-product-attribute
      [name]="'camfil.cam_card.product.your_price.label' | translate"
      [value]="product.salePrice | camfilPriceSummary: this.quantity | ishPrice"
      [overflowVisible]="true"
    ></camfil-product-attribute>
  </ng-template>
</ng-container>

<camfil-small-cta-modal
  actionButtonTitle="{{ 'camfil.checkout.order.delete_order.modal.yes' | translate }}"
  cancelButtonTitle="{{ 'camfil.checkout.order.delete_order.modal.no' | translate }}"
  showCloseIcon="true"
  hideIcon="true"
  [actionTemplate]="actionTemplate"
  (actionClicked)="removeProduct(lineItem.id)"
>
</camfil-small-cta-modal>

<ng-template #actionTemplate>
  <div>{{ 'camfil.checkout.order.delete_line_item.modal.subheading' | translate }}</div>
</ng-template>
