@import '~src/styles/themes/camfil/mixins';
@import '~src/styles/themes/camfil/variables';

:host {
  width: 100%;

  .line-item {
    justify-content: space-between;
  }

  .image {
    margin: 0 $space-box;
  }
  .attributes > * {
    padding-right: 10px;
    margin-right: 10px;
    line-height: 14px;
    border-right: 1px solid $gray-600;
  }
  .attributes > .quick-view {
    border: none;
  }
  .prices {
    min-width: 130px;
    camfil-product-attribute {
      display: block;
    }
  }
  .delete-cam-card {
    z-index: 1;
  }
  @media (max-width: $screen-sm-max) {
    .attributes > * {
      line-height: 20px;
      border-right: none;
    }
  }

  ::ng-deep {
    mat-form-field {
      .mat-form-field-underline {
        display: none;
      }
      .mat-form-field-appearance-fill .mat-form-field-infix {
        padding-top: 0.5em;
      }
      div.mat-form-field-flex {
        padding: 0.5em 0.75em 0 0.75em;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
      }
      div.mat-form-field-infix {
        padding: 0.25em 0 0.5em 0;
      }
    }
    .box-label {
      div.mat-form-field-infix {
        padding: 1em 0 1em 0;
        border-top: none;
      }
    }
    .camfil-product-attribute {
      margin-bottom: 0;
    }
    .camfil-product-title {
      display: block;
      max-width: 450px;
    }
    .product-image {
      max-width: 40px;
      max-height: 40px;
    }
    .form-group {
      margin-bottom: 0;
    }
    dt {
      color: $gray-600;
    }
    dd {
      float: right;
    }

    @media (max-width: $screen-lg-max) {
      .camfil-product-title {
        max-width: 160px;
      }
      .quantity-row {
        width: 100%;
      }
    }

    @media (max-width: $screen-sm-max) {
      mat-form-field {
        width: 100%;
      }
      camfil-cam-card-product-comment {
        width: 100%;
      }
      .attributes {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      .line-item {
        flex-direction: column;
      }
      .camfil-product-title {
        max-width: 325px;
      }
    }
    @media (max-width: $screen-xs-max) {
      .camfil-product-title {
        max-width: 200px;
      }
    }
  }
}
