<ng-container *ngIf="product$ | async as productData">
  <div class="line-item d-flex align-items-center text-left">
    <div class="d-flex align-items-center align-self-start align-self-md-center text-left">
      <!-- <ng-container *ngIf="isViewMode">{{ index }}</ng-container> -->
      <a class="image ml-0 mx-md-3" [routerLink]="productData | ishProductRoute">
        <camfil-product-image [product]="productData" imageType="S" class="product-image"></camfil-product-image>
      </a>
      <div class="my-2 my-md-0">
        <div class="d-flex flex-row">
          <camfil-product-title [product]="productData" [class]="'text-truncate'"></camfil-product-title
          ><camfil-product-inventory class="px-2" [product]="productData"></camfil-product-inventory>
        </div>
        <div class="attributes">
          <camfil-product-attribute
            [name]="'camfil.cam_card.product.id.label' | translate"
            [value]="productData.sku"
          ></camfil-product-attribute>
          <camfil-product-attribute
            [name]="'camfil.cam_card.product.dimensions' | translate"
            [value]="productData | camfilDimension"
          ></camfil-product-attribute>

          <camfil-product-attribute
            [name]="'camfil.cam_card.product.efficiency' | translate"
            [value]="productData | camfilProductAttributeVal: 'IsoEfficiency'"
          ></camfil-product-attribute>
          <!-- <ng-container *ngIf="isViewMode">
            <camfil-product-attribute
              [name]="'camfil.cam_card.product.comment.label' | translate"
              [value]="camCardItemData.comment.label | slice: 0:40"
              *ngIf="camCardItemData.comment.label"
            ></camfil-product-attribute>
            <camfil-product-attribute
              [name]="'camfil.cam_card.product.quantity' | translate"
              [value]="camCardItemData.quantity"
            ></camfil-product-attribute>
            <ng-container *ngTemplateOutlet="price"></ng-container>
          </ng-container> -->
          <a class="quick-view">
            <mat-icon svgIcon="search" class="size-16"></mat-icon>
            {{ 'Quickview' | translate }}
          </a>
        </div>
      </div>
    </div>
    <!-- <camfil-cam-card-product-comment
      *ngIf="isEditMode || camCardItemData.comment?.label"
      [ngClass]="{ 'align-self-end': isViewMode, 'ml-md-auto': isEditMode }"
      [currentCamCard]="currentCamCard"
      [camCardItem]="camCardItemData"
      [mode]="mode"
    ></camfil-cam-card-product-comment> -->
    <div class="box-label">
      <form [formGroup]="boxLabelForm" class="box-label__form">
        <mat-form-field appearance="outline" class="box-label__form--field">
          <mat-label>{{ 'camfil.cam_card.product.comment.label' | translate }}</mat-label>
          <input matInput type="text" formControlName="boxLabel" />
        </mat-form-field>
        <camfil-error
        [errors]="getField('boxLabel').errors"
        [errorValidators]="boxLabelValidator.boxLabel"
        [touched]="getField('boxLabel').touched || getField('boxLabel').dirty"
      ></camfil-error>
      </form>
    </div>
    <ng-container>
      <div class="quantity-row d-flex flex-row justify-content-between align-items-center py-3 py-md-0">
        <a
          class="btn-tool delete-cam-card"
          (click)="removeProduct(product.id)"
          [ngClass]="{ 'ml-md-auto': isEditMode }"
          data-testing-id="delete-cam-card"
        >
          <mat-icon svgIcon="delete" class="size-16 mx-2"></mat-icon>
        </a>
        <form [formGroup]="addToCartForm" *ngIf="productData.inStock && productData.availability">
          <camfil-product-quantity
            [allowZeroQuantity]="false"
            [quantityLabel]="''"
            [product]="productData"
            [parentForm]="addToCartForm"
            [ngClass]="{ 'ml-md-auto': isEditMode }"
            controlName="quantity"
          ></camfil-product-quantity>
        </form>
        <div class="prices" [ngClass]="{ 'ml-md-auto': isEditMode }">
          <ng-container *ngTemplateOutlet="price"></ng-container>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-template #price>
    <camfil-product-attribute
      [name]="'camfil.cam_card.product.list_price.label' | translate"
      [value]="productData.listPrice | ishPrice"
    ></camfil-product-attribute>
    <camfil-product-attribute
      [name]="'camfil.cam_card.product.your_price.label' | translate"
      [value]="productData.salePrice | ishPrice"
    ></camfil-product-attribute>
  </ng-template>

  <!-- <div class="d-flex">
    <div class="col-1 col-md-2 list-item d-flex">
      <ish-checkbox *ngIf="selectItemForm" [form]="selectItemForm" controlName="productDataCheckbox"> </ish-checkbox>
      <a class="d-none d-md-inline" [routerLink]="productData | ishProductRoute">
        <camfil-product-image [product]="productData" imageType="S" class="productData-image"></camfil-product-image>
      </a>
    </div>
    <div class="col-8 col-md-6 list-item d-block d-md-flex">
      <div class="col-12 col-md-9 pli-description">
        <a [routerLink]="productData | ishProductRoute" class="productData-title" data-testing-id="cam-card-product-link">
          {{ product.name }}
        </a>
        <camfil-product-id [product]="productData"></camfil-product-id>
        <ish-product-variation-display [product]="productData"></ish-product-variation-display>
        <ish-product-bundle-display
          *ngIf="productData.type === 'Bundle'"
          [productBundleSKU]="productData.sku"
        ></ish-product-bundle-display>
        <camfil-product-inventory [product]="productData"></camfil-product-inventory>
        <div class="btn-group mb-2">
          <a class="btn-tool" (click)="moveDialog.show()" data-testing-id="move-cam-card">
            <fa-icon
              [icon]="['fas', 'arrows-alt']"
              [title]="'camfil.account.cam_card.table.options.move_to_template' | translate"
            ></fa-icon>
          </a>
          <a class="btn-tool" (click)="removeProductFromCamCard(camCardItemData?.id)" data-testing-id="delete-cam-card">
            <fa-icon
              [icon]="['fas', 'trash-alt']"
              [title]="'modal.heading.remove.cam_card.template' | translate"
            ></fa-icon>
          </a>
        </div>
      </div>
      <div class="col-6 col-md-3 p-md-0 text-right">
        <form [formGroup]="addToCartForm">
          <camfil-product-quantity
            [allowZeroQuantity]="false"
            [quantityLabel]="''"
            [product]="productData"
            [parentForm]="addToCartForm"
            controlName="quantity"
          ></camfil-product-quantity>
        </form>
      </div>
    </div>
    <div class="col-2 list-item d-none d-md-block text-right">
      {{ camCardItemData?.creationDate | ishDate: 'shortDate' }}
    </div>
    <div class="col-4 col-md-2 list-item column-price">
      <camfil-product-price [product]="productData"></camfil-product-price>
    </div>
  </div> -->
</ng-container>
