@import '~src/styles/themes/camfil/variables';

.banner-container {
  background-position: center center;
  background-size: cover;
}

.banner-text {
  padding-top: 120px !important;
  h1 {
    font-size: 50px;
    line-height: 1;
    text-transform: none;
  }
  p {
    max-width: 60%;
    font-weight: bold;
    line-height: 1.5;
    color: $gray-600;
  }
}
