<mat-card class="mat-elevation-z box-shadow mb-2" [class.is-parent]="customer?.parent">
  <mat-card-content [formGroup]="form">
    <div class="d-flex justify-content-between align-items-center">
      <mat-checkbox color="primary" formControlName="customerContactCheckbox" (change)="onCheckboxChange($event)">
        <span class="text-truncate pl-2" [class.font-weight-bold]="hasUserCustomerSelectedContact">
          {{ customer.companyName }}
        </span>
      </mat-checkbox>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'Contact Person' | translate }}</mat-label>
        <mat-select
          required
          color="primary"
          formControlName="customerContactSelect"
          (selectionChange)="onSelectChange($event)"
        >
          <mat-option [value]="undefined">{{ 'camfil.common.label.none' | translate }}</mat-option>
          <mat-option *ngFor="let contact of userCustomerContacts" [value]="contact.erpId">
            {{ contact.fullName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.customerContactSelect.hasError('required')">
          {{ 'camfil.account.organization.edit_user.form.customerContactSelect.error.required' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
